<svg class="u-visibility-hidden" xmlns="http://www.w3.org/2000/svg">
  <symbol viewBox="0 0 8 9" id="svg-arrow" xmlns="http://www.w3.org/2000/svg">
    <path d="M.5 4.8h5.92M3.27 1L7.4 5.13M3.27 8.45L7 4.72" stroke="#0094E9" stroke-width="1.19" fill="none"></path>
  </symbol>
</svg>

<h1> Empezando </h1>

<ul>
  <li>Soluciones de pago para el negocio que quieras.</li>
  <li>Herramientas listas para usar (SDKs, Botones de Pago, módulos y/o plugins)</li>
  <li>API robusto y flexible para crear la experiencia de pago que mejor se adapte a tu negocio</li>
</ul>

<h2>Productos</h2>

<div class="grid grid--33">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/><path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/><path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/></g></svg>
    </span>

    <h3>Pagos</h3>

    <p>Recibe pagos con tarjeta de crédito en minutos</p>

    <nav class="card-actions">
      <a class="arrow-link" href="/developers/es/guides/payments/button/create-button">
        Botón
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="/developers/es/guides/payments/web-checkout/introduction">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="/developers/es/guides/payments/mobile-checkout/introduction">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="/developers/es/guides/payments/api/introduction">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Suscripciones</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
    </span>
    <h3>Suscripciones</h3>

    <p>Crear planes de suscripción y recibe pagos con la frecuencia que elijas.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="/developers/es/guides/subscriptions/button/create-subscription">
        Botón
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="/developers/es/guides/subscriptions/checkout/introduction">
        Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="/developers/es/guides/subscriptions/api/introduction">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
    </span>
    <h3>MarketPlace </h3>

    <p>Utiliza oAuth y podrás proveer cualquier solución de pago que ofrecemos además, consultar información como saldos y movimientos de tus usuarios.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="/developers/es/guides/marketplace/checkout/introduction">
        Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="/developers/es/guides/marketplace/api/introduction">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>
</div>


