<h1> Empezando </h1>

<ul>
  <li>Soluciones de pago para el negocio que quieras.</li>
  <li>Herramientas listas para usar (SDKs, Botones de Pago, módulos y/o plugins)</li>
  <li>API robusto y flexible para crear la experiencia de pago que mejor se adapte a tu negocio</li>
</ul>

<h2>Productos</h2>

<div class="grid grid--33">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15"><g fill="#9BA9BB" fill-rule="evenodd"><path d="M19.144 11.535c0 .827-.673 1.5-1.5 1.5H2.5c-.827 0-1.5-.673-1.5-1.5V5.087h18.144v6.448zM1 2.5C1 1.673 1.673 1 2.5 1h15.144c.827 0 1.5.673 1.5 1.5v1.587H1V2.5zM17.644 0H2.5A2.503 2.503 0 0 0 0 2.5v9.035c0 1.379 1.122 2.5 2.5 2.5h15.144c1.379 0 2.5-1.121 2.5-2.5V2.5c0-1.379-1.121-2.5-2.5-2.5z"></path><path d="M3.5 11h2.154a.5.5 0 1 0 0-1H3.5a.5.5 0 0 0 0 1"></path></g></svg>
    </span>

    <h3>Pagos</h3>

    <p>Recibe pagos con tarjeta de crédito en minutos</p>

  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"><g fill="none" fill-rule="evenodd"><path fill="#9BA9BB" d="M16.119 6.476l.964.269.94-3.371-.963-.268z"></path><path fill="#9BA9BB" d="M17.351 5.782l-.269.963-3.37-.941.268-.963z"></path><path stroke="#9BA9BB" d="M16.767 5.934A8.497 8.497 0 0 0 9.302 1.5C5.23 1.5 1.832 4.364 1 8.186"></path><path fill="#9BA9BB" d="M.941 13.94l.963.27-.941 3.37L0 17.313z"></path><path fill="#9BA9BB" d="M.672 14.904l.269-.963 3.37.941-.267.963z"></path><path stroke="#9BA9BB" d="M1.257 14.752A8.499 8.499 0 0 0 17.024 12.5"></path><path fill="#9BA9BB" d="M8.685 16.5v-1.476c-.848-.015-1.725-.278-2.236-.643l.35-.98a3.896 3.896 0 0 0 2.105.629c1.038 0 1.739-.599 1.739-1.433 0-.804-.57-1.301-1.651-1.739C7.5 10.273 6.58 9.601 6.58 8.33c0-1.214.862-2.135 2.208-2.354V4.5h.905v1.417c.877.03 1.476.264 1.9.512l-.365.965a3.526 3.526 0 0 0-1.841-.497c-1.126 0-1.55.672-1.55 1.257 0 .76.54 1.14 1.813 1.666 1.505.614 2.265 1.374 2.265 2.675 0 1.155-.804 2.236-2.31 2.485v1.52h-.92z"></path></g></svg>
    </span>
    <h3>Suscripciones</h3>

    <p>Crear planes de suscripción y recibe pagos con la frecuencia que elijas.</p>

  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"><path fill="#9BA9BB" fill-rule="evenodd" d="M4.986 16.789L5.95 4.882h1.572v1.521a.38.38 0 0 0 .384.375.38.38 0 0 0 .384-.375v-1.52h5.422v1.52a.38.38 0 0 0 .384.375.38.38 0 0 0 .384-.375v-1.52h1.572l.963 11.906H4.986zM8.29 3.449C8.289 1.99 9.505.8 11 .8c1.495 0 2.711 1.189 2.711 2.65v.682H8.29V3.45zm9.494 13.34l-.995-12.311a.38.38 0 0 0-.382-.346H14.48V3.45c0-1.875-1.56-3.4-3.479-3.4-1.918 0-3.479 1.525-3.479 3.4v.682H5.594a.38.38 0 0 0-.382.346l-.995 12.31H.436a.38.38 0 0 0-.384.376.38.38 0 0 0 .384.375h21.128a.38.38 0 0 0 .384-.375.38.38 0 0 0-.384-.375h-3.78z"></path></svg>
    </span>
    <h3>MarketPlace</h3>

    <p>Utiliza oAuth y podrás proveer cualquier solución de pago que ofrecemos además, consultar información como saldos y movimientos de tus usuarios.</p>
  </div>
</div>


<h2>Tipos de integración</h2>

<div class="grid grid--33">

  <div class="card card-highlight grid__item">
    <h3>Botón</h3>

    <p>Cobra desde un sitio, e-mail o redes sociales a través de un botón o link.</p>
  </div>

  <div class="card card-highlight grid__item">
    <h3>Checkout</h3>

    <p>Usa nuestra experiencia de pagos en tu aplicación.</p>
  </div>

  <div class="card card-highlight grid__item">

    <h3>API</h3>

    <p>Crea tu propia experiencia de pagos para ajustarse a tu negocio de la mejor manera.</p>
  </div>
</div>
