<h1> Empezando </h1>

<ul>
  <li>Soluciones de pago para el negocio que quieras.</li>
  <li>Herramientas listas para usar (SDKs, Botones de Pago, modulos y/o plugins)</li>
  <li>API robusto y flexible para crear la experiencia de pago que mejor se adapte a tu negocio</li>
</ul>


<h2>Productos</h2>

<h3>Pagos</h3>

<ul>
  <li>Recibe pagos con tarjeta de credito en minutos</li>
</ul>

<h3>Suscripciones</h3>

<ul>
  <li>Crear planes de suscripcion y recibe pagos con la frecuencia que elijas.</li>
</ul>

<h3>MarketPlace</h3>

<ul>
  <li>Utiliza oAuth y podras proveer cualquier solucion de pago que ofrecemos ademas, consultar informacion como saldos y movimientos de tus usuarios.</li>
</ul>


<h2>Tipos de integracion</h2>

<h3>Boton</h3>

<ul>
  <li>Cobra desde un sitio, e-mail o redes sociales a traves de un boton o link.</li>
</ul>

<h3>Checkout</h3>

<ul>
  <li>Usa nuestra experiencia de pagos en tu aplicacion.</li>
</ul>

<h3>API</h3>

<ul>
  <li>Crea tu propia experiencia de pagos para ajustarse a tu negocio de la mejor manera.</li>
</ul>