openapi: 3.0.0
servers:
  - url: 'https://api.mercadopago.com'
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /customers/{customer_id}/cards:
    get:
      tags: 
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: "List customer cards"
      description: "List customer cards"
      parameters:
        - name: customer_id
          in: path
          description: Customer's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Card ID.
                      example: 123123-ABD123DIGKBKI991-123
                    date_registered:
                      type: string
                      description: Nao sei o que é
                    date_created:
                      type: string
                      format: date
                      description: Card's date created.
                    date_last_updated:
                      type: string
                      format: date
                      description: Card's last modified date.
                    customer_id:
                      type: string
                      description: Customer ID.
                    expiration_month:
                      type: number
                      description: Card's expiration month.
                    expiration_year:
                      type: number
                      description: Card's expiration year.
                    first_six_digits:
                      type: string
                      description: Card's first six digits.
                    last_four_digits:
                      type: string
                      description: Card's last four digits.
                    payment_method:
                      type: object
                      description: Payment method information.
                      properties:
                        id:
                          type: string
                          description: Payment method ID.
                        name:
                          type: string
                          description: Payment method name.
                        payment_type_id:
                          type: string
                          description: Payment method type.
                        thumbnail:
                          type: string
                          description: Payment method thumbnail.
                        secure_thumbnail:
                          type: string
                          description: Payment method secure thumbnail.
                    security_code:
                      type: object
                      description: Security code information.
                      properties:
                        length:
                          type: number
                          description: Security code's length.
                        card_location:
                          type: string
                          description: Security code's card location.
                    issuer:
                      type: object
                      description: Issuer information.
                      properties:
                        id:
                          type: number
                          description: Issuer Id.
                        name:
                          type: string
                          description: Issuer name.
                    cardholder:
                      type: object
                      description: Card holder information.
                      properties:
                        name:
                          type: number
                          description: Card holder name.
                        identification:
                          type: number
                          description: Identification information.
                          properties:
                            number:
                              type: number
                              description: Identification number.
                            subtype:
                              type: string
                              description: Identification subtype.
                            type:
                              type: string
                              description: Identification type.
        '400':
          '100':
            description: the credentials are required.
          '101':
            description: the customer already exist.
          '102':
            description: missing customer id.
          '103':
            description: 'parameter must be an object '
          '104':
            description: parameter length is too large.
          '105':
            description: the customer id is invalid.
          '106':
            description: the email format is invalid.
          '107':
            description: the first_name is invalid.
          '108':
            description: the last_name is invalid.
          '109':
            description: the phone.area_code is invalid.
          '110':
            description: the phone.number is invalid.
          '111':
            description: the identification.type is invalid.
          '112':
            description: the identification.number is invalid.
          '113':
            description: the address.zip_code is invalid.
          '114':
            description: the address.street_name is invalid.
          '115':
            description: the date_registered format is invalid.
          '116':
            description: the description is invalid.
          '117':
            description: the metadata is invalid.
          '118':
            description: the body must be a Json object.
          '119':
            description: the card is required.
          '120':
            description: card not found.
          '121':
            description: the card is invalid.
          '122':
            description: the card data is invalid.
          '123':
            description: the payment_method_id is required.
          '124':
            description: the issuer_id is required.
          '125':
            description: invalid parameters.
          '126':
            description: invalid parameter. You cannot update the email.
          '127':
            description: >-
              invalid parameter. Cannot resolve the payment method of card,
              check the payment_method_id and issuer_id.
          '128':
            description: >-
              the email format is invalid. Use
              'test_payer_[0-9]{1,10}@testuser.com'.
          '129':
            description: the customer has reached the maximum allowed number of cards.
          '140':
            description: invalid card owner.
          '150':
            description: invalid users involved.
          '200':
            description: >-
              invalid range format
              (range=:date_parameter:after::date_from,before::date_to).
          '201':
            description: range attribute must belong to date entity.
          '202':
            description: invalid 'after' parameter. It should be date[iso_8601].
          '203':
            description: invalid 'before' parameter. It should be date[iso_8601].
          '204':
            description: invalid filters format.
          '205':
            description: invalid query format.
          '206':
            description: attributes to sort must belong to 'customer' entity.
          '207':
            description: order filter must be 'asc' or 'desc'.
          '208':
            description: invalid 'sort' parameter format.
        '401':
          unauthorized:
            description: unauthorized.
        '404':
          not_found:
            description: not_found.
    post:
      tags: 
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: "Save a card"
      description: "Save a card."
      parameters:
        - name: customer_id
          in: path
          description: Customer's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_registered:
                  type: string
                  description: Nao sei o que é
                  example: 16/02/1991
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties: 
                  id: 
                    type: string
                    example: 1562188766852
                  expiration_month: 
                    type: number
                    example: 6
                  expiration_year: 
                    type: number
                    example: 2023
                  first_six_digits: 
                    type: string
                    example: 423564
                  last_four_digits: 
                    type: string
                    example: 5682
                  payment_method: 
                    type: object
                    properties: 
                      id: 
                        type: string
                        example: visa
                      name: 
                        type: string
                        example: visa
                      payment_type_id: 
                        type: string
                        example: credit_card
                      thumbnail: 
                        type: string
                        example: http://img.mlstatic.com/org-img/MP3/API/logos/visa.gif
                      secure_thumbnail: 
                        type: string
                        example: https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif
                  security_code: 
                    type: object
                    properties: 
                      length: 
                        type: number
                        example: 3
                      card_location: 
                        type: string
                        example: back
                  issuer: 
                    type: object
                    properties: 
                      id: 
                        type: number
                        example: 25
                      name: 
                        type: string
                        example: Visa
                  cardholder: 
                    type: object
                    properties: 
                      name: 
                        type: string
                        example: APRO
                      identification: 
                        type: object
                        properties: 
                          number: 
                            type: string
                            example: 19119119100
                          type: 
                            type: string
                            example: CPF
                  date_created: 
                    type: string
                    example: 2019-07-03T17:15:35.000-04:00
                  date_last_updated: 
                    type: string
                    example: 2019-07-03T17:19:18.000-04:00
                  customer_id: 
                    type: string
                    example: 448870796-7ZjwhKGxILixxN
                  user_id: 
                    type: string
                    example: 448870796
                  live_mode: 
                    type: boolean

        '400':
          '100':
            description: the credentials are required.
          '101':
            description: the customer already exist.
          '102':
            description: missing customer id.
          '103':
            description: 'parameter must be an object '
          '104':
            description: parameter length is too large.
          '105':
            description: the customer id is invalid.
          '106':
            description: the email format is invalid.
          '107':
            description: the first_name is invalid.
          '108':
            description: the last_name is invalid.
          '109':
            description: the phone.area_code is invalid.
          '110':
            description: the phone.number is invalid.
          '111':
            description: the identification.type is invalid.
          '112':
            description: the identification.number is invalid.
          '113':
            description: the address.zip_code is invalid.
          '114':
            description: the address.street_name is invalid.
          '115':
            description: the date_registered format is invalid.
          '116':
            description: the description is invalid.
          '117':
            description: the metadata is invalid.
          '118':
            description: the body must be a Json object.
          '119':
            description: the card is required.
          '120':
            description: card not found.
          '121':
            description: the card is invalid.
          '122':
            description: the card data is invalid.
          '123':
            description: the payment_method_id is required.
          '124':
            description: the issuer_id is required.
          '125':
            description: invalid parameters.
          '126':
            description: invalid parameter. You cannot update the email.
          '127':
            description: >-
              invalid parameter. Cannot resolve the payment method of card,
              check the payment_method_id and issuer_id.
          '128':
            description: >-
              the email format is invalid. Use
              'test_payer_[0-9]{1,10}@testuser.com'.
          '129':
            description: the customer has reached the maximum allowed number of cards.
          '140':
            description: invalid card owner.
          '150':
            description: invalid users involved.
          '200':
            description: >-
              invalid range format
              (range=:date_parameter:after::date_from,before::date_to).
          '201':
            description: range attribute must belong to date entity.
          '202':
            description: invalid 'after' parameter. It should be date[iso_8601].
          '203':
            description: invalid 'before' parameter. It should be date[iso_8601].
          '204':
            description: invalid filters format.
          '205':
            description: invalid query format.
          '206':
            description: attributes to sort must belong to 'customer' entity.
          '207':
            description: order filter must be 'asc' or 'desc'.
          '208':
            description: invalid 'sort' parameter format.
        '401':
          unauthorized:
            description: unauthorized.
        '404':
          not_found:
            description: not_found.
  /customers/{customer_id}/cards/{id}:
    get:
      tags: 
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: "Get a customer card"
      description: "Get a customer card"
      parameters:
        - name: customer_id
          in: path
          description: Customer's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: id
          in: path
          description: Card's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Card ID.
                  date_registered:
                    type: string
                    description: Nao sei o que é
                  date_created:
                    type: string
                    format: date
                    description: Card's date created.
                  date_last_updated:
                    type: string
                    format: date
                    description: Card's last modified date.
                  customer_id:
                    type: string
                    description: Customer ID.
                  expiration_month:
                    type: number
                    description: Card's expiration month.
                  expiration_year:
                    type: number
                    description: Card's expiration year.
                  first_six_digits:
                    type: string
                    description: Card's first six digits.
                  last_four_digits:
                    type: string
                    description: Card's last four digits.
                  payment_method:
                    type: object
                    description: Payment method information.
                    properties:
                      id:
                        type: string
                        description: Payment method ID.
                      name:
                        type: string
                        description: Payment method name.
                      payment_type_id:
                        type: string
                        description: Payment method type.
                      thumbnail:
                        type: string
                        description: Payment method thumbnail.
                      secure_thumbnail:
                        type: string
                        description: Payment method secure thumbnail.
                  security_code:
                    type: object
                    description: Security code information.
                    properties:
                      length:
                        type: number
                        description: Security code's length.
                      card_location:
                        type: string
                        description: Security code's card location.
                  issuer:
                    type: object
                    description: Issuer information.
                    properties:
                      id:
                        type: number
                        description: Issuer Id.
                      name:
                        type: string
                        description: Issuer name.
                  cardholder:
                    type: object
                    description: Card holder information.
                    properties:
                      name:
                        type: number
                        description: Card holder name.
                      identification:
                        type: number
                        description: Identification information.
                        properties:
                          number:
                            type: number
                            description: Identification number.
                          subtype:
                            type: string
                            description: Identification subtype.
                          type:
                            type: string
                            description: Identification type.
        '400':
          '100':
            description: the credentials are required.
          '101':
            description: the customer already exist.
          '102':
            description: missing customer id.
          '103':
            description: 'parameter must be an object '
          '104':
            description: parameter length is too large.
          '105':
            description: the customer id is invalid.
          '106':
            description: the email format is invalid.
          '107':
            description: the first_name is invalid.
          '108':
            description: the last_name is invalid.
          '109':
            description: the phone.area_code is invalid.
          '110':
            description: the phone.number is invalid.
          '111':
            description: the identification.type is invalid.
          '112':
            description: the identification.number is invalid.
          '113':
            description: the address.zip_code is invalid.
          '114':
            description: the address.street_name is invalid.
          '115':
            description: the date_registered format is invalid.
          '116':
            description: the description is invalid.
          '117':
            description: the metadata is invalid.
          '118':
            description: the body must be a Json object.
          '119':
            description: the card is required.
          '120':
            description: card not found.
          '121':
            description: the card is invalid.
          '122':
            description: the card data is invalid.
          '123':
            description: the payment_method_id is required.
          '124':
            description: the issuer_id is required.
          '125':
            description: invalid parameters.
          '126':
            description: invalid parameter. You cannot update the email.
          '127':
            description: >-
              invalid parameter. Cannot resolve the payment method of card,
              check the payment_method_id and issuer_id.
          '128':
            description: >-
              the email format is invalid. Use
              'test_payer_[0-9]{1,10}@testuser.com'.
          '129':
            description: the customer has reached the maximum allowed number of cards.
          '140':
            description: invalid card owner.
          '150':
            description: invalid users involved.
          '200':
            description: >-
              invalid range format
              (range=:date_parameter:after::date_from,before::date_to).
          '201':
            description: range attribute must belong to date entity.
          '202':
            description: invalid 'after' parameter. It should be date[iso_8601].
          '203':
            description: invalid 'before' parameter. It should be date[iso_8601].
          '204':
            description: invalid filters format.
          '205':
            description: invalid query format.
          '206':
            description: attributes to sort must belong to 'customer' entity.
          '207':
            description: order filter must be 'asc' or 'desc'.
          '208':
            description: invalid 'sort' parameter format.
        '401':
          unauthorized:
            description: unauthorized.
        '404':
          not_found:
            description: not_found.
    put:
      tags: 
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: "Update a customer card"
      description: "Update a customer card"
      parameters:
        - name: customer_id
          in: path
          description: Customer's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: id
          in: path
          description: Card's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_registered:
                  type: string
                  description: Nao sei o que é
      responses:
        '400':
          '100':
            description: the credentials are required.
          '101':
            description: the customer already exist.
          '102':
            description: missing customer id.
          '103':
            description: 'parameter must be an object '
          '104':
            description: parameter length is too large.
          '105':
            description: the customer id is invalid.
          '106':
            description: the email format is invalid.
          '107':
            description: the first_name is invalid.
          '108':
            description: the last_name is invalid.
          '109':
            description: the phone.area_code is invalid.
          '110':
            description: the phone.number is invalid.
          '111':
            description: the identification.type is invalid.
          '112':
            description: the identification.number is invalid.
          '113':
            description: the address.zip_code is invalid.
          '114':
            description: the address.street_name is invalid.
          '115':
            description: the date_registered format is invalid.
          '116':
            description: the description is invalid.
          '117':
            description: the metadata is invalid.
          '118':
            description: the body must be a Json object.
          '119':
            description: the card is required.
          '120':
            description: card not found.
          '121':
            description: the card is invalid.
          '122':
            description: the card data is invalid.
          '123':
            description: the payment_method_id is required.
          '124':
            description: the issuer_id is required.
          '125':
            description: invalid parameters.
          '126':
            description: invalid parameter. You cannot update the email.
          '127':
            description: >-
              invalid parameter. Cannot resolve the payment method of card,
              check the payment_method_id and issuer_id.
          '128':
            description: >-
              the email format is invalid. Use
              'test_payer_[0-9]{1,10}@testuser.com'.
          '129':
            description: the customer has reached the maximum allowed number of cards.
          '140':
            description: invalid card owner.
          '150':
            description: invalid users involved.
          '200':
            description: >-
              invalid range format
              (range=:date_parameter:after::date_from,before::date_to).
          '201':
            description: range attribute must belong to date entity.
          '202':
            description: invalid 'after' parameter. It should be date[iso_8601].
          '203':
            description: invalid 'before' parameter. It should be date[iso_8601].
          '204':
            description: invalid filters format.
          '205':
            description: invalid query format.
          '206':
            description: attributes to sort must belong to 'customer' entity.
          '207':
            description: order filter must be 'asc' or 'desc'.
          '208':
            description: invalid 'sort' parameter format.
        '401':
          unauthorized:
            description: unauthorized.
        '404':
          not_found:
            description: not_found.
    delete:
      tags: 
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: "Delete a customer card"
      description: "Delete a customer card"
      parameters:
        - name: customer_id
          in: path
          description: Customer's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: id
          in: path
          description: Card's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '400':
          '100':
            description: the credentials are required.
          '101':
            description: the customer already exist.
          '102':
            description: missing customer id.
          '103':
            description: 'parameter must be an object '
          '104':
            description: parameter length is too large.
          '105':
            description: the customer id is invalid.
          '106':
            description: the email format is invalid.
          '107':
            description: the first_name is invalid.
          '108':
            description: the last_name is invalid.
          '109':
            description: the phone.area_code is invalid.
          '110':
            description: the phone.number is invalid.
          '111':
            description: the identification.type is invalid.
          '112':
            description: the identification.number is invalid.
          '113':
            description: the address.zip_code is invalid.
          '114':
            description: the address.street_name is invalid.
          '115':
            description: the date_registered format is invalid.
          '116':
            description: the description is invalid.
          '117':
            description: the metadata is invalid.
          '118':
            description: the body must be a Json object.
          '119':
            description: the card is required.
          '120':
            description: card not found.
          '121':
            description: the card is invalid.
          '122':
            description: the card data is invalid.
          '123':
            description: the payment_method_id is required.
          '124':
            description: the issuer_id is required.
          '125':
            description: invalid parameters.
          '126':
            description: invalid parameter. You cannot update the email.
          '127':
            description: >-
              invalid parameter. Cannot resolve the payment method of card,
              check the payment_method_id and issuer_id.
          '128':
            description: >-
              the email format is invalid. Use
              'test_payer_[0-9]{1,10}@testuser.com'.
          '129':
            description: the customer has reached the maximum allowed number of cards.
          '140':
            description: invalid card owner.
          '150':
            description: invalid users involved.
          '200':
            description: >-
              invalid range format
              (range=:date_parameter:after::date_from,before::date_to).
          '201':
            description: range attribute must belong to date entity.
          '202':
            description: invalid 'after' parameter. It should be date[iso_8601].
          '203':
            description: invalid 'before' parameter. It should be date[iso_8601].
          '204':
            description: invalid filters format.
          '205':
            description: invalid query format.
          '206':
            description: attributes to sort must belong to 'customer' entity.
          '207':
            description: order filter must be 'asc' or 'desc'.
          '208':
            description: invalid 'sort' parameter format.
        '401':
          unauthorized:
            description: unauthorized.
        '404':
          not_found:
            description: not_found.
