openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /v1/chargebacks/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Get chargeback
      description: Check all the information related to a chargeback for your product or service with the ID of the chargeback you want
      parameters:
        - name: id
          in: path
          description: Chargeback Id
          required: true
          schema:
            type: string
            example: "12123adfasdf123u4u"
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Chargeback identifier
                  payments:
                    type: array
                    description: List of payments ids associated to the case
                    items:
                      type: number
                  currency:
                    type: string
                    description: Amount's currency
                  amount:
                    type: number
                    description: Chargeback's amount
                  coverage_applied:
                    type: boolean
                    description: Whether the seller has been covered or not
                  coverage_elegible:
                    type: boolean
                    description: >-
                      Whether the chargeback complies with the conditions to be
                      covered
                  documentation_required:
                    type: boolean
                    description: >-
                      Whether the seller needs to send documentation for this
                      chargeback
                  documentation_status:
                    type: string
                    description: Detail of decision taken for the documentation
                    enum:
                      - pending -- No documentation has been received
                      - review_pending -- Documentation received, waiting for decision to be taken
                      - valid -- The documentation received is valid
                      - invalid -- The documentation received is invalid
                      - not_supplied -- The documentation wasn't supplied on time
                      - not_applicable -- Documentation wasn't needed for this chargeback
                  documentation:
                    type: array
                    description: List of documentation received from the seller
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Documentation's file type
                        url:
                          type: string
                          description: Url to see the documentation file
                        description:
                          type: string
                          description: Documentation's description
                  date_documentation_deadline:
                    type: string
                    format: date
                    description: Chargeback's last day to send documentation
                  date_created:
                    type: string
                    format: date
                    description: Chargeback’s creation date
                  date_last_updated:
                    type: string
                    format: date
                    description: Chargeback's last modified date
                  live_mode:
                    type: boolean
                    description: >-
                      Whether the chargeback will be processed in sandbox or in
                      production mode
  /v1/payments/{id}/refunds:
    get:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Get refunds list
      description: Get all Refunds for a specific payment
      parameters:
        - name: id
          in: path
          description: Payment identifier
          required: true
          schema:
            type: string
            example: 18552260055
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1032332129
                    description: Refund identifier
                  payment_id:
                    type: number
                    example: 18552260055
                    description: Payment identifier
                  amount:
                    type: number
                    example: 4
                    description: Payment identifier
                  metadata:
                    type: array
                    description: List of metadata
                    items:
                  source:
                    type: array
                    description: List of source
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Firstname Lastname"
                          description: Name  
                        id:
                          type: string
                          example: "1003743392"
                          description: Identifier
                        type:
                          type: string
                          example: "collector"
                          description: Type
                  date_created:
                    type: string
                    example: "2021-11-24T13:58:49.312-04:00"
                    format: date
                    description: Refund creation date
                  unique_sequence_number:
                    type: string
                    example: null
                    description: Sequence number
                  refund_mode:
                    type: string
                    example: "standard"
                    description: Type of refund
                  adjustment_amount:
                    type: number
                    example: 0
                    description: Refund adjustment
                  status:
                    type: string
                    example: "approved"
                    description: Refund status
                  reason:
                    type: string
                    example: null
                    description: Refund reason
                  label:
                    type: array
                    description: List of label
                    items:
                      type: object
                  partition_details:
                    type: array
                    description: details
                    items:
                      type: object        
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad-Request--missing-information-on-header-            
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 5--Must-provide-your-access-token-to -proceed--Valid-token-required-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment-not-found--Payment_Id_does_not_exist-
    post:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Create refund
      description: Create Partial/Full Refund for a specific payment. If the amount field is filled, it will create a partial refund, if not, it will create a full refund
      parameters:
        - name: id
          in: path
          description: Payment identifier
          required: true
          schema:
            type: string
            example: 12345678901
        - name: X-Idempotency-Key
          in: header
          description: Idempotency key. When used, avoids duplicated refund
          required: false
          schema:
            type: string
            example: 77e1c83b-7bb0-437b-bc50-a7a58e5660ac
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Refund amount. If this property (amount) is removed from body, it will create a full refund.
                  example: 5
      responses:
        '200':
          description: Sucess
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1009042015
                    description: Refund identifier
                  payment_id:
                    type: number
                    example: 18552260055
                    description: Payment identifier
                  amount:
                    type: number
                    example: 10
                    description: Refund amount
                  metadata:
                    type: array
                    description: Metadata
                    items:
                      type: object
                  source:
                    type: array
                    description: List of source
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Firstname Lastname"
                          description: Name  
                        id:
                          type: string
                          example: "1003743392"
                          description: Identifier
                        type:
                          type: string
                          example: "collector"
                          description: Type
                  date_created:
                    type: string
                    example: "2021-11-24T13:58:49.312-04:00"
                    format: date
                    description: Refund creation date
                  unique_sequence_number:
                    type: string
                    example: null
                    description: Sequence number
                  refund_mode:
                    type: string
                    example: "standard"
                    description: Type of Refund
                  adjustment_amount:
                    type: number
                    example: 0
                    description: Refund adjustment
                  status:
                    type: string
                    example: "approved"
                    description: Refund status
                  reason:
                    type: string
                    example: null
                    description: Refund reason
                  label:
                    type: array
                    description: List of label
                    items:
                      type: object
                  partition_details:
                    type: array
                    description: Details
                    items:
                      type: object        
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2063--The-action-requested-is-not-valid-for-the-current-payment-state--missing-information-on-header-or-the-payment-was-fully-refund-            
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401--Invalid-token--Valid-token-required-
                      - 4040--amount-attribute-must-be-positive--Amount-should-be-more-than-0-
                      - 4041--amount-attribute-must-be-numeric--Amount-should-be-a-number-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2032--Refund-not-found--X-Idempontency-key-already-used-
                      - 2000--Payment-not-found--Payment_Id_does_not_exist-
  /v1/payments/{id}/refunds/{refund_id}:
    get:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Get specific refund
      description: Get a specific Refund from a specific payment
      parameters:
        - name: id
          in: path
          description: Payment identifier
          required: true
          schema:
            type: string
            example: 18552260055
        - name: refund_id
          in: path
          description: Refund identifier
          required: true
          schema:
            type: string
            example: 1032332129
      responses:
        '200':
          description: Sucess
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1032332129
                    description: Refund identifier
                  payment_id:
                    type: number
                    example: 18552260055
                    description: Payment identifier from the payment
                  amount:
                    type: number
                    example: 10
                    description: Refund amount
                  metadata:
                    type: array
                    description: Metadata
                    items:
                      type: object
                  source:
                    type: array
                    description: List of source
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Firstname Lastname"
                          description: Name  
                        id:
                          type: string
                          example: "1003743392"
                          description: Identifier
                        type:
                          type: string
                          example: "collector"
                          description: Type
                  date_created:
                    type: string
                    example: "2021-11-24T13:58:49.312-04:00"
                    format: date
                    description: Refund creation date
                  unique_sequence_number:
                    type: string
                    example: null
                    description: Sequence number
                  refund_mode:
                    type: string
                    example: "standard"
                    description: Type of refund
                  adjustment_amount:
                    type: number
                    example: 0
                    description: Refund adjustment
                  status:
                    type: string
                    example: "approved"
                    description: Refund status
                  reason:
                    type: string
                    example: null
                    description: Refund reason
                  label:
                    type: array
                    description: List of label
                    items:
                      type: object
                  partition_details:
                    type: array
                    description: details
                    items:
                      type: object     
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad-Request--missing-information-on-header-            
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 5--Must-provide-your-access-token-to-proceed--Valid-token-required-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment-not-found--Payment_Id_does_not_exist-
                      - 2032--Refund-not-found--Refund_Id_does_not_exist-
  /v1/payments/{payment_id}:
    put:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Create cancellation
      description: Cancel a sale for a specific payment
      parameters:
        - name: payment_id
          in: path
          description: Payment ID
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 18746874919
                    description: Payment identifier
                  date_created:
                    type: string
                    example: "2021-12-10T17:13:23.000-04:00"
                    format: date
                    description: Cancelation creation date
                  date_approved:
                    type: string
                    example: 
                    format: date
                    description: Cancelation approved date
                  date_last_updated:
                    type: string
                    example: "2021-12-10T17:31:34.000-04:00"
                    format: date
                    description: Last updated date
                  date_of_expiration:
                    type: string
                    example: "2021-12-13T22:59:59.000-04:00"
                    format: date
                    description: Expiration date
                  money_release_date:
                    type: string
                    example: 
                    format: date
                    description: Money release date
                  operation_type:
                    type: string
                    example: "regular_payment"
                    description: Operation type
                  issuer_id:
                    type: number
                    example: 
                    description: Issuer identifier
                  payment_method_id:
                    type: string
                    example: "bolbradesco"
                    description: Payment method identifier
                  payment_type_id:
                    type: string
                    example: "ticket"
                    description: Payment type identifier
                  status:
                    type: string
                    example: "cancelled"
                    description: Status
                  status_detail:
                    type: string
                    example: "by_collector"
                    description: Status detail
                  currency_id:
                    type: string
                    example: "BRL"
                    description: Currency identifier
                  description:
                    type: string
                    example: "Meu produto"
                    description: Description
                  live_mode:
                    type: string
                    example: 
                    description: Live mode
                  sponsor_id:
                    type: string
                    example: 
                    description: Sponsor identifier
                  authorization_code:
                    type: string
                    example: 
                    description: Authorization code
                  money_release_schema:
                    type: string
                    example: 
                    description: Money release schema
                  taxes_amount:
                    type: number
                    example: 0
                    description: Tax amount
                  counter_currency:
                    type: string
                    example: 
                    description: Counter currency
                  brand_id:
                    type: string
                    example: 
                    description: Brand identifier
                  shipping_amount:
                    type: number
                    example: 0
                    description: Shipping amount
                  pos_id:
                    type: string
                    example: 
                    description: POS identifier
                  store_id:
                    type: string
                    example: 
                    description: Store identifier
                  integrator_id:
                    type: string
                    example: 
                    description: Integrator identifier
                  platform_id:
                    type: string
                    example: 
                    description: Platform identifier
                  corporation_id:
                    type: string
                    example: 
                    description: Corporation identifier
                  collector_id:
                    type: number
                    example: 
                    description: Number identifier
                  payers:
                    type: array
                    description: List of payers
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                          example: 
                          description: First name 
                        last_name:
                          type: string
                          example: 
                          description: Last name  
                        email:
                          type: string
                          example: "test_user_80507629@testuser.com"
                          description: E-mail
                        type:
                          type: string
                          example: "collector"
                          description: Type
                        identification:
                          type: array
                          description: List of identification
                          items:
                            type: object
                            properties:
                              number:
                                type: string
                                example: "32659430"
                                description: Number
                              type:
                                type: string
                                example: "DNI"
                                description: Type
                        phone:
                          type: array
                          description: List of phones
                          items:
                            type: object
                            properties:
                              area_code:
                                type: string
                                example: 
                                description: Area code
                              number:
                                type: string
                                example: 
                                description: Number
                              extension:
                                type: string
                                example: 
                                description: Extension
                        entity_type:
                          type: string
                          example: 
                          description: Entity type
                        id:
                          type: string
                          example: "1003743392"
                          description: Identifier
                        operator_id:
                          type: string
                          example: 
                          description: Operator identifier
                  marketplace_owner:
                    type: string
                    example: 
                    description: Marketplace owner
                  metadata:
                    type: array
                    description: List of metadata
                    items:
                  additional_info:
                    type: array
                    description: List of additional information
                    items:
                      type: object
                      properties:
                        items:
                          type: array
                          description: List of items
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: "234"
                                description: Identifier
                              title:
                                type: string
                                example: "My product"
                                description: Title
                              description:
                                type: string
                                example: "E-commerce store cellphone"
                                description: Description
                              picture_url:
                                type: string
                                example: "https://www.mercadopago.com/org-img/MP3/home/logomp3.gif"
                                description: Picture URL
                              category_id:
                                type: string
                                example: "art"
                                description: Category identifier
                              quantity:
                                type: string
                                example: "1"
                                description: Quantity
                              unit_price:
                                type: string
                                example: "75.76"
                                description: Unit price
                    payer:
                      type: object
                      properties:
                        phone:
                          type: array
                          description: List of phone
                          items:
                            type: object
                            properties:
                              area_code:
                                type: string
                                example: "55"
                                description: Area code
                              number:
                                type: string
                                example: "8529-1111"
                                description: Number
                        address:
                          type: array
                          description: List of address
                          items:
                            type: object
                            properties:
                              zip_code:
                                type: string
                                example: "78134-190"
                                description: Zip code
                              street_name:
                                type: string
                                example: "Insurgentes Sur"
                                description: Street name
                              street_number:
                                type: string
                                example: "1200"
                                description: Street number
                        first_name:
                                type: string
                                example: "Lalo"
                                description: First name
                        last_name:
                                type: string
                                example: "Santos"
                                description: Last name
                    ip_address:
                      type: string
                      example: "201.63.25.34"
                      description: IP address
                    available_balance:
                      type: string
                      example:
                      description: Available balance
                    nsu_processadora:
                      type: string
                      example:
                      description: NSU processadora
                    authentication_code:
                      type: string
                      example:
                      description: Authentication code
                  order:
                    type: array
                    description: List of orders
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: "mercadopago"
                          description: Type
                        id:
                          type: string
                          example: "3754501423"
                          description: Identifier
                  external_reference:
                    type: string
                    example: "firstname@gmail.com"
                    description: External Reference
                  transaction_amount:
                    type: number
                    example: 75.76
                    description: Transaction amount
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                  coupon_amount:
                    type: number
                    example: 0
                    description: Coupon amount
                  differential_pricing_id:
                    type: string
                    example: 
                    description: Differential pricing identifier
                  deduction_schema:
                    type: string
                    example: 
                    description: Deduction schema
                  barcode:
                    type: array
                    description: List of barcode
                    items:
                      type: object
                      properties:
                        content:
                          type: string
                          example: "23791883300000075763380250600221946300633330"
                          description: Content
                  installments:
                    type: number
                    example: 1
                    description:  Installments
                  transaction_details:
                    type: array
                    description: List of transaction details
                    items:
                      type: object
                      properties:
                        payment_method_reference_id:
                          type: string
                          example: "6002219463"
                          description: Payment method reference identifier
                        verification_code:
                          type: string
                          example: "6002219463"
                          description: Verification code
                        net_received_amount:
                          type: number
                          example: 0
                          description:  Net received amount
                        total_paid_amount:
                          type: number
                          example: 75.76
                          description: Total paid amount
                        overpaid_amount:
                          type: number
                          example: 0
                          description: Overpaid amount
                        external_resource_url:
                          type: string
                          example: "https://www.mercadopago.com/mlb/payments/beta/ticket/helper?payment_id=18746874919&payment_method_reference_id=6002219463&caller_id=1003743392&hash=6a8c570f-9c39-4a5c-9b55-85ae1b724bf"
                          description: External resource url
                        installment_amount:
                          type: number
                          example: 0
                          description: Installment amount
                        financial_institution:
                          type: string
                          example: 
                          description: Financial institution
                        payable_deferral_period:
                          type: string
                          example: 
                          description: Payable deferral period
                        acquirer_reference:
                          type: string
                          example: 
                          description: Acquirer reference
                  fee_details:
                    type: array
                    description: List of fee details
                    items: 
                  charges_details:
                    type: array
                    description: List of charges details
                    items:    
                  captured:
                    type: boolean
                    example: true
                    description: Captured flag
                  binary_mode:
                    type: boolean
                    example: true
                    description: Binary mode flag
                  call_for_authorize_id:
                    type: string
                    example: 
                    description: Call for authorize identifier
                  statement_descriptor:
                    type: string
                    example: 
                    description: Statement descriptor
                  card:
                    type: array
                    description: List of cards
                    items: 
                  notification_url:
                    type: string
                    example: "https://webhook.site/17a3a5ce-28d4-4b4f-ba3f-a7595c17c6d8"
                    description:  Notification URL
                  refunds:
                    type: array
                    description: List of refunds
                    items: 
                  processing_mode:
                    type: string
                    example: "aggregator"
                    description: Processing mode
                  merchant_account_id:
                    type: string
                    example:
                    description: Merchant account identifier
                  merchant_number:
                    type: string
                    example:
                    description: Merchant number
                  acquirer_reconciliation:
                    type: array
                    description: List of acquirer reconciliation
                    items:
                  point_of_interaction:
                    type: array
                    description: List of point of interaction
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: "UNSPECIFIED"
                          description: Type
                        business_info:
                          type: array
                          description: List of business information
                          items:
                            type: object
                            properties:
                              unit:
                                type: string
                                example: "online_payments"
                                description: Unit
                              sub_unit:
                                type: string
                                example: "checkout_pro"
                                description: Sub unit    
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad-Request--missing-information-on-header-            
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 5--Must-provide-your-access-token-to -proceed--Valid-token-required-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment-not-found--Payment_Id_does_not_exist-