openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /mpmobile/instore/qr/{user_id}/{external_id}:
    post:
      tags:
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: Create an Order
      description: Create an Order.
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_id
          in: path
          description: External Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: User identifier. (Required)
                external_id:
                  type: string
                  description: >-
                    Unique identifier of the Point of Sale defined by integrator
                    system. (Required)
                external_reference:
                  type: string
                  description: >-
                    Reference you can synchronize with your sale system. 
                    (Required)
                notification_url:
                  type: string
                  description: >-
                    URL where you'd like to receive a payment or merchant_order
                    notification.
                sponsor_id:
                  type: string
                  description: Mercado Pago's USER_ID of the integrator system.
                items:
                  type: object
                  description: >-
                    Information on the products involved in the order.
                    (Required)
                  properties:
                    id:
                      type: string
                      description: Item id.
                    title:
                      type: string
                      description: Item title. (Required)
                    currency_id:
                      type: string
                      description: Currency identifier in ISO_4217 format. (Required)
                    unit_price:
                      type: number
                      description: Unit price of the item (maximum 2 decimals).  (Required)
                    quantity:
                      type: number
                      description: Item quantity. (Required)
                    description:
                      type: string
                      description: Item description. (Required)
                    picture_url:
                      type: string
                      description: Item image URL.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 360472057-3d2cadbf-2c54-485c-bcb9-f262adc14af6
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: Shampoo
                        id:
                          type: string
                          example: 78123172
                        currency_id:
                          type: string
                          example: $
                        unit_price:
                          type: number
                          example: 120
                        quantity:
                          type: number
                          example: 1
                        description:
                          type: string
                          example: Almendras
                        picture_url:
                          type: string
                          example: https://bit.ly/2nxdWHa
                  collector_id:
                    type: number
                    example: 360472057
                  collector:
                    type: object
                    properties: null
                  total_amount:
                    type: number
                    example: 120
                  amount:
                    type: number
                    example: 120
                  external_reference:
                    type: string
                    example: Factura-0001
                  operation_type:
                    type: string
                    example: regular_payment
                  payment_methods:
                    type: object
                    properties:
                      excluded_payment_methods:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: null
                      excluded_payment_types:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: ticket
                  marketplace:
                    type: string
                    example: NONE
                  marketplace_fee:
                    type: number
                    example: 0
                  sponsor_id:
                    type: number
                    example: 446566691
                  notification_url:
                    type: string
                    example: http://www.yourserver.com
                  back_urls:
                    type: object
                    properties:
                      success:
                        type: string
                        example: null
                      pending:
                        type: string
                        example: null
                      failure:
                        type: string
                        example: null
                  payer:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 0
                      email:
                        type: string
                        example: null
                      identification:
                        type: object
                        properties:
                          number:
                            type: string
                            example: null
                          type:
                            type: string
                            example: null
                      address:
                        type: object
                        properties:
                          primary:
                            type: boolean
                          zip:
                            type: string
                            example: null
                      phone:
                        type: object
                        properties:
                          area_code:
                            type: string
                            example: null
                          number:
                            type: string
                            example: null
                  expires:
                    type: boolean
                  additional_info:
                    type: string
                    example: null
                  site_id:
                    type: string
                    example: mla
                  client_id:
                    type: number
                    example: 360472057
                  processing_modes:
                    type: array
                    items:
                      type: string
                      example: aggregator
                  internal_metadata:
                    type: object
                    properties: null
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collector_id--collector-id-invalid-
                      - invalid_sponsor_id--sponsor-id-is-not-an-active-user-
                      - invalid_items--unit-price-invalid-
                      - invalid_access_token--Access-denied-
    delete:
      tags:
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: Delete an Order
      description: Delete an Order.
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_id
          in: path
          description: External Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collector_id--COLLECTOR-ID-invalid-
                      - invalid_access_token--access-denied-
