openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /mpmobile/instore/qr/{user_id}/{external_id}:
    post:
      tags:
        - $ref: '#/tags/qr-code'
      summary: Create an order
      description: Generate a payment order with all the payment information for your product or service and associate it with the Point of Sale you want
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_id
          in: path
          description: External Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: User identifier.
                external_id:
                  type: string
                  description: >-
                    Unique identifier of the Point of Sale defined by integrator
                    system.
                external_reference:
                  type: string
                  description: Reference you can synchronize with your sale system.
                  example: Factura-0001
                notification_url:
                  type: string
                  description: >-
                    URL where you'd like to receive a payment or merchant_order
                    notification.
                  example: http://www.yourserver.com
                sponsor_id:
                  type: string
                  description: Mercado Pago's USER_ID of the integrator system.
                  example: '446566691'
                items:
                  type: object
                  description: Information on the products involved in the order.
                  properties:
                    id:
                      type: string
                      description: Item id.
                      example: 78123172
                    title:
                      type: string
                      example: Shampoo
                      description: Item title.
                    currency_id:
                      $ref: '#/components/schemas/currency_id'
                    unit_price:
                      type: number
                      description: Unit price of the item (maximum 2 decimals).
                      example: 120
                    quantity:
                      type: number
                      description: Item quantity.
                      example: 1
                    description:
                      type: string
                      description: Item description.
                      example: Almendras
                    picture_url:
                      type: string
                      description: Item image URL.
                      example: https://bit.ly/2nxdWHa
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 360472057-3d2cadbf-2c54-485c-bcb9-f262adc14af6
                    description: id
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: Shampoo
                          description: title
                        id:
                          type: string
                          example: 78123172
                          description: id
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        unit_price:
                          type: number
                          example: 120
                          description: unit_price
                        quantity:
                          type: number
                          example: 1
                          description: quantity
                        description:
                          type: string
                          example: Almendras
                          description: description
                        picture_url:
                          type: string
                          example: https://bit.ly/2nxdWHa
                          description: picture_url
                    description: items
                  collector_id:
                    type: number
                    example: 360472057
                    description: collector_id
                  collector:
                    type: object
                    description: collector
                  total_amount:
                    type: number
                    example: 120
                    description: total_amount
                  amount:
                    type: number
                    example: 120
                    description: amount
                  external_reference:
                    type: string
                    example: Factura-0001
                    description: external_reference
                  operation_type:
                    type: string
                    example: regular_payment
                    description: operation_type
                  payment_methods:
                    type: object
                    properties:
                      excluded_payment_methods:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: id
                        description: excluded_payment_methods
                      excluded_payment_types:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: ticket
                              description: id
                        description: excluded_payment_types
                    description: payment_methods
                  marketplace:
                    type: string
                    example: NONE
                    description: marketplace
                  marketplace_fee:
                    type: number
                    example: 0
                    description: marketplace_fee
                  sponsor_id:
                    type: number
                    example: 446566691
                    description: sponsor_id
                  notification_url:
                    type: string
                    example: http://www.yourserver.com
                    description: notification_url
                  back_urls:
                    type: object
                    properties:
                      success:
                        type: string
                        description: success
                      pending:
                        type: string
                        description: pending
                      failure:
                        type: string
                        description: failure
                    description: back_urls
                  payer:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 0
                        description: id
                      email:
                        type: string
                        description: email
                      identification:
                        type: object
                        properties:
                          number:
                            type: string
                            description: number
                          type:
                            type: string
                            description: type
                        description: identification
                      address:
                        type: object
                        properties:
                          primary:
                            type: boolean
                            description: primary
                          zip:
                            type: string
                            description: zip
                        description: address
                      phone:
                        type: object
                        properties:
                          area_code:
                            type: string
                            description: area_code
                          number:
                            type: string
                            description: number
                        description: phone
                    description: payer
                  expires:
                    type: boolean
                    description: expires
                  additional_info:
                    type: string
                    description: additional_info
                  site_id:
                    type: string
                    example: mla
                    description: site_id
                  client_id:
                    type: number
                    example: 360472057
                    description: client_id
                  processing_modes:
                    type: array
                    items:
                      type: string
                      example: aggregator
                    description: processing_modes
                  internal_metadata:
                    type: object
                    description: internal_metadata
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collector_id--collector-id-invalid-
                      - invalid_sponsor_id--sponsor-id-is-not-an-active-user-
                      - invalid_items--unit-price-invalid-
                      - invalid_access_token--Access-denied-
    delete:
      tags:
        - $ref: '#/tags/qr-code'
      summary: Delete an order
      description: Delete an order whenever you need to with the ID of the user and the external ID
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_id
          in: path
          description: External Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collector_id--COLLECTOR-ID-invalid-
                      - invalid_access_token--access-denied-


components:
  schemas:
    currency_id:
      type: string
      example: $
      description: Currency identifier in ISO_4217 format.
      enum: 
        - ARS -- Argentine peso.
        - BRL -- Brazil real.
        - CLP -- Chilean peso.
        - MXN -- Mexican peso.
        - COP -- Colombian peso.
        - PEN -- Peruvian sol.
        - UYU -- Uruguayan peso.