openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /instore/qr/seller/collectors/{user_id}/pos/{external_pos_id}/orders:
    delete:
      tags:
        - $ref: '#/tags/qr-code'
      summary: Delete an order
      description: Delete an order whenever you need to with the ID of the user and the external ID
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_pos_id
          in: path
          description: External POS Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collectorId--user-id-must-be-a-number-
                      - invalid_externalPosId--externalPosId-must-be-present-
                      - invalid_access_token--Access-denied-
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - in_store_order_creation_error--Failed-to-delete-order-
    get:
      tags:
        - $ref: '#/tags/qr-code'
      summary: Get an order
      description: Check the payment information for a product or service with the ID of the order you want
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_pos_id
          in: path
          description: External POS Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    external_reference:
                      type: string
                      example: '12345'
                    total_amount:
                      type: number
                      example: 100
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          sku_number:
                            type: string
                            example: KS955RUR
                          category:
                            type: string
                            example: COMIDA
                          title:
                            type: string
                            example: Pasta
                          description:
                            type: string
                            example: Compra en Mercado Pago
                          unit_measure:
                            $ref: '#/components/schemas/unit_measure'
                          quantity:
                            type: number
                            example: 5
                          unit_price:
                            type: number
                            example: 20
                          total_amount:
                            type: number
                            example: 100
                    title:
                      type: string
                      example: Compra
                    description:
                      type: string
                      example: Compra en Mercado Pago
                    sponsor:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 329653963
                    expiration_date:
                      type: string
                      example: '2023-08-22T16:34:56.559-04:00'
                    notification_url:
                      type: string
                      example: www.yourserver.com
                    user_id:
                      type: string
                      description: User identifier.
                    external_pos_id:
                      type: string
                      description: External_id of the point of sale defined by integrator system.
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collectorId--user-id-must-be-a-number-
                      - invalid_externalPosId--externalPosId-must-be-present-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - >-
                        point_of_sale_in_store_order_not_found--No-associated-order-found-
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - in_store_order_creation_error--Failed-to-create-order-
  /instore/qr/seller/collectors/{user_id}/stores/{external_store_id}/pos/{external_pos_id}/orders:
    put:
      tags:
        - $ref: '#/tags/qr-code'
      summary: Create an order
      description: Generate a payment order with all the payment information for your product or service and associate it with the Point of Sale you want
      parameters:
        - name: user_id
          in: path
          description: Last digits after '-' symbol in seller's access token
          required: true
          schema:
            type: string
            example: 446566691
        - name: external_store_id
          in: path
          description: custom id of the store asosiated to the purchase
          required: true
          schema:
            type: string
            example: SUC001
        - name: external_pos_id
          in: path
          description: custom id of the POS asosiated to the purchase
          required: true
          schema:
            type: string
            example: SUC001POS001
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_reference:
                  type: string
                  description: custom id of the purchase.
                  example: 12345
                title:
                  type: string
                  description: Purchase title.
                  example: Product order
                description:
                  type: string
                  description: Purchase description.
                notification_url:
                  type: string
                  description: >-
                    URL where you'd like to receive a payment or merchant_order
                    notification.
                  example: www.yourserver.com
                expiration_date:
                  type: string
                  description: Expiration date with format "2020-08-22T16:34:56.559-04:00"
                total_amount:
                  type: number
                  description: Total amount of the transaction in local currency.
                  example: 100
                items:
                  type: array
                  description: Information on the products involved in the order.
                  items:
                    type: object
                    properties:
                      sku_number:
                        type: string
                        description: Item code.
                        example: A123K9191938
                      category:
                        type: string
                        description: Item category.
                        example: marketplace
                      title:
                        type: string
                        description: Item title.
                        example: Point Mini
                      description:
                        type: string
                        description: Item description.
                        example: This is the Point Mini
                      unit_price:
                        type: number
                        description: Unit price of the item (maximum 2 decimals).
                        example: 100
                      quantity:
                        type: number
                        description: Number of item units.
                        example: 1
                      unit_measure:
                        $ref: '#/components/schemas/unit_measure'
                      total_amount:
                        type: string
                        description: Item total.
                        example: 100
                taxes:
                  type: array
                  description: Information about the taxes payed.
                  items:
                    type: object
                    properties:
                      value:
                        type: number
                        description: total amount of tax payed (this amount is not involved in the sum of order's total amount).
                        example: 19
                      type:
                        type: string
                        description: type of tax payed.
                        example: IVA
                sponsor: 
                  type: object
                  description: Integrator information.
                  properties:
                    id:
                      type: number
                      description: Mercado Pago's USER_ID of the integrator system.
                      example: 446566691
                cash_out:
                  type: object
                  description: Cash withdrawal (Commercial contact required)
                  properties:
                    amount:
                      type: number
                      description: Amount to withdraw in local currency.
      responses:
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collectorId--user-id-must-be-a-number-
                      - invalid_externalPosId--externalPosId-must-be-present-
                      - >-
                        invalid_external_reference--external-reference-must-be-present-
                      - invalid_total_amount--total-amount-must-be-present-
                      - >-
                        invalid_items.sku_number--items-sku-number-must-be-string-
                      - invalid_items.category--items-category-must-be-string-
                      - invalid_items.title--items-title-must-be-string-
                      - >-
                        invalid_items.description--items-description-must-be-string-
                      - >-
                        invalid_items.unit_measure--items-unit-measure-must-be-string-
                      - invalid_items.quantity--items-quantity-must-be-number-
                      - >-
                        invalid_items.currency_id--items-currency-id-must-be-string-
                      - >-
                        invalid_items.unit_price--items-unit-price-must-be-number-
                      - >-
                        invalid_items.total_amount--items-total-amount-must-be-number-
                      - invalid_title--title-must-be-string-
                      - invalid_unit_measure--unit-measure-must-be-present-
                      - invalid_quantity--quantity-must-be-present-
                      - invalid_unit_price--unit-price-must-be-present-
                      - invalid_description--description-must-be-present-
                      - invalid_sponsor.id--sponsor-id-must-be-number-
                      - invalid_id--sponsor-id-must-be-present-
                      - invalid_cash_out.amount--cash-out-amount-must-be-number-
                      - invalid_amount--cash-out-amount-must-be-present-
                      - >-
                        error_creating_seller_qr_order--The-cash-out-is-required-when-order-has-no-items-
                      - >-
                        invalid_expiration_date--Expiration-date-must-be-a-valid-and-future-date-
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - in_store_order_creation_error--Failed-to-create-order-

components:
  schemas:
    unit_measure:
      type: string
      description: Unit of measure of the item.
      example: unit
      enum: 
        - unit -- Unit
        - pack -- Pack
