openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /instore/qr/seller/collectors/{user_id}/pos/{external_pos_id}/orders:
    delete:
      tags:
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: Delete an Order
      description: Delete an Order.
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_pos_id
          in: path
          description: External POS Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collectorId--user-id-must-be-a-number-
                      - invalid_externalPosId--externalPosId-must-be-present-
                      - invalid_access_token--Access-denied-
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - in_store_order_creation_error--Failed-to-delete-order-
    get:
      tags:
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: Get an Order
      description: Get an Order.
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_pos_id
          in: path
          description: External POS Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: string
                      description: User identifier. (Required)
                    external_pos_id:
                      type: string
                      description: >-
                        External_id of the point of sale defined by integrator
                        system. (Required)
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collectorId--user-id-must-be-a-number-
                      - invalid_externalPosId--externalPosId-must-be-present-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - >-
                        point_of_sale_in_store_order_not_found--No-associated-order-found-
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - in_store_order_creation_error--Failed-to-create-order-
  /instore/qr/seller/collectors/{user_id}/stores/{external_store_id}/pos/{external_pos_id}/orders:
    put:
      tags:
        - $ref: '#/tags/qr-code/description'
        - $ref: '#/tags/link-de-pago/description'
      summary: Create an Order
      description: Create an Order.
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_store_id
          in: path
          description: External Store Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_pos_id
          in: path
          description: External POS Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: User identifier. (Required)
                external_store_id:
                  type: string
                  description: >-
                    External_id of the store defined by integrator system.
                    (Required)
                external_pos_id:
                  type: string
                  description: >-
                    External_id of the point of sale defined by integrator
                    system. (Required)
                external_reference:
                  type: string
                  description: >-
                    Reference you can synchronize with your sale system.
                    (Required)
                title:
                  type: string
                  description: Purchase title. (Required)
                description:
                  type: string
                  description: Purchase description.
                notification_url:
                  type: string
                  description: >-
                    URL where you'd like to receive a payment or merchant_order
                    notification.
                expiration_date:
                  type: string
                  description: Expiration date with format "2020-08-22T16:34:56.559-04:00"
                total_amount:
                  type: number
                  description: >-
                    Total amount of the transaction in local currency.
                    (Required)
                items:
                  type: array
                  description: Information on the products involved in the order.
                  items:
                    type: object
                    properties:
                      sku_number:
                        type: string
                        description: Item code.
                      category:
                        type: string
                        description: Item category.
                      title:
                        type: string
                        description: Item title. (Required)
                      description:
                        type: string
                        description: Item description.
                      unit_price:
                        type: number
                        description: >-
                          Unit price of the item (maximum 2 decimals).
                          (Required)
                      quantity:
                        type: number
                        description: Number of item units. (Required)
                      unit_measure:
                        type: string
                        description: Unit of measure of the item. (Required)
                      total_amount:
                        type: string
                        description: Item image URL. (Required)
                sponsor:
                  type: object
                  description: Integrator information.
                  properties:
                    id:
                      type: number
                      description: Mercado Pago's USER_ID of the integrator system.
                cash_out:
                  type: object
                  description: Cash withdrawal.
                  properties:
                    amount:
                      type: number
                      description: Amount to withdraw in local currency.
      responses:
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collectorId--user-id-must-be-a-number-
                      - invalid_externalPosId--externalPosId-must-be-present-
                      - >-
                        invalid_external_reference--external-reference-must-be-present-
                      - invalid_total_amount--total-amount-must-be-present-
                      - >-
                        invalid_items.sku_number--items-sku-number-must-be-string-
                      - invalid_items.category--items-category-must-be-string-
                      - invalid_items.title--items-title-must-be-string-
                      - >-
                        invalid_items.description--items-description-must-be-string-
                      - >-
                        invalid_items.unit_measure--items-unit-measure-must-be-string-
                      - invalid_items.quantity--items-quantity-must-be-number-
                      - >-
                        invalid_items.currency_id--items-currency-id-must-be-string-
                      - >-
                        invalid_items.unit_price--items-unit-price-must-be-number-
                      - >-
                        invalid_items.total_amount--items-total-amount-must-be-number-
                      - invalid_title--title-must-be-string-
                      - invalid_unit_measure--unit-measure-must-be-present-
                      - invalid_quantity--quantity-must-be-present-
                      - invalid_unit_price--unit-price-must-be-present-
                      - invalid_description--description-must-be-present-
                      - invalid_sponsor.id--sponsor-id-must-be-number-
                      - invalid_id--sponsor-id-must-be-present-
                      - invalid_cash_out.amount--cash-out-amount-must-be-number-
                      - invalid_amount--cash-out-amount-must-be-present-
                      - >-
                        error_creating_seller_qr_order--The-cash-out-is-required-when-order-has-no-items-
                      - >-
                        invalid_expiration_date--Expiration-date-must-be-a-valid-and-future-date-
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - in_store_order_creation_error--Failed-to-create-order-
