openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /point/integration-api/devices/{deviceid}/payment-intents:
    post:
      tags:
      - $ref: '#/tags/mp-point'
      summary: Create payment intent
      x-summary-i18n:
        eng: Create payment intent
        spa: Crear intención de pago
        por: Criar intenção de pagamento
      description: This endpoint allows to create a payment intent for a device
      x-description-i18n:
        eng: This endpoint allows to create a payment intent for a device
        spa: Este endpoint permite crear una intención de pago para un dispositivo
        por: Este endpoint permite que você crie uma intenção de pagamento para um dispositivo
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          schema:
            type: string
            example: sandbox
        - name: deviceId
          in: path
          description: identifier of the device that will have a payment intent queued
          x-description-i18n:
            eng: identifier of the device that will have a payment intent queued
            spa: identificador del dispositivo que tendrá un intento de pago en cola
            por: identificador do dispositivo que terá uma tentativa de pagamento em fila
          required: true
          schema:
            type: string
            example: "{deviceId}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  format: int64
                  required: true
                  example: 1500
                  minimum: 1
                  description: A positive integer representing how much to charge. The value must have two decimal places in the integer part (e.g., 175 to charge $1.75). 
                  x-description-i18n:
                    eng: A positive integer representing how much to charge. The value must have two decimal places in the integer part (e.g., 175 to charge $1.75). 
                    spa: Un valor entero positivo que representa cuánto cobrar. El valor debe tener dos decimales en la parte entera (por ejemplo, 175 para cobrar $1,75). 
                    por: Um valor inteiro positivo que representa quanto carregar. O valor deve ter duas casas decimais na parte inteira (por exemplo, 175 para cobrar R$ 1,75). 
                description:
                  type: string
                  example: "your payment intent description"
                  description: payment intent description
                  x-description-i18n:
                    eng: payment intent description
                    spa: descripción de la intención de pago
                    por: descrição da intenção de pagamento
                payment:
                  type: object
                  description: properties of the payment intent
                  x-description-i18n:
                    eng: properties of the payment intent
                    spa: propiedades de la intención de pago
                    por: propriedades da intenção de pagamento
                  properties:
                    installments:
                      type: integer
                      example: 1
                      description: An integer value that must be between 1 and 72, this value can be setted only if type field is equal to credit_card
                      x-description-i18n:
                        eng: An integer value that must be between 1 and 72, this value can be setted only if type field is equal to credit_card
                        spa: Un valor entero que debe estar entre 1 y 72, este valor se puede configurar solo si el campo de tipo es igual a credit_card
                        por: Um valor inteiro que deve estar entre 1 e 72, este valor pode ser configurado somente se o campo type for igual a credit_card
                    type:
                      type: string
                      example: credit_card
                      description: An alphanumeric value that must be one of this [credit_card, debit_card or voucher_card]
                      x-description-i18n:
                        eng: An alphanumeric value that must be one of this [credit_card, debit_card or voucher_card]
                        spa: Un valor alfanumérico que debe ser uno de estos [credit_card, debit_card o voucher_card]
                        por: Um valor alfanumérico que deve ser um destes [credit_card, debit_card ou voucher_card]
                    installments_cost:
                      type: string
                      example: "seller"
                      description: A string value that must be one of this [seller or buyer], this value can be setted only if type field is equal to credit_card
                      x-description-i18n:
                        eng: A string value that must be one of this [seller or buyer], this value can be setted only if type field is equal to credit_card
                        spa: Un valor de string que debe ser uno de este [vendedor o comprador], este valor se puede establecer solo si el campo de tipo es igual a credit_card
                        por: Um valor de string que deve ser um destes [vendedor ou comprador], esse valor pode ser definido somente se o campo de tipo for igual a credit_card
                    voucher_type:
                      type: string
                      description: A string value that must be one of this [sodexo or alelo], this value can be setted only if type field is equal to voucher_card
                      x-description-i18n:
                        eng: A string value that must be one of this [sodexo or alelo], this value can be setted only if type field is equal to voucher_card
                        spa: Un valor de string que debe ser uno de estos [sodexo o alelo], este valor se puede configurar solo si el campo de tipo es igual a voucher_card
                        por: Um valor de string que deve ser um desses [sodexo ou alelo], este valor pode ser configurado somente se o campo tipo for igual a voucher_card
                  example: 
                   installments: 1
                   type: "credit_card"
                   installments_cost: "buyer"
                additional_info:
                  type: object
                  description: payment intent additional info
                  x-description-i18n:
                    eng: payment intent additional info
                    spa: información adicional de intención de pago
                    por: informações adicionais de intenção de pagamento
                  properties:
                    external_reference:
                      type: string
                      example: "4561ads-das4das4-das4754-das456"
                      description: An alphanumeric value can be an identificator in your application. It will be returned in the Webhook notification
                      x-description-i18n:
                        eng: An alphanumeric value can be an identificator in your application. It will be returned in the Webhook notification
                        spa: Un valor alfanumérico puede ser un identificador en tu aplicación. Se devolverá en la notificación de Webhook.
                        por: Um valor alfanumérico pode ser um identificador em seu aplicativo. Ele será retornado na notificação do Webhook.
                    print_on_terminal:
                      type: boolean
                      example: true
                      description: A boolean value that determines if you want to print the ticket on the device
                      x-description-i18n:
                        eng: A boolean value that determines if you want to print the ticket on the device
                        spa: Un valor booleano que determina si desea imprimir el ticket en el dispositivo
                        por: Um valor booleano que determina se você deseja imprimir o ticket no dispositivo
              required: 
               - amount

      responses:
        '200':
          description: Success - Payment intent succesfully created
          x-description-i18n:
            eng: Success - Payment intent succesfully created
            spa: Éxito - intención de pago creada con éxito
            por: Sucesso - intenção de pagamento criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "7f25f9aa-eea6-4f9c-bf16-a341f71ba2f1"
                    description: payment intent identifier
                    x-description-i18n:
                      eng: payment intent identifier
                      spa: identificador de intención de pago
                      por: identificador de intenção de pagamento
                  device_id:
                    type: string
                    example: "INGENICO_MOVE2500__12345678"
                    description: identifier of the device that have a payment intent queued
                    x-description-i18n:
                      eng: identifier of the device that have a payment intent queued
                      spa: identificador del dispositivo que tiene una intención de pago en cola
                      por: identificador do dispositivo que tem intenção de pagamento em fila
                  amount:
                    type: integer
                    format: int64
                    example: 1500
                    description: payment intent amount
                    x-description-i18n:
                      eng: payment intent amount
                      spa: importe de la intención de pago
                      por: valor da intenção de pagamento
                  description:
                    type: string
                    example: "your payment intent description"
                    description: payment intent description
                    x-description-i18n:
                      eng: payment intent description
                      spa: descripción de la intención de pago
                      por: descrição da intenção de pagamento
                  payment:
                    type: object
                    properties:
                      installments:
                        type: integer
                        example: 1
                        description: An integer value that must be between 1 and 72, this value can be setted only if type field is equal to credit_card
                        x-description-i18n:
                          eng: An integer value that must be between 1 and 72, this value can be setted only if type field is equal to credit_card
                          spa: Un valor entero que debe estar entre 1 y 72, este valor se puede configurar solo si el campo de tipo es igual a credit_card
                          por: Um valor inteiro que deve estar entre 1 e 72, este valor pode ser configurado somente se o campo type for igual a credit_card
                      type:
                        type: string
                        example: "credit_card"
                        description: An alphanumeric value that must be one of this [credit_card, debit_card or voucher_card]
                        x-description-i18n:
                          eng: An alphanumeric value that must be one of this [credit_card, debit_card or voucher_card]
                          spa: Un valor alfanumérico que debe ser uno de estos [credit_card, debit_card o voucher_card]
                          por: Um valor alfanumérico que deve ser um destes [credit_card, debit_card ou voucher_card]
                      installments_cost:
                        type: string
                        example: "seller"
                        description: A string value that must be one of this [seller or buyer], this value can be setted only if type field is equal to credit_card
                        x-description-i18n:
                          eng: A string value that must be one of this [seller or buyer], this value can be setted only if type field is equal to credit_card
                          spa: Un valor de string que debe ser uno de este [vendedor o comprador], este valor se puede establecer solo si el campo de tipo es igual a credit_card
                          por: Um valor de string que deve ser um destes [vendedor ou comprador], esse valor pode ser definido somente se o campo de tipo for igual a credit_card
                  additional_info:
                    type: object
                    properties:
                      external_reference:
                        type: string
                        example: "someone-reference-from-your-application"
                        description: An alphanumeric value can be an identificator in your application. It will be returned in the Webhook notification
                        x-description-i18n:
                          eng: An alphanumeric value can be an identificator in your application. It will be returned in the Webhook notification
                          spa: Un valor alfanumérico puede ser un identificador en tu aplicación. Se devolverá en la notificación de Webhook.
                          por: Um valor alfanumérico pode ser um identificador em seu aplicativo. Ele será retornado na notificação do Webhook.
                      print_on_terminal:
                        type: boolean
                        example: true
                        description: A boolean value that determines if you want to print the ticket on the device
                        x-description-i18n:
                          eng: A boolean value that determines if you want to print the ticket on the device
                          spa: Un valor booleano que determina si desea imprimir el ticket en el dispositivo
                          por: Um valor booleano que determina se você deseja imprimir o ticket no dispositivo
        '401':
            description: Error
            x-description-i18n:
              eng: Error
              spa: Error
              por: Erro
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    errorKey:
                      type: string
                      enum:
                        - 401-- Unauthorized - Token is invalid
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                 type: object
                 properties:
                    errorKey:
                      type: string
                      enum:
                        - 400-- Bad request - Field is missing o incorrect
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                    errorKey:
                      type: string
                      enum:
                        - 403-- Forbidden - Integrator isn't registered
        '409':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                    errorKey:
                      type: string
                      enum:
                        - 409-- Conflict error - Device has a queued payment intent
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                 type: object
                 properties:
                    errorKey:
                      type: string
                      enum:
                        - 500-- Internal server error