openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /point/integration-api/devices:
    get:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Get devices
      x-summary-i18n:
        eng: Get devices
        spa: Obtener dispositivos
        por: Obter dispositivos
      description: This endpoint allows you to get the devices. Devices can be filtered by pos and/or store
      x-description-i18n:
        eng: This endpoint allows you to get the devices. Devices can be filtered by pos and/or store
        spa: Este endpoint te permite obtener los dispositivos. Los dispositivos se pueden filtrar por punto de venta y/o tienda
        por: Este endpoint permite que você obtenha os dispositivos. Os dispositivos podem ser filtrados por ponto de venda e/ou loja
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          x-description-i18n:
            eng: This is a temporary header, it should be used just for development with the value "sandbox"
            spa: Este es un header temporal, debe usarse solo para desarrollo con el valor "sandbox"
            por: Este é um header temporário, deve ser usado apenas para desenvolvimento com o valor "sandbox"
          schema:
            type: string
            example: sandbox
        - name: store_id
          in: query
          description: Devices Store Id filter (Optional)
          x-description-i18n:
            eng: Devices Store Id filter (Optional)
            spa: Filtro de Id de tienda de dispositivos (opcional)
            por: Filtro de ID de loja de dispositivos (opcional)
          schema:
            type: string
            example: "1235456678"
        - name: pos_id
          in: query
          description: Devices Pos Id filter (Optional)
          x-description-i18n:
            eng: Devices Pos Id filter (Optional)
            spa: Filtro de Id de PDV de dispositivos (opcional)
            por: Filtro de ID de PDV de dispositivos (opcional)
          schema:
            type: integer
            example: 1235456678
        - name: limit
          in: query
          description: pagination limit
          x-description-i18n:
            eng: pagination limit
            spa: límite de paginación
            por: limite de paginação
          schema:
            type: integer
            example: 50
        - name: offset
          in: query
          description: pagination offset
          x-description-i18n:
            eng: pagination offset
            spa: offset de paginación
            por: offset de paginação
          schema:
            type: integer
            example: 0

      responses:
        '200':
          description: Success - Paged devices list
          x-description-i18n:
            eng: Success - Paged devices list
            spa: Exito - lista de dispositivos paginados
            por: Sucesso - lista de dispositivos paginados
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    description:
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "INGENICO_MOVE2500__ING-23976989"
                        operating_mode:
                          type: string
                          example: "STANDALONE"
                  paging:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                        description:
                      offset:
                        type: integer
                        example: 0
                        description:
                      limit:
                        type: integer
                        example: 50
                        description:
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400-- Bad Request - query param incorrect format
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401-- Unauthorized - token is invalid
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Forbidden Integrator isn't registered
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/devices/{deviceid}/payment-intents:
    post:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Create payment intent
      x-summary-i18n:
        eng: Create payment intent
        spa: Crear intención de pago
        por: Criar intenção de pagamento
      description: This endpoint allows to create a payment intent for a device
      x-description-i18n:
        eng: This endpoint allows to create a payment intent for a device
        spa: Este endpoint permite crear una intención de pago para un dispositivo
        por: Este endpoint permite que você crie uma intenção de pagamento para um dispositivo
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          schema:
            type: string
            example: sandbox
        - name: deviceId
          in: path
          description: identifier of the device that will have a payment intent queued
          x-description-i18n:
            eng: identifier of the device that will have a payment intent queued
            spa: identificador del dispositivo que tendrá un intento de pago en cola
            por: identificador do dispositivo que terá uma tentativa de pagamento em fila
          required: true
          schema:
            type: string
            example: "{deviceId}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  format: int64
                  example: 1500
                  required: true
                  minimum: 1
                  description: A positive integer representing how much to charge. The value must have two decimal places in the integer part (e.g., 175 to charge $1.75). The value must be between [100, 250000] (e.g., a value to charge between $1,00 to $250.000,00 ARS)
                  x-description-i18n:
                    eng: A positive integer representing how much to charge. The value must have two decimal places in the integer part (e.g., 175 to charge $1.75). The value must be between [100, 250000] (e.g., a value to charge between $1,00 to $250.000,00 ARS)
                    spa: Un valor entero positivo que representa cuánto cobrar. El valor debe tener dos decimales en la parte entera (por ejemplo, 175 para cobrar $1,75). El valor debe estar entre [100, 250000] (por ejemplo, un valor a cobrar entre $1,00 y $250.000,00 ARS)
                    por: Um número inteiro positivo que representa quanto carregar. O valor deve ter duas casas decimais na parte inteira (por exemplo, 175 para cobrar R$ 1,75). O valor deve estar entre [100.250.000] (por exemplo, um recebível entre $ 1,00 e $ 250.000,00 ARS)
                additional_info:
                  type: object
                  required: true
                  description: payment intent additional info
                  x-description-i18n:
                    eng: payment intent additional info
                    spa: información adicional de intención de pago
                    por: informações adicionais de intenção de pagamento
                  properties:
                    external_reference:
                      type: string
                      example: "some-reference-from-your-application"
                      x-example-i18n:
                        eng: some-reference-from-your-application
                        spa: alguna-referencia-sobre-tu-aplicación
                        por: alguma-referência-sobre-seu-aplicativo
                      description: An alphanumeric value can be a identificator in your application. It will be returned in the Webhook notification
                      x-description-i18n:
                        eng: An alphanumeric value can be a identificator in your application. It will be returned in the Webhook notification
                        spa: Un valor alfanumérico puede ser un identificador en tu aplicación. Se devolverá en la notificación de Webhook.
                        por: Um valor alfanumérico pode ser um identificador em seu aplicativo. Ele será retornado na notificação do Webhook.
                    print_on_terminal:
                      type: boolean
                      example: true
                      description: A boolean value that determines if you want to print the ticket on the device
                      x-description-i18n:
                        eng: A boolean value that determines if you want to print the ticket on the device
                        spa: Un valor booleano que determina si desea imprimir el ticket en el dispositivo
                        por: Um valor booleano que determina se você deseja imprimir o ticket no dispositivo
                    ticket_number:
                      type: string
                      required: true
                      example: S0392JED
                      description: An alphanumeric value to identify the invoice or ticket number. It will be printed on the device ticket
                      x-description-i18n:
                        eng: An alphanumeric value to identify the invoice or ticket number. It will be printed on the device ticket
                        spa: Un valor alfanumérico para identificar el número de factura o ticket. Se imprimirá en el ticket del dispositivo.
                        por: Um valor alfanumérico para identificar o número da fatura ou do bilhete. Ele será impresso no bilhete do dispositivo.


      responses:
        '200':
          description: Success - Payment intent succesfully created
          x-description-i18n:
            eng: Success - Payment intent succesfully created
            spa: Exito - intención de pago creada con éxito
            por: Sucesso - intenção de pagamento criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "7f25f9aa-eea6-4f9c-bf16-a341f71ba2f1"
                    description: payment intent identifier
                    x-description-i18n:
                      eng: payment intent identifier
                      spa: identificador de intención de pago
                      por: identificador de intenção de pagamento
                  device_id:
                    type: string
                    example: "INGENICO_MOVE2500__ING-23976989"
                    description: identifier of the device that have a payment intent queued
                    x-description-i18n:
                      eng: identifier of the device that have a payment intent queued
                      spa: identificador del dispositivo que tiene una intención de pago en cola
                      por: identificador do dispositivo que tem intenção de pagamento em fila
                  amount:
                    type: integer
                    format: int64
                    example: 1500
                    description: payment intent amount
                    x-description-i18n:
                      eng: payment intent amount
                      spa: importe de la intención de pago
                      por: valor da intenção de pagamento
                  additional_info:
                    type: object
                    properties:
                      external_reference:
                        type: string
                        example: "some-reference-from-your-application"
                        x-example-i18n:
                          eng: some-reference-from-your-application
                          spa: alguna-referencia-sobre-tu-aplicación
                          por: alguma-referência-sobre-seu-aplicativo
                        description: An alphanumeric value can be a identificator in your application. It will be returned in the Webhook notification
                        x-description-i18n:
                          eng: An alphanumeric value can be a identificator in your application. It will be returned in the Webhook notification
                          spa: Un valor alfanumérico puede ser un identificador en tu aplicación. Se devolverá en la notificación de Webhook.
                          por: Um valor alfanumérico pode ser um identificador em seu aplicativo. Ele será retornado na notificação do Webhook.
                      print_on_terminal:
                        type: boolean
                        example: true
                        description: A boolean value that determines if you want to print the ticket on the device
                        x-description-i18n:
                          eng: A boolean value that determines if you want to print the ticket on the device
                          spa: Un valor booleano que determina si desea imprimir el ticket en el dispositivo
                          por: Um valor booleano que determina se você deseja imprimir o ticket no dispositivo
                      ticket_number:
                        type: string
                        example: S0392JED
                        description: An alphanumeric value to identify the invoice or ticket number. It will be printed on the device ticket
                        x-description-i18n:
                          eng: An alphanumeric value to identify the invoice or ticket number. It will be printed on the device ticket
                          spa: Un valor alfanumérico para identificar el número de factura o ticket. Se imprimirá en el ticket del dispositivo.
                          por: Um valor alfanumérico para identificar o número da fatura ou do bilhete. Ele será impresso no bilhete do dispositivo.
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401-- Unauthorized Token is invalid
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400-- Bad request - Field is missing o incorrect
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Forbidden - Integrator isn't registered
        '409':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 409-- Conflict-error - Device has a queued payment intent
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/devices/{deviceid}/payment-intents/{paymentintentid}:
    delete:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Cancel payment intent
      x-summary-i18n:
        eng: Cancel payment intent
        spa: Cancelar intención de pago
        por: Cancelar intenção de pagamento
      description: This endpoint allows to cancel a payment intent
      x-description-i18n:
        eng: This endpoint allows to cancel a payment intent
        spa: Este endpoint permite cancelar una intención de pago
        por: Este endpoint permite cancelar uma intenção de pagamento
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          schema:
            type: string
            example: sandbox
        - name: deviceId
          in: path
          description: identifier of the device that will have a payment intent queued
          x-description-i18n:
            eng: identifier of the device that will have a payment intent queued
            spa: identificador del dispositivo que tendrá un intento de pago en cola
            por: identificador do dispositivo que terá uma tentativa de pagamento em fila
          required: true
          schema:
            type: string
            example: "{deviceId}"
        - name: paymentIntentId
          in: path
          description: Payment Intent ID
          x-description-i18n:
            eng: Payment Intent ID
            spa: ID de intención de pago
            por: ID de intenção de pagamento
          required: true
          schema:
            type: string
            example: "{paymentIntentId}"
      responses:
        '200':
          description: Payment intent succesfully canceled
          x-description-i18n:
            eng: Payment intent succesfully canceled
            spa: Intención de pago cancelada con éxito
            por: Intenção de pagamento cancelada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "d71e88d6-6281-416b-b8ed-592c27352c99"
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401-- Unauthorized Token is invalid
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Forbidden - Integrator isn't registered
        '409':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorkey:
                    type: string
                    enum:
                      - 409-- Conflict error - Payment intent is blocked by terminal
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/payment-intents/{paymentintentid}:
    get:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Search payment intent
      x-summary-i18n:
        eng: Search payment intent
        spa: Buscar en intención de pago
        por: Buscar em intenção de pagamento
      description: This endpoint allows to get information of payment intent. This endpoint will provide the payment intent’s information, its final status and the payment-id, which can be used to get the final status of the transaction in the Payment-API. The Webhook notifications are the main communication point of the payment intent information, then this endpoint should be used for testing and eventualities, and not for polling, because it has restrictions like consume by time, allows to get information one request per second
      x-description-i18n:
        eng: This endpoint allows to get information of payment intent. This endpoint will provide the payment intent’s information, its final status and the payment-id, which can be used to get the final status of the transaction in the Payment-API. The Webhook notifications are the main communication point of the payment intent information, then this endpoint should be used for testing and eventualities, and not for polling, because it has restrictions like consume by time, allows to get information one request per second
        spa: Este endpoint permite obtener información sobre la intención de pago. Este endpoint proporcionará la información de la intención de pago, su estado final y la identificación del pago, que se puede usar para obtener el estado final de la transacción en la API de pago. Las notificaciones de Webhook son el principal punto de comunicación de la información de intención de pago, entonces este endpoint debe usarse para pruebas y eventualidades, y no para consultas recurrentes, ya que tiene restricciones como consumo por tiempo, permite obtener información una solicitud por segundo
        por: Este endpoint permite obter informações sobre a intenção de pagamento. Este endpoint fornecerá as informações da intenção de pagamento, seu status final e o ID do pagamento, que pode ser usado para obter o status final da transação na API de pagamento. As notificações do webhook são o principal ponto de comunicação das informações de intenção de pagamento, portanto este endpoint deve ser utilizado para testes e contingências, e não para consultas recorrentes, pois possui restrições como consumo por tempo, permite uma requisição por segundo para obter informações
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          required: false
          schema:
            type: string
            example: sandbox
        - name: paymentIntentId
          in: path
          description: Payment Intent Id
          required: true
          schema:
            type: string
            example: "{paymentIntentId}"
      responses:
        '200':
          description: success - Details of Payment Intent
          x-description-i18n:
            eng: success - Details of Payment Intent
            spa: Exito - detalles de la intención de pago
            por: sucesso - detalhes da intenção de pagamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description:
                    example: "7f25f9aa-eea6-4f9c-bf16-a341f71ba2f1"
                  state:
                    type: string
                    description:
                    example: "FINISHED"
                  amount:
                    type: integer
                    format: int64
                    description:
                    example: 1500
                  device_id:
                    type: string
                    description:
                    example: "INGENICO_MOVE2500__ING-23976989"
                  payment:
                    type: object
                    properties:
                      id:
                        type: int
                        example: 16499678033
                  additional_info:
                    type: object
                    properties:
                      external_reference:
                        type: string
                        description:
                        example: "some-reference-from-your-application"
                        x-example-i18n:
                          eng: some-reference-from-your-application
                          spa: alguna-referencia-sobre-tu-aplicación
                          por: alguma-referência-sobre-seu-aplicativo
                      print_on_terminal:
                        type: boolean
                        description:
                        example: true
                      ticket_number:
                        type: string
                        example: S0392JED
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401-- Unauthorized - Token is invalid
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Forbidden - Integrator isn't registered
        '404':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 404-- Not-found - Payment intent doesn't exist
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/payment-intents/events:
    get:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Get payment intent list
      x-summary-i18n:
        eng: Get payment intent list
        spa: Obtener lista de intenciones de pago
        por: Obter lista de intenções de pagamento
      description: This endpoint allows to get a list of payment intents with their final states between a date range. This endpoint has a restriction that the number of days between dates must not exceed 30
      x-description-i18n:
        eng: This endpoint allows to get a list of payment intents with their final states between a date range. This endpoint has a restriction that the number of days between dates must not exceed 30
        spa: Este endpoint permite obtener una lista de intentos de pago con sus estados finales entre un rango de fechas. Este endpoint tiene la restricción de que el número de días entre fechas no debe exceder los 30
        por: Este endpoint permite obter uma lista de tentativas de pagamento com seus status finais entre um intervalo de datas. Este endpoint tem a restrição de que o número de dias entre as datas não deve exceder 30
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          schema:
            type: string
            example: sandbox
        - name: startDate
          in: query
          description: Initial date (YYYY-MM-DD)
          x-description-i18n:
            eng: Initial date (YYYY-MM-DD)
            spa: Fecha inicial (AAAA-MM-DD)
            por: Data de início (AAAA-MM-DD)
          required: true
          example: "1948-01-16"
          schema:
            type: string
            example: "1948-01-16"
        - name: endDate
          in: query
          description: End date (YYYY-MM-DD)
          x-description-i18n:
            eng: End date (YYYY-MM-DD)
            spa: Fecha final (AAAA-MM-DD)
            por: Data final (AAAA-MM-DD)
          required: true
          example: "2022-01-25"
          schema:
            type: string
            example: "2022-01-25"
      responses:
        '200':
          description: Success - List of payment intents with their final states between a date range (startDate, endDate)
          x-description-i18n:
            eng: Success - List of payment intents with their final states between a date range (startDate, endDate)
            spa: Éxito - lista de intenciones de pago con sus estados finales entre un rango de fechas (startDate, endDate)
            por: Sucesso - lista de intenções de pagamento com seus status finais entre um intervalo de datas (startDate, endDate)
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        payment_intent_id:
                          type: string
                          example: "51374ba8-50e4-4633-a000-3e42ccd245f9"
                        status:
                          type: string
                          example: "FINISHED"
                        created_on:
                          type: string
                          format: date-time
                          example: "2021-08-30T22:38:05Z"
                    example:
                      - payment_intent_id: "51374ba8-50e4-4633-a000-3e42ccd245f9"
                        status: "FINISHED"
                        created_on: "2021-08-30T22:37:57Z"
                      - payment_intent_id: "41374ba8-50e4-4633-a000-3e42ccd245f8"
                        status: "PROCESSING"
                        created_on: "2021-08-30T22:38:05Z"
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400-- Bad-Request - startDate and/or endDate are misssing or incorrect
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401-- Token is invalid
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Forbidden - Integrator isn't registered
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/payment-intents/{paymentintentid}/events:
    get:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Get last payment intent state
      x-summary-i18n:
        eng: Get last payment intent state
        spa: Obtener último estado de una intención de pago
        por: Obter último status de uma intenção de pagamento
      description: This endpoint allows to find the last state of a payment intent
      x-description-i18n:
        eng: This endpoint allows to find the last state of a payment intent
        spa: Este endpoint permite encontrar el último estado de una intención de pago
        por: Este endpoint permite que você encontre o último status de uma intenção de pagamento
      parameters:
        - name: x-test-scope
          in: header
          description: This is a temporary header, it should be used just for development with the value "sandbox"
          schema:
            type: string
            example: sandbox
        - name: paymentIntentId
          in: path
          description: Payment intent Id
          required: true
          schema:
            type: string
            example: "{paymentIntentId}"
      responses:
        '200':
          description: Success - Last payment intent state
          x-description-i18n:
            eng: Success - Last payment intent state
            spa: Éxito - estado de la última intención de pago
            por: Sucesso - status da última intenção de pagamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description:
                    example: "FINISHED"
                  created_on:
                    type: string
                    description:
                    format: date
                    example: "2021-09-03T20:59:10Z"
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401-- Unauthorized - Token is invalid
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Forbidden - Integrator isn't registered
        '404':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 404-- Not Found - Payment Intent doesn't exist
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/devices/{device-id}:
    patch:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Change operating mode
      x-summary-i18n:
        eng: Change operating mode
        spa: Cambiar el modo de operación
        por: Alterar modo de operação
      description: This endpoint allows you to change the device operating mode, the options for operating mode are PDV and STANDALONE. PDV is used when you want to use device in mode integration with our API and STANDALONE is used when you want to process payments without our API
      x-description-i18n:
        eng: This endpoint allows you to change the device operating mode, the options for operating mode are PDV and STANDALONE. PDV is used when you want to use device in mode integration with our API and STANDALONE is used when you want to process payments without our API
        spa: Este endpoint te permite cambiar el modo de operación del dispositivo, las opciones para el modo de operación son PDV y STANDALONE. PDV se usa cuando deseas usar el dispositivo en modo de integración con nuestra API y STANDALONE se usa cuando deseas procesar pagos sin nuestra API
        por: Este endpoint permite alterar o modo de operação do dispositivo, as opções para o modo de operação são PDV e STANDALONE. PDV é usado quando você deseja usar o dispositivo em modo de integração com nossa API e STANDALONE é usado quando você deseja processar pagamentos sem nossa API
      parameters:
        - name: device-id
          in: path
          description: DeviceId
          required: true
          schema:
            type: string
            example: "{deviceId}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operating_mode:
                  type: string
                  required: true
                  nullable: false
                  example: "PDV"
                  enum:
                    - PDV -- point of sale, integrated mode with the API.
                    - STANDALONE -- default device configuration, mode not integrated with the API.
      responses:
        '200':
          description: Success - Operating mode successfully changed
          x-description-i18n:
            eng: Success - Operating mode successfully changed
            spa: Éxito - Modo de operación cambió correctamente
            por: Sucesso - Modo de operação alterado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  operating_mode:
                    type: string
                    nullable: false
                    required: true
                    example: "PDV"
                    enum:
                      - PDV -- point of sale, integrated mode with the API.
                      - STANDALONE -- default device configuration, mode not integrated the API.
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400-- Bad-Request - Device id incorrect format
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403-- Unauthorized - User not logged into the device
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
  /point/integration-api/integrator:
    patch:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Update integrator config.
      x-summary-i18n:
        eng: Update integrator config
        spa: Actualizar configuración
        por: Atualizar as configurações do integrador
      description: This endpoint allows you to update the integrator notification settings
      x-description-i18n:
        eng: This endpoint allows you to update the integrator notification settings
        spa: Este endpoint te permite actualizar las configuraciones del integrador
        por: Este endpoint permite atualizar as configurações do integrador
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_channel_devices:
                  type: array
                  items:
                    type: string
                  nullable: true
                  example: [ "email" ]
                  enum: [ "email" ]
      responses:
        '204':
          description: Success - Configuration updated
          x-description-i18n:
            eng: Success - Configuration updated
            spa: Éxito - Configuración actualizada
            por: Sucesso - Configuração atualizada
        '400':
          description: Bad Request
          x-description-i18n:
            eng: Bad Request Error
            spa: Bad Request Error
            por: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "channel not allowed. Supported channels are: email"
                  error:
                    type: string
                    example: "bad_request"
                  status:
                    type: integer
                    format: int32
                    example: 400
                  cause:
                    type: array
                    items:
                      type: string
                      example: [ ]

        '401':
          description: Unauthorized. Token is invalid
          x-description-i18n:
            eng: Unauthorized. Token is invalid
            spa: No autorizado. El token no es válido
            por: Não autorizado. O token é inválido
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "invalid_token"
                  error:
                    type: string
                    example: "not_found"
                  status:
                    type: integer
                    format: int32
                    example: 401
                  cause:
                    type: array
                    items:
                      type: string
                      example: [ ]
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
    get:
      tags:
        - $ref: '#/tags/mp-point'
      summary: Get integrator config.
      x-summary-i18n:
        eng: Get integrator config
        spa: Obtener configuración del integrador
        por: Obter configurações do integrador
      description: This endpoint allows you to update the integrator notification settings
      x-description-i18n:
        eng: This endpoint allows you to get the integrator information and the integrator notification settings
        spa: This endpoint allows you to get the integrator information and the integrator notification settings.
        por: This endpoint allows you to get the integrator information and the integrator notification settings.
      responses:
        '200':
          description: Success - Get the integrator information and configuration
          x-description-i18n:
            eng: Get the integrator information and configuration
            spa: Get the integrator information and configuration
            por: Get the integrator information and configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  notification_url_enabled:
                    type: boolean
                  event_channel_devices:
                    type: array
                    items:
                      type: string
                example: {
                  "id": 1147131971,
                  "created_at": "0001-01-01T00:00:00Z",
                  "updated_at": "0001-01-01T00:00:00Z",
                  "notfication_url_enabled": true,
                  "event_channel_devices": [
                      "email"
                  ]
                }
        '401':
          description: Unauthorized. Token is invalid
          x-description-i18n:
            eng: Unauthorized. Token is invalid
            spa: Unauthorized. Token is invalid
            por: Unauthorized. Token is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "invalid_token"
                  error:
                    type: string
                    example: "not_found"
                  status:
                    type: integer
                    format: int32
                    example: 401
                  cause:
                    type: array
                    items:
                      type: string
                      example: [ ]
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500-- Internal server error
