openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /merchant_orders:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
      summary: Create order
      description: Generate an order to associate it with the payment preference and obtain the necessary URL to start the payment flow
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_reference:
                  type: string
                  description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                  example: default
                preference_id:
                  type: string
                  description: Identifier of the payment preference associated to the order
                  example: Preference identification
                marketplace:
                  type: string
                  description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                notification_url:
                  type: string
                  description: URL where you'd like to receive a payment notification.
                sponsor_id:
                  type: number
                  description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                payer:
                  type: object
                  description: Buyer's information.
                  properties:
                    id:
                      type: number
                      description: Buyer id.
                      example: 123
                    email:
                      type: string
                      description: Deprecated field, will return an empty string.
                    nickname:
                      type: string
                      description: Buyer nickname.
                      example: JOHN
                site_id:
                  type: string
                  example: MLA
                  description: Site ID.
                  enum:
                    - MLA -- Mercado Libre Argentina
                    - MLB -- Mercado Libre Brasil
                    - MLM -- Mercado Libre México
                    - MLC -- Mercado Libre Chile
                    - MLU -- Mercado Libre Uruguay
                    - MCO -- Mercado Libre Colombia
                    - MPE -- Mercado Libre Perú
                items:
                  type: array
                  description: items information.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Item id.
                        example: item id
                      category_id:
                        type: string
                        description: This is a free string where the item category can be added.
                        example: item category
                      currency_id:
                        $ref: '#/components/schemas/currency_id'
                      description:
                        type: string
                        description: Item description.
                        example: item description
                      picture_url:
                        type: string
                        description: Item picture URL.
                        example: item picture
                      quantity:
                        type: number
                        description: Item quantity.
                        example: 1
                      unit_price:
                        type: number
                        description: Item unit price.
                        example: 5
                      title:
                        type: string
                        description: Item title. It will be displayed in the payment process.
                        example: item title
                additional_info:
                  type: string
                  description: Additional information.
                application_id:
                  type: string
                  description: application identifier.
                  example: 10000000000000000
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 9999999999
                    description: Unique identifier of the order generated by Mercado Pago
                  status:
                    $ref: '#/components/schemas/status'
                  external_reference:
                    type: string
                    example: default
                    description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                  preference_id:
                    type: string
                    example: Preference identification
                    description: Identifier of the payment preference associated to the order
                  collector:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Identifier of the collecting Mercado Pago account
                      nickname:
                        type: string
                        format: nullable
                        description: Collector nickname.
                    description: Attributes of the Mercado Pago account collecting the payment
                  marketplace:
                    type: string
                    example: NONE
                    description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment or merchant_order notification.
                  date_created:
                    type: string
                    example: 2018-09-14T17:11:31.000Z
                    description: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                  last_updated:
                    type: string
                    example: 2018-09-14T17:11:43.000Z
                    description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  shipping_cost:
                    type: number
                    example: 0
                    description: Shipping cost, if applicable
                  total_amount:
                    type: number
                    example: 5
                    description: Total amount of the transaction in local currency.
                  site_id:
                    type: string
                    example: MLA
                    description: Site ID.
                    enum:
                      - MLA -- Mercado Libre Argentina
                      - MLB -- Mercado Libre Brasil
                      - MLM -- Mercado Libre México
                      - MLC -- Mercado Libre Chile
                      - MLU -- Mercado Libre Uruguay
                      - MCO -- Mercado Libre Colombia
                      - MPE -- Mercado Libre Perú
                  paid_amount:
                    type: number
                    example: 5
                    description: Paid amount
                  refunded_amount:
                    type: number
                    example: 0
                    description: Refunded amount
                  payer:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Payer ID.
                      email:
                        type: string
                        description: Payer’s email address.
                    description: Buyer's information.
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: item id
                          description: Item id.
                        category_id:
                          type: string
                          example: item category
                          description: This is a free string where the item category can be added.
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        description:
                          type: string
                          example: item description
                          description: Item description.
                        picture_url:
                          type: string
                          example: item picture url
                          description: Item image URL.
                        title:
                          type: string
                          example: item title
                          description: Item title. It will be displayed in the payment process.
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity.
                        unit_price:
                          type: number
                          example: 5
                          description: Item unit price.
                    description: Order item attributes
                  cancelled:
                    type: boolean
                    description: Boolean value that indicates if the order was cancelled
                  additional_info:
                    type: string
                    example: additional information
                    description: Additional information.
                  application_id:
                    type: number
                    example: 10000000000000000
                    description: application identifier.
                  order_status:
                    $ref: '#/components/schemas/order_status'
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_user_id--invalid-users-involved-
                      - >-
                        invalid_order_state--the-action-requested-is-not-valid-for-the-current-merchant-order-state-
                      - invalid_string--string-too-long-
                      - invalid_application_id--internal-server-error-
                      - invalid_items--invalid-unit-price-
                      - user_not_allowed--user-not-allowed-to-operate-
                      - invalid_operation_type--invalid-operation-type-
                      - invalid_payer--invalid-payer-identifier-
                      - invalid_id--invalid-preference-id-
                      - invalid_expired--the-preference-id-has-expired-
                      - invalid_sponsor_id--invalid-sponsor-id-
                      - invalid_marketplace--invalid-marketplace-
                      - >-
                        unmarshal_error--could-not-unmarshal-request-body-into-merchant-order-struct-
                      - invalid_url--invalid-URL--Isn-t-HTTP-or-HTTPS-
                      - communication_error--Error-when-calling---
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--access-denied-
                      - invalid_caller_id--invalid-caller-id
  /merchant_orders/search:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/qr-code'
      summary: Search orders
      description: Find all the information of the orders generated through specific filters or a specific date range
      parameters:
        - name: status
          in: query
          description: Merchant order state.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: preference_id
          in: query
          description: Payment preference identifier associated to the merchant order.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: application_id
          in: query
          description: application identifier.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: payer_id
          in: query
          description: Payer ID.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: sponsor_id
          in: query
          description: Sponsor ID in Mercado Pago.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_reference
          in: query
          description: Reference you can synchronize with your payment system.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: site_id
          in: query
          description: Country identifier that merchant order belongs to.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: marketplace
          in: query
          description: 'Origin of the payment. Default value: ''NONE'''
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: date_created_from
          in: query
          description: Order´s creation date (start search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: date_created_to
          in: query
          description: Order´s creation date (end search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: last_updated_from
          in: query
          description: Order´s last update date (start search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: last_updated_to
          in: query
          description: Order´s last update date (end search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: items
          in: query
          description: items information.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: limit
          in: query
          description: Maximum quantity of items to be returned
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: offset
          in: query
          description: Maximum quantity of items to offset
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 9999999999
                          description: id
                        status:
                          $ref: '#/components/schemas/status'
                        external_reference:
                          type: string
                          example: default
                          description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                        preference_id:
                          type: string
                          example: Preference identification
                          description: Identifier of the payment preference associated to the order
                        payments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 9999999999
                                description: Unique Payment Identifier, automatically generated by Mercado Pago
                              transaction_amount:
                                type: number
                                example: 1
                                description: Total amount of the payment attempt. It is the amount of money that is deposited to the seller. Numeric field.
                              total_paid_amount:
                                type: number
                                example: 1
                                description: Total amount charged to the payer
                              shipping_cost:
                                type: number
                                example: 0
                                description: Shipping cost, if applicable
                              currency_id:
                                $ref: '#/components/schemas/currency_id'
                              status:
                                $ref: '#/components/schemas/payment_status'
                              status_detail:
                                type: string
                                example: accredited
                                description: Detail in which the Collection resulted
                                enum:
                                  - Accredited -- credited payment.
                                  - pending_contingency -- the payment is being processed.
                                  - pending_review_manual -- the payment is under review to determine its approval or rejection.
                                  - cc_rejected_bad_filled_date -- incorrect expiration date.
                                  - cc_rejected_bad_filled_other -- incorrect card details.
                                  - cc_rejected_bad_filled_security_code -- incorrect CVV.
                                  - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                                  - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                                  - cc_rejected_card_disabled -- the card is inactive.
                                  - cc_rejected_duplicated_payment -- transacción duplicada.
                                  - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                                  - cc_rejected_insufficient_amount -- insufficient amount.
                                  - cc_rejected_invalid_installments -- invalid number of installments.
                                  - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                                  - cc_rejected_other_reason -- generic error. 
                              operation_type:
                                $ref: '#/components/schemas/operation_type'
                              date_approved:
                                type: string
                                example: 2019-04-02T18:35:35.000Z
                                description: Payment approval date
                              date_created:
                                type: string
                                example: 2019-04-02T18:35:34.000Z
                                description: Payment creation date
                              last_modified:
                                type: string
                                example: 2019-04-02T18:35:35.000Z
                                description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                              amount_refunded:
                                type: number
                                example: 0
                                description: Amount refunded. It cannot be an amount larger than total_amount.
                          description: Payment Attributes associated with the Order
                        shipments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 99999999999
                                description: Unique shipment identifier
                              shipment_type:
                                type: string
                                example: shipping
                                description: Shipment type
                              shipping_mode:
                                type: string
                                example: me2
                                description: Shipping mode.
                              picking_type:
                                type: string
                                format: nullable
                                description: Package pickup mode
                              status:
                                type: string
                                example: delivered
                                description: Shipping status
                              substatus:
                                type: string
                                format: nullable
                                description: Secondary shipping status
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: not specified
                                      description: Item code.
                                    description:
                                      type: string
                                      example: shipment item description
                                      description: Item description.
                                    quantity:
                                      type: number
                                      example: 1
                                      description: Number of items.
                                    dimensions:
                                      type: string
                                      example: 1.0x10.0x23.0100.0
                                      description: Item dimensions
                                    dimensions_source:
                                      type: string
                                      format: nullable
                                      description: Item dimensions
                                description: Shipped object attributes
                              date_created:
                                type: string
                                example: 2019-04-02T18:20:46.000Z
                                description: Shipment creation date
                              last_modified:
                                type: string
                                example: 2019-04-12T19:36:48.000Z
                                description: Shipment last modified date
                              date_first_printed:
                                type: string
                                example: 2019-04-02T18:35:40.000Z
                                description: First printed date
                              service_id:
                                type: number
                                example: 999
                                description: Shipment service identifier
                              sender_id:
                                type: number
                                example: 999999999
                                description: Sender identifier
                              receiver_id:
                                type: number
                                example: 999999999
                                description: Receiver Identifier
                              receiver_address:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    example: 9999999999
                                    description: Address ID.
                                  address_line:
                                    type: string
                                    example: address line
                                    description: Receiver address
                                  city:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        format: nullable
                                        description: City ID.
                                      name:
                                        type: string
                                        example: City Name
                                        description: City name.
                                    description: Attributes of the city associated with the receiver´s Address
                                  state:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: AR-X
                                        description: State ID.
                                      name:
                                        type: string
                                        example: state name
                                        description: State name.
                                    description: Attributes of the state associated with the receiver´s Address
                                  country:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: AR
                                        description: Country ID.
                                      name:
                                        type: string
                                        example: Argentina
                                        description: Country name.
                                    description: Attributes of the country associated with the receiver´s Address
                                  latitude:
                                    type: string
                                    example: 0
                                    description: Latitude.
                                  longitude:
                                    type: string
                                    example: 0
                                    description: Longitude.
                                  comment:
                                    type: string
                                    example: shipment comment
                                    description: Comment or additional information about the address
                                  contact:
                                    type: string
                                    example: shipment contact
                                    description: Contact information.
                                  phone:
                                    type: string
                                    example: 9999999999
                                    description: Phone number.
                                  zip_code:
                                    type: string
                                    example: 9999
                                    description: Zip Code.
                                  street_name:
                                    type: string
                                    example: Street name
                                    description: Street name.
                                  street_number:
                                    type: string
                                    example: 999
                                    description: Street number.
                                  floor:
                                    type: string
                                    format: nullable
                                    description: Floor
                                  apartment:
                                    type: string
                                    format: nullable
                                    description: Apartment.
                                description: Receiver address attributes
                              shipping_option:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    example: 999999999
                                    description: Shipping option identifier.
                                  cost:
                                    type: number
                                    example: 0
                                    description: Shipping cost.
                                  currency_id:
                                    $ref: '#/components/schemas/currency_id'
                                  shipping_method_id:
                                    type: number
                                    example: 99999
                                    description: Shipping method identifier.
                                  estimated_delivery:
                                    type: object
                                    properties:
                                      date:
                                        type: string
                                        example: 2019-04-11T03:00:00.000Z
                                        description: Estimated delivery date.
                                      time_from:
                                        type: string
                                        format: nullable
                                        description: Estimated timeframe start for delivery
                                      time_to:
                                        type: string
                                        format: nullable
                                        description: Estimated timeframe end for delivery
                                    description: Estimated delivery date.
                                  name:
                                    type: string
                                    example: Normal a domicilio
                                    description: Shipping option name
                                  list_cost:
                                    type: number
                                    example: 0
                                    description: Shipping option listing cost
                                  speed:
                                    type: object
                                    properties:
                                      handling:
                                        type: number
                                        example: 72
                                        description: Handling time
                                      shipping:
                                        type: number
                                        example: 72
                                        description: Shipping time
                                    description: Delivery option speed ​​attributes
                                description: Attributes associated with the shipping option
                          description: Shipment Attributes
                        collector:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 999999999
                              description: Identifier of the collecting Mercado Pago account
                            nickname:
                              type: string
                              format: nullable
                              description: Collector nickname.
                          description: Attributes of the Mercado Pago account collecting the payment
                        marketplace:
                          type: string
                          example: NONE
                          description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                        notification_url:
                          type: string
                          format: nullable
                          description: URL where you'd like to receive a payment or merchant_order notification.
                        date_created:
                          type: string
                          example: 2018-09-14T17:11:31.000Z
                          description: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                        last_updated:
                          type: string
                          example: 2018-09-14T17:11:43.000Z
                          description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                        sponsor_id:
                          type: string
                          format: nullable
                          description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                        shipping_cost:
                          type: number
                          example: 0
                          description: Shipping cost, if applicable
                        total_amount:
                          type: number
                          example: 5
                          description: Total amount of the transaction in local currency.
                        site_id:
                          type: string
                          example: MLA
                          description: Site ID.
                          enum:
                            - MLA -- Mercado Libre Argentina
                            - MLB -- Mercado Libre Brasil
                            - MLM -- Mercado Libre México
                            - MLC -- Mercado Libre Chile
                            - MLU -- Mercado Libre Uruguay
                            - MCO -- Mercado Libre Colombia
                            - MPE -- Mercado Libre Perú
                        paid_amount:
                          type: number
                          example: 5
                          description: Paid amount
                        refunded_amount:
                          type: number
                          example: 0
                          description: Refunded amount
                        payer:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 999999999
                              description: Payer ID.
                            email:
                              type: string
                              description: Payer’s email address.
                          description: Buyer's information.
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: item id
                                description: Item id.
                              category_id:
                                type: string
                                example: item category
                                description: This is a free string where the item category can be added.
                              currency_id:
                                $ref: '#/components/schemas/currency_id'
                              description:
                                type: string
                                example: item description
                                description: Item description.
                              picture_url:
                                type: string
                                example: item picture url
                                description: Item image URL.
                              title:
                                type: string
                                example: item title
                                description: Item title. It will be displayed in the payment process.
                              quantity:
                                type: number
                                example: 1
                                description: Item quantity.
                              unit_price:
                                type: number
                                example: 5
                                description: Item unit price.
                          description: Order item attributes
                        cancelled:
                          type: boolean
                          description: Boolean value that indicates if the order was cancelled
                        additional_info:
                          type: string
                          example: additional information
                          description: Additional information.
                        application_id:
                          type: number
                          example: 10000000000000000
                          description: application identifier.
                        order_status:
                          $ref: '#/components/schemas/order_status'
                    description: Contains the order data.
                  next_offset:
                    type: number
                    example: 1
                    description: Numeric field used to paginate the response.
                  total:
                    type: number
                    example: 1
                    description: Total search results.
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - ds_search_query--invalid-query-
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--invalid-token-
                      - invalid_caller_id--invalid-caller-id
  /merchant_orders/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/qr-code'
      summary: Get order
      description: Check the payment information for a product or service with the ID of the order you want
      parameters:
        - name: id
          in: path
          description: Unique identifier of the order generated by Mercado Pago
          required: true
          schema:
            type: number
            example: 123123123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 9999999999
                    description: Unique identifier of the order generated by Mercado Pago
                  status:
                    $ref: '#/components/schemas/status'
                  external_reference:
                    type: string
                    example: default
                    description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                  preference_id:
                    type: string
                    example: Preference identification
                    description: Identifier of the payment preference associated to the order
                  payments:
                    type: array
                    description: Payment Attributes associated with the Order
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 9999999999
                          description: Unique Payment Identifier, automatically generated by Mercado Pago
                        transaction_amount:
                          type: number
                          example: 1
                          description: Total amount of the payment attempt. It is the amount of money that is deposited to the seller. Numeric field.
                        total_paid_amount:
                          type: number
                          example: 1
                          description: Total amount charged to the payer
                        shipping_cost:
                          type: number
                          example: 0
                          description: Shipping cost, if applicable
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        status:
                          $ref: '#/components/schemas/payment_status'
                        status_detail:
                          type: string
                          example: accredited
                          description: Detail in which the Collection resulted
                          enum:
                            - Accredited -- credited payment.
                            - pending_contingency -- the payment is being processed.
                            - pending_review_manual -- the payment is under review to determine its approval or rejection.
                            - cc_rejected_bad_filled_date -- incorrect expiration date.
                            - cc_rejected_bad_filled_other -- incorrect card details.
                            - cc_rejected_bad_filled_security_code -- incorrect CVV.
                            - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                            - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                            - cc_rejected_card_disabled -- the card is inactive.
                            - cc_rejected_duplicated_payment -- transacción duplicada.
                            - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                            - cc_rejected_insufficient_amount -- insufficient amount.
                            - cc_rejected_invalid_installments -- invalid number of installments.
                            - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                            - cc_rejected_other_reason -- generic error.  
                        operation_type:
                          $ref: '#/components/schemas/operation_type'
                        date_approved:
                          type: string
                          example: '2019-04-02T18:35:35.000Z'
                          description: Payment approval date
                        date_created:
                          type: string
                          example: '2019-04-02T18:35:34.000Z'
                          description: Payment creation date
                        last_modified:
                          type: string
                          example: '2019-04-02T18:35:35.000Z'
                          description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                        amount_refunded:
                          type: number
                          example: 0
                          description: Amount refunded. It cannot be an amount larger than total_amount.
                  shipments:
                    type: array
                    description: Shipment Attributes
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 99999999999
                          description: Unique shipment identifier
                        shipment_type:
                          type: string
                          example: shipping
                          description: Shipment type
                        shipping_mode:
                          type: string
                          example: me2
                          description: Shipping mode.
                        picking_type:
                          type: string
                          format: nullable
                          description: Package pickup mode
                        status:
                          type: string
                          example: delivered
                          description: Shipping status
                        substatus:
                          type: string
                          format: nullable
                          description: Secondary shipping status
                        items:
                          type: array
                          description: Shipped object attributes
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: not specified
                                description: Item identifier
                              description:
                                type: string
                                example: shipment item description
                                description: Item description
                              quantity:
                                type: number
                                example: 1
                                description: Item quantity
                              dimensions:
                                type: string
                                example: 1.0x10.0x23.0100.0
                                description: Item dimensions
                              dimensions_source:
                                type: string
                                format: nullable
                                description: Item dimensions
                        date_created:
                          type: string
                          example: '2019-04-02T18:20:46.000Z'
                          description: Shipment creation date
                        last_modified:
                          type: string
                          example: '2019-04-12T19:36:48.000Z'
                          description: Shipment last modified date
                        date_first_printed:
                          type: string
                          example: '2019-04-02T18:35:40.000Z'
                          description: First printed date
                        service_id:
                          type: number
                          example: 999
                          description: Shipment service identifier
                        sender_id:
                          type: number
                          example: 999999999
                          description: Sender identifier
                        receiver_id:
                          type: number
                          example: 999999999
                          description: Receiver Identifier
                        receiver_address:
                          type: object
                          description: Receiver address attributes
                          properties:
                            id:
                              type: number
                              example: 9999999999
                              description: Address ID.
                            address_line:
                              type: string
                              example: address line
                              description: Receiver address
                            city:
                              type: object
                              description: Attributes of the city associated with the receiver´s Address
                              properties:
                                id:
                                  type: string
                                  format: nullable
                                  description: City ID.
                                name:
                                  type: string
                                  example: City Name
                                  description: City name.
                            state:
                              type: object
                              description: Attributes of the state associated with the receiver´s Address
                              properties:
                                id:
                                  type: string
                                  example: AR-X
                                  description: State ID.
                                name:
                                  type: string
                                  example: state name
                                  description: State name.
                            country:
                              type: object
                              description: Attributes of the country associated with the receiver´s Address
                              properties:
                                id:
                                  type: string
                                  example: AR
                                  description: Country ID.
                                name:
                                  type: string
                                  example: Argentina
                                  description: Country name.
                            latitude:
                              type: string
                              example: 0
                              description: Latitude.
                            longitude:
                              type: string
                              example: 0
                              description: Longitude.
                            comment:
                              type: string
                              example: shipment comment
                              description: Comment or additional information about the address
                            contact:
                              type: string
                              example: shipment contact
                              description: Contact information.
                            phone:
                              type: string
                              example: 9999999999
                              description: Phone number.
                            zip_code:
                              type: string
                              example: 9999
                              description: Zip Code.
                            street_name:
                              type: string
                              example: Street name
                              description: Street name.
                            street_number:
                              type: string
                              example: 999
                              description: Street number.
                            floor:
                              type: string
                              format: nullable
                              description: Floor
                            apartment:
                              type: string
                              format: nullable
                              description: Apartment.
                        shipping_option:
                          type: object
                          description: Attributes associated with the shipping option
                          properties:
                            id:
                              type: number
                              example: 999999999
                              description: Shipping option identifier.
                            cost:
                              type: number
                              example: 0
                              description: Shipping cost.
                            currency_id:
                              $ref: '#/components/schemas/currency_id'
                            shipping_method_id:
                              type: number
                              example: 99999
                              description: Shipping method identifier.
                            estimated_delivery:
                              type: object
                              description: Estimated delivery date.
                              properties:
                                date:
                                  type: string
                                  example: '2019-04-11T03:00:00.000Z'
                                  description: Estimated delivery date.
                                time_from:
                                  type: string
                                  format: nullable
                                  description: Estimated timeframe start for delivery
                                time_to:
                                  type: string
                                  format: nullable
                                  description: Estimated timeframe end for delivery
                            name:
                              type: string
                              example: Normal a domicilio
                              description: Shipping option name
                            list_cost:
                              type: number
                              example: 0
                              description: Shipping option listing cost
                            speed:
                              type: object
                              description: Delivery option speed ​​attributes
                              properties:
                                handling:
                                  type: number
                                  example: 72
                                  description: Handling time
                                shipping:
                                  type: number
                                  example: 72
                                  description: Shipping time.
                  payouts:
                    type: object
                    description: Contains information on cash withdrawal, if applicable.
                  collector:
                    type: object
                    description: Attributes of the Mercado Pago account collecting the payment
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Identifier of the collecting Mercado Pago account
                      email:
                        type: string
                        example: vendedor+329653108@adf12.com.br
                        description: Email associated with the collector´s Mercado Pago account
                      nickname:
                        type: string
                        example: TESTRPEHE21Q
                        format: nullable
                        description: Collector nickname.
                  marketplace:
                    type: string
                    example: NONE
                    description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment or merchant_order notification.
                  date_created:
                    type: string
                    example: '2018-09-14T17:11:31.000Z'
                    description: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                  last_updated:
                    type: string
                    example: '2018-09-14T17:11:43.000Z'
                    description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  shipping_cost:
                    type: number
                    example: 0
                    description: Shipping cost, if applicable
                  total_amount:
                    type: number
                    example: 5
                    description: Total amount of the transaction in local currency.
                  site_id:
                    type: string
                    example: mla
                    description: Site ID.
                    enum:
                      - MLA -- Mercado Libre Argentina
                      - MLB -- Mercado Libre Brasil
                      - MLM -- Mercado Libre México
                      - MLC -- Mercado Libre Chile
                      - MLU -- Mercado Libre Uruguay
                      - MCO -- Mercado Libre Colombia
                      - MPE -- Mercado Libre Perú
                  paid_amount:
                    type: number
                    example: 5
                    description: Paid amount
                  refunded_amount:
                    type: number
                    example: 0
                    description: Refunded amount
                  payer:
                    type: object
                    description: Buyer's information.
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Payer ID.
                      email:
                        type: string
                        description: Payer’s email address.
                  items:
                    type: array
                    description: Order item attributes
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: item id
                          description: Item ID.
                        category_id:
                          type: string
                          example: item category
                          description: This is a free string where the item category can be added.
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        description:
                          type: string
                          example: item description
                          description: Item description.
                        picture_url:
                          type: string
                          example: item picture url
                          description: Item image URL.
                        title:
                          type: string
                          example: item title
                          description: Item title. It will be displayed in the payment process.
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity.
                        unit_price:
                          type: number
                          example: 5
                          description: Item unit price.
                  cancelled:
                    type: boolean
                    example: false
                    description: Boolean value that indicates if the order was cancelled
                  additional_info:
                    type: string
                    example: additional information
                    description: Additional information.
                  application_id:
                    type: number
                    example: 10000000000000000
                    description: application identifier.
                  order_status:
                    $ref: '#/components/schemas/order_status'
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_format--invalid-caller-id-
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--access-denied-
                      - invalid_caller_id--invalid-caller-id
    put:
      tags:
        - $ref: '#/tags/checkout-pro'
      summary: Update order
      description: Renew the details of a payment. Indicate the ID of the order and send the parameters with the information you want to update
      parameters:
        - name: id
          in: path
          description: Unique identifier of the order generated by Mercado Pago
          required: true
          schema:
            type: number
            example: 123123123
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_reference:
                  type: string
                  description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                  example: default
                preference_id:
                  type: string
                  description: Identifier of the payment preference associated to the order
                  example: Preference identification
                marketplace:
                  type: string
                  description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                notification_url:
                  type: string
                  description: URL where you'd like to receive a payment notification.
                sponsor_id:
                  type: number
                  description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                payer:
                  type: object
                  description: Buyer's information.
                  properties:
                    id:
                      type: number
                      description: Buyer id.
                      example: 123
                    email:
                      type: string
                      description: Deprecated field, will return an empty string.
                    nickname:
                      type: string
                      description: Buyer nickname.
                      example: JOHN
                site_id:
                  type: string
                  example: MLA
                  description: Site ID.
                  enum:
                    - MLA -- Mercado Libre Argentina
                    - MLB -- Mercado Libre Brasil
                    - MLM -- Mercado Libre México
                    - MLC -- Mercado Libre Chile
                    - MLU -- Mercado Libre Uruguay
                    - MCO -- Mercado Libre Colombia
                    - MPE -- Mercado Libre Perú
                items:
                  type: array
                  description: items information.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Item id.
                        example: item id
                      category_id:
                        type: string
                        description: This is a free string where the item category can be added.
                        example: item category
                      currency_id:
                        $ref: '#/components/schemas/currency_id'
                      description:
                        type: string
                        description: Item description.
                        example: item description
                      picture_url:
                        type: string
                        description: Item picture URL.
                        example: item picture
                      quantity:
                        type: number
                        description: Item quantity.
                        example: 1
                      unit_price:
                        type: number
                        description: Item unit price.
                        example: 5
                      title:
                        type: string
                        description: Item title. It will be displayed in the payment process.
                        example: item title
                additional_info:
                  type: string
                  description: Additional information.
                application_id:
                  type: string
                  description: application identifier.
                  example: 10000000000000000
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 9999999999
                    description: Unique identifier of the order generated by Mercado Pago
                  status:
                    $ref: '#/components/schemas/status'
                  external_reference:
                    type: string
                    example: default
                    description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                  preference_id:
                    type: string
                    example: Preference identification
                    description: Identifier of the payment preference associated to the order
                  payments:
                    type: object
                    description: Payment Attributes associated with the Order
                  shipments:
                    type: object
                    description: Shipment Attributes
                  payouts:
                    type: object
                    description: Contains information on cash withdrawal, if applicable.
                  collector:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Identifier of the collecting Mercado Pago account
                      email:
                        type: string
                        example: vendedor+329653108@adf12.com.br
                        description: Email associated with the collector´s Mercado Pago account
                      nickname:
                        type: string
                        example: TESTRPEHE21Q
                        format: nullable
                        description: Collector nickname.
                    description: Attributes of the Mercado Pago account collecting the payment
                  marketplace:
                    type: string
                    example: NONE
                    description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment or merchant_order notification.
                  date_created:
                    type: string
                    example: '2018-09-14T17:11:31.000Z'
                    description: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                  last_updated:
                    type: string
                    example: '2018-09-14T17:11:43.000Z'
                    description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  shipping_cost:
                    type: number
                    example: 0
                    description: Shipping cost, if applicable
                  total_amount:
                    type: number
                    example: 5
                    description: Total amount of the transaction in local currency.
                  site_id:
                    type: string
                    example: mla
                    description: Site ID.
                    enum:
                      - MLA -- Mercado Libre Argentina
                      - MLB -- Mercado Libre Brasil
                      - MLM -- Mercado Libre México
                      - MLC -- Mercado Libre Chile
                      - MLU -- Mercado Libre Uruguay
                      - MCO -- Mercado Libre Colombia
                      - MPE -- Mercado Libre Perú
                  paid_amount:
                    type: number
                    example: 5
                    description: Paid amount
                  refunded_amount:
                    type: number
                    example: 0
                    description: Refunded amount
                  payer:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Payer ID.
                      email:
                        type: string
                        description: Payer’s email address.
                    description: Buyer's information.
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: item id
                          description: Item id.
                        category_id:
                          type: string
                          example: item category
                          description: This is a free string where the item category can be added.
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        description:
                          type: string
                          example: item description
                          description: Item description.
                        picture_url:
                          type: string
                          example: item picture url
                          description: Item image URL.
                        title:
                          type: string
                          example: item title
                          description: Item title. It will be displayed in the payment process.
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity.
                        unit_price:
                          type: number
                          example: 5
                          description: Item unit price.
                    description: Order item attributes
                  cancelled:
                    type: boolean
                    example: false
                    description: Boolean value that indicates if the order was cancelled
                  additional_info:
                    type: string
                    example: additional information
                    description: Additional information.
                  application_id:
                    type: number
                    example: 10000000000000000
                    description: application identifier.
                  order_status:
                    $ref: '#/components/schemas/order_status'

        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_user_id--invalid-users-involved-
                      - >-
                        invalid_order_state--the-action-requested-is-not-valid-for-the-current-merchant-order-state-
                      - invalid_string--string-too-long-
                      - invalid_application_id--internal-server-error-
                      - >-
                        invalid_items--only-the-item-quantity-of-an-item-can-be-modified-
                      - user_not_allowed--user-not-allowed-to-operate-
                      - invalid_payment_id--invalid-payment-identifier-
                      - invalid_operation_type--invalid-operation-type-
                      - invalid_payer--invalid-payer-identifier-
                      - invalid_shipment_id--invalid-shipment-identifier-
                      - invalid_sponsor_id--invalid-sponsor-id-
                      - invalid_marketplace--invalid-marketplace-
                      - >-
                        unmarshall_error--could-not-unmarshal-request-body-into-merchant-order-struct-
                      - invalid_format--invalid-merchant-order-id-
                      - invalid_url--invalid-URL--Isn-t-HTTP-or-HTTPS-
                      - communication_error--Error-when-calling---
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--access-denied-
                      - invalid_caller_id--invalid-caller-id
components:
  schemas:
    status:
      type: string
      description: Show the current merchant order state.
      example: closed
      enum:
        - opened -- Order without payments.
        - closed -- Order with payments covering total amount.
        - expired -- Canceled order that does not have approved or pending payments (all rejected or returned).
    currency_id:
      type: string
      description: ID of the currency used in the payment.
      example: BRL
      enum:
        - ARS -- Argentine peso.
        - BRL -- Brazil real.
        - CLP -- Chilean peso.
        - MXN -- Mexican peso.
        - COP -- Colombian peso.
        - PEN -- Peruvian sol.
        - UYU -- Uruguayan peso.
    payment_status:
      type: string
      description: Payment status.
      example: approved
      enum:
        - pending -- The user has not yet completed the payment process.
        - approved -- The payment has been approved and accredited.
        - authorized -- The payment has been authorized but not captured yet.
        - in_process -- Payment is being reviewed.
        - in_mediation -- Users have initiated a dispute.
        - rejected -- Payment was rejected. The user may retry payment.
        - cancelled -- Payment was cancelled by one of the parties or because time for payment has expired.
        - refunded -- Payment was refunded to the user.
        - charged_back -- Was made a chargeback in the buyer's credit card.
    operation_type:
      type: string
      description: Operation data_type.
      enum:
        - regular_payment -- Typification by default of a purchase being paid using Mercado Pago.
        - payment_addition -- Addition of money to an existing payment, made through a Mercado Pago account.
        - money_transfer -- Funds transfer between two users.
        - recurring_payment -- Automatic recurring payment due to an active user subscription.
        - account_fund -- Money income in the user's account.
        - cellphone_recharge -- Recharge of a user's cellophone account.
        - pos_payment -- Payment done through a Point of Sale.
    order_status:
      type: string
      description: Current merchant order status given the payments status.
      example: paid
      enum:
        - payment_required -- Order without payments or with all payments "rejected" or "cancelled".
        - reverted -- Order with all payments "refunded" or "chargeback".
        - paid -- Order with the sum of all payments "approved", "chargeback" or "in_mediation", covers the order total amount.
        - partially_reverted -- Order with at least one payment "refunded" or "chargeback".
        - partially_paid -- Order with at least one payment "approved" and not covering order total amount.
        - payment_in_process -- Order with payments "in_process", "pending" or "authorized".
        - undefined -- Order created before the existence of the order_status status.
        - expired -- Canceled order that does not have approved or pending payments (all rejected or returned).
