openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /merchant_orders:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
      summary: Create order
      x-summary-i18n:
        eng: Create order
        spa: Crear orden
        por: Criar pedido
      description: Generate an order to associate it with the payment preference and obtain the necessary URL to start the payment flow
      x-description-i18n:
        eng: Generate an order to associate it with the payment preference and obtain the necessary URL to start the payment flow
        spa: Genera una orden para asociarla a la preferencia de pago y obtén la URL necesaria para iniciar el flujo de pago
        por: Gerar uma ordem para associar com a preferência de pagamento e obter a URL necessária para iniciar o fluxo de pagamento
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_reference:
                  type: string
                  description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                  x-description-i18n:
                    eng: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                    spa: Identificador único que envía el vendedor para relacionar la order_id generada por Mercado Pago, con el id de su sistema de pagos
                    por: Identificador único enviado pelo vendedor para relacionar o order_id gerado pelo Mercado Pago ao ID do seu sistema de pagamento
                  example: default
                preference_id:
                  type: string
                  description: Identifier of the payment preference associated to the order
                  x-description-i18n:
                    eng: Identifier of the payment preference associated to the order
                    spa: Identificador de la preferencia de pago asociado a la orden
                    por: Identificador da preferência de pagamento associada ao pedido
                  example: Preference identification
                marketplace:
                  type: string
                  description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                  x-description-i18n:
                    eng: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                    spa: Indica si es un pago de Marketplace de Mercado Libre (MELI) o Mercado Pago (NONE)
                    por: Indique se é um pagamento Mercado Livre (MELI) ou Mercado Pago (NONE) Marketplace
                notification_url:
                  type: string
                  description: URL where you'd like to receive a payment notification.
                  x-description-i18n:
                    eng: URL where you'd like to receive a payment notification.
                    spa: URL a la cual te gustaría recibir notificaciones de pagos
                    por: URL para a qual você gostaria de receber notificações de pagamentos
                sponsor_id:
                  type: number
                  description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  x-description-i18n:
                    eng: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                    spa: Identificador de la cuenta de Mercado Pago del Partner. Se utiliza para identificar si la integración fue realizada por algún partner.
                    por: Identificador da conta Mercado Pago do Partnet. É usado para identificar se a integração foi realizada por um partner.
                payer:
                  type: object
                  description: Buyer Information.
                  properties:
                    id:
                      type: number
                      description: Buyer id.
                      x-description-i18n:
                        eng: Buyer id.
                        spa: Identificador del comprador
                        por: Id do comprador
                      example: 123
                    email:
                      type: string
                      description: Deprecated field, will return an empty string.
                      x-description-i18n:
                        eng: Deprecated field, will return an empty string.
                        spa: Campo deprecado, responderá una cadena vacía
                        por: Deprecated field, will return an empty string
                    nickname:
                      type: string
                      description: Buyer nickname.
                      x-description-i18n:
                        eng: Buyer nickname.
                        spa: Nickname del comprador
                        por: Nick do comprador
                      example: JOHN
                site_id:
                  type: string
                  example: MLA
                  description: Site ID.
                  enum:
                items:
                  type: array
                  description: items information.
                  x-description-i18n:
                    eng: items information.
                    spa: Información de los ítems
                    por: Informação do item
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Item id.
                        x-description-i18n:
                          eng: Item id.
                          spa: Identificador del ítem
                          por: Id do anúncio
                        example: item id
                      category_id:
                        type: string
                        description: This is a free string where the item category can be added.
                        x-description-i18n:
                          eng: This is a free string where the item category can be added.
                          spa: Esto es un string libre donde se puede agregar la categoría del ítem.
                          por: Esta é uma string livre onde a categoria do item pode ser adicionada.
                        example: item category
                      currency_id:
                        $ref: '#/components/schemas/currency_id'
                      description:
                        type: string
                        description: Item description.
                        x-description-i18n:
                          eng: Item description.
                          spa: Descripción del item
                          por: Descrição do artigo
                        example: item description
                      picture_url:
                        type: string
                        description: Item picture URL.
                        x-description-i18n:
                          eng: Item picture URL.
                          spa: URL de imagen del ítem
                          por: URL da imagem do anúncio
                        example: item picture
                      quantity:
                        type: number
                        description: Item quantity.
                        x-description-i18n:
                          eng: Item quantity.
                          spa: Cantidad de producto
                          por: Quantidade do produto
                        example: 1
                      unit_price:
                        type: number
                        description: Item unit price.
                        x-description-i18n:
                          eng: Item unit price.
                          spa: Precio unitario del ítem
                          por: Preço unitário do item
                        example: 5
                      title:
                        type: string
                        description: Item title. It will be displayed in the payment process.
                        x-description-i18n:
                          eng: Item title. It will be displayed in the payment process.
                          spa: Título del ítem, se mostrará en el flujo de pago
                          por: Título do item, é apresentado o fluxo de pagamento
                        example: item title
                additional_info:
                  type: string
                  description: Additional information.
                  x-description-i18n:
                    eng: Additional information.
                    spa: Información adicional
                    por: Informações adicionais
                application_id:
                  type: string
                  description: application identifier.
                  x-description-i18n:
                    eng: application identifier.
                    spa: Identificador de aplicación
                    por: Id do aplicativo
                  example: 10000000000000000
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 9999999999
                    description: Unique identifier of the order generated by Mercado Pago
                    x-description-i18n:
                      eng: Unique identifier of the order generated by Mercado Pago
                      spa: Identificador único de la orden generada por Mercado Pago
                      por: Identificador único do pedido gerado pelo Mercado Pago
                  status:
                    $ref: '#/components/schemas/status'
                  external_reference:
                    type: string
                    example: default
                    description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                    x-description-i18n:
                      eng: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                      spa: Identificador único que envía el vendedor para relacionar la order_id generada por Mercado Pago, con el id de su sistema de pagos
                      por: Identificador único enviado pelo vendedor para relacionar o order_id gerado pelo Mercado Pago ao ID do seu sistema de pagamento
                  preference_id:
                    type: string
                    example: Preference identification
                    description: Identifier of the payment preference associated to the order
                    x-description-i18n:
                      eng: Identifier of the payment preference associated to the order
                      spa: Identificador de la preferencia de pago asociado a la orden
                      por: Identificador da preferência de pagamento associada ao pedido
                  collector:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Identifier of the collecting Mercado Pago account
                        x-description-i18n:
                          eng: Identifier of the collecting Mercado Pago account
                          spa: Identificador de la cuenta de Mercado Pago recaudadora
                          por: Identificador da conta coletora do Mercado Pago
                      nickname:
                        type: string
                        format: nullable
                        description: Collector nickname.
                        x-description-i18n:
                          eng: Collector nickname.
                          spa: Nickname del collector
                          por: Nick do collector
                    description: Attributes of the Mercado Pago account collecting the payment
                    x-description-i18n:
                      eng: Attributes of the Mercado Pago account collecting the payment
                      spa: Atributos de la cuenta de Mercado Pago recaudadora del pago
                      por: Atributos da conta do Mercado Pago que cobra o pagamento
                  marketplace:
                    type: string
                    example: NONE
                    description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                    x-description-i18n:
                      eng: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                      spa: Indica si es un pago de Marketplace de Mercado Libre (MELI) o Mercado Pago (NONE)
                      por: Indique se é um pagamento Mercado Livre (MELI) ou Mercado Pago (NONE) Marketplace
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment or merchant_order notification.
                    x-description-i18n:
                      eng: URL where you'd like to receive a payment or merchant_order notification.
                      spa: URL a la cual se enviará la notificación de pago o merchant_order
                      por: URL em que você gostaria de receber uma notificação de pagamento ou merchant_order
                  date_created:
                    type: string
                    example: 2018-09-14T17:11:31.000Z
                    description: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                    x-description-i18n:
                      eng: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                      spa: Fecha de creación de la Orden. El formato es YYYY-MM-DDThh:mm:ss.dcm-GMT, por ejemplo 2021-12-29T20:19:17.000-04:00.
                      por: Data de criação do pedido. O formato é YYYY-MM-DDThh:mm:ss.dcm-GMT, por exemplo 2021-12-29T20:19:17.000-04:00.
                  last_updated:
                    type: string
                    example: 2018-09-14T17:11:43.000Z
                    description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                    x-description-i18n:
                      eng: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                      spa: Fecha de última actualización de la Orden. El formato es YYYY-MM-DDThh:mm:ss.dcm-GMT, por ejemplo 2021-12-29T20:19:17.000-04:00.
                      por: Data da última atualização do pedido. O formato é YYYY-MM-DDThh:mm:ss.dcm-GMT, por exemplo 2021-12-29T20:19:17.000-04:00.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                    x-description-i18n:
                      eng: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                      spa: Identificador de la cuenta de Mercado Pago del Partner. Se utiliza para identificar si la integración fue realizada por algún partner.
                      por: Identificador da conta Mercado Pago do Partnet. É usado para identificar se a integração foi realizada por um partner.
                  shipping_cost:
                    type: number
                    example: 0
                    description: Shipping cost, if applicable
                    x-description-i18n:
                      eng: Shipping cost, if applicable
                      spa: Costo de envío, si aplica
                      por: Custo de envio, se aplicável
                  total_amount:
                    type: number
                    example: 5
                    description: Total amount of the transaction in local currency.
                    x-description-i18n:
                      eng: Total amount of the transaction in local currency.
                      spa: Monto total de la transacción en moneda local
                      por: Valor total da transação na moeda local
                  site_id:
                    type: string
                    example: MLA
                    description: Site ID.
                    enum:
                  paid_amount:
                    type: number
                    example: 5
                    description: Paid amount
                    x-description-i18n:
                      eng: Paid amount
                      spa: Monto pagado
                      por: Valor pago
                  refunded_amount:
                    type: number
                    example: 0
                    description: Refunded amount
                    x-description-i18n:
                      eng: Refunded amount
                      spa: Monto reembolsado
                      por: Valor reembolsado
                  payer:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 999999999
                        description: Payer ID.
                        x-description-i18n:
                          eng: Payer ID.
                          spa: Identificador de pagador
                          por: Identificador de pagador
                      email:
                        type: string
                        description: Payer’s email address.
                        x-description-i18n:
                          eng: Payer’s email address.
                          spa: E-mail del pagador
                          por: E-mail do pagante
                    description: Buyer Information.
                    x-description-i18n:
                      eng: Buyer Information.
                      spa: Información del comprador.
                      por: Informação do comprador.
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: item id
                          description: Item id.
                          x-description-i18n:
                            eng: Item id.
                            spa: Identificador del ítem
                            por: Id do anúncio
                        category_id:
                          type: string
                          example: item category
                          description: This is a free string where the item category can be added.
                          x-description-i18n:
                            eng: This is a free string where the item category can be added.
                            spa: Esto es un string libre donde se puede agregar la categoría del ítem.
                            por: Esta é uma string livre onde a categoria do item pode ser adicionada.
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        description:
                          type: string
                          example: item description
                          description: Item description.
                          x-description-i18n:
                            eng: Item description.
                            spa: Descripción del item
                            por: Descrição do artigo
                        picture_url:
                          type: string
                          example: item picture url
                          description: Item image URL.
                          x-description-i18n:
                            eng: Item image URL.
                            spa: URL de imagen del ítem
                            por: URL da imagem do anúncio
                        title:
                          type: string
                          example: item title
                          description: Item title. It will be displayed in the payment process.
                          x-description-i18n:
                            eng: Item title. It will be displayed in the payment process.
                            spa: Título del ítem, se mostrará en el flujo de pago
                            por: Título do item, é apresentado o fluxo de pagamento
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity.
                          x-description-i18n:
                            eng: Item quantity.
                            spa: Cantidad de producto
                            por: Quantidade do produto
                        unit_price:
                          type: number
                          example: 5
                          description: Item unit price.
                          x-description-i18n:
                            eng: Item unit price.
                            spa: Precio unitario del ítem
                            por: Preço unitário do item
                    description: Order item attributes
                    x-description-i18n:
                      eng: Order item attributes
                      spa: Atributos de los items de la orden
                      por: Atributos dos itens do pedido
                  cancelled:
                    type: boolean
                    description: Boolean value that indicates if the order was cancelled
                    x-description-i18n:
                      eng: Boolean value that indicates if the order was cancelled
                      spa: Valor booleano que indica si la orden fue cancelada
                      por: Valor booleano que indica se o pedido foi cancelado
                  additional_info:
                    type: string
                    example: additional information
                    description: Additional information.
                    x-description-i18n:
                      eng: Additional information.
                      spa: Información adicional
                      por: Informações adicionais
                  application_id:
                    type: number
                    example: 10000000000000000
                    description: application identifier.
                    x-description-i18n:
                      eng: application identifier.
                      spa: Identificador de aplicación
                      por: Id do aplicativo
                  order_status:
                    $ref: '#/components/schemas/order_status'
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_user_id--invalid users involved.
                        invalid_order_state--the-action-requested-is-not-valid-for-the-current-merchant-order-state-
                      - invalid_string--string too long.
                      - invalid_application_id--internal server error.
                      - invalid_items--invalid unit_price.
                      - user_not_allowed--user not allowed to operate.
                      - invalid_operation_type--invalid operation type.
                      - invalid_payer--invalid payer identifier.
                      - invalid_id--invalid preference_id.
                      - invalid_expired--the preference_id has expired.
                      - invalid_sponsor_id--invalid sponsor_id.
                      - invalid_marketplace--invalid marketplace.
                        unmarshal_error--could-not-unmarshal-request-body-into-merchant-order-struct-
                      - invalid_url--invalid URL. Isn't HTTP or HTTPS.
                      - communication_error--Error when calling...
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--access denied.
                      - invalid_caller_id--invalid caller_id
  /merchant_orders/search:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/qr-code'
      summary: Search orders
      x-summary-i18n:
        eng: Search orders
        spa: Buscar en órdenes
        por: Buscar em pedidos
      description: Find all the information of the orders generated through specific filters or a specific date range
      x-description-i18n:
        eng: Find all the information of the orders generated through specific filters or a specific date range
        spa: Encuentra toda la información de las órdenes generadas a través de filtros específicos o por un rango de fechas determinado
        por: Encontre todas as informações dos pedidos gerados através de filtros específicos ou por um intervalo de datas específico
      parameters:
        - name: status
          in: query
          description: Merchant order state.
          x-description-i18n:
            eng: Merchant order state.
            spa: Estado de la orden.
            por: Status do pedido.
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: preference_id
          in: query
          description: Payment preference identifier associated to the merchant order.
          x-description-i18n:
            eng: Payment preference identifier associated to the merchant order.
            spa: Identificador de la preferencia de pago asociado a la orden
            por: Identificação da preferência de pagamento associados à ordem
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: application_id
          in: query
          description: application identifier.
          x-description-i18n:
            eng: application identifier.
            spa: Identificador de aplicación
            por: Id do aplicativo
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: payer_id
          in: query
          description: Payer ID.
          x-description-i18n:
            eng: Payer ID.
            spa: Identificador de pagador
            por: Identificador de pagador
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: sponsor_id
          in: query
          description: Sponsor ID in Mercado Pago.
          x-description-i18n:
            eng: Sponsor ID in Mercado Pago.
            spa: Identificador del sponsor en Mercado Pago
            por: Sponsor ID in Mercado Pago
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_reference
          in: query
          description: Reference you can synchronize with your payment system.
          x-description-i18n:
            eng: Reference you can synchronize with your payment system.
            spa: Referencia que puedes sincronizar con tu sistema de pagos
            por: Referência que pode sincronizar com seu sistema de pagamentos
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: site_id
          in: query
          description: Country identifier that merchant order belongs to.
          x-description-i18n:
            eng: Country identifier that merchant order belongs to.
            spa: Identificador de país al que pertenece la orden
            por: Identificador do país a que pertence a ordem
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: marketplace
          in: query
          description: 'Origin of the payment. Default value: ''NONE'''
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: date_created_from
          in: query
          description: Order´s creation date (start search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: date_created_to
          in: query
          description: Order´s creation date (end search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: last_updated_from
          in: query
          description: Order´s last update date (start search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: last_updated_to
          in: query
          description: Order´s last update date (end search)
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: items
          in: query
          description: items information.
          x-description-i18n:
            eng: items information.
            spa: Información de los ítems
            por: Informação do item
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: limit
          in: query
          description: Maximum quantity of items to be returned
          x-description-i18n:
            eng: Maximum quantity of items to be returned
            spa: Cantidad máxima de artículos para devolver
            por: Número máximo de itens a serem devolvidos
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: offset
          in: query
          description: Maximum quantity of items to offset
          x-description-i18n:
            eng: Maximum quantity of items to offset
            spa: Cantidad máxima de artículos para offset
            por: Número máximo de itens para offsets
          required: false
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 9999999999
                          description: id
                        status:
                          $ref: '#/components/schemas/status'
                        external_reference:
                          type: string
                          example: default
                          description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                          x-description-i18n:
                            eng: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                            spa: Identificador único que envía el vendedor para relacionar la order_id generada por Mercado Pago, con el id de su sistema de pagos
                            por: Identificador único enviado pelo vendedor para relacionar o order_id gerado pelo Mercado Pago ao ID do seu sistema de pagamento
                        preference_id:
                          type: string
                          example: Preference identification
                          description: Identifier of the payment preference associated to the order
                          x-description-i18n:
                            eng: Identifier of the payment preference associated to the order
                            spa: Identificador de la preferencia de pago asociado a la orden
                            por: Identificador da preferência de pagamento associada ao pedido
                        payments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 9999999999
                                description: Unique Payment Identifier, automatically generated by Mercado Pago
                                x-description-i18n:
                                  eng: Unique Payment Identifier, automatically generated by Mercado Pago
                                  spa: Identificador único del pago, generado automáticamente por Mercado Pago
                                  por: Identificador único de pagamento, gerado automaticamente pelo Mercado Pago
                              transaction_amount:
                                type: number
                                example: 1
                                description: Total amount of the payment attempt. It is the amount of money that is deposited to the seller. Numeric field.
                                x-description-i18n:
                                  eng: Total amount of the payment attempt. It is the amount of money that is deposited to the seller. Numeric field.
                                  spa: Monto total del intento de pago. Es la suma de dinero que se le deposita al seller. Campo numérico.
                                  por: Valor total da tentativa de pagamento. É a soma de dinheiro que é depositada ao vendedor. Campo numérico.
                              total_paid_amount:
                                type: number
                                example: 1
                                description: Total amount charged to the payer
                                x-description-i18n:
                                  eng: Total amount charged to the payer
                                  spa: Monto total cobrado al payer
                                  por: Valor total cobrado ao pagador
                              shipping_cost:
                                type: number
                                example: 0
                                description: Shipping cost, if applicable
                                x-description-i18n:
                                  eng: Shipping cost, if applicable
                                  spa: Costo de envío, si aplica
                                  por: Custo de envio, se aplicável
                              currency_id:
                                $ref: '#/components/schemas/currency_id'
                              status:
                                $ref: '#/components/schemas/payment_status'
                              status_detail:
                                type: string
                                example: accredited
                                description: Detail in which the Collection resulted
                                x-description-i18n:
                                  eng: Detail in which the Collection resulted
                                  spa: Detalle en el que resultó el Cobro
                                  por: Detalhe em que resultou a Coleção
                                enum:
                              operation_type:
                                $ref: '#/components/schemas/operation_type'
                              date_approved:
                                type: string
                                example: 2019-04-02T18:35:35.000Z
                                description: Payment approval date
                                x-description-i18n:
                                  eng: Payment approval date
                                  spa: Fecha de aprobación del pago
                                  por: Data de aprovação do pagamento
                              date_created:
                                type: string
                                example: 2019-04-02T18:35:34.000Z
                                description: Payment creation date
                                x-description-i18n:
                                  eng: Payment creation date
                                  spa: Fecha de creación del pago
                                  por: Data de criação do pagamento
                              last_modified:
                                type: string
                                example: 2019-04-02T18:35:35.000Z
                                description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                                x-description-i18n:
                                  eng: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                                  spa: Fecha de última actualización de la Orden. El formato es YYYY-MM-DDThh:mm:ss.dcm-GMT, por ejemplo 2021-12-29T20:19:17.000-04:00.
                                  por: Data da última atualização do pedido. O formato é YYYY-MM-DDThh:mm:ss.dcm-GMT, por exemplo 2021-12-29T20:19:17.000-04:00.
                              amount_refunded:
                                type: number
                                example: 0
                                description: Amount refunded. It cannot be an amount larger than total_amount.
                                x-description-i18n:
                                  eng: Amount refunded. It cannot be an amount larger than total_amount.
                                  spa: Monto reembolsado. No puede ser un monton mayor a total_amount.
                                  por: Valor reembolsado. Não pode ser um valor maior que total_amount.
                          description: Payment Attributes associated with the Order
                          x-description-i18n:
                            eng: Payment Attributes associated with the Order
                            spa: Atributos de Pagos asociados a la Orden
                            por: Atributos de pagamento associados ao pedido
                        shipments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 99999999999
                                description: Unique shipment identifier
                                x-description-i18n:
                                  eng: Unique shipment identifier
                                  spa: Identificador único del envío
                                  por: Identificador único de envio
                              shipment_type:
                                type: string
                                example: shipping
                                description: Shipment type
                                x-description-i18n:
                                  eng: Shipment type
                                  spa: Tipo de envío
                                  por: Tipo de envio
                              shipping_mode:
                                type: string
                                example: me2
                                description: Shipping mode.
                                x-description-i18n:
                                  eng: Shipping mode.
                                  spa: Modo de envío
                                  por: Modo de envio
                              picking_type:
                                type: string
                                format: nullable
                                description: Package pickup mode
                                x-description-i18n:
                                  eng: Package pickup mode
                                  spa: Modo de recolección del paquete
                                  por: Modo de retirada do pacote
                              status:
                                type: string
                                example: delivered
                                description: Shipping status
                                x-description-i18n:
                                  eng: Shipping status
                                  spa: Estado del envío
                                  por: Status do envio
                              substatus:
                                type: string
                                format: nullable
                                description: Secondary shipping status
                                x-description-i18n:
                                  eng: Secondary shipping status
                                  spa: Estado secundario del envío
                                  por: Status secundário do envio
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: not specified
                                      description: Item code.
                                      x-description-i18n:
                                        eng: Item code.
                                        spa: Código de ítem
                                        por: Código de anúncio
                                    description:
                                      type: string
                                      example: shipment item description
                                      description: Item description.
                                      x-description-i18n:
                                        eng: Item description.
                                        spa: Descripción del item
                                        por: Descrição do artigo
                                    quantity:
                                      type: number
                                      example: 1
                                      description: Number of items.
                                      x-description-i18n:
                                        eng: Number of items.
                                        spa: Cantidad de ítems
                                        por: Número de itens
                                    dimensions:
                                      type: string
                                      example: 1.0x10.0x23.0100.0
                                      description: Item dimensions
                                      x-description-i18n:
                                        eng: Item dimensions
                                        spa: Dimensiones del item
                                        por: Dimensões do item
                                    dimensions_source:
                                      type: string
                                      format: nullable
                                      description: Item dimensions
                                      x-description-i18n:
                                        eng: Item dimensions
                                        spa: Dimensiones del item
                                        por: Dimensões do item
                                description: Shipped object attributes
                                x-description-i18n:
                                  eng: Shipped object attributes
                                  spa: Atributos del objeto enviado
                                  por: Atributos do objeto enviado
                              date_created:
                                type: string
                                example: 2019-04-02T18:20:46.000Z
                                description: Shipment creation date
                                x-description-i18n:
                                  eng: Shipment creation date
                                  spa: Fecha de creación del envío
                                  por: Data de criação do envio
                              last_modified:
                                type: string
                                example: 2019-04-12T19:36:48.000Z
                                description: Shipment last modified date
                                x-description-i18n:
                                  eng: Shipment last modified date
                                  spa: Fecha de última modificación del envío
                                  por: Data da última modificação do envio
                              date_first_printed:
                                type: string
                                example: 2019-04-02T18:35:40.000Z
                                description: First printed date
                                x-description-i18n:
                                  eng: First printed date
                                  spa: Fecha primera impresión
                                  por: Data da primeira impressão
                              service_id:
                                type: number
                                example: 999
                                description: Shipment service identifier
                                x-description-i18n:
                                  eng: Shipment service identifier
                                  spa: Identificador del servicio de envío
                                  por: Identificador do serviço de envio
                              sender_id:
                                type: number
                                example: 999999999
                                description: Sender identifier
                                x-description-i18n:
                                  eng: Sender identifier
                                  spa: Identificador del remitente
                                  por: Identificador do remetente
                              receiver_id:
                                type: number
                                example: 999999999
                                description: Receiver Identifier
                                x-description-i18n:
                                  eng: Receiver Identifier
                                  spa: Identificador del receptor
                                  por: Identificador do destinatário
                              receiver_address:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    example: 9999999999
                                    description: Address ID.
                                    x-description-i18n:
                                      eng: Address ID.
                                      spa: Identificador de la dirección
                                      por: Identificador de endereço
                                  address_line:
                                    type: string
                                    example: address line
                                    description: Receiver address
                                    x-description-i18n:
                                      eng: Receiver address
                                      spa: Dirección del receptor
                                      por: Endereço do destinatário
                                  city:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        format: nullable
                                        description: City ID.
                                        x-description-i18n:
                                          eng: City ID.
                                          spa: Identificador de la ciudad
                                          por: Identificador da cidade
                                      name:
                                        type: string
                                        example: City Name
                                        description: City name.
                                        x-description-i18n:
                                          eng: City name.
                                          spa: Ciudad
                                          por: Cidade
                                    description: Attributes of the city associated with the receiver´s Address
                                    x-description-i18n:
                                      eng: Attributes of the city associated with the receiver´s Address
                                      spa: Atributos de la ciudad asociada a la dirección del receptor
                                      por: Atributos da cidade associado ao endereço do destinatário
                                  state:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: AR-X
                                        description: State ID.
                                        x-description-i18n:
                                          eng: State ID.
                                          spa: Identificador de la provincia
                                          por: Identificador da província
                                      name:
                                        type: string
                                        example: state name
                                        description: State name.
                                        x-description-i18n:
                                          eng: State name.
                                          spa: Estado
                                          por: Estado
                                    description: Attributes of the state associated with the receiver´s Address
                                    x-description-i18n:
                                      eng: Attributes of the state associated with the receiver´s Address
                                      spa: Atributos del estado asociado a la dirección del receptor
                                      por: Atributos do estado associado ao endereço do destinatário
                                  country:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: AR
                                        description: Country ID.
                                        x-description-i18n:
                                          eng: Country ID.
                                          spa: Identificador del país
                                          por: Identificador do país
                                      name:
                                        type: string
                                        example: Argentina
                                        description: Country name.
                                        x-description-i18n:
                                          eng: Country name.
                                          spa: Nombre del país
                                          por: Nome do país
                                    description: Attributes of the country associated with the receiver´s Address
                                    x-description-i18n:
                                      eng: Attributes of the country associated with the receiver´s Address
                                      spa: Atributos del país asociado a la dirección del receptor
                                      por: Atributos de país associado ao endereço do destinatário
                                  latitude:
                                    type: string
                                    example: 0
                                    description: Latitude.
                                    x-description-i18n:
                                      eng: Latitude.
                                      spa: Latitud
                                      por: Latitude
                                  longitude:
                                    type: string
                                    example: 0
                                    description: Longitude.
                                    x-description-i18n:
                                      eng: Longitude.
                                      spa: Longitud
                                      por: Longitude
                                  comment:
                                    type: string
                                    example: shipment comment
                                    description: Comment or additional information about the address
                                    x-description-i18n:
                                      eng: Comment or additional information about the address
                                      spa: Comentario o informacion adicional sobre la dirección
                                      por: Comentário ou informações adicionais sobre o endereço
                                  contact:
                                    type: string
                                    example: shipment contact
                                    description: Contact information.
                                    x-description-i18n:
                                      eng: Contact information.
                                      spa: Información del contacto.
                                      por: Informações de contato.
                                  phone:
                                    type: string
                                    example: 9999999999
                                    description: Phone number.
                                    x-description-i18n:
                                      eng: Phone number.
                                      spa: Número telefónico
                                      por: Número de telefone
                                  zip_code:
                                    type: string
                                    example: 9999
                                    description: Zip Code.
                                    x-description-i18n:
                                      eng: Zip Code.
                                      spa: Código postal
                                      por: CEP
                                  street_name:
                                    type: string
                                    example: Street name
                                    x-example-i18n:
                                      eng: Street name
                                      spa: Nombre de la calle
                                      por: Nome da rua
                                    description: Street name.
                                    x-description-i18n:
                                      eng: Street name.
                                      spa: Calle
                                      por: Rua
                                  street_number:
                                    type: string
                                    example: 999
                                    description: Street number.
                                    x-description-i18n:
                                      eng: Street number.
                                      spa: Número
                                      por: O Número
                                  floor:
                                    type: string
                                    format: nullable
                                    description: Floor
                                    x-description-i18n:
                                      eng: Floor
                                      spa: Piso
                                      por: Andar
                                  apartment:
                                    type: string
                                    format: nullable
                                    description: Apartment.
                                    x-description-i18n:
                                      eng: Apartment.
                                      spa: Departamento
                                      por: Apartamento
                                description: Receiver address attributes
                                x-description-i18n:
                                  eng: Receiver address attributes
                                  spa: Atributos de la dirección del receptor
                                  por: Atributos de endereço do destinatário
                              shipping_option:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    example: 999999999
                                    description: Shipping option identifier.
                                    x-description-i18n:
                                      eng: Shipping option identifier.
                                      spa: Identificador de opción de envío
                                      por: Identificador de opção de envio
                                  cost:
                                    type: number
                                    example: 0
                                    description: Shipping cost.
                                    x-description-i18n:
                                      eng: Shipping cost.
                                      spa: Costo de envío.
                                      por: Custo de envio.
                                  currency_id:
                                    $ref: '#/components/schemas/currency_id'
                                  shipping_method_id:
                                    type: number
                                    example: 99999
                                    description: Shipping method identifier.
                                    x-description-i18n:
                                      eng: Shipping method identifier.
                                      spa: Identificador del método de envío
                                      por: Identificador do método de envio
                                  estimated_delivery:
                                    type: object
                                    properties:
                                      date:
                                        type: string
                                        example: 2019-04-11T03:00:00.000Z
                                        description: Estimated delivery date.
                                        x-description-i18n:
                                          eng: Estimated delivery date.
                                          spa: Fecha estimada de entrega
                                          por: Data de entrega estimada
                                      time_from:
                                        type: string
                                        format: nullable
                                        description: Estimated timeframe start for delivery
                                        x-description-i18n:
                                          eng: Estimated timeframe start for delivery
                                          spa: Ventana horaria inicial estimada para la entrega
                                          por: Janela de tempo inicial estimada para entrega
                                      time_to:
                                        type: string
                                        format: nullable
                                        description: Estimated timeframe end for delivery
                                        x-description-i18n:
                                          eng: Estimated timeframe end for delivery
                                          spa: Ventana horaria final estimada para la entrega
                                          por: Janela de tempo final estimada para entrega
                                    description: Estimated delivery date.
                                    x-description-i18n:
                                      eng: Estimated delivery date.
                                      spa: Fecha estimada de entrega
                                      por: Data de entrega estimada
                                  name:
                                    type: string
                                    example: Normal a domicilio
                                    description: Shipping option name
                                    x-description-i18n:
                                      eng: Shipping option name
                                      spa: Nombre de la opción de envío
                                      por: Nome da opção de envio
                                  list_cost:
                                    type: number
                                    example: 0
                                    description: Shipping option listing cost
                                    x-description-i18n:
                                      eng: Shipping option listing cost
                                      spa: Costo de lista de la opción de envío
                                      por: Custo de listagem de opções de envio
                                  speed:
                                    type: object
                                    properties:
                                      handling:
                                        type: number
                                        example: 72
                                        description: Handling time
                                        x-description-i18n:
                                          eng: Handling time
                                          spa: Tiempo de manipulación
                                          por: Tempo de manuseio
                                      shipping:
                                        type: number
                                        example: 72
                                        description: Shipping time
                                    description: Delivery option speed ​​attributes
                                    x-description-i18n:
                                      eng: Delivery option speed ​​attributes
                                      spa: Atributos de velocidad de la opción de entrega
                                      por: Atributos de velocidade da opção de entrega
                                description: Attributes associated with the shipping option
                                x-description-i18n:
                                  eng: Attributes associated with the shipping option
                                  spa: Atributos asociados a la opción de envío
                                  por: Atributos associados à opção de envio
                          description: Shipment Attributes
                          x-description-i18n:
                            eng: Shipment Attributes
                            spa: Atributos de los envíos
                            por: Atributos de envio
                        collector:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 999999999
                              description: Identifier of the collecting Mercado Pago account
                              x-description-i18n:
                                eng: Identifier of the collecting Mercado Pago account
                                spa: Identificador de la cuenta de Mercado Pago recaudadora
                                por: Identificador da conta coletora do Mercado Pago
                            nickname:
                              type: string
                              format: nullable
                              description: Collector nickname.
                              x-description-i18n:
                                eng: Collector nickname.
                                spa: Nickname del collector
                                por: Nick do collector
                          description: Attributes of the Mercado Pago account collecting the payment
                          x-description-i18n:
                            eng: Attributes of the Mercado Pago account collecting the payment
                            spa: Atributos de la cuenta de Mercado Pago recaudadora del pago
                            por: Atributos da conta do Mercado Pago que cobra o pagamento
                        marketplace:
                          type: string
                          example: NONE
                          description: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                          x-description-i18n:
                            eng: Indicates if it is a Mercado Libre (MELI) or Mercado Pago (NONE) Marketplace payment
                            spa: Indica si es un pago de Marketplace de Mercado Libre (MELI) o Mercado Pago (NONE)
                            por: Indique se é um pagamento Mercado Livre (MELI) ou Mercado Pago (NONE) Marketplace
                        notification_url:
                          type: string
                          format: nullable
                          description: URL where you'd like to receive a payment or merchant_order notification.
                          x-description-i18n:
                            eng: URL where you'd like to receive a payment or merchant_order notification.
                            spa: URL a la cual se enviará la notificación de pago o merchant_order
                            por: URL em que você gostaria de receber uma notificação de pagamento ou merchant_order
                        date_created:
                          type: string
                          example: 2018-09-14T17:11:31.000Z
                          description: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                          x-description-i18n:
                            eng: Order creation date. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                            spa: Fecha de creación de la Orden. El formato es YYYY-MM-DDThh:mm:ss.dcm-GMT, por ejemplo 2021-12-29T20:19:17.000-04:00.
                            por: Data de criação do pedido. O formato é YYYY-MM-DDThh:mm:ss.dcm-GMT, por exemplo 2021-12-29T20:19:17.000-04:00.
                        last_updated:
                          type: string
                          example: 2018-09-14T17:11:43.000Z
                          description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                          x-description-i18n:
                            eng: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                            spa: Fecha de última actualización de la Orden. El formato es YYYY-MM-DDThh:mm:ss.dcm-GMT, por ejemplo 2021-12-29T20:19:17.000-04:00.
                            por: Data da última atualização do pedido. O formato é YYYY-MM-DDThh:mm:ss.dcm-GMT, por exemplo 2021-12-29T20:19:17.000-04:00.
                        sponsor_id:
                          type: string
                          format: nullable
                          description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                          x-description-i18n:
                            eng: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                            spa: Identificador de la cuenta de Mercado Pago del Partner. Se utiliza para identificar si la integración fue realizada por algún partner.
                            por: Identificador da conta Mercado Pago do Partnet. É usado para identificar se a integração foi realizada por um partner.
                        shipping_cost:
                          type: number
                          example: 0
                          description: Shipping cost, if applicable
                          x-description-i18n:
                            eng: Shipping cost, if applicable
                            spa: Costo de envío, si aplica
                            por: Custo de envio, se aplicável
                        total_amount:
                          type: number
                          example: 5
                          description: Total amount of the transaction in local currency.
                          x-description-i18n:
                            eng: Total amount of the transaction in local currency.
                            spa: Monto total de la transacción en moneda local
                            por: Valor total da transação na moeda local
                        site_id:
                          type: string
                          example: MLA
                          description: Site ID.
                          enum:
                        paid_amount:
                          type: number
                          example: 5
                          description: Paid amount
                          x-description-i18n:
                            eng: Paid amount
                            spa: Monto pagado
                            por: Valor pago
                        refunded_amount:
                          type: number
                          example: 0
                          description: Refunded amount
                          x-description-i18n:
                            eng: Refunded amount
                            spa: Monto reembolsado
                            por: Valor reembolsado
                        payer:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 999999999
                              description: Payer ID.
                              x-description-i18n:
                                eng: Payer ID.
                                spa: Identificador de pagador
                                por: Identificador de pagador
                            email:
                              type: string
                              description: Payer’s email address.
                              x-description-i18n:
                                eng: Payer’s email address.
                                spa: E-mail del pagador
                                por: E-mail do pagante
                          description: Buyer Information.
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: item id
                                description: Item id.
                                x-description-i18n:
                                  eng: Item id.
                                  spa: Identificador del ítem
                                  por: Id do anúncio
                              category_id:
                                type: string
                                example: item category
                                description: This is a free string where the item category can be added.
                                x-description-i18n:
                                  eng: This is a free string where the item category can be added.
                                  spa: Esto es un string libre donde se puede agregar la categoría del ítem.
                                  por: Esta é uma string livre onde a categoria do item pode ser adicionada.
                              currency_id:
                                $ref: '#/components/schemas/currency_id'
                              description:
                                type: string
                                example: item description
                                description: Item description.
                                x-description-i18n:
                                  eng: Item description.
                                  spa: Descripción del item
                                  por: Descrição do artigo
                              picture_url:
                                type: string
                                example: item picture url
                                description: Item image URL.
                                x-description-i18n:
                                  eng: Item image URL.
                                  spa: URL de imagen del ítem
                                  por: URL da imagem do anúncio
                              title:
                                type: string
                                example: item title
                                description: Item title. It will be displayed in the payment process.
                                x-description-i18n:
                                  eng: Item title. It will be displayed in the payment process.
                                  spa: Título del ítem, se mostrará en el flujo de pago
                                  por: Título do item, é apresentado o fluxo de pagamento
                              quantity:
                                type: number
                                example: 1
                                description: Item quantity.
                                x-description-i18n:
                                  eng: Item quantity.
                                  spa: Cantidad de producto
                                  por: Quantidade do produto
                              unit_price:
                                type: number
                                example: 5
                                description: Item unit price.
                                x-description-i18n:
                                  eng: Item unit price.
                                  spa: Precio unitario del ítem
                                  por: Preço unitário do item
                          description: Order item attributes
                          x-description-i18n:
                            eng: Order item attributes
                            spa: Atributos de los items de la orden
                            por: Atributos dos itens do pedido
                        cancelled:
                          type: boolean
                          description: Boolean value that indicates if the order was cancelled
                          x-description-i18n:
                            eng: Boolean value that indicates if the order was cancelled
                            spa: Valor booleano que indica si la orden fue cancelada
                            por: Valor booleano que indica se o pedido foi cancelado
                        additional_info:
                          type: string
                          example: additional information
                          description: Additional information.
                          x-description-i18n:
                            eng: Additional information.
                            spa: Información adicional
                            por: Informações adicionais
                        application_id:
                          type: number
                          example: 10000000000000000
                          description: application identifier.
                          x-description-i18n:
                            eng: application identifier.
                            spa: Identificador de aplicación
                            por: Id do aplicativo
                        order_status:
                          $ref: '#/components/schemas/order_status'
                    description: elements
                  next_offset:
                    type: number
                    example: 1
                    description: next_offset
                  total:
                    type: number
                    example: 1
                    description: total
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - ds_search_query--invalid query.
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--invalid_token.
                      - invalid_caller_id--invalid caller_id
  /merchant_orders/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/qr-code'
      summary: Get order
      x-summary-i18n:
        eng: Get order
        spa: Obtener orden
        por: Obter pedido
      description: Check the payment information for a product or service with the ID of the order you want
      x-description-i18n:
        eng: Check the payment information for a product or service with the ID of the order you want
        spa: Consulta toda la información de pago de un producto o servicio con el ID de la orden que quieras
        por: Veja todas as informações de pagamento de um produto ou serviço com a identificação do pedido de sua escolha
      parameters:
        - name: id
          in: path
          description: Unique identifier of the order generated by Mercado Pago
          x-description-i18n:
            eng: Unique identifier of the order generated by Mercado Pago
            spa: Identificador único de la orden generada por Mercado Pago
            por: Identificador único do pedido gerado pelo Mercado Pago
          required: true
          schema:
            type: number
            example: 123123123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 9999999999
                    description: Unique identifier of the order generated by Mercado Pago
                    x-description-i18n:
                      eng: Unique identifier of the order generated by Mercado Pago
                      spa: Identificador único de la orden generada por Mercado Pago
                      por: Identificador único do pedido gerado pelo Mercado Pago
                  status:
                    $ref: '#/components/schemas/status'
                  external_reference:
                    type: string
                    example: default
                    description: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                    x-description-i18n:
                      eng: Unique identifier sent by the seller to relate the order_id generated by Mercado Pago, with the id of their payment system
                      spa: Identificador único que envía el vendedor para relacionar la order_id generada por Mercado Pago, con el id de su sistema de pagos
                      por: Identificador único enviado pelo vendedor para relacionar o order_id gerado pelo Mercado Pago ao ID do seu sistema de pagamento
                  preference_id:
                    type: string
                    example: Preference identification
                    description: Identifier of the payment preference associated to the order
                    x-description-i18n:
                      eng: Identifier of the payment preference associated to the order
                      spa: Identificador de la preferencia de pago asociado a la orden
                      por: Identificador da preferência de pagamento associada ao pedido
                  payments:
                    type: array
                    description: Payment Attributes associated with the Order
                    x-description-i18n:
                      eng: Payment Attributes associated with the Order
                      spa: Atributos de Pagos asociados a la Orden
                      por: Atributos de pagamento associados ao pedido
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 9999999999
                          description: Unique Payment Identifier, automatically generated by Mercado Pago
                          x-description-i18n:
                            eng: Unique Payment Identifier, automatically generated by Mercado Pago
                            spa: Identificador único del pago, generado automáticamente por Mercado Pago
                            por: Identificador único de pagamento, gerado automaticamente pelo Mercado Pago
                        transaction_amount:
                          type: number
                          example: 1
                          description: Total amount of the payment attempt. It is the amount of money that is deposited to the seller. Numeric field.
                          x-description-i18n:
                            eng: Total amount of the payment attempt. It is the amount of money that is deposited to the seller. Numeric field.
                            spa: Monto total del intento de pago. Es la suma de dinero que se le deposita al seller. Campo numérico.
                            por: Valor total da tentativa de pagamento. É a soma de dinheiro que é depositada ao vendedor. Campo numérico.
                        total_paid_amount:
                          type: number
                          example: 1
                          description: Total amount charged to the payer
                          x-description-i18n:
                            eng: Total amount charged to the payer
                            spa: Monto total cobrado al payer
                            por: Valor total cobrado ao pagador
                        shipping_cost:
                          type: number
                          example: 0
                          description: Shipping cost, if applicable
                          x-description-i18n:
                            eng: Shipping cost, if applicable
                            spa: Costo de envío, si aplica
                            por: Custo de envio, se aplicável
                        currency_id:
                          $ref: '#/components/schemas/currency_id'
                        status:
                          $ref: '#/components/schemas/payment_status'
                        status_detail:
                          type: string
                          example: accredited
                          description: Detail in which the Collection resulted
                          x-description-i18n:
                            eng: Detail in which the Collection resulted
                            spa: Detalle en el que resultó el Cobro
                            por: Detalhe em que resultou a Coleção
                          enum:
                        operation_type:
                          $ref: '#/components/schemas/operation_type'
                        date_approved:
                          type: string
                          example: '2019-04-02T18:35:35.000Z'
                          description: Payment approval date
                          x-description-i18n:
                            eng: Payment approval date
                            spa: Fecha de aprobación del pago
                            por: Data de aprovação do pagamento
                        date_created:
                          type: string
                          example: '2019-04-02T18:35:34.000Z'
                          description: Payment creation date
                          x-description-i18n:
                            eng: Payment creation date
                            spa: Fecha de creación del pago
                            por: Data de criação do pagamento
                        last_modified:
                          type: string
                          example: '2019-04-02T18:35:35.000Z'
                          description: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                          x-description-i18n:
                            eng: Date of last update of the order. The format is YYYY-MM-DDThh:mm:ss.dcm-GMT, for example 2021-12-29T20:19:17.000-04:00.
                            spa: Fecha de última actualización de la Orden. El formato es YYYY-MM-DDThh:mm:ss.dcm-GMT, por ejemplo 2021-12-29T20:19:17.000-04:00.
                            por: Data da última atualização do pedido. O formato é YYYY-MM-DDThh:mm:ss.dcm-GMT, por exemplo 2021-12-29T20:19:17.000-04:00.
                        amount_refunded:
                          type: number
                          example: 0
                          description: Amount refunded. It cannot be an amount larger than total_amount.
                          x-description-i18n:
                            eng: Amount refunded. It cannot be an amount larger than total_amount.
                            spa: Monto reembolsado. No puede ser un monton mayor a total_amount.
                            por: Valor reembolsado. Não pode ser um valor maior que total_amount.
                  shipments:
                    type: array
                    description: Shipment Attributes
                    x-description-i18n:
                      eng: Shipment Attributes
                      spa: Atributos de los envíos
                      por: Atributos de envio
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 99999999999
                          description: Unique shipment identifier
                          x-description-i18n:
                            eng: Unique shipment identifier
                            spa: Identificador único del envío
                            por: Identificador único de envio
                        shipment_type:
                          type: string
                          example: shipping
                          description: Shipment type
                          x-description-i18n:
                            eng: Shipment type
                            spa: Tipo de envío
                            por: Tipo de envio
                        shipping_mode:
                          type: string
                          example: me2
                          description: Shipping mode.
                          x-description-i18n:
                            eng: Shipping mode.
                            spa: Modo de envío
                            por: Modo de envio
                        picking_type:
                          type: string
                          format: nullable
                          description: Package pickup mode
                          x-description-i18n:
                            eng: Package pickup mode
                            spa: Modo de recolección del paquete
                            por: Modo de retirada do pacote
                        status:
                          type: string
                          example: delivered
                          description: Shipping status
                          x-description-i18n:
                            eng: Shipping status
                            spa: Estado del envío
                            por: Status do envio
                        substatus:
                          type: string
                          format: nullable
                          description: Secondary shipping status
                          x-description-i18n:
                            eng: Secondary shipping status
                            spa: Estado secundario del envío
                            por: Status secundário do envio
                        items:
                          type: array
                          description: Shipped object attributes
                          x-description-i18n:
                            eng: Shipped object attributes
                            spa: Atributos del objeto enviado
                            por: Atributos do objeto enviado
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: not specified
                                description: Item identifier
                                x-description-i18n:
                                  eng: Item identifier
                                  spa: Identificador del item
                                  por: Identificador de item
                              description:
                                type: string
                                example: shipment item description
                                description: Item description
                                x-description-i18n:
                                  eng: Item description
                                  spa: Descripción del item
                                  por: Descrição do item
                              quantity:
                                type: number
                                example: 1
                                description: Item quantity
                                x-description-i18n:
                                  eng: Item quantity
                                  spa: Cantidad del item
                                  por: Quantidade do item
                              dimensions:
                                type: string
                                example: 1.0x10.0x23.0100.0
                                description: Item dimensions
                                x-description-i18n:
                                  eng: Item dimensions
                                  spa: Dimensiones del item
                                  por: Dimensões do item
                              dimensions_source:
                                type: string
                                format: nullable
                                description: Item dimensions
                                x-description-i18n:
                                  eng: Item dimensions
                                  spa: Dimensiones del item
                                  por: Dimensões do item
                        date_created:
                          type: string
                          example: '2019-04-02T18:20:46.000Z'
                          description: Shipment creation date
                          x-description-i18n:
                            eng: Shipment creation date
                            spa: Fecha de creación del envío
                            por: Data de criação do envio
                        last_modified:
                          type: string
                          example: '2019-04-12T19:36:48.000Z'
                          description: Shipment last modified date
                          x-description-i18n:
                            eng: Shipment last modified date
                            spa: Fecha de última modificación del envío
                            por: Data da última modificação do envio
                        date_first_printed:
                          type: string
                          example: '2019-04-02T18:35:40.000Z'
                          description: First printed date
                          x-description-i18n:
                            eng: First printed date
                            spa: Fecha primera impresión
                            por: Data da primeira impressão
                        service_id:
                          type: number
                          example: 999
                          description: Shipment service identifier
                          x-description-i18n:
                            eng: Shipment service identifier
                            spa: Identificador del servicio de envío
                            por: Identificador do serviço de envio
                        sender_id:
                          type: number
                          example: 999999999
                          description: Sender identifier
                          x-description-i18n:
                            eng: Sender identifier
                            spa: Identificador del remitente
                            por: Identificador do remetente
                        receiver_id:
                          type: number
                          example: 999999999
                          description: Receiver Identifier
                          x-description-i18n:
                            eng: Receiver Identifier
                            spa: Identificador del receptor
                            por: Identificador do destinatário
                        receiver_address:
                          type: object
                          description: Receiver address attributes
                          x-description-i18n:
                            eng: Receiver address attributes
                            spa: Atributos de la dirección del receptor
                            por: Atributos de endereço do destinatário
                          properties:
                            id:
                              type: number
                              example: 9999999999
                              description: Address ID.
                              x-description-i18n:
                                eng: Address ID.
                                spa: Identificador de la dirección
                                por: Identificador de endereço
                            address_line:
                              type: string
                              example: address line
                              description: Receiver address
                              x-description-i18n:
                                eng: Receiver address
                                spa: Dirección del receptor
                                por: Endereço do destinatário
                            city:
                              type: object
                              description: Attributes of the city associated with the receiver´s Address
                              x-description-i18n:
                                eng: Attributes of the city associated with the receiver´s Address
                                spa: Atributos de la ciudad asociada a la dirección del receptor
                                por: Atributos da cidade associado ao endereço do destinatário
                              properties:
                                id:
                                  type: string
                                  format: nullable
                                  description: City ID.
                                  x-description-i18n:
                                    eng: City ID.
                                    spa: Identificador de la ciudad
                                    por: Identificador da cidade
                                name:
                                  type: string
                                  example: City Name
                                  description: City name.
                                  x-description-i18n:
                                    eng: City name.
                                    spa: Ciudad
                                    por: Cidade
                            state:
                              type: object
                              description: Attributes of the state associated with the receiver´s Address
                              x-description-i18n:
                                eng: Attributes of the state associated with the receiver´s Address
                                spa: Atributos del estado asociado a la dirección del receptor
                                por: Atributos do estado associado ao endereço do destinatário
                              properties:
                                id:
                                  type: string
                                  example: AR-X
                                  description: State ID.
                                  x-description-i18n:
                                    eng: State ID.
                                    spa: Identificador de la provincia
                                    por: Identificador da província
[...]
