openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /proximity-integration/shipments/{shipment_id}/accept:
    put:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Accept order
      description: This endpoint is used to accept an order, and change its status
      parameters:
        - name: shipment_id
          in: path
          description: Unique ID that identifies the shipment of the order to be performed by the operation to accept an order. 
          required: true
          schema:
            type: string
            example: 41034141533
        - in: header
          name: access-token
          description: "Access token generated from the seller by the authentication process (OAuth). This security code identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"  
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: This property indicates the order status, which must have the value "accepted" for this endpoint. 
                  example: "accepted"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the order after its acceptance. The Status value that will be returned is "accepted".
                    example: accepted   
  /proximity-integration/shipments/{shipment_id}/print_label_pdf:
    get:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Print/get order coupon
      description: This endpoint is used to accept an order and, in addition, it returns the PDF file for the order coupon
      parameters:
        - name: shipment_id
          in: path
          description: Unique ID that identifies the shipment of the order to be performed by the operations to accept and print an order. 
          required: true
          schema:
            type: string
            example: 41034141533
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: A binary code referring to the PDF coupon.
  /proximity-integration/shipments/{shipment_id}/cancel:
    put:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Cancel order
      description: This endpoint cancels an order, changing its status
      parameters:
        - name: shipment_id
          in: path
          description: Unique ID that identifies the shipment of the order to be performed by the operations to accept and print an order. 
          required: true
          schema:
            type: string
            example: 41034141533
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: This property indicates the order status, which must have the value "cancelled" for this endpoint.
                  example: "cancelled"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the order after its cancellation. The Status value that will be returned is "cancelled".
                    example: cancelled
  /proximity-integration/users/{seller_id}/stores:
    get:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Get all stores
      description: This endpoint returns all stores owned by a user, using the User ID as search filter
      parameters:
        - name: seller_id
          in: path
          description: Unique ID that identifies the user that will be used as search filter to consult stores.
          required: true
          schema:
            type: string
            example: 41562083
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:          
                type: array
                description: List of stores referring to the searched User ID.
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 41517088
                      description: Unique ID that identifies the store.
                    user_id:
                      type: number
                      example: 813887163
                      description: Unique ID that identifies the user who owns the store.
                    description:
                      type: string
                      example: "Doc's grocery store"
                      description: Name of the store.
                    business_hours:
                      type: object
                      description: List of store opening hours. Each attribute of the object will be represented by a day of the week. 
                      properties:
                       monday:
                         type: array
                         description: List of store opening hours on that weekday. 
                         items:
                           type: object
                           properties:
                             open:
                               type: string
                               example: "8:00"
                               description: Store opening time on that weekday.
                             close:
                               type: string
                               example: "15:00"
                               description: Store closing time on that weekday.
                       tuesday:
                         type: array
                         description: List of store opening hours on that weekday.
                         items:
                           type: object
                           properties:
                             open:
                               type: string
                               example: "8:00"
                               description: Store opening time on that weekday.
                             close:
                               type: string
                               example: "15:00"
                               description: Store closing time on that weekday.
                       wendsday:
                         type: array
                         description: List of store opening hours on that weekday.
                         items:
                           type: object
                           properties:
                             open:
                               type: string
                               example: "8:00"
                               description: Store opening time on that weekday.
                             close:
                               type: string
                               example: "15:00"
                               description: Store closing time on that weekday.
                       thursday:
                         type: array
                         description: List of store opening hours on that weekday.
                         items:
                           type: object
                           properties:
                             open:
                               type: string
                               example: "8:00"
                               description: Store opening time on that weekday.
                             close:
                               type: string
                               example: "15:00"
                               description: Store closing time on that weekday.
                       friday:
                         type: array
                         description: List of store opening hours on that weekday.
                         items:
                           type: object
                           properties:
                             open:
                               type: string
                               example: "8:00"
                               description: Store opening time on that weekday.
                             close:
                               type: string
                               example: "15:00"
                               description: Store closing time on that weekday.
                    location: 
                      type: object
                      description: Store location information. This includes address, latitute, longitude, and additional location references.
                      properties:
                        address_line:
                          type: string
                          description: Store address information
                          example: "Viaduto Arapuã - Saude, São Paulo - SP, 04307-070, Brasil"
                        reference:
                          type: string
                          description: Additional information provided for store location.
                          example: "Next to a bakery"
                        latitude:
                          type: number
                          description: Latitude of the store.
                          example: -23.630159633405057
                        longitude:
                          type: number
                          description: Longitude of the store.
                          example: -46.64532809999999
                    external_id:
                      type: string
                      description: This optional property indicates the custom external ID of the store. This value can be changed or updated using the endpoint that updates External IDs. 
                      example: "A15154DE"
  /proximity-integration/stores/{StoreID}:
    get:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Get store
      description: This endpoint is used to get a specific store using its ID as search filter
      parameters:
        - name: StoreID
          in: path
          description: Unique ID that identifies the store that will be used as search parameter. 
          required: true
          schema:
            type: string
            example: 185522600
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 41517088
                    description: Unique ID that identifies the store.  
                  user_id:
                    type: number
                    example: 813887163
                    description: Unique ID that identifies the user who owns the store.
                  description:
                    type: string
                    example: "Doc's grocery store"
                    description: Name of the store.
                  status:
                    type: string
                    example: "enabled"
                    description: Status referring to the current state of operation of the store.
                    enum:
                      - disabled -- The store is disabled, and will not be shown on marketplace.
                      - enabled -- The store is enabled and is shown on marketplace.
                      - paused -- The delivery of store is paused, but the store will cotinue to be shown on marketplace.
                  business_hours:
                    type: object
                    description: List of store opening hours. Each attribute of the object will be represented by a day of the week. 
                    properties:
                      monday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      tuesday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      wendsday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      thursday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      friday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                  location: 
                    type: object
                    description: Store location information. This includes address, latitute, longitude, and additional location references.
                    properties:
                      address_line:
                        type: string
                        description: Store address information 
                        example: "Viaduto Arapuã - Saude, São Paulo - SP, 04307-070, Brasil"
                      reference:
                        type: string
                        description: Store location add-on.
                        example: "Next to a bakery"
                      latitude:
                        type: number
                        description: Latitude of the store.
                        example: -23.630159633405057
                      longitude:
                        type: number
                        description: Longitude of the store.
                        example: -46.64532809999999
                  external_id:
                    type: string
                    description: This optional property indicates the custom external ID of the store. This value can be changed or updated using the endpoint that updates External IDs. 
                    example: "A15154DE"
  /proximity-integration/stores/{StoreID}/external_id:
    put:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Update external ID
      description: This endpoint updates the External ID value. The External ID value is an optonal field
      parameters:
        - name: StoreID
          in: path
          description: Unique ID that identifies the store whose External ID will be updated.
          required: true
          schema:
            type: string
            example: 185522600
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_id:
                  type: string
                  description: Value of the external ID which will be linked to the store.
                  example: "9320001PC21"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 41517088
                    description: Unique ID that identifies the store.  
                  user_id:
                    type: number
                    example: 813887163
                    description: Unique ID that identifies the user who owns the store.
                  description:
                    type: string
                    example: "Doc's grocery store"
                    description: Name of the store
                  business_hours:
                    type: object
                    description: List of store opening hours. Each attribute of the object will be represented by a day of the week.  
                    properties:
                      monday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      tuesday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      wendsday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      thursday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      friday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                  location: 
                    type: object
                    description: Store location information. This includes address, latitute, longitude, and additional location references.
                    properties:
                      address_line:
                        type: string
                        description: Store address information 
                        example: "Viaduto Arapuã - Saude, São Paulo - SP, 04307-070, Brasil"
                      reference:
                        type: string
                        description: Store location add-on.
                        example: "Next to a bakery"
                      latitude:
                        type: number
                        description: Latitude of the store.
                        example: -23.630159633405057
                      longitude:
                        type: number
                        description: Longitude of the store.
                        example: -46.64532809999999
                  external_id:
                    type: string
                    description: This optional property indicates the custom external ID of the store. This value can be changed or updated using the endpoint that updates External IDs.
                    example: "9320001PC21"
  /proximity-integration/users/{SellerID}/stores/external_id/{ExternalID}:
    get:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Get store by external ID
      description: This endpoint gets stores by the external ID that was previously registered
      parameters:
        - name: SellerID
          in: path
          description: Unique ID that identifies the user who owns the store.
          required: true
          schema:
            type: string
            example: 185522600
        - name: ExternalID
          in: path
          description: Store external ID that was previously registered.
          required: true
          schema:
            type: string
            example: "9320001PC21"
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:          
                type: object
                properties:
                  id:
                    type: number
                    example: 41517088
                    description: Store ID linked to the external ID that was used as search parameter.
                  user_id:
                    type: number
                    example: 813887163
                    description: Unique ID that identifies the user who owns the store.
                  description:
                    type: string
                    example: "Doc's grocery store"
                    description: Name of the store.
                  business_hours:
                    type: object
                    description: List of store opening hours. Each attribute of the object will be represented by a day of the week. 
                    properties:
                     monday:
                       type: array
                       description: List of store opening hours on that weekday.
                       items:
                         type: object
                         properties:
                           open:
                             type: string
                             example: "8:00"
                             description: Store opening time on that weekday.
                           close:
                             type: string
                             example: "15:00"
                             description: Store closing time on that weekday.
                     tuesday:
                       type: array
                       description: List of store opening hours on that weekday.
                       items:
                         type: object
                         properties:
                           open:
                             type: string
                             example: "8:00"
                             description: Store opening time on that weekday.
                           close:
                             type: string
                             example: "15:00"
                             description: Store closing time on that weekday.
                     wendsday:
                       type: array
                       description: List of store opening hours on that weekday.
                       items:
                         type: object
                         properties:
                           open:
                             type: string
                             example: "8:00"
                             description: Store opening time on that weekday.
                           close:
                             type: string
                             example: "15:00"
                             description: Store closing time on that weekday.
                     thursday:
                       type: array
                       description: List of store opening hours on that weekday.
                       items:
                         type: object
                         properties:
                           open:
                             type: string
                             example: "8:00"
                             description: Store opening time on that weekday.
                           close:
                             type: string
                             example: "15:00"
                             description: Store closing time on that weekday.
                     friday:
                       type: array
                       description: List of store opening hours on that weekday.
                       items:
                         type: object
                         properties:
                           open:
                             type: string
                             example: "8:00"
                             description: Store opening time on that weekday.
                           close:
                             type: string
                             example: "15:00"
                             description: Store closing time on that weekday.
                  location: 
                    type: object
                    description: Store location information. This includes address, latitute, longitude, and additional location references.
                    properties:
                      address_line:
                        type: string
                        description: Store address information.
                        example: "Viaduto Arapuã - Saude, São Paulo - SP, 04307-070, Brasil"
                      reference:
                        type: string
                        description: Store location add-on.
                        example: "Next to a bakery"
                      latitude:
                        type: number
                        description: Latitude of the store.
                        example: -23.630159633405057
                      longitude:
                        type: number
                        description: Longitude of the store.
                        example: -46.64532809999999
                  external_id:
                    type: string
                    description: This optional property indicates the custom external ID of the store. This value can be changed or updated using the endpoint that updates External IDs.
                    example: "9320001PC21"
  /proximity-integration/stores/{store_id}/status:
    put:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Update store status
      description: This endpoint changes the operation status of a store
      parameters:
        - name: store_id
          in: path
          description: Unique ID that identifies the store whose status will be updated.
          required: true
          schema:
            type: string
            example: 4101533
        - name: access-token
          in: header
          description: "Access token generated from the seller by the authentication process (OAuth). Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of:"
          enum:
            - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
            - Client ID -- 1585551492
            - Creation date (MMddHH) -- 030918
            - Security hash -- 25######3458
            - User ID -- 2880736
          required: true
          schema:
            type: string
            example: "APP_USR-3213901234561-124232-2cb82fs4f17683d1b2cf36d4bf-8138341993"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: "enabled"
                  description: Status referring to the current state of operation of the store.
                  enum:
                    - disabled -- The store is disabled, and will not be shown on marketplace.
                    - enabled -- The store is enabled and is shown on marketplace.
                    - paused -- The delivery of store is paused, but the store will cotinue to be shown on marketplace.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 41517088
                    description: Unique ID that identifies the store.  
                  user_id:
                    type: number
                    example: 813887163
                    description: Unique ID that identifies the user who owns the store.
                  description:
                    type: string
                    example: "Doc's grocery store"
                    description: Name of the store.
                  status:
                    type: string
                    example: "enabled"
                    description: Operation status of a store.
                    enum:
                      - disabled -- The store is disabled, and will not be shown on marketplace.
                      - enabled -- The store is enabled and is shown on marketplace.
                      - paused -- The delivery of store is paused, but the store will cotinue to be shown on marketplace.
                  business_hours:
                    type: object
                    description: List of store opening hours. Each attribute of the object will be represented by a day of the week.  
                    properties:
                      monday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time.
                      tuesday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      wendsday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      thursday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                      friday:
                        type: array
                        description: List of store opening hours on that weekday.
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: "8:00"
                              description: Store opening time on that weekday.
                            close:
                              type: string
                              example: "15:00"
                              description: Store closing time on that weekday.
                  location: 
                    type: object
                    description: Store location information. This includes address, latitute, longitude, and additional location references.
                    properties:
                      address_line:
                        type: string
                        description: Store address information  
                        example: "Viaduto Arapuã - Saude, São Paulo - SP, 04307-070, Brasil"
                      reference:
                        type: string
                        description: Store location add-on.
                        example: "Next to a bakery"
                      latitude:
                        type: number
                        description: Latitude of the store.
                        example: -23.630159633405057
                      longitude:
                        type: number
                        description: Longitude of the store.
                        example: -46.64532809999999
                  external_id:
                    type: string
                    description: This optional property indicates the custom external ID of the store. This value can be changed or updated using the endpoint that updates External IDs.
                    example: "A15154DE"
