openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /proximity/integration/v1/catalog:
    post:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Catalog import
      x-summary-i18n:
        eng: Catalog import
        spa: Importación de catálogo
        por: Importação de catálogo
      description: Endpoint to send a catalog to be imported asynchronously, to one or more stores. Each store generates an import identifier that can be used to check the process status afterwards. http response status is 202 when all the publications were sent for processing, or 206 in case some publication failed. Validation errors will return http 400 and no publication will be created.
      x-description-i18n:
        eng: Endpoint to send a catalog to be imported asynchronously, to one or more stores. Each store generates an import identifier that can be used to check the process status afterwards. http response status is 202 when all the publications were sent for processing, or 206 in case some publication failed. Validation errors will return http 400 and no publication will be created.
        spa: Endpoint para importar un catálogo asincrónicamente, a una o más tiendas. Cada tienda genera un identificador de importación que se puede utilizar para comprobar el estado del proceso posteriormente. El estado de respuesta de http es 202 cuando todas las publicaciones se enviaron para su procesamiento, o 206 en caso de que alguna publicación falle. Los errores de validación devolverán http 400 y no se creará ninguna publicación.
        por: Endpoint para importar um catálogo de forma assíncrona, para uma ou mais lojas. Cada loja gera um identificador de importação que pode ser usado para verificar o status do processo posteriormente. O status da resposta http é 202 quando todas as publicações foram enviadas para processamento ou 206 caso alguma publicação tenha falhado. Os erros de validação retornarão http 400 e nenhuma publicação será criada.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                store_ids:
                  type: array
                  description: Array that receives external_ids of the stores that should receive the catalog. The external_ids of each store can be configured using the Mercado Pago Delivery API.
                  x-description-i18n:
                    eng: Array that receives external_ids of the stores that should receive the catalog. The external_ids of each store can be configured using the Mercado Pago Delivery API.
                    spa: Array que recibe el external_ids de las tiendas que deben recibir el catálogo. Los external_ids de cada tienda se pueden configurar mediante la API de Mercado Pago Delivery.
                    por: Array que recebe os external_ids das loja que deverão receber o catálogo. Os external_ids de cada loja podem ser configurados usando a API do Mercado Pago Delivery.
                  items:
                   example: "external_store_id_01"
                sections:
                  type: array
                  description: Array of objects that contain information about the sections that should be imported into the catalog.
                  x-description-i18n:
                    eng: Array of objects that contain information about the sections that should be imported into the catalog.
                    spa: Array de objetos que contienen información sobre las secciones que deben importarse al catálogo.
                    por: Array de objetos que contem informações das seções que deverão ser importados para o catálogo.
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                        example: "The most delicious burgers in town"
                        description: Optional string, that describes the catalog section.
                        x-description-i18n:
                          eng: Optional string that describes the catalog section.
                          spa: String opcional que describe la sección del catálogo.
                          por: String opcional, que descreve a seção do catálogo.
                      name:
                        type: string
                        example: "Hamburguers"
                        description: Name of the section.
                        x-description-i18n:
                          eng: Name of the section.
                          spa: Nombre de la sección.
                          por: Nome da seção.
                      items:
                        type: array
                        description: Array of objects containing the items to be imported into the section.
                        x-description-i18n:
                          eng: Array of objects containing the items to be imported into the section.
                          spa: Array de objetos que contienen los items que deberán ser importados en la sección.
                          por: Array de objetos que contem os itens que deverão ser importados dentro da seção.
                        items:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Optional string that describes the item.
                              x-description-i18n:
                                eng: Optional string that describes the item.
                                spa: String opcional que describe el ítem.
                                por: String opcional que descreve o item.
                              example: "Item Description"
                            external_id:
                              type: string
                              description: The item public identifier (SKU), must be unique for each store. Used for future item updates.
                              x-description-i18n:
                                eng: The item public identifier (SKU), must be unique for each store. Used for future item updates.
                                spa: El identificador público (SKU) del item debe ser único para cada tienda. Se utiliza para futuras actualizaciones de elementos.
                                por: O identificador público do item (SKU), deve ser único para cada loja. Usado para futuras atualizações de itens.
                              example: "M147"
                            image:
                              type: string
                              description: Public link to the item image that will be displayed to the buyer. The image will be copied to an internal storage during the item creation.
                              x-description-i18n:
                                eng: Public link to the item image that will be displayed to the buyer. The image will be copied to an internal storage during the item creation.
                                spa: Enlace público a la imagen del ítem que se mostrará al comprador. La imagen se copiará en un almacenamiento interno durante la creación del ítem.
                                por: Link público para a imagem do item que será exibida ao comprador. A imagem será copiada para um armazenamento interno durante a criação do item.
                              example: "https://"
                            name:
                              type: string
                              description: Item name.
                              x-description-i18n:
                                eng: Item name.
                                spa: Nombre del ítem.
                                por: Nome do item.
                              example: "Cheese Burger"
                            price:
                              type: number
                              description: The item price, which must be a positive number. Zero is not allowed.
                              x-description-i18n:
                                eng: The item price, which must be a positive number. Zero is not allowed.
                                spa: El precio del ítem, que debe ser un número positivo. El cero no está permitido.
                                por: O preço do item, que deve ser um número positivo. Zero não é permitido.
                              example: 25.50
                            status:
                              type: string
                              description: The item current status, can be active if it is available ("active"), or paused if it is not ("paused"). 
                              x-description-i18n:
                                eng: The item current status, can be active if it is available ("active"), or paused if it is not ("paused"). 
                                spa: El estado actual del ítem puede estar activo ("active") o en pausa ("paused").
                                por: Atual estado do item, pode estar ativo ("active") ou pausado ("paused").
                              example: "active"
                              enum:
                                - active -- Active the item.
                                - paused -- Pause the item.
                            options:
                              type: array
                              description: Optional field. Array containing group of complements present in the main item.
                              x-description-i18n:
                                eng: Optional field. Array containing group of complements present in the main item.
                                spa: Campo opcional. Array que contiene grupos de complementos presentes en el ítem principal.
                                por: Campo opcional. Array contendo grupos de complementos presentes no item principal.
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: "Desserts"
                                    description: Name of the complements group.
                                    x-description-i18n:
                                      eng: Name of the complements group.
                                      spa: Nombre del grupo de complementos.
                                      por: Nome do grupo de complementos.
                                  group_min:
                                    type: number
                                    description: Optional integer number, default is 0. Minimum number of complements that the buyer can select for the group. Zero is allowed if the complement is optional. Cannot be greater than group_max.
                                    x-description-i18n:
                                      eng: Optional integer number, default is 0. Minimum number of complements that the buyer can select for the group. Zero is allowed if the complement is optional. Cannot be greater than group_max.
                                      spa: Número entero opcional, por defecto es 0. Número mínimo de complementos que el comprador puede seleccionar para el grupo. Se permite cero si el complemento es opcional. No puede ser mayor que group_max.
                                      por: Número inteiro opcional, padrão é 0. Número mínimo de complementos que o comprador pode selecionar para o grupo. Zero é permitido se o complemento for opcional. Não pode ser maior que group_max.
                                    example: 1
                                  group_max:
                                    type: number
                                    description: Required integer number. Maximum number of complements that the buyer can select for the group. Zero is not allowed. Cannot be less than group_min.
                                    x-description-i18n:
                                      eng: Required integer number. Maximum number of complements that the buyer can select for the group. Zero is not allowed. Cannot be less than group_min.
                                      spa: Número entero requerido. Número máximo de complementos que el comprador puede seleccionar para el grupo. El cero no está permitido. No puede ser inferior a group_min.
                                      por: Número inteiro obrigatório. Número máximo de complementos que o comprador pode selecionar para o grupo. Zero não é permitido. Não pode ser menor que group_min.
                                    example: 5
                                  complements:
                                    type: array
                                    description: Required array that receives the complement group components. At least one element is required.
                                    x-description-i18n:
                                      eng: Required array that receives the complement group components. At least one element is required.
                                      spa: Array que recibe los componentes del grupo de complemento. Se requiere al menos un elemento.
                                      por: Array que recebe os componentes do grupo de complemento. Pelo menos um elemento é necessário.
                                    items:
                                      type: object
                                      properties:
                                        description:
                                          type: string
                                          description: Optional string. A description of the complement item to be displayed to the buyer.
                                          x-description-i18n:
                                            eng: Optional string. A description of the complement item to be displayed to the buyer.
                                            spa: String opcional. Una descripción del ítem de complemento que se mostrará al comprador.
                                            por: String opcional. Uma descrição do item complementar a ser exibido ao comprador.
                                          example: "Complement description"
                                        external_id:
                                          type: string
                                          description: Required string. The complement item public identifier (SKU), must be unique for each store. Used for future item updates.
                                          x-description-i18n:
                                            eng: Required string.The complement item public identifier (SKU), must be unique for each store. Used for future item updates.
                                            spa: String requerida. El identificador público (SKU) del elemento complementario debe ser único para cada tienda. Se utiliza para futuras actualizaciones de elementos.
                                            por: String obrigatória. O identificador público do item complementar (SKU) deve ser único para cada loja. Usado para futuras atualizações de itens.
                                          example: "D184"
                                        image:
                                          type: string
                                          description: Public link to the complement item image that will be displayed to the buyer. The image will be copied to an internal storage during the item creation.
                                          x-description-i18n:
                                            eng: Public link to the complement item image that will be displayed to the buyer. The image will be copied to an internal storage during the item creation.
                                            spa: Enlace público a la imagen del ítem de complemento que se mostrará al comprador. La imagen se copiará en un almacenamiento interno durante la creación del ítem.
                                            por: Link público para a imagem do item de complemento que será exibida ao comprador. A imagem será copiada para um armazenamento interno durante a criação do item.
                                          example: "https://"
                                        min:
                                          type: number
                                          description: Optional integer number, default is 0. Minimum quantity of the complement that can be chosen by the buyer. Must be less than or equal to complement.max. Cannot be greater than group_min.
                                          x-description-i18n:
                                            eng: Optional integer number, default is 0. Minimum quantity of the complement that can be chosen by the buyer. Must be less than or equal to complement.max. Cannot be greater than group_min.
                                            spa: Número entero opcional, por defecto es 0. Cantidad mínima del complemento que puede elegir el comprador. Debe ser menor o igual que el complement.max. No puede ser mayor que group_min.
                                            por: Número inteiro opcional, padrão é 0. Quantidade mínima do complemento que pode ser escolhida pelo comprador. Deve ser menor ou igual ao complement.max. Não pode ser maior que group_min.
                                          example: 1
                                        max:
                                          type: number
                                          description: Required integer number. Maximum number of complement item that the buyer can select for the group. Zero is allowed if the complement is optional. Cannot be greater than group_max.
                                          x-description-i18n:
                                            eng: Required integer number. Maximum number of complement item that the buyer can select for the group. Zero is allowed if the complement is optional. Cannot be greater than group_max.
                                            spa: Número entero requerido. Número máximo de ítems de complemento que el comprador puede seleccionar para el grupo. Se permite cero si el complemento es opcional. No puede ser mayor que group_max.
                                            por: Número inteiro obrigatório. Quantidade máxima de itens complementares que o comprador pode selecionar para o grupo. Zero é permitido se o complemento for opcional. Não pode ser maior que group_max.
                                          example: 5
                                        name:
                                          type: string
                                          description: Name of the complement item.
                                          x-description-i18n:
                                            eng: Name of the complement item.
                                            spa: Nombre del item de complemento.
                                            por: Nome do item de complemento.
                                          example: Chocolate ice cream
                                        price:
                                          type: number
                                          description: The complement item price, which could be zero if it is free or included in the main item price.
                                          x-description-i18n:
                                            eng: The complement item price, which could be zero if it is free or included in the main item price.
                                            spa: El precio del ítem complementario, que puede ser cero si es gratuito o está incluido en el precio del ítem principal.
                                            por: O preço do item complementar, que pode ser zero se for gratuito ou incluído no preço do item principal.
                                          example: 7.25
                                        status:
                                          type: string
                                          description: The complement item current status, can be active if it is available ("actived"), or paused if it is not ("paused"). 
                                          x-description-i18n:
                                            eng: The complemenet item current status, can be active if it is available ("actived"), or paused if it is not ("paused"). 
                                            spa: El estado actual del ítem de complemento puede estar activo ("actived") o en pausa ("paused").
                                            por: Atual estado do item de comeplemento, pode estar ativo ("actived") ou pausado ("paused").
                                          example: "active"
                                          enum:
                                            - active -- Active the item.
                                            - paused -- Pause the item.
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Description of the operation result.
                    x-description-i18n:
                      eng: Description of the operation result.
                      spa: Descripción del resultado de la operación.
                      por: Descrição do resultado da operação.
                    example: "Success"
                  results:
                    type: array
                    description: Array of publication results per store. List of publications that were sent to the processing queue.
                    x-description-i18n:
                      eng: Array of publication results per store.List of publications that were sent to the processing queue.
                      spa: Array de resultados de publicación por tienda. Lista de publicaciones que se enviaron a la cola de procesamiento.
                      por: Array de resultados de publicações por loja. Lista de publicações que foram enviadas para a fila de processamento.
                    items:
                      type: object
                      properties:
                        store_id:
                          type: string
                          description: External_id of store of the catalog publication.
                          x-description-i18n:
                            eng: External_id of store of the catalog publication.
                            spa: External_id de la tienda de la publicación del catálogo.
                            por: External_id da loja da publicação do catálogo.
                          example: "external_store_id_01"
                        catalog_id:
                          type: string
                          description: Catalog Publish Operation ID.
                          x-description-i18n:
                            eng: Catalog Publish Operation ID.
                            spa: ID de la operación de publicación de catálogo.
                            por: ID da operação de publicação de catálogo.
                          example: "b2f6b992-5133-11ed-a81f-acde48001122"
                        status:
                          type: string
                          description: Status of the publication process.
                          x-description-i18n:
                            eng: Status of the publication process.
                            spa: Estado del proceso de publicación.
                            por: Status do processo de publicação.
                          example: processing
                          enum:
                            - processing -- The catalog has been sent successfully to the processing queue.
                            - error -- the publication could not be started because some error in the request or an internal failure.
        '206':
          description: Parcial Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Description of the operation result.
                    x-description-i18n:
                      eng: Description of the operation result.
                      spa: Descripción del resultado de la operación.
                      por: Descrição do resultado da operação.
                    example: "Some publications failed"
                  results:
                    type: array
                    description: Array of publication results per store. List of publications that were sent to the processing queue.
                    x-description-i18n:
                      eng: Array of publication results per store. List of publications that were sent to the processing queue.
                      spa: Array de resultados de publicación por tienda. Lista de publicaciones que se enviaron a la cola de procesamiento.
                      por: Array de resultados de publicações por loja. Lista de publicações que foram enviadas para a fila de processamento.
                    items:
                      type: object
                      properties:
                        store_id:
                          type: string
                          description: External_id of store of the catalog publication.
                          x-description-i18n:
                            eng: External_id of store of the catalog publication.
                            spa: External_id de la tienda de la publicación del catálogo.
                            por: External_id da loja da publicação do catálogo.
                          example: "external_store_id_01"
                        error:
                          type: string
                          description: Description of the error, if any occurred.
                          x-description-i18n:
                            eng: Description of the error, if any occurred.
                            spa: Descripción del error, si ocurrió alguno.
                            por: Descrição do erro, se houver.
                          example: "item price must be greater than 0"
                        status:
                          type: string
                          description: Status of the publication process.
                          x-description-i18n:
                            eng: Status of the publication process.
                            spa: Estado del proceso de publicación.
                            por: Status do processo de publicação.
                          example: error
                          enum:
                            - processing -- The catalog has been sent successfully to the processing queue.
                            - error -- the publication could not be started because some error in the request or an internal failure.
                          
  /proximity/integration/v1/catalog/{publication_id}:
    get:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Get catalog publication status.
      x-summary-i18n:
        eng: Get catalog publication status.
        spa: Consultar el estado de la publicación.
        por: Consulta ao status de publicação.
      description: Endpoint to check the current status of a catalog publication, using the generated id returned in the publication response.
      x-description-i18n:
        eng: Endpoint to check the current status of a catalog publication, using the generated id returned in the publication response.
        spa: Endpoint para verificar el estado actual de una publicación de catálogo, utilizando la ID generada devuelta en la respuesta de publicación.
        por: Endpoint para verificar o status atual de uma publicação de catálogo, usando o id gerado retornado na resposta da publicação.
      parameters:
        - name: publication_id
          in: path
          description: Publication ID returned by import process.
          x-description-i18n:
            eng: Publication ID returned by import process.
            spa: ID de publicación devuelta por el proceso de importación.
            por: ID de publicação retornado pelo processo de importação.
          required: true
          schema:
            type: string
            example:  b2f6b992-5133-11ed-a81f-acde48001122
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:          
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                    description: Current catalog publication process status.
                    x-description-i18n:
                      eng: Current catalog publication process status.
                      spa: Estado actual del proceso de publicación del catálogo
                      por: Atual status do processo de publicação do catálogo.
                    enum:
                      - processing -- The catalog is being processed.
                      - error -- The publication process has been aborted because some irrecoverable error occurred.
                      - success -- the catalog has been published.

  /proximity/integration/v1/catalog/stores/{external_store_id}/items/{external_item_id}:
    put:
      tags:
        - $ref: '#/tags/mp-delivery'
      summary: Item update.
      x-summary-i18n:
        eng: Item update.
        spa: Actualización de ítem.
        por: Atualizar item.
      description: Endpoint to update an item status.
      x-description-i18n:
        eng: Endpoint to update an item status.
        spa: Endpoint para actualizar el estado de un ítem.
        por: Endpoint para atualizar o status de um item.
      parameters:
        - name: external_store_id
          in: path
          description: External_id of the store that should have the item's status changed.
          x-description-i18n:
            eng: External_id of the store that should have the item's status changed.
            spa: External_id de la tienda que debería cambiar el estado del ítem.
            por: External_id da loja que deve ter o status do item alterado.
          required: true
          schema:
            type: string
            example: external_store_id_01
        - name: external_item_id
          in: path
          description: External_id of the item that should have the status changed.
          x-description-i18n:
            eng: External_id of the item that should have the status changed.
            spa: External_id del ítem que debería cambiar el estado.
            por: External_id do item que deve ter o status alterado.
          required: true
          schema:
            type: string
            example: M147
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: "active"
                  description: Status referring to the item that will be updated.
                  x-description-i18n:
                    eng: Status referring to the item that will be updated.
                    spa: Estado referente al elemento que se actualizará.
                    por: Status do item que será atualizado.
                  enum:
                    - active -- Active the item.
                    - paused -- Pause the item.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: "active"
                    description: Status of the item updated.  
                    x-description-i18n:
                      eng: Status of the item updated. 
                      spa: Estado del ítem actualizado.
                      por: Statudo atualizado do item.