openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /oauth/token:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/subscriptions'
      summary: Create and refresh token
      description: To create or refresh the necessary token to operate your application in the name of a seller
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_secret:
                  type: string
                  description: Private key to be used in some plugins to generate payments. One of the keys in the pair that make up the credentials that identify an application/integration in your account. 
                  required: true
                  example: 'client_secret'
                client_id:
                  type: string
                  description: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account. 
                  required: true
                  example: 'client_id'
                grant_type:
                  type: string
                  description: Specifies the type of operation to perform. There are two possible operations.
                  required: true
                  example: 'authorization_code'
                  enum:
                    - authorization_code -- used to get the access token for the first time.
                    - refresh_token -- it is used to refresh an existing token.
                code:
                  type: string
                  description: Code provided by the authentication server so that the application can obtain an access token and an associated refresh token. It is valid for 10 minutes counted from its generation. Required when grant_type=authorization_code.
                  example: 'TG-XXXXXXXX-241983636'
                redirect_uri:
                  type: string
                  description: URL reported in the Redirect URL field of your application. Required only when grant_type=authorization_code.
                refresh_token:
                  type: string
                  description: Value received when the access token is created. Only required when grant_type=refresh_token.
                test_token:
                  type: string
                  description: Added with value = true only when you want to generate credentials for testing.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 'APP_USR-4934588586838432-XXXXXXXX-241983636'
                    description: Security code that identifies the user, their privileges and an application used in different requests from public sources to access protected resources. Its validity is determined by the expires_in parameter and is similar to APP_USR-1585551492-030918-25######3458-2880736, which is composed of
                    enum:
                      - Access token type -- APP_USR (application on behalf of a user), TEST (test, only valid in sandbox)
                      - Client ID -- 1585551492
                      - Creation date (MMddHH) -- 030918
                      - Security hash -- 25######3458
                      - User ID -- 2880736
                  token_type:
                    type: string
                    example: 'bearer'
                    description: necessary information for the token to be used correctly to access protected resources. The token of type "bearer" is the only one supported by the authorization server and is used when the access token is included as plain text in the request. It is understood that the bearer has direct access to the token.
                  expires_in:
                    type: number
                    example: 15552000
                    description: Fixed access_token expiration time expressed in seconds. By default, the expiration time is 180 days (15552000 seconds).
                  scope:
                    type: string
                    example: 'offline_access read write'
                    description: Scopes are used in the API authorization and consent process and allow you to determine what access the application requests and what access the user grants. By default, the scopes associated with the token are the ones determined when creating the original token and configuring the application.
                  user_id:
                    type: number
                    example: 241983636
                    description: Identification number (Mercado Pago ID) generated automatically when creating a Mercado Pago account. It is a unique number that identifies the Mercado Pago seller and is the owner of the application.
                  refresh_token:
                    type: string
                    example: 'TG-XXXXXXXX-241983636'
                    description: temporal grants code used to obtain access tokens so that authorization and access to resources remain valid before the end of the access token's validity period. They define an ID used to retrieve authorization information. Unlike access tokens, refresh tokens can only be used for calls on the authorization server and are never sent to resource servers.
                  public_key:
                    type: string
                    example: 'APP_USR-d0a26210-XXXXXXXX-479f0400869e'
                    description: Public key of the application that will normally be used in the frontend and will allow, for example, knowing the means of payment and encrypting the card data. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                  live_mode: 
                    type: boolean
                    example: true
                    description: Indicates whether the application is in production or test mode.
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Error validating grant. Your authorization code or refresh token may be expired or it was already used.'
                  status:
                    type: number
                    example: 400
                  errorKey:
                    type: string
                    example: 'expired_grant'
                    enum:
                      - invalid_client -- The provided client_id and/or client_secret of your app is invalid.
                      - invalid_grant -- There are several reasons for this error, it could be because the authorization_code or refresh_token is invalid, expired or revoked, was sent in an incorrect flow, belongs to another client, or the redirect_uri used in the authorization flow does not match what your application has configured.
                      - invalid_scope -- The requested scope is invalid, unknown, or wrongly formed. The allowed values for the scope parameter are “offline_access”, ”write”, ”read”.
                      - invalid_request -- The request does not include a required parameter, includes an unsupported parameter or parameter value, has a duplicated value, or is otherwise malformed.
                      - unsupported_grant_type -- Allowed values for grant_type are “authorization_code” or “refresh_token”.
                      - forbidden -- The call does not authorize access, possibly another user's token is being used.
                      - unauthorized_client -- The application does not have a grant with the user or the permissions (scopes) that the application has with this user do not allow creating a token.
                  cause:
                    type: array
                    items:
                      type: string
                    example: []
  
