openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: "1.0"
paths:
  /v1/payment-intents/{id}:
    get:
      tags:
        - $ref: "#/tags/checkout-api"
      summary: Get payment intent by ID
      x-summary-i18n:
        eng: Get payment intent by ID
        spa: Obtener payment intent por ID
        por: Obter payment intent por ID
      description: This endpoint allows you to retrieve an existing 'Payment Intent' using its ID as a parameter
      x-description-i18n:
        eng: This endpoint allows you to retrieve an existing 'Payment Intent' using its ID as a parameter
        spa: Este endpoint permite consultar una Payment Intent ya existente mediante su ID
        por: Este endpoint permite consultar uma Payment Intent existente utilizando seu ID como parâmetro
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer token-89987654567f-numeroToken"
          required: true
          description: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
          x-description-i18n:
            eng: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
            spa: Access Token - Clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores.
            por: Access Token - Chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores.
        - in: header
          name: X-Integrator-ID
          schema:
            type: string
          required: false
          description: Optinal ID for programmers or agencies  who are part of the <dev>program.
          x-description-i18n:
            eng: Optinal ID for programmers or agencies  who are part of the <dev>program.
            spa: ID opcional para programadores o agencias que forman parte del programa <dev>.
            por: ID opcional para programadores ou agências que fazem parte do programa <dev>.
        - name: id
          description: Payment Intent's Id.
          x-description-i18n:
            eng: Payment Intent's Id.
            spa: ID de la Payment Intent.
            por: ID da Payment Intent.
          in: path
          required: true
          schema:
            type: string
            example: "00001njp2i"
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "00001njp2i"
                    description: ID of a created Payment Intent.
                    x-description-i18n:
                      eng: ID of a created Payment Intent.
                      spa: ID de la Payment Intent creada.
                      por: ID da Payment Intent criada.
                  created_date:
                    type: string
                    example: "2023-09-06T08:00:00.000-03:00"
                    description: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                      spa: Fecha de creación de la Payment Intent. Por ejemplo, "2023-09-06T08:00:00.000-03:00".
                      por: Data de criação da Payment Intent. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                  status:
                    type: string
                    example: "authorized"
                    description: Current status of the Payment Intent.
                    x-description-i18n:
                      eng: Current status of the Payment Intent.
                      spa: Status actual de la Payment Intent.
                      por: Status atual da Payment Intent.
                    enum:
                      - new--nova
                      - payment_in_process--transação em processo
                      - partially_processed--parcialmente processada
                      - processed--processada
                      - partially_reverted--revertida parcialmente
                      - reverted--revertida
                      - failed--falhou
                      - cancelled--cancelada
                      - authorized--autorizada
                  init_point:
                    type: string
                    example: "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789"
                    description: URL that allows you to start the payment flow. For example, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                    x-description-i18n:
                      eng: URL that allows you to start the payment flow. For example, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                      spa: URL que permite iniciar el flujo de pago. Por ejemplo, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                      por: URL que permite iniciar o fluxo de pagamento. Por exemplo, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                  configuration:
                    type: object
                    description: Predefined configuration parameters set by the seller before initiating the payment.
                    x-description-i18n:
                      eng: Predefined configuration parameters set by the seller before initiating the payment.
                      spa: Parámetros de configuración predefinidos por el seller antes de iniciar la transacción.
                      por: Parâmetros de configuração pré-definidos pelo seller antes de iniciar a transação.
                    properties:
                      option:
                        type: object
                        description: Seller-defined settings to determine the choices offered during the payment. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the payment process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the payment is conducted.
                        x-description-i18n:
                          eng: Seller-defined settings to determine the choices offered during the payment. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the payment process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the payment is conducted.
                          spa: Ajustes establecidos por el seller para determinar las opciones ofrecidas durante la transacción. Este campo se refiere a las configuraciones que el seller establece para proporcionar diferentes opciones a los compradores durante el proceso de transacción. Esto puede incluir elecciones como métodos de pago aceptados, cuotas, opciones de envío, descuentos y otras personalizaciones que afectan la forma en que se lleva a cabo la transacción.
                          por: Ajustes estabelecidos pelo seller para determinar as escolhas oferecidas durante a transação. Este campo e refere às configurações que o seller configura para fornecer diferentes opções aos compradores durante o processo de transação. Isso pode incluir escolhas como meios de pagamento aceitos, parcelamento, opções de envio, descontos e outras personalizações que afetam a forma como a transação é conduzida.
                        properties:
                          purpose:
                            type: string
                            description: Payment purpose identifier that enables loading a list of predefined options. For example, wallet_purchase, onboarding_credits.
                            x-description-i18n:
                              eng: Payment purpose identifier that enables loading a list of predefined options. For example, wallet_purchase, onboarding_credits.
                              spa: Identificador de propósito de transacción que permite cargar una lista de opciones predefinidas. Por ejemplo, wallet_purchase, onboarding_credits.
                              por: Identificador da finalidade da transação, que permite carregar uma lista de opções predefinidas. Por exemplo, wallet_purchase, onboarding_credits.
                            example: wallet_purchase, onboarding_credits
                          payment_methods:
                            type: object
                            description: Information related to the payment methods defined for the payment.
                            x-description-i18n:
                              eng: Information related to the payment methods defined for the payment.
                              spa: Información relacionada con los medios de pago definidos para la transacción.
                              por: Informações relacionadas aos meios de pagamento definidos para a transação.
                            properties:
                              coupons:
                                description: Coupons can be used as a methods of payment in the payment.
                                x-description-i18n:
                                  eng: Coupons can be used as a methods of payment in the payment.
                                  spa: Los cupones pueden ser utilizados como medio de pago en la transacción.
                                  por: Os cupons podem ser utilizados como meio de pagamento na transação.
                                type: object
                                properties:
                                  campaign_id:
                                    type: number
                                    example: 123456
                                    description: Identifier number of the campaign to which the coupon is linked.
                                    x-description-i18n:
                                      eng: Identifier number of the campaign to which the coupon is linked.
                                      spa: Número identificador de la campaña a la cual el cupón está vinculado.
                                      por: Número de identificação da campanha à qual o cupom está associado.
                                  amount:
                                    type: string
                                    example: "100.00"
                                    description: Total value of coupon. For example, "100.00".
                                    x-description-i18n:
                                      eng: Total value of coupon. For example, "100.00".
                                      spa: Valor total del cupón. Por ejemplo, "100.00".
                                      por: Valor total do cupom. Por exemplo, "100.00".
                              types:
                                type: object
                                description: Configuration by payment method type.
                                x-description-i18n:
                                  eng: Configuration by payment method type.
                                  spa: Configuración por tipo de medio de pago.
                                  por: Configuração por tipo de meio de pagamento.
                                properties:
                                  enabled:
                                    description: List of Payment Types included. For example, credit_card, debit_card.
                                    x-description-i18n:
                                      eng: List of Payment Types included. For example, credit_card, debit_card.
                                      spa: Lista de tipos de medios de pago incluidos. Por ejemplo, credit_card, debit_card.
                                      por: Lista de tipos de meios de pagamento incluídos. Por exemplo, credit_card, debit_card.
                                    type: array
                                    items:
                                      type: string
                                      example: credit_card, debit_card
                                  disabled:
                                    description: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the payment, such as "credit card".
                                    x-description-i18n:
                                      eng: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the payment, such as "credit card".
                                      spa: Tipos de medios de pago no incluidos. Este parámetro abarca los pagos que no serán aceptados en la transacción, como por ejemplo, "credit card".
                                      por: Tipos de meios de pagamento não abrangidos. Este parâmetro engloba os pagamentos que não serão aceitos na transação, como por exemplo, "credit card".
                                    type: array
                                    items:
                                      type: string
                                      example: "credit_card"
                              methods:
                                type: object
                                description: Configuration by specific payment method.
                                x-description-i18n:
                                  eng: Configuration by specific payment method.
                                  spa: Configuración por tipo específico de medio de pago.
                                  por: Configuração por tipo específico de meio de pagamento.
                                properties:
                                  enabled:
                                    type: array
                                    example: visa, master
                                    description: Payment methods included.
                                    x-description-i18n:
                                      eng: Payment methods included.
                                      spa: Medios de pago incluidos.
                                      por: Meios de pagamento incluídos.
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Payment method identifier For example, "credit_card".
                                          x-description-i18n:
                                            eng: Payment method identifier For example, "credit_card".
                                            spa: Identificador del medio de pago. Por ejemplo, "credit_card".
                                            por: Identificador do meio de pagamento. Por exemplo, "credit_card".
                                          example: "credit_card"
                                        installments:
                                          type: object
                                          description: Configuration of the installment quantity to be offered for each payment method.
                                          x-description-i18n:
                                            eng: Configuration of the installment quantity to be offered for each payment method.
                                            spa: Configuración de la cantidad de cuotas a ofrecer para cada medio de pago.
                                            por: Configuração da quantidade de parcelas a serem disponibilizadas para cada meio de pagamento.
                                          properties:
                                            default:
                                              description: Number of installments to be offered by default.
                                              x-description-i18n:
                                                eng: Number of installments to be offered by default.
                                                spa: Número de cuotas a ofrecer de forma predeterminada.
                                                por: Número de parcelas a serem disponibilizadas por padrão.
                                              type: string
                                              example: "3"
                                            max:
                                              description: Maximum number of installments to offer.
                                              x-description-i18n:
                                                eng: Maximum number of installments to offer.
                                                spa: Cantidad máxima de cuotas a ofrecer.
                                                por: Quantidade máxima de parcelas a oferecer.
                                              type: string
                                              example: "6"
                                            min:
                                              description: Minimum number of installments to offer.
                                              x-description-i18n:
                                                eng: Minimum number of installments to offer.
                                                spa: Cantidad mínima de cuotas a ofrecer.
                                                por: Quantidade mínima de parcelas a oferecer.
                                              type: string
                                              example: "1"
                                  disabled:
                                    description: Payment methods not included.
                                    x-description-i18n:
                                      eng: Payment methods not included.
                                      spa: Medios de pago no incluidos.
                                      por: Meios de pagamento não incluídos.
                                    type: array
                                    items:
                                      type: string
                                      example: ticket, account_money
                                  default:
                                    type: string
                                    example: "credit_card"
                                    description: Types of payment methods to be offered by default.
                                    x-description-i18n:
                                      eng: Types of payment methods to be offered by default.
                                      spa: Tipos de medios de pago que se ofrecerán de manera predeterminada.
                                      por: Tipos de meios de pagamento a serem disponibilizados por padrão.
                      integration:
                        type: object
                        description: Configuration of the seller on integration.
                        x-description-i18n:
                          eng: Configuration of the seller on integration.
                          spa: Configuración del seller sobre la integración.
                          por: Configuração do seller sobre a integração.
                        properties:
                          notifications:
                            description: Parameter related to the configuration of notification URLs for completed payments.
                            x-description-i18n:
                              eng: Parameter related to the configuration of notification URLs for completed payments.
                              spa: Parámetro relacionado con la configuración de las URLs de notificación para transacciones completadas.
                              por: Parâmetro relacionado às configurações das URLs de notificação para transações efetuadas.
                            type: object
                            properties:
                              notification_url:
                                type: string
                                description: URL to which notifications will be sent.
                                example: "https://www.integrator-site.com/notifications"
                                x-description-i18n:
                                  eng: URL to which notifications will be sent.
                                  spa: URL a la cual se enviarán las notificaciones.
                                  por: URL para a qual as notificações serão enviadas.
                              return_url:
                                type: object
                                description: Status URLs available to redirect buyer after completion of payment attempt.
                                x-description-i18n:
                                  eng: Status URLs available to redirect buyer after completion of payment attempt.
                                  spa: URLs a las cuales se podrá redireccionar al comprador luego de finalizar el intento de pago.
                                  por: URLs disponíveis para redirecionar o comprador após a conclusão da tentativa de pagamento.
                                properties:
                                  default:
                                    description: Default URL to redirect the buyer.
                                    x-description-i18n:
                                      eng: Default URL to redirect the buyer.
                                      spa: URL por defecto a la cual se redireccionará al comprador.
                                      por: URL padrão para redirecionar o comprador.
                                    type: string
                                    example: "https://www.integrator-site.com/order"
                                  success:
                                    description: URL to redirect the buyer in case of successful payment
                                    type: string
                                    example: "https://www.integrator-site.com/order/success"
                                    x-description-i18n:
                                      eng: URL to redirect the buyer in case of successful payment.
                                      spa: URL a la cual se redireccionará al comprador en caso de pago exitoso.
                                      por: URL para redirecionar o comprador em caso de pagamento bem-sucedido.
                                  pending:
                                    description: URL to redirect the buyer in case of pending payment.
                                    type: string
                                    example: "https://www.integrator-site.com/order/pending"
                                    x-description-i18n:
                                      eng: URL to redirect the buyer in case of pending payment.
                                      spa: URL a la cual se redireccionará al comprador en caso de pago pendiente.
                                      por: URL para redirecionar o comprador em caso de pagamento pendente.
                                  failure:
                                    description: Redirection URL for the event of buyer payment failure.
                                    type: string
                                    example: "https://www.integrator-site.com/order/failed"
                                    x-description-i18n:
                                      eng: Redirection URL for the event of buyer payment failure.
                                      spa: URL de redirección para el caso de fallo en el pago del comprador.
                                      por: URL de redirecionamento para o caso de falha no pagamento do comprador.
                          integrator_id:
                            type: number
                            example: 34567
                            description: Seller's identifier in the integrator's system.
                            x-description-i18n:
                              eng: Seller's identifier in the integrator's system.
                              spa: Identificador del seller en el sistema del integrador.
                              por: Identificador do vendedor no sistema do integrador.
                  order:
                    type: object
                    description: Common Order attributes for request and response.
                    x-description-i18n:
                      eng: Common Order attributes for request and response.
                      spa: Atributos de Order comunes para el request y el response.
                      por: Atributos de Order comuns para o request e o response.
                    properties:
                      id:
                        type: number
                        example: 123456789
                        description: ID of the order previously created in the integrator's system.
                        x-description-i18n:
                          eng: ID of the order previously created in the integrator's system.
                          spa: ID de orden previamente creada en el sistema del integrador.
                          por: ID da ordem criada anteriormente no sistema do integrador.
                      external_reference:
                        type: string
                        example: "my_order_id"
                        description: Reference of the order
                        x-description-i18n:
                          eng: Reference of the order.
                          spa: Referencia de lá orden.
                          por: Referência da ordem.
                      reason:
                        type: string
                        example: "my_order_description"
                        description: Reason for the order or payment.
                        x-description-i18n:
                          eng: Reason for the order or payment.
                          spa: Motivo de la orden o transacción.
                          por: Motivo da ordem ou transação.
                      amount:
                        example: "233.00"
                        type: string
                        description: Total amount to be paid.
                        x-description-i18n:
                          eng: Total amount to be paid.
                          spa: Monto total que se desea cobrar.
                          por: Valor total a ser pago.
                      items:
                        description: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                        x-description-i18n:
                          eng: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                          spa: Información relevante para la configuración de los elementos que componen la transacción, como la lista de elementos, sus cantidades y precios. Esto abarca detalles sobre los diferentes productos o servicios involucrados en la transacción, incluyendo la cantidad de cada elemento y el precio correspondiente a cada uno de ellos.
                          por: Informações pertinentes à configuração dos itens que constituem a transação, tais como a lista de itens, suas quantidades e preços. Isso abrange informações sobre os diferentes produtos ou serviços envolvidos na transação, incluindo a quantidade de cada item e o preço correspondente a cada um deles.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: "x76ax"
                              description: Item identification code. For example, "x76ax".
                              x-description-i18n:
                                eng: Item identification code. For example, "x76ax".
                                spa: Código de identificación del ítem. Por ejemplo, "x76ax".
                                por: Código de identificação do item. Por exemplo, "x76ax".
                            quantity:
                              type: number
                              example: 4
                              description: Number of item included in the order.
                              x-description-i18n:
                                eng: Number of item included in the order.
                                spa: Cantidad de ocurrencias del ítem incluidos en la órden.
                                por: Quantidade de itens incluídos na ordem.
                            unit_price:
                              type: string
                              example: "100.00"
                              description: Unit value of the item. For example, "100.00".
                              x-description-i18n:
                                eng: Unit value of the item. For example, "100.00".
                                spa: Precio unitario del ítem. Por ejemplo, "100.00".
                                por: Preço unitário do item. Por exemplo, "100.00".
                            dimensions:
                              type: string
                              example: "30x30x30"
                              description: Dimensions of the item - length x width x height.
                              x-description-i18n:
                                eng: Dimensions of the item - length x width x height.
                                spa: Dimensiones del ítem - largo x ancho x alto.
                                por: Dimensões do item - comprimento x largura x altura.
                            description:
                              type: string
                              example: "Beautifully handmade laptop case/sleeve made in the Himalaya. "
                              description: Description of the items comprising the list of products included in the order.
                              x-description-i18n:
                                eng: Description of the items comprising the list of products included in the order.
                                spa: Descripción de los artículos que componen la lista de productos incluidos en el pedido.
                                por: Descrição dos itens que constituem a lista de produtos incluídos na ordem.
                      collectors:
                        type: object
                        description: Seller user who receives the payment.
                        x-description-i18n:
                          eng: Seller user who receives the payment.
                          spa: Usuario vendedor que recibe el pago.
                          por: Usuário vendedor que recebe o pagamento.
                        properties:
                          collector_id:
                            type: number
                            example: 123456789
                            description: Collector identifier.
                            x-description-i18n:
                              eng: Collector identifier.
                              spa: Identificador del collector.
                              por: Identificador do collector.
                          amount:
                            type: string
                            example: "50.00"
                            description: Amount of the payment corresponding to the collector.
                            x-description-i18n:
                              eng: Amount of the payment corresponding to the collector.
                              spa: Monto de la transacción que corresponde al collector.
                              por: Valor da transação correspondente ao collector.
                      payer:
                        type: object
                        description: Buyer's information.
                        x-description-i18n:
                          eng: Buyer's information.
                          spa: Información del comprador.
                          por: Informações do comprador.
                        properties:
                          email:
                            type: string
                            description: Buyer's email.
                            x-description-i18n:
                              eng: Buyer's email.
                              spa: Email del comprador.
                              por: Email do comprador.
                          customer_id:
                            type: number
                            example: 123456
                            description: Previously stored buyer identification number.
                            x-description-i18n:
                              eng: Previously stored buyer identification number.
                              spa: Número de identificación del comprador previamente almacenado.
                              por: Número de identificação do comprador previamente armazenado.
                          identification:
                            type: object
                            description: This field refers to the type and number of the document used to identify a person within the country.
                            x-description-i18n:
                              eng: This field refers to the type and number of the document used to identify a person within the country.
                              spa: Este campo se refiere al tipo y número del documento utilizado para identificar a una persona dentro del país.
                              por: Este campo se refere ao tipo e número do documento usado para identificar uma pessoa dentro do país.
                            properties:
                              number:
                                description: Number of the document.
                                x-description-i18n:
                                  eng: Number of the document.
                                  spa: Número del documento.
                                  por: Número do documento.
                                type: string
                                example: "12345678098"
                              type:
                                description: Type of the document.
                                x-description-i18n:
                                  eng: Type of the document.
                                  spa: Tipo de documento.
                                  por: Tipo de documento.
                                type: string
                                example: "CPF"
                          name:
                            type: string
                            example: "John"
                            description: Buyer's name.
                            x-description-i18n:
                              eng: Buyer's name.
                              spa: Nombre del comprador.
                              por: Nome do comprador.
                          surname:
                            type: string
                            example: "Doe"
                            description: Buyer's surname.
                            x-description-i18n:
                              eng: Buyer's surname.
                              spa: Apellido del comprador.
                              por: Sobrenome do comprador.
                          address:
                            type: object
                            description: Address of the buyer.
                            x-description-i18n:
                              eng: Address of the buyer.
                              spa: Dirección del comprador.
                              por: Endereço do comprador.
                            properties:
                              street_name:
                                type: string
                                example: "Street MercadoLivre"
                                description: Street name.
                                x-description-i18n:
                                  eng: Street name.
                                  spa: Nombre de la calle.
                                  por: Nome da rua.
                              street_number:
                                type: string
                                example: "100"
                                description: Street number.
                                x-description-i18n:
                                  eng: Street number.
                                  spa: Número de la calle.
                                  por: Número da casa.
                              zip_code:
                                type: string
                                example: "57000-865"
                                description: Zip code.
                                x-description-i18n:
                                  eng: Zip code.
                                  spa: Código postal.
                                  por: Código postal.
                          phone:
                            description: Buyer's phone number.
                            x-description-i18n:
                              eng: Buyer's phone number.
                              spa: Número de teléfono del comprador.
                              por: Número de telefone do comprador.
                            type: object
                            properties:
                              area_code:
                                description: Buyer's area code.
                                x-description-i18n:
                                  eng: Buyer's area code.
                                  spa: Código de área del comprador.
                                  por: Código de área do comprador.
                                type: string
                                example: "11"
                              number:
                                description: Buyer's phone number number.
                                x-description-i18n:
                                  eng: Buyer's phone number.
                                  spa: Número de teléfono del comprador.
                                  por: Número de telefone do comprador.
                                type: string
                                example: "99999999"
                      advanced:
                        type: object
                        description: Options for advanced payment.
                        x-description-i18n:
                          eng: Options for advanced payment.
                          spa: Agrupación de opciones avanzadas para la transacción.
                          por: Opções avançadas para a transação.
                        properties:
                          binary_mode:
                            type: boolean
                            example: true
                            description: Enables requesting a final payment response during the initial processing, disabling any options for offline or asynchronous processing.
                            x-description-i18n:
                              eng: Enables requesting a final payment response during the initial processing, disabling any options for offline or asynchronous processing.
                              spa: Permite solicitar una respuesta definitiva de la transacción durante el procesamiento inicial, deshabilitando cualquier opción de procesamiento fuera de línea o asíncrono.
                              por: Possibilita requerer uma resposta definitiva da transação no primeiro processamento, desabilitando quaisquer opções de processamento offline ou assíncrono.
                          marketplace:
                            type: object
                            description: In the event of a marketplace-type integration, this configuration is applicable to the collector.
                            x-description-i18n:
                              eng: In the event of a marketplace-type integration, this configuration is applicable to the collector.
                              spa: En el caso de una integración tipo marketplace, esta configuración se aplica al colector.
                              por: No contexto de uma integração tipo marketplace, esta configuração é direcionada ao colletor.
                            properties:
                              fee:
                                type: string
                                example: "5"
                                description: Commission percentage corresponding to the amount assigned to the collector, which is owed to the Marketplace.
                                x-description-i18n:
                                  eng: Commission percentage corresponding to the amount assigned to the collector, which is owed to the Marketplace.
                                  spa: Porcentaje de comisión correspondiente a la cantidad asignada al collector, que le corresponde al Marketplace.
                                  por: Porcentagem de comissão correspondente ao montante atribuído ao collector, que é devida ao Marketplace.
                          sponsor_id:
                            type: number
                            example: 123456789
                            description: ID of the Mercado Pago account responsible for paying the commissions.
                            x-description-i18n:
                              eng: ID of the Mercado Pago account responsible for paying the commissions.
                              spa: ID de la cuenta de Mercado Pago encargada de pagar las comisiones.
                              por: Identificação da conta do Mercado Pago responsável pelo pagamento das comissões.
                      amount_details:
                        description: This field encompasses payment value details, including the amount paid, and in cases of refunds, the total refunded amount. Additionally, it covers the costs associated with shipping the purchased product.
                        x-description-i18n:
                          eng: This field encompasses payment value details, including the amount paid, and in cases of refunds, the total refunded amount. Additionally, it covers the costs associated with shipping the purchased product.
                          spa: Este campo abarca los detalles de valor de la transacción, incluyendo la cantidad pagada y, en casos de reembolso, la cantidad total reembolsada. Además, cubre los costos asociados con el envío del producto adquirido.
                          por: Este campo abrange os detalhes relacionados aos montantes da transação, incluindo o valor pago e, em situações de reembolso, o montante total reembolsado. Também engloba os custos associados ao envio do produto adquirido.
                        type: object
                        properties:
                          total:
                            type: string
                            example: "123.00"
                            description: Details of the total value of the payment.
                            x-description-i18n:
                              eng: Details of the total value of the payment.
                              spa: Detalles del monto total de la transacción.
                              por: Detalhes do valor total da transação.
                          paid:
                            type: string
                            example: "100.00"
                            description: Total paid.
                            x-description-i18n:
                              eng: Total paid.
                              spa: Monto de la transacción pagado.
                              por: Valor pago.
                          refunded:
                            type: string
                            example: "100.00"
                            description: Total value refunded.
                            x-description-i18n:
                              eng: Total value refunded.
                              spa: Monto de la transacción devuelto.
                              por: Valor total reembolsado.
                          shipment:
                            type: string
                            example: "10.00"
                            description: Total value charged per shipment.
                            x-description-i18n:
                              eng: Total value charged per shipment.
                              spa: Monto cobrado por envío (incluido en el otal).
                              por: Valor cobrado por envio (incluído no total).
                      payment_method:
                        description: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                        x-description-i18n:
                          eng: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                          spa: Información detallada sobre los medios de pago disponibles durante la transacción, como por ejemplo, el monto total a pagar utilizando un método de pago específico, opciones de financiamiento, entre otros.
                          por: Informações detalhadas sobre os meios de pagamento disponíveis durante a transação, como por exemplo, valor total a ser pago com determinado meio de pagamento, parcelamento, entre outros.
                        type: object
                        properties:
                          credit_cards:
                            description: Credit cards.
                            x-description-i18n:
                              eng: Credit cards.
                              spa: Tarjetas de crédito.
                              por: Cartões de crédito.
                            type: array
                            items:
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    spa: card_token que representa de manera segura los datos de tarjeta. Por ejemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    por: Card token que representa de maneira segura os dados do cartão. Por exemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                payment_id:
                                  type: number
                                  example: 12345432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio de pago.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "visa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  x-description-i18n:
                                    eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                    spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                    por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                installments:
                                  type: number
                                  description: Quantity of installments.
                                  x-description-i18n:
                                    eng: Quantity of installments.
                                    spa: Cantidad de cuotas deseadas.
                                    por: Quantidade de parcelas desejadas.
                                  example: 1
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  x-description-i18n:
                                    eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                    spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID del reembolso.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payment.
                                    spa: Información detallada sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                          debit_cards:
                            description: Debit cards.
                            x-description-i18n:
                              eng: Debit cards.
                              spa: Tarjetas de débito.
                              por: Cartões de débito.
                            type: array
                            items:
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    spa: card_token que representa de manera segura los datos de tarjeta. Por ejemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    por: Card token que representa de maneira segura os dados do cartão. Por exemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio de pago.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  x-description-i18n:
                                    eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                    spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                    por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  x-description-i18n:
                                    eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                    spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID del reembolso.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payment.
                                    spa: Información detallada sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                          tickets:
                            description: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                            x-description-i18n:
                              eng: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                              spa: Tickets, boleto y pagos en agencias de lotería. En resumen, este campo proporciona información relacionada con métodos de pago fuera de línea.
                              por: Tickets, boletos e pagamentos em casas lotéricas. Em resumo, este campo fornece informações relacionadas a pagamentos realizados offline.
                            type: array
                            items:
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "pec"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                payment_id:
                                  type: number
                                  example: 1234567654
                                  description: Payment identification associated with the payment method used.
                                  x-description-i18n:
                                    eng: Payment identification associated with the payment method used.
                                    spa: Identificación de pago asociada al medio de pago utilizado.
                                    por: Identificação de pagamento associada ao meio de pagamento utilizado.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payment.
                                    spa: Información sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do Pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do pagamento.
                                completion_url:
                                  type: string
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de reembolsos relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: Refund identifier.
                                      x-description-i18n:
                                        eng: Refund identifier.
                                        spa: Identificador del reembolso.
                                        por: Identificador do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                          atms:
                            description: ATM (Automated Teller Machine).
                            x-description-i18n:
                              eng: ATM (Automated Teller Machine).
                              spa: Cajero automático.
                              por: Caixa eletrônico.
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "bapropagos"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                payment_id:
                                  type: number
                                  example: 12345432423
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio de pago.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                completion_url:
                                  type: string
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de reembolsos relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: Refund identifier.
                                      x-description-i18n:
                                        eng: Refund identifier.
                                        spa: Identificador del reembolso.
                                        por: Identificador do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status_detail:
                                  type: object
                                  description: Detailed information about the status of the payment.
                                  x-description-i18n:
                                    eng: Detailed information about the status of the payment.
                                    spa: Información detallada sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do pagamento.
                          bank_transfers:
                            description: Bank transfers.
                            x-description-i18n:
                              eng: Bank transfers.
                              spa: Transferencias bancarias.
                              por: Transferências bancárias.
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "banco_mp"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                payment_id:
                                  type: number
                                  example: 23421234543
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio de pago.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                completion_url:
                                  type: string
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: Refund identifier.
                                      x-description-i18n:
                                        eng: Refund identifier.
                                        spa: Identificador del reembolso.
                                        por: Identificador do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status_detail:
                                  type: object
                                  description: Detailed information about the status of the payment.
                                  x-description-i18n:
                                    eng: Detailed information about the status of the payment.
                                    spa: Información detallada sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
        "400":
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad Request.
                      - 401--Unauthorized.
                      - 403--Forbidden.
                      - 404--Not Found.
                      - 408--Request Timeout.
                      - 409--Conflict.
                      - 422--Unprocessable Entity.
        "500":
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500--Unexpected Error.
                      - 503--Service Unavailable.
    patch:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Modify Payment Intent
      x-summary-i18n:
        eng: Modify Payment Intent
        spa: Modificar Payment Intent
        por: Modificar Payment Intent
      description: This endpoint allows for the modification of a Payment Intent created in Builder mode. By using the Payment Intent ID, it is possible to make edits through the PATCH endpoint. This enables the alteration or addition of fields in the intents body before its processing. It iss important to note that it is not necessary to send all fields filled, only those you want to modify or add
      x-description-i18n:
        eng: This endpoint allows for the modification of a Payment Intent created in Builder mode. By using the Payment Intent ID, it is possible to make edits through the PATCH endpoint. This enables the alteration or addition of fields in the intents body before its processing. It is important to note that it is not necessary to send all fields filled, only those you want to modify or add
        spa: Este endpoint permite la modificación de una Payment Intent creada en el modo Builder. Utilizando el ID de la Payment Intent, es posible realizar ediciones a través del endpoint PATCH. Esto permite la modificación o adición de campos en el cuerpo de la intención antes de su procesamiento. Es importante tener en cuenta que no es necesario enviar todos los campos completos, solo aquellos que desea modificar o agregar
        por: Este endpoint possibilita a modificação de uma Payment Intent criada no modo Builder. Utilizando o ID da Payment Intent, é possível realizar edições por meio do endpoint PATCH. Isso permite a alteração ou adição de campos no corpo da intenção antes de seu processamento. É importante observar que não é obrigatório enviar todos os campos preenchidos, apenas aqueles que você deseja modificar ou acrescentar
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer token-89987654567f-numeroToken"
          required: true
          description: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
          x-description-i18n:
            eng: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
            spa: Access Token - Clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores.
            por: Access Token - Chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores.
        - in: header
          name: X-Integrator-ID
          schema:
            type: string
          required: false
          description: Optinal ID for programmers or agencies  who are part of the <dev>program.
          x-description-i18n:
            eng: Optinal ID for programmers or agencies  who are part of the <dev>program.
            spa: ID opcional para programadores o agencias que forman parte del programa <dev>.
            por: ID opcional para programadores ou agências que fazem parte do programa <dev>.
        - name: id
          description: ID of a created Payment Intent.
          x-description-i18n:
            eng: ID of a created Payment Intent.
            spa: ID de la Payment Intent creada.
            por: ID da Payment Intent criada.
          in: path
          required: true
          schema:
            type: string
            example: "00001njp2i"
      requestBody:
        description: Complete body of a Payment Intent. You can modify as needed. When updating, only send the fields you wish to change or add.
        x-description-i18n:
          eng: Complete body of a Payment Intent. You can modify as needed. When updating, only send the fields you wish to change or add.
          spa: Body completo de una Payment Intent. Puedes modificarla según lo necesites. Al actualizar, envía solo los campos que desees cambiar o agregar.
          por: Body completo de uma Payment Intent. Você pode modificar conforme necessário. Ao atualizar, envie apenas os campos que deseja alterar ou adicionar.
        content:
          application/json:
            schema:
              type: object
              properties:
                active_to_date:
                  type: string
                  description: Maximum processing deadline for the payment intent. This deadline sets the date by which the Payment Intent is expected to be processed and completed. For example - "2023-09-06T10:00:00.000-03:00".
                  x-description-i18n:
                    eng: Maximum processing deadline for the payment intent. This deadline sets the date by which the Payment Intent is expected to be processed and completed. For example - "2023-09-06T10:00:00.000-03:00".
                    spa: Plazo máximo de procesamiento para la Payment Intent. Este plazo establece la fecha límite hasta la cual se espera que la Payment Intent sea procesada y completada. Por ejemplo - "2023-09-06T10:00:00.000-03:00".
                    por: Prazo máximo de processamento para a Payment Intent. Este prazo determina a data-limite até a qual se espera que a Payment Intent seja processada e finalizada. Por exemplo - "2023-09-06T10:00:00.000-03:00".
                  format: date-time
                  example: "2023-09-06T10:00:00.000-03:00"
                configuration:
                  type: object
                  description: Predefined configuration parameters set by the seller before initiating the payment.
                  x-description-i18n:
                    eng: Predefined configuration parameters set by the seller before initiating the payment.
                    spa: Parámetros de configuración predefinidos por el seller antes de iniciar la transacción.
                    por: Parâmetros de configuração pré-definidos pelo seller antes de iniciar a transação.
                  properties:
                    options:
                      type: object
                      description: Seller-defined settings to determine the choices offered during the payment. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the payment process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the payment is conducted.
                      x-description-i18n:
                        eng: Seller-defined settings to determine the choices offered during the payment. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the payment process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the payment is conducted.
                        spa: Ajustes establecidos por el seller para determinar las opciones ofrecidas durante la transacción. Este campo se refiere a las configuraciones que el seller establece para proporcionar diferentes opciones a los compradores durante el proceso de transacción. Esto puede incluir elecciones como métodos de pago aceptados, cuotas, opciones de envío, descuentos y otras personalizaciones que afectan la forma en que se lleva a cabo la transacción.
                        por: Ajustes estabelecidos pelo seller para determinar as escolhas oferecidas durante a transação. Este campo e refere às configurações que o seller configura para fornecer diferentes opções aos compradores durante o processo de transação. Isso pode incluir escolhas como meios de pagamento aceitos, parcelamento, opções de envio, descontos e outras personalizações que afetam a forma como a transação é conduzida. 
                      properties:
                        payment_methods:
                          type: object
                          description: Information related to the payment methods defined for the payment.
                          x-description-i18n: 
                            eng: Information related to the payment methods defined for the payment.
                            spa: Información relacionada con los medios de pago definidos para la transacción.
                            por: Informações relacionadas aos meios de pagamento definidos para a transação.
                          properties:
                            coupons:
                              description: Coupons can be used as a payment method during the payment.
                              x-description-i18n:
                                eng: Coupons can be used as a payment method during the payment.
                                spa: Los cupones se pueden utilizar como método de pago durante la transacción.
                                por: Os cupons podem ser utilizados como forma de pagamento durante a transação.
                              type: object
                              properties:
                                campaign_id:
                                  type: number
                                  example: 123456
                                  description: Identifier number of the campaign to which the coupon is linked.
                                  x-description-i18n:
                                    eng: Identifier number of the campaign to which the coupon is linked.
                                    spa: Número identificador de la campaña a la cual el cupón está vinculado.
                                    por: Número de identificação da campanha à qual o cupom está associado.
                                amount:
                                  type: string
                                  example: "100.00"
                                  description: Total value of coupon. For example, "100.00".
                                  x-description-i18n:
                                    eng: Total value of coupon. For example, "100.00".
                                    spa: Valor total del cupón. Por ejemplo, "100.00".
                                    por: Valor total do cupom. Por exemplo, "100.00".
                            types:
                              type: object
                              description: Configuration by payment method type.
                              x-description-i18n:
                                eng: Configuration by payment method type.
                                spa: Configuración por tipo de medio de pago.
                                por: Configuração por tipo de meio de pagamento.
                              properties:
                                enabled:
                                  description: List of Payment Types included. For example, credit_card, debit_card.
                                  x-description-i18n:
                                    eng: List of Payment Types included. For example, credit_card, debit_card.
                                    spa: Lista de tipos de medios de pago incluidos. Por ejemplo, credit_card, debit_card.
                                    por: Lista de tipos de meios de pagamento incluídos. Por exemplo, credit_card, debit_card.
                                  type: array
                                  items:
                                    type: string
                                    example: [ "credit_card", "debit_card" ]
                                disabled:
                                  description: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the payment, such as "credit card".
                                  x-description-i18n:
                                    eng: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the payment, such as "credit card".
                                    spa: Tipos de medios de pago no incluidos. Este parámetro abarca los pagos que no serán aceptados en la transacción, como por ejemplo, "credit card".
                                    por: Tipos de meios de pagamento não abrangidos. Este parâmetro engloba os pagamentos que não serão aceitos na transação, como por exemplo, "credit card".
                                  type: array
[...]
