openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: "1.0"
paths:
  /v1/payment-intents/{id}:
    get:
      tags:
        - $ref: "#/tags/checkout-api"
      summary: Get Payment Intent by ID
      x-summary-i18n:
        eng: Get Payment Intent by ID
        spa: Obtener Payment Intent por ID
        por: Obter Payment Intent por ID
      description: This endpoint allows you to retrieve an existing Payment Intent using its ID as a parameter
      x-description-i18n:
        eng: This endpoint allows you to retrieve an existing Payment Intent using its ID as a parameter
        spa: Este endpoint permite consultar una Payment Intent ya existente mediante su ID
        por: Este endpoint permite consultar uma Payment Intent existente utilizando seu ID como parâmetro
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer ACCESS_TOKEN_or_CLIENT_TOKEN"
          required: true
          description: Access Token or Client Token - Access Token is the application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers. Client Token is the token generated from the return of an unprocessed payment intention, it will be available in the client_token property, this token can be used for calls from the frontend.
          x-description-i18n:
            eng: Access Token or Client Token - Access Token is the application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers. Client Token is the token generated from the return of an unprocessed payment intention, it will be available in the client_token property, this token can be used for calls from the frontend.
            spa: Access Token o Client Token - Access Token es la clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores. Client Token es el token generado a partir de la devolución de una intención de pago no procesada, estará disponible en la propiedad client_token, este token se puede usar para llamadas a partir de frontend.
            por: Access Token ou Client Token - Access Token é a chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores. Client Token é o token gerado a partir do retorno de uma payment intent não processada, estará disponibilizado na propriedade client_token, este token pode ser usado para chamadas de seu frontend.
        - in: header
          name: X-Auth-Method
          schema:
            type: string
            example: "payment_intent"
          description: This field indicates the authentication method in use. When using the "client token" for authorization, this header becomes mandatory. Set its value to "payment_intent".
          x-description-i18n:
            eng: This field indicates the authentication method in use. When using the "client token" for authorization, this header becomes mandatory. Set its value to "payment_intent".
            spa: Este campo especifica el método de autenticación en uso. Cuando se utiliza el "client token" como medio de autorización, este header se vuelve obligatorio. Establezca su valor como "payment_intent".
            por: Este campo especifica o método de autenticação em uso. Quando se utiliza o "client token" como meio de autorização, este header é obrigatório. Defina seu valor como "payment_intent".
        - name: id
          description: Payment Intent's Id.
          x-description-i18n:
            eng: Payment Intent's Id.
            spa: ID de la Payment Intent.
            por: ID da Payment Intent.
          in: path
          required: true
          schema:
            type: string
            example: "00001njp2i"
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "00001njp2i"
                    description: ID of a created Payment Intent.
                    x-description-i18n:
                      eng: ID of a created Payment Intent.
                      spa: ID de la Payment Intent creada.
                      por: ID da Payment Intent criada.
                  client_token:
                    type: string
                    example: ""
                    description: Generated by an unprocessed Payment-Intent, this token can be used for calls from your frontend, replacing the value of the Authorization parameter.
                    x-description-i18n:
                      eng: Generated by an unprocessed Payment-Intent, this token can be used for calls from your frontend, replacing the value of the Authorization parameter.
                      spa: Generado por una Payment-Intent no procesada, este token se puede usar para llamadas desde su interfaz, reemplazando el valor del parámetro Autorización..
                      por: Gerado por uma Payment-Intent não processada, este token pode ser usado para chamadas a partir do seu frontend, substituindo o valor do parâmetro Authorization.
                  created_date:
                    type: string
                    example: "2023-09-06T08:00:00.000-03:00"
                    description: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                      spa: Fecha de creación de la Payment Intent. Por ejemplo, "2023-09-06T08:00:00.000-03:00".
                      por: Data de criação da Payment Intent. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                  status:
                    type: string
                    example: "processed"
                    description: Current status of the Payment Intent.
                    x-description-i18n:
                      eng: Current status of the Payment Intent.
                      spa: Status actual de la Payment Intent.
                      por: Status atual da Payment Intent.
                    enum:
                      - "new--it created but not processed"
                      - "transaction_in_process--it was processing, it is not conclusive. We can see the conclusive status in Webhook."
                      - "processed--it was processed with success."
                      - "partially_processed--it was partially processed, and it needs the second operation to finish with processed (specific to payment flow with two operations)."
                      - "partially_reverted--it was partially reverted. The revert is about some items, not total purchase."
                      - "reverted--it was reverted with success. It could happen in two cases. Case 01: the revert processed in total amount paid. Case 02: the payment was captured, but it was not processed appropriately, so it will be reverted."
                      - "failed--processing failed, if there is any pending transaction it will be reverted."
                      - "canceled--succession cancellation, it is only allowed for flows that the previous status was authorized."
                      - "authorized--the status is an intermediary. It indicates that the payment was authorized and the amount was reserved."
                      - "charged_back--the final status for a payer's contestation in your financial institution."
                  configuration:
                    type: object
                    description: Configuration parameters defined by the seller before starting the transaction
                    x-description-i18n:
                      eng: Configuration parameters defined by the seller before starting the transaction
                      spa: Parámetros de configuración definidos por el seller antes de iniciar la transacción
                      por: Configuração definida pelo seller antes de iniciar a transação
                    properties:
                      integration:
                        type: object
                        description: Configuration of the seller on integration.
                        x-description-i18n:
                          eng: Configuration of the seller on integration.
                          spa: Configuración del seller sobre la integración.
                          por: Configuração do vendedor sobre a integração.
                        properties:
                          notification_url:
                            type: string
                            description: URL to which notifications will be sent.
                            example: "https://www.integrator-site.com/notifications"
                            x-description-i18n:
                              eng: URL to which notifications will be sent.
                              spa: URL a la cual se enviarán las notificaciones.
                              por: URL para a qual as notificações serão enviadas.
                          return_url_default:
                            description: Default URL to redirect the buyer.
                            x-description-i18n:
                              eng: Default URL to redirect the buyer.
                              spa: URL por defecto a la cual se redireccionará al comprador.
                              por: URL padrão para redirecionar o comprador.
                            type: string
                            example: "https://www.integrator-site.com/order"
                          return_url_success:
                            description: URL to redirect the buyer in case of successful payment.
                            type: string
                            example: "https://www.integrator-site.com/order/success"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of successful payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago exitoso.
                              por: URL para redirecionar o comprador em caso de pagamento bem-sucedido.
                          return_url_pending:
                            description: URL to redirect the buyer in case of pending payment.
                            type: string
                            example: "https://www.integrator-site.com/order/pending"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of pending payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago pendiente.
                              por: URL para redirecionar o comprador em caso de pagamento pendente.
                          return_url_failure:
                            description: URL to redirect the buyer in case of failed payment.
                            type: string
                            example: "https://www.integrator-site.com/order/failed"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of failed payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago fallido.
                              por: URL para redirecionar o comprador em caso de pagamento falhou.
                  order:
                    type: object
                    description: Common Order attributes for request and response.
                    x-description-i18n:
                      eng: Common Order attributes for request and response.
                      spa: Atributos de Order comunes para el request y el response.
                      por: Atributos de Order comuns para o request e o response.
                    properties:
                      external_reference:
                        type: string
                        example: "my_order_id"
                        description: Reference of the order
                        x-description-i18n:
                          eng: ID of the order previously created in the integrator's system
                          spa: ID en sistema externo del integrador
                          por: ID da ordem criada anteriormente no sistema do integrador
                      description:
                        type: string
                        example: "my_order_description"
                        description: Description of the order or payment.
                        x-description-i18n:
                          eng: Description of the order or payment.
                          spa: Descricion de la orden o transacción.
                          por: Descrição da ordem ou transação.
                      amount:
                        type: string
                        example: "233.00"
                        description: Total value of the transaction
                        x-description-i18n:
                          eng: Total value of the transaction
                          spa: Monto total de la transacción
                          por: Valor total da transação
                      items:
                        type: array
                        description: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                        x-description-i18n:
                          eng: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                          spa: Información relevante para la configuración de los elementos que componen la transacción, como la lista de elementos, sus cantidades y precios. Esto abarca detalles sobre los diferentes productos o servicios involucrados en la transacción, incluyendo la cantidad de cada elemento y el precio correspondiente a cada uno de ellos.
                          por: Informações pertinentes à configuração dos itens que constituem a transação, tais como a lista de itens, suas quantidades e preços. Isso abrange informações sobre os diferentes produtos ou serviços envolvidos na transação, incluindo a quantidade de cada item e o preço correspondente a cada um deles.
                        items:
                          properties:
                            id:
                              type: string
                              example: "x76ax"
                              description: Item identification code.
                              x-description-i18n:
                                eng: Item identification code.
                                spa: Código de identificación del ítem.
                                por: Código de identificação do item.
                            quantity:
                              type: number
                              example: 4
                              description: Number of item included in the order.
                              x-description-i18n:
                                eng: Number of item included in the order.
                                spa: Cantidad de ocurrencias del ítem incluidos en la órden.
                                por: Quantidade de itens incluídos no pedido.
                            unit_price:
                              type: string
                              example: "100.00"
                              description: Unit price of the item.
                              x-description-i18n:
                                eng: Unit value of the item.
                                spa: Precio unitario del ítem.
                                por: Preço unitário do item.
                            dimensions:
                              type: string
                              example: "30x30x30"
                              description: Dimensions of the item - length x width x height.
                              x-description-i18n:
                                eng: Dimensions of the item - length x width x height.
                                spa: Dimensiones del ítem - largo x ancho x alto.
                                por: Dimensões do item - comprimento x largura x altura.
                            description:
                              type: string
                              example: "Beautifully handmade laptop case/sleeve made in the Himalaya. "
                              description: Description of the item that makes up the list of order items.
                              x-description-i18n:
                                eng: Description of the item that makes up the list of order items.
                                spa: Descripción del artículo que componen el listado de items de la orden.
                                por: Descrição do item que compõe a lista de itens do pedido.
                      payer:
                        type: object
                        description: Buyer's information.
                        x-description-i18n:
                          eng: Buyer's information.
                          spa: Información del comprador.
                          por: Informações do comprador.
                        properties:
                          email:
                            type: string
                            description: Buyer's email.
                            x-description-i18n:
                              eng: Buyer's email.
                              spa: Email del comprador.
                              por: Email do comprador.
                          customer_id:
                            type: number
                            example: 123456
                            description: Previously stored buyer identification number.
                            x-description-i18n:
                              eng: Previously stored buyer identification number.
                              spa: Número de identificación del comprador previamente almacenado.
                              por: Número de identificação do comprador previamente armazenado.
                          identification:
                            type: object
                            description: Type and number of legal document that identifies the person in the country.
                            x-description-i18n:
                              eng: Type and number of legal document that identifies the person in the country.
                              spa: Tipo y número de documento legal que identifica a la persona en el país.
                              por: Tipo e número de documento que identifica a pessoa no país.
                            properties:
                              number:
                                type: string
                                example: "12345678098"
                                description: Number of the document.
                                x-description-i18n:
                                  eng: Number of the document.
                                  spa: Número del documento.
                                  por: Número do documento.
                              type:
                                type: string
                                example: "CPF"
                                description: Type of the document.
                                x-description-i18n:
                                  eng: Type of the document.
                                  spa: Tipo de documento.
                                  por: Tipo de documento.
                          address:
                            type: object
                            description: Address of the buyer.
                            x-description-i18n:
                              eng: Address of the buyer.
                              spa: Dirección del comprador.
                              por: Endereço do comprador.
                            properties:
                              street_name:
                                type: string
                                example: "Street MercadoLivre"
                                description: Street name.
                                x-description-i18n:
                                  eng: Street name.
                                  spa: Nombre de la calle.
                                  por: Nome da rua.
                              street_number:
                                type: string
                                example: "100"
                                description: Street number.
                                x-description-i18n:
                                  eng: Street number.
                                  spa: Número de la calle.
                                  por: Número da casa.
                              zip_code:
                                type: string
                                example: "57000-865"
                                description: Zip code.
                                x-description-i18n:
                                  eng: Zip code.
                                  spa: Código postal.
                                  por: Código postal.
                          phone:
                            type: object
                            description: Buyer's phone number.
                            x-description-i18n:
                              eng: Buyer's phone number.
                              spa: Número de teléfono del comprador.
                              por: Número de telefone do comprador.
                            properties:
                              area_code:
                                type: string
                                example: "11"
                              number:
                                type: string
                                example: "99999999"
                      advanced:
                        type: object
                        description: Options for advanced transaction.
                        x-description-i18n:
                          eng: Options for advanced transaction.
                          spa: Agrupación de opciones avanzadas para la transacción.
                          por: Opções avançadas para a transação.
                        properties:
                          binary_mode:
                            type: boolean
                            example: true
                            description: Allows to require a final response from the transaction in your first processing (by disabling any offline or asynchronous processing option).
                            x-description-i18n:
                              eng: Allows to require a final response from the transaction in your first processing (by disabling any offline or asynchronous processing option).
                              spa: Permite exigir una respuesta final de la transacción en su primer procesamiento (deshabilitando cualquier opción de procesamiento offline o asíncrona).
                              por: Permite exigir uma resposta final da transação no primeiro processamento (desabilitando qualquer opção de processamento offline ou assíncrono).
                      amount_details:
                        type: object
                        description: This field covers details relating to transaction amounts, including the amount paid and, in refund situations, the total amount refunded.
                        x-description-i18n:
                          eng: This field covers details relating to transaction amounts, including the amount paid and, in refund situations, the total amount refunded.
                          spa: Este campo incluye detalles relativos a los importes de las transacciones, incluido el importe pagado y, en situaciones de reembolso, el importe total reembolsado.
                          por: Este campo abrange os detalhes relacionados aos montantes da transação, incluindo o valor pago e, em situações de reembolso, o montante total reembolsado.
                        properties:
                          total:
                            type: string
                            example: "123.00"
                            description: Details of the total value of the transaction.
                            x-description-i18n:
                              eng: Details of the total value of the transaction.
                              spa: Detalles del monto total de la transacción.
                              por: Detalhes do valor total da transação.
                          paid:
                            type: string
                            example: "100.00"
                            description: Total paid.
                            x-description-i18n:
                              eng: Total paid.
                              spa: Monto de la transacción pagado.
                              por: Valor pago.
                          refunded:
                            type: string
                            example: "100.00"
                            description: Total value refunded.
                            x-description-i18n:
                              eng: Total value refunded.
                              spa: Monto de la transacción devuelto.
                              por: Valor reembolsado.
                      payment_method:
                        type: object
                        description: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                        x-description-i18n:
                          eng: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                          spa: Información detallada sobre los medios de pago disponibles durante la transacción, como por ejemplo, el monto total a pagar utilizando un método de pago específico, opciones de financiamiento, entre otros.
                          por: Informações detalhadas sobre os meios de pagamento disponíveis durante a transação, como por exemplo, valor total a ser pago com determinado meio de pagamento, parcelamento, entre outros.
                        properties:
                          credit_cards:
                            type: array
                            description: Credit cards.
                            x-description-i18n:
                              eng: Credit cards.
                              spa: Tarjetas de crédito.
                              por: Cartão de crédito.
                            items:
                              properties:
                                installments:
                                  type: number
                                  example: 1
                                  description: Quantity of installments.
                                  x-description-i18n:
                                    eng: Quantity of installments.
                                    spa: Cantidad de cuotas deseadas.
                                    por: Quantidade de parcelas desejadas.
                                payment_id:
                                  type: number
                                  example: 12345432
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data.
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data.
                                    spa: Card token que representa de manera segura los datos de tarjeta.
                                    por: Card token que representa de maneira segura os dados do cartão.
                                payment_method_id:
                                  type: string
                                  example: "visa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  x-description-i18n:
                                    eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                    spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                    por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  x-description-i18n:
                                    eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                    spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          debit_cards:
                            type: array
                            description: Debit card.
                            x-description-i18n:
                              eng: Debit card.
                              spa: Tarjeta de débito.
                              por: Cartão de débito.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data.
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data.
                                    spa: card_token que representa de manera segura los datos de tarjeta.
                                    por: Card token que representa de maneira segura os dados do cartão.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: In case it is required, identifier of the card issuer entity.
                                  x-description-i18n:
                                    eng: In case it is required, identifier of the card issuer entity.
                                    spa: En caso que sea requerido, identificador de la  entidad emisora de la tarjeta.
                                    por: Caso seja requerido, identificador da entidade emissora do cartão.
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Descriptor of the charge to be shown in the card statement.
                                  x-description-i18n:
                                    eng: descriptor of the charge to be shown in the card statement.
                                    spa: Descriptor del cargo a utilizar en el resumen del emisor.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          tickets:
                            type: array
                            description: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                            x-description-i18n:
                              eng: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                              spa: Tickets, boleto y pagos en agencias de lotería. En resumen, este campo proporciona información relacionada con métodos de pago fuera de línea.
                              por: Tickets, boletos e pagamentos em casas lotéricas. Em resumo, este campo fornece informações relacionadas a pagamentos realizados offline.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                completion_url:
                                  type: string
                                  example: ""
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          atms:
                            type: array
                            description: Automated Teller Machine.
                            x-description-i18n:
                              eng: Automated Teller Machine.
                              spa: Cajero automático.
                              por: Caixa eletrônico.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                completion_url:
                                  type: string
                                  example: ""
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          bank_transfers:
                            type: array
                            description: Bank transfers.
                            x-description-i18n:
                              eng: Bank transfers.
                              spa: Transferencias bancarias.
                              por: Transferências bancárias.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                completion_url:
                                  type: string
                                  example: ""
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Bad Request.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Unauthorized.
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Forbidden.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Not Found.
        "408":
          description: Request Timeout
          content:
            application/json:
            schema:
              type: object
              properties:
                errorKey:
                  type: string
                  enum:
                    - Request Timeout.
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Conflict.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Unprocessable Entity.
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Internal Server Error.
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - Service Unavailable.
    patch:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Modify Payment Intent
      x-summary-i18n:
        eng: Modify Payment Intent
        spa: Modificar Payment Intent
        por: Modificar Payment Intent
      description: This endpoint enables the modification of a Payment Intent. Such changes are only allowed for Payment Intents that have not yet been processed. After making the modifications, the Payment Intent will be available for processing
      x-description-i18n:
        eng: This endpoint enables the modification of a Payment Intent. Such changes are only allowed for Payment Intents that have not yet been processed. After making the modifications, the Payment Intent will be available for processing
        spa: Este endpoint permite la modificación de una Payment Intent. Tales cambios sólo son permitidos para Payment Intents que aún no han sido procesadas. Después de realizar las modificaciones, la Payment Intent estará disponible para ser procesada
        por: Este endpoint possibilita a modificação de uma Payment Intent. Essa alteração é permitida somente para Payment Intents que ainda não foram processadas. Após efetuar as modificações, a Payment Intent estará disponível para ser processada
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer ACCESS-TOKEN_or_CLIENT-TOKEN"
          required: true
          description: Access Token or Client Token - Access Token is the application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers. Client Token is the token generated from the return of an unprocessed payment intention, it will be available in the client_token property, this token can be used for calls from the frontend.
          x-description-i18n:
            eng: Access Token or Client Token - Access Token is the application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers. Client Token is the token generated from the return of an unprocessed payment intention, it will be available in the client_token property, this token can be used for calls from the frontend.
            spa: Access Token o Client Token - Access Token es la clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores. Client Token es el token generado a partir de la devolución de una intención de pago no procesada, estará disponible en la propiedad client_token, este token se puede usar para llamadas a partir de frontend.
            por: Access Token ou Client Token - Access Token é a chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores. Client Token é o token gerado a partir do retorno de uma payment intent não processada, estará disponibilizado na propriedade client_token, este token pode ser usado para chamadas de seu frontend.
        - in: header
          name: X-Auth-Method
          schema:
            type: string
            example: "payment_intent"
          required: false
          description: This field indicates the authentication method in use. When using the "client token" for authorization, this header becomes mandatory. Set its value to "payment_intent".
          x-description-i18n:
            eng: This field indicates the authentication method in use. When using the "client token" for authorization, this header becomes mandatory. Set its value to "payment_intent".
            spa: Este campo especifica el método de autenticación en uso. Cuando se utiliza el "client token" como medio de autorización, este header se vuelve obligatorio. Establezca su valor como "payment_intent".
            por: Este campo especifica o método de autenticação em uso. Quando se utiliza o "client token" como meio de autorização, este header é obrigatório. Defina seu valor como "payment_intent".
        - in: header
          name: X-Idempotency-Key
          schema:
            type: string
            example: "0d5020ed-1af6-469c-ae06-c3bec19954bb"
          required: false
          description: This feature allows you to safely retry requests without the risk of accidentally performing the same action more than once. This is useful for avoiding errors, such as creating two identical Payment Intents, for example. To ensure that each request is unique, it's important to use an exclusive value in the header of your request. We suggest using a UUID V4 or random strings.
          x-description-i18n:
            eng: This feature allows you to safely retry requests without the risk of accidentally performing the same action more than once. This is useful for avoiding errors, such as creating two identical Payment Intents, for example. To ensure that each request is unique, it's important to use an exclusive value in the header of your request. We suggest using a UUID V4 or random strings.
            spa: Esta función permite repetir solicitudes de manera segura, sin el riesgo de realizar la misma acción más de una vez por error. Esto es útil para evitar errores, como la creación de dos Payment Intents idénticas, por ejemplo. Para garantizar que cada solicitud sea única, es importante utilizar un valor exclusivo en el header de su solicitud. Sugerimos el uso de un UUID V4 o strings aleatorias.
            por: Esta função permite repetir solicitações de forma segura, sem o risco de realizar a mesma ação mais de uma vez por engano. Isso é útil para evitar erros, como a criação de duas Payment-Intents idênticas, por exemplo. Para garantir que cada solicitação seja única, é importante usar um valor exclusivo no header da sua solicitação. Sugerimos o uso de um UUID V4 ou strings randômicas.
        - name: id
          description: ID of a created Payment-Intent.
          x-description-i18n:
            eng: ID of a created Payment Intent.
            spa: ID de la Payment-Intent creada.
            por: ID da Payment-Intent criada.
          in: path
          required: true
          schema:
            type: string
            example: "00321nj123"
      requestBody:
        description: Body for modifying a Payment-Intent. You can modify as needed. When updating, only send the fields you wish to change or add.
        x-description-i18n:
          eng: Body for modifying a Payment-Intent. You can modify as needed. When updating, only send the fields you wish to change or add.
          spa: Body para modificar una Payment-Intent. Puedes modificarla según lo necesites. Al actualizar, envía solo los campos que deseas cambiar o agregar.
          por: Body completo de uma Payment-Intent. Você pode modificar conforme necessário. Ao atualizar, envie apenas os campos que deseja alterar ou adicionar.
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  description: Order containing all the essential information for the execution of a payment.
                  x-description-i18n:
                      eng: Order containing all the essential information for the execution of a payment.
                      spa: Orden que contiene toda la información esencial para la ejecución de una transacción.
                      por: Ordem contendo todas as informações essenciais para a execução de uma transação.
                  type: object
                  properties:
                    payer:
                      type: object
                      description: Buyer's information.
                      x-description-i18n:
                        eng: Buyer's information.
                        spa: Información del comprador.
                        por: Informações do comprador.
                      properties:
                        email:
                          type: string
                          example: "testjohnupdate@test.com"
                          description: Buyer's email. It becomes mandatory when changing any payer information.
                          x-description-i18n:
                            eng: Buyer's email. It becomes mandatory when changing any payer information.
                            spa: Email del comprador. Se vuelve obligatorio al cambiar cualquier información del pagador.
                            por: Email do comprador. Torna-se obrigatório ao alterar qualquer informação do pagador.
                        name:
                          type: string
                          example: "John"
                          description: Buyer's name.
                          x-description-i18n:
                            eng: Buyer's name.
                            spa: Nombre del comprador.
                            por: Nome do comprador.
                        surname:
                          type: string
                          example: "Doe"
                          description: Buyer's surname.
                          x-description-i18n:
                            eng: Buyer's surname.
                            spa: Apellido del comprador.
                            por: Sobrenome do comprador.
                        address:
                          type: object
                          description: Address of the buyer.
                          x-description-i18n:
                            eng: Address of the buyer.
                            spa: Dirección del comprador.
                            por: Endereço do comprador.
                          properties:
                            street_name:
                              type: string
                              example: "Street MercadoLivre"
                              description: Street name.
                              x-description-i18n:
                                eng: Street name.
                                spa: Nombre de la calle.
                                por: Nome da rua.
                            street_number:
                              type: string
                              example: "100"
                              description: Street number.
                              x-description-i18n:
                                eng: Street number.
                                spa: Número de la calle.
                                por: Número da casa.
                            zip_code:
                              type: string
                              example: "00000-000"
                              description: Zip code.
                              x-description-i18n:
                                eng: Zip code.
                                spa: Código postal.
                                por: Código postal.
                        identification:
                          type: object
                          description: This field refers to the type and number of the document used to identify a person within the country.
                          x-description-i18n:
                            eng: This field refers to the type and number of the document used to identify a person within the country.
                            spa: Este campo se refiere al tipo y número del documento utilizado para identificar a una persona dentro del país.
                            por: Este campo se refere ao tipo e número do documento usado para identificar uma pessoa dentro do país.
                          properties:
                            number:
                              description: Number of the document.
                              x-description-i18n:
                                eng: Number of the document.
                                spa: Número del documento.
                                por: Número do documento.
                              type: string
                              example: "12345678098"
                            type:
                              description: Type of the document.
                              x-description-i18n:
                                eng: Type of the document.
                                spa: Tipo de documento.
                                por: Tipo de documento.
                              type: string
                              example: "CPF"
                        phone:
                          type: object
                          description: Buyer's phone number.
                          x-description-i18n:
                            eng: Buyer's phone number.
                            spa: Número de teléfono del comprador.
                            por: Número de telefone do comprador.
                          properties:
                            area_code:
                              type: string
                              description: Buyer's area code.
                              x-description-i18n:
                                eng: Buyer's area code.
                                spa: Código de área del comprador.
                                por: Código de área do comprador.
                              example: "11"
                            number:
                              type: string
                              description: Buyer's phone number number.
                              x-description-i18n:
                                eng: Buyer's phone number.
                                spa: Número de teléfono del comprador.
                                por: Número de telefone do comprador.
                              example: "99999999"
                    payment_method:
                      type: object
                      description: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                      x-description-i18n:
                        eng: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                        spa: Información detallada sobre los medios de pago disponibles durante la transacción, como por ejemplo, el monto total a pagar utilizando un método de pago específico, opciones de financiamiento, entre otros.
                        por: Informações detalhadas sobre os meios de pagamento disponíveis durante a transação, como por exemplo, valor total a ser pago com determinado meio de pagamento, parcelamento, entre outros.
                      properties:
                        credit_cards:
                          type: array
                          description: Credit cards.
                          x-description-i18n:
                            eng: Credit cards.
                            spa: Tarjetas de crédito.
                            por: Cartão de crédito.
                          items:
                            properties:
                              installments:
                                type: number
                                example: 1
                                description: Quantity of installments.
                                x-description-i18n:
                                  eng: Quantity of installments.
                                  spa: Cantidad de cuotas deseadas.
                                  por: Quantidade de parcelas desejadas.
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio.
                                  por: Total a ser pago com este meio de pagamento.
                              token:
                                type: string
                                example: "1234567897yhjdsnfs123y3iuthrbnfuve8h4t3unbf7e4rgb"
                                description: Card token that represents securely the credit card data.
                                x-description-i18n:
                                  eng: Card token that represents securely the credit card data.
                                  spa: Card token que representa de manera segura los datos de tarjeta.
                                  por: Card token que representa de maneira segura os dados do cartão.
                              payment_method_id:
                                type: string
                                example: "visa"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                              issuer:
                                type: string
                                example: "23"
                                description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                x-description-i18n:
                                  eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                  por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                              statement_descriptor:
                                type: string
                                example: "MERCADOPAGO"
                                description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                x-description-i18n:
                                  eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                  por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                        debit_cards:
                          type: array
                          description: Debit card.
                          x-description-i18n:
                            eng: Debit card.
                            spa: Tarjeta de débito.
                            por: Cartão de débito.
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio.
                                  por: Valor total a ser pago com este meio de pagamento.
                              token:
                                type: string
                                example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                description: Card token that represents securely the credit card data.
                                x-description-i18n:
                                  eng: Card token that represents securely the credit card data.
                                  spa: card_token que representa de manera segura los datos de tarjeta.
                                  por: Card token que representa de maneira segura os dados do cartão.
                              payment_method_id:
                                type: string
                                example: "debvisa"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                              issuer:
                                type: string
                                example: "23"
                                description: In case it is required, identifier of the card issuer entity.
                                x-description-i18n:
                                  eng: In case it is required, identifier of the card issuer entity.
                                  spa: En caso que sea requerido, identificador de la  entidad emisora de la tarjeta.
                                  por: Caso seja requerido, identificador da entidade emissora do cartão.
                              statement_descriptor:
                                type: string
                                example: "MERCADOPAGO"
                                description: Descriptor of the charge to be shown in the card statement.
                                x-description-i18n:
                                  eng: descriptor of the charge to be shown in the card statement.
                                  spa: Descriptor del cargo a utilizar en el resumen del emisor.
                                  por: Descritor da cobrança a ser mostrada no extrato do cartão.
                        tickets:
                          type: array
                          description: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                          x-description-i18n:
                            eng: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                            spa: Tickets, boleto y pagos en agencias de lotería. En resumen, este campo proporciona información relacionada con métodos de pago fuera de línea.
                            por: Tickets, boletos e pagamentos em casas lotéricas. Em resumo, este campo fornece informações relacionadas a pagamentos realizados offline.
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio.
                                  por: Valor total a ser pago com este meio de pagamento.
                              payment_method_id:
                                type: string
                                example: "bolbradesco"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                        atms:
                          type: array
                          description: Automated Teller Machine.
                          x-description-i18n:
                            eng: Automated Teller Machine.
                            spa: Cajero automático.
                            por: Caixa eletrônico.
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio.
                                  por: Valor total a ser pago com este meio de pagamento.
                              payment_method_id:
                                type: string
                                example: "debvisa"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                        bank_transfers:
                          type: array
                          description: Bank transfers.
                          x-description-i18n:
                            eng: Bank transfers.
                            spa: Transferencias bancarias.
                            por: Transferências bancárias.
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio.
                                  por: Valor total a ser pago com este meio de pagamento.
                              payment_method_id:
                                type: string
                                example: "pix"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "00321nj123"
                    description: ID of a created Payment Intent.
                    x-description-i18n:
                      eng: ID of a created Payment Intent.
                      spa: ID de la Payment Intent creada.
                      por: ID da Payment Intent criada.
                  created_date:
                    type: string
                    example: "2023-09-06T08:00:00.000-03:00"
                    description: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                      spa: Fecha de creación de la Payment Intent. Por ejemplo, "2023-09-06T08:00:00.000-03:00".
                      por: Data de criação da Payment Intent. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                  active_to_date:
                    type: string
                    description: Maximum processing deadline for the payment intent. This deadline sets the date by which the payment Intent is expected to be processed and completed. For example - "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Maximum processing deadline for the payment intent. This deadline sets the date by which the payment Intent is expected to be processed and completed. For example - "2023-09-06T08:00:00.000-03:00".
                      spa: Plazo máximo de procesamiento para la Payment Intent. Este plazo establece la fecha límite hasta la cual se espera que la Payment Intent sea procesada y completada. Por ejemplo - "2023-09-06T08:00:00.000-03:00".
                      por: Prazo máximo de processamento para Payment Intent. Este prazo determina a data limite até a qual se espera que a Payment Intent seja processada e finalizada. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                    example: "2023-09-06T10:00:00.000-03:00"
                  status:
                    type: string
                    example: "new"
                    description: Current status of the Payment Intent.
                    x-description-i18n:
                      eng: Current status of the Payment Intent.
                      spa: Status actual de la Payment Intent.
                      por: Status atual da Payment Intent.
                    enum:
                      - "new--it created but not processed"
                      - "transaction_in_process--it was processing, it is not conclusive. We can see the conclusive status in Webhook."
                      - "failed--processing failed, if there is any pending transaction it will be reverted."
                  configuration:
                    type: object
                    description: Configuration parameters defined by the seller before starting the transaction
                    x-description-i18n:
                      eng: Configuration parameters defined by the seller before starting the transaction
                      spa: Parámetros de configuración definidos por el seller antes de iniciar la transacción
                      por: Configuração definida pelo seller antes de iniciar a transação
                    properties:
                      integration:
                        type: object
                        description: Configuration of the seller on integration.
                        x-description-i18n:
                          eng: Configuration of the seller on integration.
                          spa: Configuración del seller sobre la integración.
                          por: Configuração do vendedor sobre a integração.
                        properties:
                          notification_url:
                            type: string
                            description: URL to which notifications will be sent.
                            example: "https://www.integrator-site.com/notifications"
                            x-description-i18n:
                              eng: URL to which notifications will be sent.
                              spa: URL a la cual se enviarán las notificaciones.
                              por: URL para a qual as notificações serão enviadas.
                          return_url_default:
                            description: Default URL to redirect the buyer.
                            x-description-i18n:
                              eng: Default URL to redirect the buyer.
                              spa: URL por defecto a la cual se redireccionará al comprador.
                              por: URL padrão para redirecionar o comprador.
                            type: string
                            example: "https://www.integrator-site.com/order"
[...]
