openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /v1/payments:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Create payment
      x-summary-i18n:
        eng: Create payment
        spa: Crear pago
        por: Criar pagamento
      description: Create a payment and add all the information you need. Remember to add the payment details and the payer's information
      x-description-i18n:
        eng: Create a payment and add all the information you need. Remember to add the payment details and the payer's information
        spa: Realiza la creación de un pago y agrega toda la información que necesites. Ten en cuenta de sumar el detalle del pago y los datos del pagador
        por: Crie um pagamento e acrescente todas as informações que você precisa. Certifique-se de acrescentar os detalhes do pagamento e os detalhes do cliente
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                additional_info:
                  type: object
                  description: At Payments level, it's only data, and we only forward that information to other APIs like Risk, to perform scoring and prevent fraud, or to Tax, to determine them for international payments.
                  x-description-i18n:
                    eng: At Payments level, it's only data, and we only forward that information to other APIs like Risk, to perform scoring and prevent fraud, or to Tax, to determine them for international payments.
                    spa: En el nivel de Pagos, son solo datos y únicamente reenviamos esa información a otras API, como Riesgo, para realizar puntajes y prevenir fraudes, o a Impuestos, para determinarlos para pagos internacionales.
                    por: No nível de Pagamentos, são apenas dados e apenas encaminhamos essas informações para outras APIS, como Risco, para realizar pontuação e prevenir fraudes, para Impostos para determiná-los para pagamentos internacionais.
                  properties:
                    ip_address:
                      type: string
                      description: Internal protocol (IP) that comes from the request (for bank transfer only).
                      x-description-i18n:
                        eng: Internal protocol (IP) that comes from the request (for bank transfer only).
                        spa: Protocolo interno (IP) que proviene del request (solo para transferencia bancaria).
                        por: Protocolo interno (IP) que provém do request (apenas para transferência bancária).
                    items:
                      type: array
                      description: List of items to be paid.
                      x-description-i18n:
                        eng: List of items to be paid.
                        spa: Lista de ítems a pagar
                        por: Lista de itens a pagar
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: It is the purchased product ad identifier. For example - “MLB2907679857”.
                            x-description-i18n:
                              eng: It is the purchased product ad identifier. For example - “MLB2907679857”.
                              spa: Es el identificador del anuncio del producto adquirido. Por ejemplo - “MLB2907679857”.
                              por: É o identificador do anúncio do produto comprado. Por exemplo - “MLB2907679857”.
                            example: MLB2907679857
                          title:
                            type: string
                            description: Item name.
                            x-description-i18n:
                              eng: Item name.
                              spa: Nombre de ítem
                              por: Nome do item
                            example: Point Mini
                          description:
                            type: string
                            description: Long item description.
                            x-description-i18n:
                              eng: Long item description.
                              spa: Descripción de item.
                              por: Descrição do artigo.
                            example: Point product for card payments via Bluetooth.
                          picture_url:
                            type: string
                            description: Image URL.
                            x-description-i18n:
                              eng: Image URL.
                              spa: URL de imagen.
                              por: URL da imagem.
                            example: https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium2x.png
                          category_id:
                            type: string
                            description: It is the category of the purchased item. It is possible to mention two main forms of category_id - categories inserted through a code, such as “MLB189908”, or those that are a tag, such as “phone”.
                            x-description-i18n:
                              eng: It is the category of the purchased item. It is possible to mention two main forms of category_id - categories inserted through a code, such as “MLB189908”, or those that are a tag, such as “phone”.
                              spa: Es la categoría del ítem que se compró. Es posible citar dos formas principales de category_id - categorías insertadas a través de un código, como “MLB189908”, o aquellas que son una tag, como “phone”.
                              por: É a categoria do item que foi comprado. É possível citar duas formas principais de category_id - as categorias inseridas por meio de um código, como “MLB189908”, ou as que são uma tag, como “phone”.
                            example: electronics
                          quantity:
                            type: number
                            description: Item quantity.
                            x-description-i18n:
                              eng: Item quantity.
                              spa: Cantidad de producto
                              por: Quantidade do produto
                            example: 1
                          unit_price:
                            type: number
                            description: Unit price of the purchased item.
                            x-description-i18n:
                              eng: Unit price of the purchased item.
                              spa: Precio unitario del ítem comprado.
                              por: Preço unitário do item comprado.
                            example: 58.8
                          type:
                            type: string
                            description: Type of item being sold
                            x-description-i18n:
                              eng: Type of item being sold
                              spa: Tipo de ítem que se está vendiendo
                              por: Tipo de item sendo vendido
                            example: headphones
                          event_date:
                            type: string
                            description: Event Date - Use the standard ISO 8601 format to input the date and time of the event. The format should be "yyyy-MM-ddTHH:mm:ss.sssZ". For example, to schedule an event for December 31, 2023, at 9:37:52 AM in the UTC-4 timezone, you would enter "2023-12-31T09:37:52.000-04:00".
                            x-description-i18n:
                              eng: Event Date - Use the standard ISO 8601 format to input the date and time of the event. The format should be "yyyy-MM-ddTHH:mm:ss.sssZ". For example, to schedule an event for December 31, 2023, at 9:37:52 AM in the UTC-4 timezone, you would enter "2023-12-31T09:37:52.000-04:00".
                              spa: Fecha del Evento - Por favor, utilice el formato estándar ISO 8601 para introducir la fecha y hora del evento. El formato debe ser "yyyy-MM-ddTHH:mm:ss.sssZ". Por ejemplo, para programar un evento para el 31 de diciembre de 2023 a las 9:37:52 AM en la zona horaria UTC-4, deberá ingresar "2023-12-31T09:37:52.000-04:00".
                              por: Data do Evento - Utilize o formato padrão ISO 8601 para inserir a data e o horário do evento. O formato deve ser "yyyy-MM-ddTHH:mm:ss.sssZ". Por exemplo, para marcar um evento para o dia 31 de dezembro de 2023, às 9:37:52 AM, no fuso horário UTC-4, você deverá inserir - "2023-12-31T09:37:52.000-04:00".
                            example: "2023-12-31T09:37:52.000-04:00"
                          warranty:
                            type: boolean
                            description: Indicates if the product has warranty or not. True if it does, false if it doesn't.
                            x-description-i18n:
                              eng: Indicates if the product has warranty or not. True if it does, false if it doesn't.
                              spa: Indica si el producto tiene garantía o no. True si tiene, false si no.
                              por: Indica se o produto tem garantia ou não. True se tiver, false se não.    
                          category_descriptor:
                            type: object
                            properties:
                              passenger:
                                type: object
                                properties:
                                  first_name:
                                    type: string
                                    description: Passenger's first name.
                                    x-description-i18n:
                                      eng: Passenger's first name.
                                      spa: Nombre del pasajero
                                      por: Primeiro nome do passageiro
                                  last_name:
                                    type: string
                                    description: Passenger's last name.
                                    x-description-i18n:
                                      eng: Passenger's last name.
                                      spa: Apellido del pasajero
                                      por: Sobrenome do passageiro
                          route:
                            type: object
                            properties:
                              departure:
                                type: string
                                description: Departure city.
                                x-description-i18n:
                                  eng: Departure city.
                                  spa: Ciudad de salida
                                  por: Cidade de partida
                              destination:
                                type: string
                                description: Destination city.
                                x-description-i18n:
                                  eng: Destination city.
                                  spa: Ciudad de destino
                                  por: Cidade de destino
                              departure_date_time:
                                type: string
                                description: Departure date and time.
                                x-description-i18n:
                                  eng: Departure date and time. Valid format is as follows - "yyyy-MM-ddTHH:mm:ss.sssZ". Example - 2023-12-31T09:37:52.000-04:00.
                                  spa: Fecha y hora de salida. El formato válido es el siguiente - "yyyy-MM-ddTHH:mm:ss.sssZ". Ejemplo - 2023-12-31T09:37:52.000-04:00.
                                  por: Data e hora de partida. O formato válido é o seguinte - "yyyy-MM-ddTHH:mm:ss.sssZ". Exemplo - 2023-12-31T09:37:52.000-04:00.
                              arrival_date_time:
                                type: string
                                description: Arrival date and time.
                                x-description-i18n:
                                  eng: Arrival date and time. Valid format is as follows - "yyyy-MM-ddTHH:mm:ss.sssZ". Example - 2023-12-31T09:37:52.000-04:00.
                                  spa: Fecha y hora de llegada. El formato válido es el siguiente - "yyyy-MM-ddTHH:mm:ss.sssZ". Ejemplo - 2023-12-31T09:37:52.000-04:00.
                                  por: Data e hora de chegada. O formato válido é o seguinte - "yyyy-MM-ddTHH:mm:ss.sssZ". Exemplo - 2023-12-31T09:37:52.000-04:00.
                              company:
                                type: string
                                description: Company name.
                                x-description-i18n:
                                  eng: Company name.
                                  spa: Nombre de la empresa
                                  por: Nome da empresa
                    payer:
                      type: object
                      description: The payer is the one who makes the payment. This field is an object that has the payer's information.
                      x-description-i18n:
                        eng: The payer is the one who makes the payment. This field is an object that has the payer's information.
                        spa: El payer es quien realiza el pago. Este campo es un objeto que tiene la información del pagador.
                        por: O payer é aquele que faz o pagamento. Este campo é um objeto que possui as informações do pagador.
                      required: true
                      properties:
                        first_name:
                          type: string
                          description: Buyer's name.
                          x-description-i18n:
                            eng: Buyer's name.
                            spa: Nombre del comprador
                            por: Nome do comprador
                          example: Test
                        last_name:
                          type: string
                          description: It's the buyer's last name field.
                          x-description-i18n:
                            eng: It's the buyer's last name field.
                            spa: Es el campo de apellido del comprador.
                            por: É o campo do sobrenome do comprador.
                          example: Test
                        e-mail:
                          type: string
                          description: Payer's e-mail
                          x-description-i18n:
                            eng: Payer's e-mail
                            spa: Email del comprador
                            por: E-mail do comprador
                          example: test_user_123@testuser.com
                        phone:
                          type: object
                          description: Buyer's phone.
                          x-description-i18n:
                            eng: Buyer's phone.
                            spa: Teléfono del comprador
                            por: Telefone do comprador
                          properties:
                            area_code:
                              type: string
                              description: Area code.
                              x-description-i18n:
                                eng: Area code where the buyer resides.
                                spa: Código de área donde reside el comprador.
                                por: Código de área onde reside o comprador.
                              example: 11
                            number:
                              type: string
                              description: Buyer's fone number
                              x-description-i18n:
                                eng: Buyer's fone number
                                spa: Número telefónico del comprador.
                                por: Número de telefone do comprador.
                              example: '987654321'
                        address:
                          type: object
                          description: Buyer's address.
                          x-description-i18n:
                            eng: Buyer's address.
                            spa: Dirección del comprador.
                            por: Endereço do comprador.
                          properties:
                            zip_code:
                              type: string
                              description: Buyer's zip code.
                              x-description-i18n:
                                eng: Buyer's zip code.
                                spa: Código postal del comprador.
                                por: Código postal do comprador.
                            street_name:
                              type: string
                              description: Street where the buyer lives.
                              x-description-i18n:
                                eng: Street where the buyer lives.
                                spa: Calle donde vive el comprador.
                                por: Rua onde mora o comprador.
                            street_number:
                              type: number
                              description: Number of the property where the buyer lives.
                              x-description-i18n:
                                eng: Number of the property where the buyer lives.
                                spa: Número de la propiedad donde vive el comprador.
                                por: Número do imóvel onde mora o comprador.
                        registration_date:
                          type: string
                          format: date
                          description: Date of registration of the buyer (payer) on your website. The valid format of the attribute is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2021-06-15T19:22:41.001-03:00.
                          x-description-i18n:
                            eng: Date of registration of the buyer (payer) on your website. The valid format of the attribute is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2021-06-15T19:22:41.001-03:00.
                            spa: Fecha de registro del comprador (payer) en tu sitio web. El formato válido del atributo es el siguiente - "yyyy-MM-dd'T'HH:mm:ssz". Ej - 2021-06-15T19:22:41.001-03:00.
                            por: Data de cadastro do comprador (payer) em seu site.  O formato válido do atributo é o seguinte - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2021-06-15T19:22:41.001-03:00.
                        is_prime_user:
                          type: string
                          description: Indicates if the payer is a premium user. Valid values are as follows - "1" if it is, "0" if it isn't.
                          x-description-i18n:
                            eng: Indicates if the payer is a premium user. Valid values are as follows - "1" if it is, "0" if it isn't.
                            spa: Indica si el pagador es un usuario premium. Los valores válidos son los siguientes - "1" si lo es, "0" si no lo es.
                            por: Indica se o pagador é um usuário premium. Os valores válidos são os seguintes - "1" se for, "0" se não for.
                        is_first_purchase_online:
                          type: string
                          description: Indicates if the payer has made a purchase on your website before. Valid values are as follows - "1" if it is, "0" if it isn't.
                          x-description-i18n:
                            eng: Indicates if the payer has made a purchase on your website before. Valid values are as follows - "1" if it is, "0" if it isn't.
                            spa: Indica si el pagador ha realizado una compra en tu sitio web anteriormente. Los valores válidos son los siguientes - "1" si lo es, "0" si no lo es.
                            por: Indica se o pagador já realizou uma compra em seu site anteriormente. Os valores válidos são os seguintes - "1" se for, "0" se não for.
                        last_purchase:
                          type: string
                          description: Date of the last purchase made by the payer on your website. The valid format of the attribute is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2021-06-15T19:22:41.001-03:00.
                          x-description-i18n:
                            eng: Date of the last purchase made by the payer on your website. The valid format of the attribute is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2021-06-15T19:22:41.001-03:00.
                            spa: Fecha de la última compra realizada por el pagador en tu sitio web. El formato válido del atributo es el siguiente - "yyyy-MM-dd'T'HH:mm:ssz". Ej - 2021-06-15T19:22:41.001-03:00.
                            por: Data da última compra realizada pelo pagador em seu site. O formato válido do atributo é o seguinte - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2021-06-15T19:22:41.001-03:00.
                        authentication_type:
                          type: string
                          description: Type of authentication used by payer
                          x-description-i18n:
                            eng: Type of authentication used by payer
                            spa: Tipo de autenticación utilizada por el pagador
                            por: Tipo de autenticação utilizada pelo pagador
                          enum:
                            - Gmail
                            - Facebook
                            - Native web
                            - Other
                    shipments:
                      type: object
                      description: Object containing all the information for shipping the customer's purchase.
                      x-description-i18n:
                        eng: Object containing all the information for shipping the customer's purchase.
                        spa: Objeto que comprende toda la información para el envío de la compra del cliente.
                        por: Objeto que compreende todas as informações para o envio da compra do cliente. 
                      properties:
                        receiver_address:
                          type: object
                          description: Object comprising the address of the receiver of the purchase.
                          x-description-i18n:
                            eng: Object comprising the address of the receiver of the purchase.
                            spa: Objeto que comprende la dirección del destinatario de la compra.
                            por: Objeto que compreende o endereço do destinatário da compra.
                          properties:
                            zip_code:
                              type: string
                              description: Zip code.
                              x-description-i18n:
                                eng: Zip code.
                                spa: Código postal
                                por: Código postal
                              example: 12312-123
                            state_name:
                              type: string
                              description: State.
                              x-description-i18n:
                                eng: State.
                                spa: Provincia
                                por: Província
                              example: Rio de Janeiro
                            city_name:
                              type: string
                              description: City Name.
                              x-description-i18n:
                                eng: City Name.
                                spa: Ciudad
                                por: Cidade
                              example: Buzios
                            street_name:
                              type: string
                              description: Street name.
                              x-description-i18n:
                                eng: Street name.
                                spa: Calle
                                por: Rua
                              example: Av das Nacoes Unidas
                            street_number:
                              type: number
                              description: Number.
                              x-description-i18n:
                                eng: Number.
                                spa: Número
                                por: Número
                              example: 3003
                            floor:
                              type: string
                              description: Delivery address floor.
                              x-description-i18n:
                                eng: Delivery address floor.
                                spa: Piso de la dirección de entrega
                                por: Andar do endereço de entrega.
                            apartment:
                              type: string
                              description: Delivery address apartment number.
                              x-description-i18n:
                                eng: Delivery address apartment number.
                                spa: Número de departamento de la dirección de entrega.
                                por: Número do apartamento do endereço de entrega.
                        width:
                          type: number
                          description: Width of barcode.
                          x-description-i18n:
                            eng: Width of barcode.
                            spa: Ancho del código de barras
                            por: Largura do código de barras
                        height:
                          type: number
                          description: Height of barcode.
                          x-description-i18n:
                            eng: Height of barcode.
                            spa: Altura del código de barras
                            por: Altura do código de barras
                        express_shipment:
                          type: string
                          description: Indicates if the shipment is express or not. Valid values are as follows - "1" if it is, "0" if it isn't.
                          x-description-i18n:
                            eng: Indicates if the shipment is express or not. Valid values are as follows - "1" if it is, "0" if it isn't.
                            spa: Indica si el envío es express o no. Los valores válidos son los siguientes - "1" si lo es, "0" si no lo es.
                            por: Indica se o envio é expresso ou não. Os valores válidos são os seguintes - "1" se for, "0" se não for.
                        pickup_on_seller:
                          type: string
                          description: Indicates if the customer will pick up the product at the seller's address. Valid values are as follows - "1" if it is, "0" if it isn't.
                          x-description-i18n:
                            eng: Indicates if the customer will pick up the product at the seller's address. Valid values are as follows - "1" if it is, "0" if it isn't.
                            spa: Indica si el cliente recogerá el producto en la dirección del vendedor. Los valores válidos son los siguientes - "1" si lo es, "0" si no lo es.
                            por: Indica se o cliente irá retirar o produto no endereço do vendedor. Os valores válidos são os seguintes - "1" se for, "0" se não for.
                application_fee:
                  type: number
                  description: Commission (fee) that third parties (integrators) charge their customers, in this case, sellers, for using the marketplace platform and other services. This is a value in reais to be defined by the integrator to the seller.
                  x-description-i18n:
                    eng: Commission (fee) that third parties (integrators) charge their customers, in this case, sellers, for using the marketplace platform and other services. This is a value in reais to be defined by the integrator to the seller.
                    spa: Comisión (fee) que los terceros (integradores) cobran a sus clientes, en este caso vendedores, por utilizar la plataforma del marketplace y otros servicios. Este es un valor en reales que será definido por el integrador para el vendedor.
                    por: Comissão (taxa) que terceiros (integradores) cobram de seus clientes, neste caso, vendedores, pelo uso da plataforma do marketplace e de outros serviços. Esse é um valor em reais a ser definido pelo integrador ao vendedor.
                binary_mode:
                  type: boolean
                  description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                  x-description-i18n:
                    eng: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                    spa: Cuando se configura como TRUE los pagos sólo pueden resultar aprobados o rechazados. Caso contrario también pueden resultar in_process.
                    por: Quando definido como TRUE, os pagamentos só podem ser aprovados ou rejeitados. Caso contrário, eles também podem resultar in_process.
                callback_url:
                  type: string
                  description: URL where mercadopago does the final redirect (only for bank transfers).
                  x-description-i18n:
                    eng: URL where mercadopago does the final redirect (only for bank transfers).
                    spa: URL a la cual Mercado Pago hace la redirección final (sólo para transferencia bancaria).
                    por: URL para a qual o Mercado Pago faz o redirecionamento final (apenas para transferência bancária).
                campaign_id:
                  type: number
                  description: It is the identifier of  the entity that models the nature of discounts. All coupons come from a single campaign. The campaign configures, among other things, the available budget balance, dates between which coupons can be used, rules for coupon application. It's the discount promise.
                  x-description-i18n:
                    eng: It is the identifier of  the entity that models the nature of discounts. All coupons come from a single campaign. The campaign configures, among other things, the available budget balance, dates between which coupons can be used, rules for coupon application. It's the discount promise.
                    spa: Es el identificador de la entidad que modela la fuente de los descuentos. Todos los cupones provienen de una sola campaña. La campaña configura, entre otras cosas, el saldo presupuestario disponible, fechas entre las cuales se pueden utilizar los cupones, reglas para la aplicación de los mismos, etc. Es la promesa de descuento.
                    por: É o identificador da entidade que modela a natureza dos descontos. Todos os cupons vêm de uma única campanha. A campanha configura, entre outras coisas, o saldo orçamentário disponível, datas entre as quais os cupons podem ser utilizados, regras para aplicação de cupom, entre outros. É a promessa de desconto.
                capture:
                  type: boolean
                  description: It is a boolean field found in two-step payments (like debit card). In this type of payment, which is carried out asynchronously, the purchase value is first reserved (capture = false). This amount is captured and not debited from the account instantly. When the money is actually transferred to the collector (who receives the payment) the amount is captured (capture = true).
                  x-description-i18n:
                    eng: It is a boolean field found in two-step payments (like debit card). In this type of payment, which is carried out asynchronously, the purchase value is first reserved (capture = false). This amount is captured and not debited from the account instantly. When the money is actually transferred to the collector (who receives the payment) the amount is captured (capture = true).
                    spa: Es un campo booleano que se encuentra en pagos de dos pasos (como tarjeta de débito). En este tipo de pago, que se realiza de forma asíncrona, primero se reserva el valor de la compra (capture = false). Esta cantidad se captura y no se debita de la cuenta al instante. Cuando el dinero se transfiere realmente al cobrador (que recibe el pago), se captura la cantidad (capture = true).
                    por: É um campo booleano existente em pagamentos de duas etapas (como o cartão de débito). Nesse tipo de pagamento, que é realizado de modo assíncrono, primeiro é feito a reserva do valor da compra (capture = false). Esse valor é capturado e não é debitado da conta instantaneamente. Quando o dinheiro é de fato transferido ao collector (quem recebe o pagamento) a captura do montante é feita (capture = true).
                coupon_amount:
                  type: number
                  description: It is the value of the discount coupon. E.g. - BRL 14.50. The attribute's type is BigDecimal.
                  x-description-i18n:
                    eng: It is the value of the discount coupon. E.g. - BRL 14.50. The attribute's type is BigDecimal.
                    spa: Es el valor del cupón de descuento. Por ejemplo - BRL 14,50. El tipo del atributo es BigDecimal.
                    por: É o valor do cupom de desconto. Por exemplo - R$14,50. O tipo do atributo é BigDecimal. 
                coupon_code:
                  type: string
                  description: Discount campaign with a specific code.
                  x-description-i18n:
                    eng: Discount campaign with a specific code.
                    spa: Campaña de descuento con un código específico
                    por: Campanha de desconto com um código específico
                description:
                  type: string
                  description: Purchased product’s description, the reason for payment. E.g. - "Xiaomi Redmi Note 11S mobile phone 128gb 6gb Ram Original Global Blue Version" (description of a product in the marketplace).
                  x-description-i18n:
                    eng: Purchased product’s description, the reason for payment. E.g. - "Xiaomi Redmi Note 11S mobile phone 128gb 6gb Ram Original Global Blue Version" (description of a product in the marketplace).
                    spa: Descripción del producto adquirido, el motivo del pago. Ej. - "Celular Xiaomi Redmi Note 11S 128gb 6gb Ram Original Global Blue Version" (descripción de un producto en el marketplace).
                    por: Descrição do produto comprado, a razão de pagamento. Por exemplo -  "Celular Xiaomi Redmi Note 11S 128gb 6gb Ram Versão Global Original azul" (descrição de um produto no marketplace).
                  example: Payment for product
                  required: true
                differential_pricing_id:
                  type: number
                  description: Attribute that commonly contains an agreement on how much the user will be charged (generally, this field is more relevant for Marketplace payments). Pricing and fees are calculated based on this identifier.
                  x-description-i18n:
                    eng: Attribute that commonly contains an agreement on how much the user will be charged (generally, this field is more relevant for Marketplace payments). Pricing and fees are calculated based on this identifier.
                    spa: Atributo que comúnmente contiene un acuerdo sobre cuánto se le cobrará al usuario (generalmente, este campo es más relevante para los pagos de Marketplace). Los precios y las tarifas se calculan en función de este identificador.
                    por: Atributo que comumente contém um acordo de quanto vai ser cobrado do usuário (geralmente, este campo é mais relevante para pagamentos do Marketplace). A precificação e as taxas são calculadas com base nesse identificador.
                date_of_expiration:
                  type: string
                  format: date
                  description: Payment’s expiration date. The valid format of the attribute is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2022-11-17T09:37:52.000-04:00.
                  x-description-i18n:
                    eng: Payment’s expiration date. The valid format of the attribute is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex - 2022-11-17T09:37:52.000-04:00.
                    spa: Fecha de vencimiento del pago. El formato válido del atributo es el siguiente - "yyyy-MM-dd'T'HH:mm:ssz". Ej - 2022-11-17T09:37:52.000-04:00.
                    por: Data de expiração do pagamento. O formato válido do atributo é o seguinte - "yyyy-MM-dd'T'HH:mm:ssz". Por exemplo - 2022-11-17T09:37:52.000-04:00.
                external_reference:
                  type: string
                  description: It is a payment external reference. It could be, for example, a hashcode from the Central Bank, working as a transaction origin identifier.
                  x-description-i18n:
                    eng: It is a payment external reference. It could be, for example, a hashcode from the Central Bank, working as a transaction origin identifier.
                    spa: Es una referencia de pago externa. Podría ser, por ejemplo, un hashcode del Banco Central, funcionando como identificador del origen de la transacción.
                    por: É uma referência externa do pagamento. Pode ser, por exemplo, um hashcode do Banco Central, funcionando como identificador de origem da transação.
                  example: MP0001
                installments:
                  type: number
                  description: Number of installments selected.
                  x-description-i18n:
                    eng: Number of installments selected.
                    spa: Cantidad seleccionada de cuotas
                    por: Número de parcelas selecionado
                  required: true
                  example: 1
                issuer_id:
                  type: string
                  description: It is the identifier of the card issuer being used in a credit or debit card payment.
                  x-description-i18n:
                    eng: It is the identifier of the card issuer being used in a credit or debit card payment.
                    spa: Es el identificador del emisor de la tarjeta que se utiliza en un pago con tarjeta de crédito o débito.
                    por: É o identificador do emissor do cartão que está sendo utilizado em um pagamento com cartão de crédito ou débito.
                  required: true
                metadata:
                  type: object
                  description: This is an optional key-value object where the customer can add additional information that needs to be recorded at checkout. Ex - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}
                  x-description-i18n:
                    eng: This is an optional key-value object where the customer can add additional information that needs to be recorded at checkout. Ex - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}
                    spa: Este es un objeto clave-valor opcional en el que el cliente puede agregar información adicional que debe registrarse al finalizar la compra. Por ejemplo - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}
                    por: Este é um objeto opcional do tipo chave-valor  no qual o cliente  pode adicionar informações adicionais que precisam ser registradas no pagamento. Ex - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}
                notification_url:
                  type: string
                  description: Notifications URL available to receive notifications of events related to Payment.
                  x-description-i18n:
                    eng: Notifications URL available to receive notifications of events related to Payment.
                    spa: URL de Notificaciones disponibilizada para recibir las notificaciones de los eventos relacionados al Pago.
                    por: URL de notificações disponível para receber notificações de eventos relacionados ao Pagamento.
                payer:
                  type: object
                  description: Identifies the buyer.
                  x-description-i18n:
                    eng: Identifies the buyer.
                    spa: Identificador del pagador
                    por: Id do pagador
                  required: true
                  properties:
                    entity_type:
                      $ref: '#/components/schemas/entity_type'
                    type:
                      $ref: '#/components/schemas/payer_type'
                    id:
                      type: string
                      description: Identification of the associated payer.
                      x-description-i18n:
                        eng: Identification of the associated payer.
                        spa: Identificación del pagador asociado
                        por: Identificação do pagador associado
                    email:
                      type: string
                      description: Email associated with the payer. This value will only return a response when status=approved, status=refunded, or status=charged_back.
                      x-description-i18n:
                        eng: Email associated with the payer. This value will only return a response when status=approved, status=refunded, or status=charged_back.
                        spa: Correo electrónico asociado al payer. Este valor sólo devolverá una respuesta cuando status=approved, status=refunded o status=charged_back.
                        por: Email associado ao payer. Este valor só retornará uma resposta quando status=approved, status=refunded ou status=charged_back.
                      required: true
                    identification:
                      type: object
                      description: User's personal identification. As an example, in Brazil, there is the CPF (Individual Taxpayer Registry) and the CNPJ (National Corporate Taxpayer Registry), for companies. Other possible identification codes are CURP (Mexico), CUIL (Argentina). This object will only return a response when status=approved, status=refunded or status=charged_back.
                      x-description-i18n:
                        eng: User's personal identification. As an example, in Brazil, there is the CPF (Individual Taxpayer Registry) and the CNPJ (National Corporate Taxpayer Registry), for companies. Other possible identification codes are CURP (Mexico), CUIL (Argentina). This object will only return a response when status=approved, status=refunded or status=charged_back.
                        spa: Identificación personal del usuario. Como ejemplo, en Brasil, existe el CPF (Registro de Contribuyentes Individuales) y el CNPJ (Registro Nacional de Personas Jurídicas) para empresas. Otros posibles códigos de identificación son CURP (México), CUIL (Argentina). Este objeto sólo devolverá una respuesta cuando status=approved, status=refunded or status=charged_back.
                        por: Identificação pessoal do usuário. Como exemplo, a nível Brasil, temos o CPF (Cadastro de Pessoa Física) e o CNPJ (Cadastro Nacional de Pessoas Jurídicas), para empresas. Outros códigos de identificação possíveis são o CURP (México), CUIL (Argentina), Este objeto só retornará uma response quando status=approved, status=refunded or status=charged_back.
                      properties:
                        type:
                          type: string
                          description: Refers to the type of identification. It can be one of the following types.
                          x-description-i18n:
                            eng: Refers to the type of identification. It can be one of the following types.
                            spa: Se refiere al tipo de identificación. Puede ser de los siguientes tipos.
                            por: Refere-se ao tipo de identificação. Pode ser dos seguintes tipos.
                          enum:
                            - CPF -- Individual Taxpayer Registration, Brazil.
                            - CNPJ -- National Register of Legal Entities, Brazil.
                            - CUIT -- Unique Tax Identification Code, Argentina.
                            - CUIL -- Unique Labor Identification Code, Argentina.
                            - DNI -- National Identity Document, Argentina.
                            - CURP -- Single Population Registration Code, Mexico.
                            - RFC -- Federal Registry of Taxpayers, Mexico.
                            - CC -- Citizenship Card, Colombia.
                            - RUT -- Single Tax List, Chile.
                            - CI -- Identity Card, Uruguay.
                        number:
                          type: string
                          description: The number refers to the identifier of the user in question. If it is a CPF, for example, it will have 11 numbers.
                          x-description-i18n:
                            eng: The number refers to the identifier of the user in question. If it is a CPF, for example, it will have 11 numbers.
                            spa: El número hace referencia al identificador del usuario en cuestión. Si es un CPF, por ejemplo, tendrá 11 números.
                            por: O número se refere ao identificador do usuário em questão. Se for um CPF, por exemplo, terá 11 números.
                    first_name:
                      type: string
                      description: First name of the associated payer.
                      x-description-i18n:
                        eng: First name of the associated payer.
                        spa: Nombre del pagador asociado
                        por: Nome do pagador associado
                    last_name:
                      type: string
                      description: Last name of the associated payer.
                      x-description-i18n:
                        eng: Last name of the associated payer.
                        spa: Apellido del pagador asociado
                        por: Sobrenome do pagante associado
                payment_method_id:
                  type: string
                  description: It indicates the identifier of the payment method selected to make the transaction. Here are some examples.
                  x-description-i18n:
                    eng: It indicates the identifier of the payment method selected to make the transaction. Here are some examples.
                    spa: Identificador del medio de pago. Indica el ID del medio de pago seleccionado para realizar el pago.
                    por: Indica o identificador do meio de pagamento selecionado para efetuar o pagamento. A seguir, apresentamos alguns exemplos.
                  enum:
                    - Pix -- Instant digital payment method used in Brazil.
                    - Account_money -- When the payment is debited directly from a Mercado Pago account.
                    - Debin_transfer -- Digital payment method used in Argentina that immediately debits an amount from an account, requesting prior authorization.
                    - Ted -- It is the Electronic Transfer Available payment, used in Brazil, that has fees to be used. The payment is made the same day of the transaction, but for this it is necessary to make the transfer within the stipulated period;
                    - Cvu -- Payment method used in Argentina.
                  required: true
                  example: visa
                statement_descriptor:
                  type: string
                  description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                  x-description-i18n:
                    eng: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                    spa: Descripción con la que aparecerá el pago en el resumen de tarjeta (ej. MERCADOPAGO)
                    por: Descrição com a qual o pagamento aparecerá no resumo do cartão (ex. MERCADOPAGO)
                token:
                  type: string
                  description: Token card identifier (mandatory for credit card). The card token is created from the card's own information, increasing security during the payment flow. In addition, once the token is used in a given purchase, it is discarded, requiring the creation of a new token for future purchases.
                  x-description-i18n:
                    eng: Token card identifier (mandatory for credit card). The card token is created from the card's own information, increasing security during the payment flow. In addition, once the token is used in a given purchase, it is discarded, requiring the creation of a new token for future purchases.
                    spa: Identificador del token card. (obligatorio para tarjeta de crédito). El token de la tarjeta se crea a partir de la información de la propia tarjeta, aumentando la seguridad durante el flujo de pago. Además, una vez que el token se usa en una compra determinada, se descarta, lo que requiere la creación de un nuevo token para futuras compras.
                    por: Identificador de token card (obrigatório para cartão de crédito). O token do cartão é criado a partir das próprias informações do cartão, aumentando a segurança durante o fluxo do pagamento. Além disso, uma vez que o token é utilizado em determinada compra, ele é descartado, sendo necessária a criação de um novo token para compras futuras. 
                  required: true
                  example: "ff8080814c11e237014c1ff593b57b4d"
                transaction_amount:
                  type: number
                  description: Product’s cost. Example - The sale of a product for R$100.00 will have a transactionAmount = 100.
                  x-description-i18n:
                    eng: Product’s cost. Example - The sale of a product for R$100.00 will have a transactionAmount = 100.
                    spa: Costo del producto. Ejemplo - La venta de un producto por R$ 100,00 tendrá un transactionAmount = 100.
                    por: Custo do produto. Exemplo - A venda de um produto por R$100,00 terá um transactionAmount = 100.
                  required: true
                  example: 58.8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 20359978
                    description: Unique Payment Identifier, automatically generated by Mercado Pago
                    x-description-i18n:
                      eng: Unique Payment Identifier, automatically generated by Mercado Pago
                      spa: Identificador único del pago, generado automáticamente por Mercado Pago
                      por: Identificador único de pagamento, gerado automaticamente pelo Mercado Pago
                  date_created:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment creation date.
                    x-description-i18n:
                      eng: Payment creation date.
                      spa: Fecha de creación del Pago.
                      por: Data de criação do pagamento.
                  date_approved:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                    x-description-i18n:
                      eng: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                      spa: Fecha de aprobación del Pago. Un pago puede generarse en un estado intermedio y luego ser aprobado, por tanto la fecha de creación no siempre coincidirá con la Fecha de Aprobación.
                      por: Data de aprovação do pagamento. Um pagamento pode ser gerado em um estado intermediário e depois aprovado, portanto, a data de criação nem sempre coincidirá com a Data de Aprovação.
                  date_last_updated:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Date on which the last payment event was recorded.
                    x-description-i18n:
                      eng: Date on which the last payment event was recorded.
                      spa: Fecha en la que se registró el ultimo evento sobre el pago.
                      por: Data em que o último evento de pagamento foi registrado.
                  date_of_expiration:
                    type: string
                    format: nullable
                    description: Payment’s expiration date. The attribute’s valid format is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex. - 2022-11-17T09:37:52.000-04:00.
                    x-description-i18n:
                      eng: Payment’s expiration date. The attribute’s valid format is as follows - "yyyy-MM-dd'T'HH:mm:ssz". Ex. - 2022-11-17T09:37:52.000-04:00.
                      spa: Fecha de vencimiento del pago. El formato válido del atributo es el siguiente - "yyyy-MM-dd'T'HH:mm:ssz". Ej. -  2022-11-17T09:37:52.000-04:00.
                      por: Data de expiração do pagamento. O formato válido do atributo é o seguinte - "yyyy-MM-dd'T'HH:mm:ssz". Ex. - 2022-11-17T09:37:52.000-04:00.
                  money_release_date:
                    type: string
                    example: 2019-07-24T14:47:58.000Z
                    description: Date on which the payment is settled and the money is made available in the Mercado Pago account of the Collector (the one who receives the payment).
                    x-description-i18n:
                      eng: Date on which the payment is settled and the money is made available in the Mercado Pago account of the Collector (the one who receives the payment).
                      spa: Fecha en que se liquida el pago y se pone a disposición el dinero en la cuenta de Mercado Pago del Collector (el que recibe el pago).
                      por: Data em que o pagamento é liquidado e o dinheiro é disponibilizado na conta Mercado Pago do Collector (aquele que recebe o pagamento).
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  issuer_id:
                    type: string
                    example: 25
                    description: It is the identifier of the card issuer that’s being used in a credit or debit card payment.
                    x-description-i18n:
                      eng: It is the identifier of the card issuer that’s being used in a credit or debit card payment.
                      spa: Es el identificador del emisor de la tarjeta que se utiliza en un pago con tarjeta de crédito o débito.
                      por: É o identificador do emissor do cartão que está sendo utilizado em um pagamento com cartão de crédito ou débito.
                  payment_method_id:
                    type: string
                    example: visa
                    description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                    x-description-i18n:
                      eng: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                      spa: Identificador del medio de pago. Indica el ID del medio de pago seleccionado para realizar el pago.
                      por: Id do meio de pagamento. Indica o ID do meio de pagamento selecionado para efetuar o pagamento.
                  payment_type_id:
                    $ref: '#/components/schemas/payment_type_id'
                  status:
                   $ref: '#/components/schemas/status'
                  status_detail:
                    type: string
                    example: accredited
                    description: Detail in which the Collection resulted
                    x-description-i18n:
                      eng: Detail in which the Collection resulted
                      spa: Detalle en el que resultó el Cobro
                      por: Detalhe em que resultou a Coleção
                    enum:
                      - Accredited -- credited payment.
                      - pending_contingency -- the payment is being processed.
                      - pending_review_manual -- the payment is under review to determine its approval or rejection.
                      - cc_rejected_bad_filled_date -- incorrect expiration date.
                      - cc_rejected_bad_filled_other -- incorrect card details.
                      - cc_rejected_bad_filled_security_code -- incorrect CVV.
                      - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                      - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                      - cc_rejected_card_disabled -- the card is inactive.
                      - cc_rejected_duplicated_payment -- transacción duplicada.
                      - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                      - cc_rejected_insufficient_amount -- insufficient amount.
                      - cc_rejected_invalid_installments -- invalid number of installments.
                      - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                      - cc_rejected_other_reason -- generic error.
                  currency_id:
                    $ref: '#/components/schemas/currency_id'
                  description:
                    type: string
                    example: Point Mini a maquininha que dá o dinheiro de suas vendas na hora.
                    description: Description sent in the payment creation request. Ex. - In a pix payment, the description is “Payment of Credit Market installments”. In another cases, such as a purchase in a physical store where the customer uses the machine to pay, we can find the description “Sale in person”. In marketplace purchases, the purchase description usually corresponds to a purchased product - “Pendrive Multilaser Twist Pd590 64gb 2.0 Black And Silver + 1 product”.
                    x-description-i18n:
                      eng: Description sent in the payment creation request. Ex. - In a pix payment, the description is “Payment of Credit Market installments”. In another cases, such as a purchase in a physical store where the customer uses the machine to pay, we can find the description “Sale in person”. In marketplace purchases, the purchase description usually corresponds to a purchased product - “Pendrive Multilaser Twist Pd590 64gb 2.0 Black And Silver + 1 product”.
                      spa: Descripción enviada en el request de creación de pago. Por ejemplo - En un pago con pix, se encuentra la descripción “Pago de cuotas Mercado Crédito”. En otro caso, una compra en una tienda física donde el cliente utiliza la máquina para pagar, podemos encontrar la descripción “Venta en persona”. En las compras en marketplace, la descripción de compra suele corresponder a un producto comprado - “Pendrive Multilaser Twist Pd590 64gb 2.0 Negro Y Plata + 1 producto”.
                      por: Descrição enviada na solicitação de criação de pagamento. Por exemplo - Em um pagamento pix, há a descrição “Pagamento de parcelas de Mercado Crédito”. Em outro caso, uma compra em loja física onde o cliente utiliza a maquininha para pagar, podemos encontrar a descrição - “Venda presencial”. Já em compras do marketplace, a descrição da compra geralmente corresponde a um produto comprado - “  Pendrive Multilaser Twist Pd590 64gb 2.0 Preto E Prateado + 1 produto”.
                  live_mode:
                    type: boolean
                    description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                    x-description-i18n:
                      eng: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                      spa: Indica si el Pago se realizó en ambiente productivo o en un ambiente de Test. Si es TRUE, el contracargo se procesará en modo de producción. Si es FALSE, el contracargo se procesará en modo sandbox.
                      por: Indica se o Pagamento foi feito em ambiente de produção ou em ambiente de Teste. Se TRUE, o estorno será processado em modo de produção. Se FALSE, o estorno será processado no modo sandbox.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: This field is deprecated and no longer in use.
                    x-description-i18n:
                      eng: This field is deprecated and no longer in use.
                      spa: Este campo está deprecado y ya no se usa.
                      por: Este campo está deprecado e não é mais utilizado.
                  authorization_code:
                    type: string
                    format: nullable
                    description: Transaction’s authorization code for payments with “payment_method_type” of type “credit_card” (credit card), “debit_card” (debit card) and “voucher_card” (voucher card for benefits, such as Alelo). In summary, this code is used for card transactions. The code is numerical and has 6 digits.
                    x-description-i18n:
                      eng: Transaction’s authorization code for payments with “payment_method_type” of type “credit_card” (credit card), “debit_card” (debit card) and “voucher_card” (voucher card for benefits, such as Alelo). In summary, this code is used for card transactions. The code is numerical and has 6 digits.
                      spa: Código de autorización de transacción para pagos con “payment_method_type” de tipo “credit_card” (tarjeta de crédito), “debit_card” (tarjeta de débito) y “voucher_card” (tarjeta de bono para beneficios, como Alelo). En resumen, este código se utiliza para transacciones con tarjeta. Es numérico y tiene 6 dígitos.
                      por: Código de autorização de transação para pagamentos com “payment_method_type” do tipo “credit_card” (cartão de crédito), “debit_card” (cartão de crédito) e “voucher_card” (cartão de voucher para benefícios, como Alelo). Em síntese, este código é utilizado para transações com cartão. O código é numérico e possui 6 dígitos.
                  money_release_schema:
                    type: string
                    format: nullable
                    description: This field is used to identify whether a payment is PNF (Payment in Flow). Payment in flow is a form of cash release in which the installments received by a seller are released over the months (which corresponds to the number of installments). Possible values ​​for this field are “null” or “payment_in_flow”.
                    x-description-i18n:
                      eng: This field is used to identify whether a payment is PNF (Payment in Flow). Payment in flow is a form of cash release in which the installments received by a seller are released over the months (which corresponds to the number of installments). Possible values ​​for this field are “null” or “payment_in_flow”.
                      spa: Este campo se utiliza para identificar si un pago es PNF (Pay in Flow). El pago en flujo es una forma de liberación de dinero en la que las cuotas recibidas por un vendedor se van liberando a lo largo de los meses (lo que corresponde al número de cuotas). Los valores posibles para este campo son "null" o "payment_in_flow".
                      por: Esse campo é usado para identificar se um pagamento é PNF (pagamento no fluxo). Pagamento no fluxo é uma forma de liberação de dinheiro em que as parcelas recebidas por um vendedor são liberadas com o passar dos meses (que corresponde ao número de parcelas). Os valores possíveis para este campo são “null” ou “payment_in_flow”.
                  taxes_amount:
                    type: number
                    example: 0
                    description: Corresponds to the tax values ​​calculated for the payment.
                    x-description-i18n:
                      eng: Corresponds to the tax values ​​calculated for the payment.
                      spa: Corresponde a los valores de impuestos calculados para el pago.
                      por: Corresponde aos valores dos impostos calculados para o pagamento.
                  counter_currency:
                    type: string
                    format: nullable
                    description: Basically, it is an object that will allow you to convert payments of CBT type (Cross Border Trade) into dollars, which are international payments made in a foreign currency.
                    x-description-i18n:
                      eng: Basically, it is an object that will allow you to convert payments of CBT type (Cross Border Trade) into dollars, which are international payments made in a foreign currency.
                      spa: Básicamente, es un objeto que te permitirá convertir pagos del tipo CBT (Cross Border Trade) en dólares, que son pagos internacionales realizados en moneda extranjera.
                      por: Basicamente, é um objeto que permitirá converter em dólares pagamentos do tipo CBT (Cross Border Trade), que são pagamentos internacionais, feitos em moeda estrangeira. 
                  shipping_amount:
                    type: number
                    example: 0
                    description: Amount of charge for shipping the purchase. It is of type BigDecimal.
                    x-description-i18n:
                      eng: Amount of charge for shipping the purchase. It is of type BigDecimal.
                      spa: Importe del cargo por el envío de la compra. Es de tipo BigDecimal.
                      por: Valor da cobrança de envio da compra. É do tipo BigDecimal.
                  pos_id:
                    type: string
                    format: nullable
                    description: Point of Sale (POS) digital identifier. They are physical points of sale that use a card machine for sales.
                    x-description-i18n:
                      eng: Point of Sale (POS) digital identifier. They are physical points of sale that use a card machine for sales.
                      spa: Identificador digital de Punto de Venta (PDV). Son puntos de venta físicos que utilizan una máquina de tarjetas para la venta.
                      por: Identificador digital do ponto de vendas(Point of Sale - POS). São pontos de vendas físicos que utilizam maquininha de cartão para vendas.
                  store_id:
                    type: string
                    format: nullable
                    description: Store identifier to which the point of sale belongs.
                    x-description-i18n:
                      eng: Store identifier to which the point of sale belongs.
                      spa: Identificador de la sucursal a la que pertenece el Punto de Venta
                      por: Identificador da loja à qual o caixa pertence
                  collector_id:
                    type: number
                    example: 448876418
                    description: It is the user who receives the money. Ex - A user (payer) buys a cell phone through the marketplace. The identifier of the store/seller to receive the payment is the collector_id.
                    x-description-i18n:
                      eng: It is the user who receives the money. Ex - A user (payer) buys a cell phone through the marketplace. The identifier of the store/seller to receive the payment is the collector_id.
                      spa: Es el usuario quien recibe el dinero. Por ejemplo - Un usuario (payer) compra un celular a través del marketplace. El identificador de la tienda/vendedor para recibir el pago es el collector_id.
                      por: É o usuário que recebe o dinheiro. Por exemplo - Um usuário (payer) compra um celular pelo marketplace. O identificador da loja/vendedor a receber o pagamento é o collector_id. 
                  payer:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        example: 123
                        description: Payer identifier generated by Mercado Pago.
                        x-description-i18n:
                          eng: Payer identifier generated by Mercado Pago.
                          spa: Identificador del Payer generado por Mercado Pago.
                          por: Identificador de pagador gerado pelo Mercado Pago.
                        required: true
                      email:
                        type: string
                        required: true
                        example: test_user_80507629@testuser.com
                        description: Email associated with the payer. This value will only return a response when status=approved, status=refunded, or status=charged_back.
                        x-description-i18n:
                          eng: Email associated with the payer. This value will only return a response when status=approved, status=refunded, or status=charged_back.
                          spa: Correo electrónico asociado al payer. Este valor sólo devolverá una respuesta cuando el status=approved, status=refunded o status=charged_back.
                          por: Email associado ao payer. Este valor só retornará uma resposta quando status=approved, status=refunded ou status=charged_back.
                      identification:
                        type: object
                        properties:
                          number:
                            type: string
                            example: 19119119100
                            description: The number refers to the user’s identifier. If it is a CPF, for example, it will have 11 numbers.
                            x-description-i18n:
                              eng: The number refers to the user’s identifier. If it is a CPF, for example, it will have 11 numbers.
                              spa: El número hace referencia al identificador del usuario en cuestión. Si es un CPF, por ejemplo, tendrá 11 números.
                              por: O número se refere ao identificador do usuário em questão. Se for um CPF, por exemplo, terá 11 números.
                          type:
                            type: string
                            example: CPF
                            description: Identification type.
                            x-description-i18n:
                              eng: Identification type.
                              spa: Tipo de identificación
                              por: Tipo de identificação
                        description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                      type:
                        $ref: '#/components/schemas/payer_type'
                    description: Payer data - ID (identifying number), email address, identification (type and number of id)
                    x-description-i18n:
                      eng: Payer data - ID (identifying number), email address, identification (type and number of id)
                      spa: Datos del pagador - ID (número identificador), dirección de email, identificación (tipo y número de documento)
                      por: Dados do pagador - ID (número de identificação), e-mail, identificação (tipo e número de documento)
                  metadata:
                    type: object
                    description: This is an optional key-value object where the customer can add additional information that needs to be recorded at checkout. Ex - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}.
                    x-description-i18n:
                      eng: This is an optional key-value object where the customer can add additional information that needs to be recorded at checkout. Ex - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}.
                      spa: Este es un objeto clave-valor opcional en el que el cliente puede agregar información adicional que debe registrarse al finalizar la compra. Por ejemplo - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}.
                      por: Este é um objeto opcional do tipo chave-valor no qual o cliente pode adicionar informações adicionais que precisam ser registradas no pagamento. Por exemplo - {"payments_group_size":1,"payments_group_timestamp":"2022-11-18T15:01:44Z","payments_group_uuid":"96cfd2a4-0b06-4dea-b25f-c5accb02ba10"}.
                  additional_info:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: PR0001
                              description: It is the purchased product ad identifier. Ex - “MLB2907679857”
                              x-description-i18n:
                                eng: It is the purchased product ad identifier. Ex - “MLB2907679857”
                                spa: Es el identificador del anuncio del producto adquirido. Por ejemplo - “MLB2907679857”.
                                por: É o identificador do anúncio do produto comprado. Por exemplo - “MLB2907679857”.
                            title:
                              type: string
                              example: Point Mini
                              description: Item name.
                              x-description-i18n:
                                eng: Item name.
                                spa: Nombre de ítem
                                por: Nome do item
                            description:
                              type: string
                              example: 
                                Producto Point para cobros con tarjetas mediante
                                bluetooth
                              description: Long item description.
                              x-description-i18n:
                                eng: Long item description.
                                spa: Descripción de item
                                por: Descrição do artigo
                            picture_url:
                              type: string
                              example: 
                                https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium2x.png
                              description: Image URL.
                              x-description-i18n:
                                eng: Image URL.
                                spa: URL de imagen
                                por: URL da imagem
                            category_id:
                              type: string
                              example: electronics
                              description: Category of the item.
                              x-description-i18n:
                                eng: Category of the item.
                                spa: Categoría del ítem
                                por: Categoria do item
                            quantity:
                              type: number
                              example: 1
                              description: Item quantity.
                              x-description-i18n:
                                eng: Item quantity.
                                spa: Cantidad de producto
                                por: Quantidade do produto
                            unit_price:
                              type: number
                              example: 58.8
                              description: Unit price.
                        description: List of items to be paid.
                        x-description-i18n:
                          eng: List of items to be paid.
                          spa: Lista de ítems a pagar
                          por: Lista de itens a pagar
                      payer:
                        type: object
                        properties:
                          registration_date:
                            type: string
                            example: 2019-01-01T15:01:01.000Z
                            description: Date of registration of the buyer on your site.
                            x-description-i18n:
                              eng: Date of registration of the buyer on your site.
                              spa: Fecha de registración del comprador en tu sitio
                              por: Data de cadastro do comprador em seu site
                        description: Payer details.
                        x-description-i18n:
                          eng: Payer details.
                          spa: Detalles del pagador.
                          por: Detalhes do pagador.
                      shipments:
                        type: object
                        properties:
                          receiver_address:
                            type: object
                            properties:
                              street_name:
                                type: string
                                example: Av das Nacoes Unidas
                                description: Street name.
                                x-description-i18n:
                                  eng: Street name.
                                  spa: Calle
                                  por: Rua
                              street_number:
                                type: number
                                example: 3003
                                description: Number.
                                x-description-i18n:
                                  eng: Number.
                                  spa: Número
                                  por: Número
                              zip_code:
                                type: string
                                example: 6233200
                                description: Zip code.
                                x-description-i18n:
                                  eng: Zip code.
                                  spa: Código postal
                                  por: Código postal
                              city_name:
                                type: string
                                example: Buzios
                                description: City Name.
                                x-description-i18n:
                                  eng: City Name.
                                  spa: Ciudad
                                  por: Cidade
                              state_name:
                                type: string
                                example: Rio de Janeiro
                                description: State.
                                x-description-i18n:
                                  eng: State.
                                  spa: Provincia
                                  por: Província
                            description: Buyer's address.
                            x-description-i18n:
                              eng: Buyer's address.
                              spa: Dirección del comprador
                              por: Endereço do comprador
                        description: Shipping information.
                        x-description-i18n:
                          eng: Shipping information.
                          spa: Información de envío
                          por: Informações de envio
                    description: Additional information.
                    x-description-i18n:
                      eng: Additional information.
                      spa: Información adicional
                      por: Informações adicionais
                  external_reference:
                    type: string
                    example: MP0001
                    description: It is a payment external reference. It could be, for example, a hashcode from the Central Bank, working as a transaction origin identifier.
                    x-description-i18n:
                      eng: It is a payment external reference. It could be, for example, a hashcode from the Central Bank, working as a transaction origin identifier.
                      spa: Es una referencia de pago externa. Podría ser, por ejemplo, un hashcode del Banco Central, funcionando como identificador del origen de la transacción.
                      por: É uma referência externa do pagamento. Pode ser, por exemplo, um hashcode do Banco Central, funcionando como identificador de origem da transação.
                  transaction_amount:
                    type: number
                    example: 58.8
                    description: Product’s cost. Example - The sale of a product for R$100.00 will have a transactionAmount = 100.
                    x-description-i18n:
                      eng: Product’s cost. Example - The sale of a product for R$100.00 will have a transactionAmount = 100.
                      spa: Costo del producto. Ejemplo - La venta de un producto por R$ 100,00 tendrá un transactionAmount = 100.
                      por: Custo do produto. Exemplo - A venda de um produto por R$100,00 terá um transactionAmount = 100.
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                    x-description-i18n:
                      eng: Transaction amount refunded
                      spa: Monto reembolsado de transacción
                      por: Valor reembolsado da transação
                  coupon_amount:
                    type: number
                    example: 0
                    description: It is the value of the discount coupon. E.g. - BRL 14.50. The attribute's type is BigDecimal.
                    x-description-i18n:
                      eng: It is the value of the discount coupon. E.g. - BRL 14.50. The attribute's type is BigDecimal.
                      spa: Es el valor del cupón de descuento. Por ejemplo - BRL 14,50. El tipo del atributo es BigDecimal.
                      por: É o valor do cupom de desconto. Ex. - R$14,50. O tipo do atributo é BigDecimal. 
                  differential_pricing_id:
                    type: string
                    format: nullable
                    description: Attribute that commonly contains an agreement on how much the user will be charged (generally, this field is more relevant for Marketplace payments). Pricing and fees are calculated based on this identifier.
                    x-description-i18n:
                      eng: Attribute that commonly contains an agreement on how much the user will be charged (generally, this field is more relevant for Marketplace payments). Pricing and fees are calculated based on this identifier.
                      spa: Atributo que comúnmente contiene un acuerdo sobre cuánto se le cobrará al usuario (generalmente, este campo es más relevante para los pagos de Marketplace). Los precios y las tarifas se calculan en función de este identificador.
                      por: Atributo que comumente contém um acordo de quanto vai ser cobrado do usuário (geralmente, este campo é mais relevante para pagamentos do Marketplace). A precificação e as taxas são calculadas com base nesse identificador.
                  deduction_schema:
                    type: string
                    format: nullable
                    description: Pricing Scheme applied by Mercado Pago. It is a field that represents the information of a type of financing (installment). Ex - “ahora12” is a schema that indicates that the payment is divided into 12 installments. In addition, financing may have an additional cost, such cost being included in that same answer and pointed out to whom this applies (payer/collector).
                    x-description-i18n:
                      eng: Pricing Scheme applied by Mercado Pago. It is a field that represents the information of a type of financing (installment). Ex - “ahora12” is a schema that indicates that the payment is divided into 12 installments. In addition, financing may have an additional cost, such cost being included in that same answer and pointed out to whom this applies (payer/collector).
                      spa: Esquema de precios aplicado por Mercado Pago. Es un campo que representa la información de un tipo de financiamiento (cuota). Ej - “ahora12” es un esquema que indica que el pago se divide en 12 cuotas. Además, el financiamiento puede tener un costo adicional, siendo incluido dicho costo en esa misma respuesta y señalándose a quién aplica (payer/collector).
                      por: Esquema de Pricing aplicado pelo Mercado Pago. É um campo que representa as informações de um tipo de financiamento (parcelamento). Ex. - “ahora12” é um schema que indica que o pagamento está parcelado em 12 vezes. Em adição, o financiamento pode ter um custo adicional, sendo tal custo incluído nessa mesma resposta  e apontado a quem se aplica isso (payer/collector).
                  transaction_details:
                    type: object
                    properties:
                      payment_method_reference_id:
                        type: string
                        format: nullable
                        description: Unique identifier of the payment method
                        x-description-i18n:
                          eng: Unique identifier of the payment method
                          spa: Identificador único del método de pago
                          por: Identificador único do meio de pagamento
                      net_received_amount:
                        type: number
                        example: 56.16
                        description: Net amount received
                        x-description-i18n:
                          eng: Net amount received
                          spa: Monto neto recibido
                          por: Valor líquido recebido
                      total_paid_amount:
                        type: number
                        example: 58.8
                        description: Total amount charged to the payer
                        x-description-i18n:
                          eng: Total amount charged to the payer
                          spa: Monto total cobrado al payer
                          por: Valor total cobrado ao pagador
                      overpaid_amount:
                        type: number
                        example: 0
                        description: Overpaid amount
                        x-description-i18n:
                          eng: Overpaid amount
                          spa: Monto pagado en exceso
                          por: Valor pago a mais
                      external_resource_url:
                        type: string
                        format: nullable
                        description: External resource url
                        x-description-i18n:
                          eng: External resource url
                          spa: URL de recurso externo
                          por: URL de recurso externo
                      installment_amount:
                        type: number
                        example: 58.8
                        description: Amount of the chosen financing fee.
                        x-description-i18n:
                          eng: Amount of the chosen financing fee.
                          spa: Monto de la cuota de financiación elegida.
                          por: Valor da taxa de financiamento escolhida.
                      financial_institution:
                        type: string
                        format: nullable
                        description: Financial institution
                        x-description-i18n:
                          eng: Financial institution
                          spa: Institución financiera
                          por: Instituição financeira
                      payable_deferral_period:
                        type: string
                        format: nullable
                        description: Payment deferral period
                        x-description-i18n:
                          eng: Payment deferral period
                          spa: Período de diferimiento del pago
                          por: Período de diferimento de pagamento
                      acquirer_reference:
                        type: string
                        format: nullable
                        description: Acquirer reference
                        x-description-i18n:
                          eng: Acquirer reference
                          spa: Referencia de adquirente
                          por: Referência do adquirente
                    description: Transaction details
                    x-description-i18n:
                      eng: Transaction details
                      spa: Detalles de la transacción
                      por: Detalhes da transação
                  fee_details:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          $ref: '#/components/schemas/fee_details_type'
                        amount:
                          type: number
                          example: 2.64
                          description: Fee amount.
                          x-description-i18n:
                            eng: Fee amount.
                            spa: Monto de la comisión
                            por: Valor da comissão
                        fee_payer:
                          $ref: '#/components/schemas/fee_payer'
                    description: Fee detail.
                    x-description-i18n:
                      eng: Fee detail.
                      spa: Detalle de comisión
                      por: Detalhe de comissão
                  captured:
                    type: boolean
                    description: Indicates if the payment amount was captured or is pending capture.
                    x-description-i18n:
                      eng: Indicates if the payment amount was captured or is pending capture.
                      spa: Indica si el monto del pago fue capturado o se encuentra pendiente de captura.
                      por: Indica se o valor do pagamento foi capturado ou está com captura pendente.
                  binary_mode:
                    type: boolean
                    description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                    x-description-i18n:
                      eng: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                      spa: Cuando se configura como TRUE los pagos sólo pueden resultar aprobados o rechazados. Caso contrario también pueden resultar in_process.
                      por: Quando definido como TRUE, os pagamentos só podem ser aprovados ou rejeitados. Caso contrário, eles também podem resultar in_process.
                  call_for_authorize_id:
                    type: string
                    format: nullable
                    description: Identifier that is provided to the issuing bank so that payments can be authorized.
                    x-description-i18n:
                      eng: Identifier that is provided to the issuing bank so that payments can be authorized.
                      spa: Identificador que se proporciona al banco emisor para que se pueda autorizar los pagos.
                      por: Identificador que é fornecido ao banco emissor para que os pagamentos possam ser autorizados.
                  statement_descriptor:
                    type: string
                    example: MercadoPago
                    description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                    x-description-i18n:
                      eng: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                      spa: Descripción con la que aparecerá el pago en el resumen de tarjeta (ej. MERCADOPAGO)
                      por: Descrição com a qual o pagamento aparecerá no resumo do cartão (ex. MERCADOPAGO)
                  installments:
                    type: number
                    example: 1
                    description: Number of installments selected.
                    x-description-i18n:
                      eng: Number of installments selected.
                      spa: Cantidad seleccionada de cuotas
                      por: Número de parcelas selecionado
                  card:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        description: Card ID.
                        x-description-i18n:
                          eng: Card ID.
                          spa: Identificador de tarjeta
                          por: Identificador de cartão
                      first_six_digits:
                        type: string
                        example: 423564
                        description: Card Bin
                        x-description-i18n:
                          eng: Card Bin
                          spa: Bin de la tarjeta
                          por: Bin do cartão
                      last_four_digits:
                        type: string
                        example: 5682
                        description: last 4 digits of the card
                        x-description-i18n:
                          eng: last 4 digits of the card
                          spa: últimos 4 digitos de la tarjeta
                          por: últimos 4 dígitos do cartão
                      expiration_month:
                        type: number
                        example: 6
                        description: Card's expiration month.
                        x-description-i18n:
                          eng: Card's expiration month.
                          spa: Mes de expiración de la tarjeta
                          por: Mês de validade do cartão
                      expiration_year:
                        type: number
                        example: 2023
                        description: Card's expiration year.
                        x-description-i18n:
                          eng: Card's expiration year.
                          spa: Año de expiración de la tarjeta
                          por: Ano de validade do cartão
                      date_created:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Card registration date.
                        x-description-i18n:
                          eng: Card registration date.
                          spa: Fecha de registro de la tarjeta.
                          por: Data de registro do cartão.
                      date_last_updated:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Date on which the last payment event was recorded.
                        x-description-i18n:
                          eng: Date on which the last payment event was recorded.
                          spa: Fecha en la que se registró el ultimo evento sobre el pago.
                          por: Data em que o último evento de pagamento foi registrado.
                      cardholder:
                        type: object
                        properties:
                          name:
                            type: string
                            example: APRO
                            description: name
                          identification:
                            type: object
                            properties:
                              number:
                                type: string
                                example: 19119119100
                                description: The number refers to the user’s identifier. If it is a CPF, for example, it will have 11 numbers.
                                x-description-i18n:
                                  eng: The number refers to the user’s identifier. If it is a CPF, for example, it will have 11 numbers.
                                  spa: El número hace referencia al identificador del usuario en cuestión. Si es un CPF, por ejemplo, tendrá 11 números.
                                  por: O número se refere ao identificador do usuário em questão. Se for um CPF, por exemplo, terá 11 números.
                              type:
                                type: string
                                example: CPF
                                description: Identification type.
                                x-description-i18n:
                                  eng: Identification type.
[...]
