openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: "1.0"
paths:
  /v1/payment-intents:
    post:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Create a Payment Intent
      x-summary-i18n:
        eng: Create a Payment Intent
        spa: Crear Payment Intent
        por: Criar Payment Intent
      description: This endpoint allows you to creates and process a new Payment Intent. To not process the created Payment Intent, you need omit the parameter payment_method in the creation, and then you can modify and/or process the payment intent using the endpoint PATCH /v1/payment-intents/:id.
      x-description-i18n:
        eng: This endpoint allows you to creates and process a new Payment Intent. To not process the created Payment Intent, you need omit the parameter payment_method in the creation, and then you can modify and/or process the payment intent using the endpoint PATCH /v1/payment-intents/:id.
        spa: Este endpoint permite crear y procesar una nueva Payment Intent. Para no hacer el procesamiento durante la creacion, es necesario omitir el parametro payment_method en la creacion, y luego se puede modificar y/o procesar la payment intent usando el endpoint PATCH /v1/payment-intents/:id.
        por: Este endpoint permite criar e processar uma nova Payment Intent. Para nao fazer o processamento durante a criação, é necessário omitir o parâmetro payment_method na criação, depois pode-se modificar a Payment-Intent usando o endpoint PATCH /v1/payment-intents/:id.
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer ACCESS_TOKEN"
          required: true
          description: Access Token - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
          x-description-i18n:
            eng: Access Token - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
            spa: Access Token - Clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores.
            por: Access Token - Chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores.
        - in: header
          name: X-Idempotency-Key
          schema:
            type: string
            example: "0d5020ed-1af6-469c-ae06-c3bec19954bb"
          description: This feature allows you to safely retry requests without the risk of accidentally performing the same action more than once. This is useful for avoiding errors, such as creating two identical Payment Intents, for example. To ensure that each request is unique, it's important to use an exclusive value in the header of your request. We suggest using a UUID V4 or random strings.
          x-description-i18n:
            eng: This feature allows you to safely retry requests without the risk of accidentally performing the same action more than once. This is useful for avoiding errors, such as creating two identical Payment Intents, for example. To ensure that each request is unique, it's important to use an exclusive value in the header of your request. We suggest using a UUID V4 or random strings.
            spa: Esta función permite repetir solicitudes de manera segura, sin el riesgo de realizar la misma acción más de una vez por error. Esto es útil para evitar errores, como la creación de dos Payment Intents idénticas, por ejemplo. Para garantizar que cada solicitud sea única, es importante utilizar un valor exclusivo en el header de su solicitud. Sugerimos el uso de un UUID V4 o strings aleatorias.
            por: Esta função permite repetir solicitações de forma segura, sem o risco de realizar a mesma ação mais de uma vez por engano. Isso é útil para evitar erros, como a criação de duas Payment-Intents idênticas, por exemplo. Para garantir que cada solicitação seja única, é importante usar um valor exclusivo no header da sua solicitação. Sugerimos o uso de um UUID V4 ou strings randômicas.
        - in: header
          name: X-Auth-Method
          schema:
            type: string
            example: "payment_intent"
          description: This field indicates the authentication method in use. When using the "client token" for authorization, this header becomes mandatory. Set its value to "payment_intent".
          x-description-i18n:
            eng: This field indicates the authentication method in use. When using the "client token" for authorization, this header becomes mandatory. Set its value to "payment_intent".
            spa: Este campo especifica el método de autenticación en uso. Cuando se utiliza el "client token" como medio de autorización, este header se vuelve obligatorio. Establezca su valor como "payment_intent".
            por: Este campo especifica o método de autenticação em uso. Quando se utiliza o "client token" como meio de autorização, este header é obrigatório. Defina seu valor como "payment_intent".
      requestBody:
        description: Complete body to create and process a Payment Intent.
        x-description-i18n:
          eng: Complete body to create and process a Payment Intent.
          spa: Body completo para crear y procesar una Payment Intent.
          por: Body completo para criar e processar uma Payment Intent.
        content:
          application/json:
            schema:
              type: object
              properties:
                active_to_date:
                  type: string
                  description: Maximum processing deadline for the payment intent. This deadline sets the date by which the Payment Intent is expected to be processed and completed. For example - "2023-09-06T10:00:00.000-03:00".
                  x-description-i18n:
                    eng: Maximum processing deadline for the payment intent. This deadline sets the date by which the Payment Intent is expected to be processed and completed. For example - "2023-09-06T10:00:00.000-03:00".
                    spa: Plazo máximo de procesamiento para la Payment Intent. Este plazo establece la fecha límite hasta la cual se espera que la Payment Intent sea procesada y completada. Por ejemplo - "2023-09-06T10:00:00.000-03:00".
                    por: Prazo máximo de processamento para a Payment Intent. Este prazo determina a data-limite até a qual se espera que a Payment Intent seja processada e finalizada. Por exemplo - "2023-09-06T10:00:00.000-03:00".
                  format: date-time
                  example: "2023-09-06T10:00:00.000-03:00"
                configuration:
                  type: object
                  description: Predefined configuration parameters set by the seller before initiating the payment.
                  x-description-i18n:
                    eng: Predefined configuration parameters set by the seller before initiating the payment.
                    spa: Parámetros de configuración predefinidos por el seller antes de iniciar la transacción.
                    por: Parâmetros de configuração pré-definidos pelo seller antes de iniciar a transação.
                  properties:
                    integration:
                      type: object
                      description: Configuration of the seller on integration.
                      x-description-i18n:
                        eng: Configuration of the seller on integration.
                        spa: Configuración del seller sobre la integración.
                        por: Configuração do seller sobre a integração.
                      properties:
                        notification_url:
                          type: string
                          description: URL that provides the integrator with real-time information about the status of their payment through Webhooks and Instant Payment Notifications (IPN).
                          x-description-i18n:
                            eng: URL that provides the integrator with real-time information about the status of their payment through Webhooks and Instant Payment Notifications (IPN).
                            spa: URL que proporciona al integrador información en tiempo real sobre el status de su transacción a través de Webhooks y Notificaciones Instantáneas de Pago (IPN).
                            por: URL que oferece ao integrador informações atualizadas sobre o status de sua transação por meio de Webhooks e Notificações Instantâneas de Pagamento (IPN).
                          example: "https://www.integrator-site.com/api/notifications"
                        return_url_default:
                          description: Status URLs available to redirect buyer after completion of payment attempt.
                          x-description-i18n:
                            eng: Status URLs available to redirect buyer after completion of payment attempt.
                            spa: URLs a las cuales se podrá redireccionar al comprador luego de finalizar el intento de pago.
                            por: URLs disponíveis para redirecionar o comprador após a conclusão da tentativa de pagamento.
                          type: string
                          example: "https://www.integrator-site.com/order/deafult"
                        return_url_success:
                          description: URL to redirect the buyer in case of successful payment.
                          type: string
                          example: "https://www.integrator-site.com/order/success"
                          x-description-i18n:
                            eng: URL to redirect the buyer in case of successful payment.
                            spa: URL a la cual se redireccionará al comprador en caso de pago exitoso.
                            por: URL para redirecionar o comprador em caso de pagamento bem-sucedido.
                        return_url_pending:
                          description: URL to redirect the buyer in case of pending payment.
                          type: string
                          example: "https://www.integrator-site.com/order/pending"
                          x-description-i18n:
                            eng: URL to redirect the buyer in case of pending payment.
                            spa: URL a la cual se redireccionará al comprador en caso de pago pendiente.
                            por: URL para redirecionar o comprador em caso de pagamento pendente.
                        return_url_failure:
                          description: URL to redirect the buyer in case of pending payment.
                          type: string
                          example: "https://www.integrator-site.com/order/failed"
                          x-description-i18n:
                            eng: URL to redirect the buyer in case of pending payment.
                            spa: URL a la cual se redireccionará al comprador en caso de fallo en el pago del comprador.
                            por: URL para redirecionar o comprador em caso de caso de falha no pagamento do comprador.
                order:
                  description: Order containing all the essential information for the execution of a payment.
                  x-description-i18n:
                    eng: Order containing all the essential information for the execution of a payment.
                    spa: Orden que contiene toda la información esencial para la ejecución de una transacción.
                    por: Ordem contendo todas as informações essenciais para a execução de uma transação.
                  type: object
                  properties:
                    external_reference:
                      type: string
                      example: "my_order_id"
                      description: Reference of the order.
                      x-description-i18n:
                        eng: Reference of the order.
                        spa: Referencia de lá order.
                        por: Referência da order.
                    description:
                      type: string
                      example: "my_order_description"
                      description: Description of the order or payment.
                      x-description-i18n:
                        eng: Description of the order or payment.
                        spa: Descricion de la orden o transacción.
                        por: Descrição da ordem ou transação.
                    amount:
                      required: true
                      type: string
                      example: "50.00"
                      description: Total amount to be paid.
                      x-description-i18n:
                        eng: Total amount to be paid.
                        spa: Monto total que se desea cobrar.
                        por: Valor total a ser pago.
                    items:
                      description: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                      x-description-i18n:
                        eng: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                        spa: Información relevante para la configuración de los elementos que componen la transacción, como la lista de elementos, sus cantidades y precios. Esto abarca detalles sobre los diferentes productos o servicios involucrados en la transacción, incluyendo la cantidad de cada elemento y el precio correspondiente a cada uno de ellos.
                        por: Informações pertinentes à configuração dos itens que constituem a transação, tais como a lista de itens, suas quantidades e preços. Isso abrange informações sobre os diferentes produtos ou serviços envolvidos na transação, incluindo a quantidade de cada item e o preço correspondente a cada um deles.
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            example: "x76ax"
                            description: Item identification code. For example, "x76ax".
                            x-description-i18n:
                              eng: Item identification code. For example, "x76ax".
                              spa: Código de identificación del ítem. Por ejemplo, "x76ax".
                              por: Código de identificação do item. Por exemplo, "x76ax".
                          quantity:
                            type: number
                            example: 4
                            description: Number of item included in the order.
                            x-description-i18n:
                              eng: Number of item included in the order.
                              spa: Cantidad de ocurrencias del ítem incluidos en la órden.
                              por: Quantidade de itens incluídos na ordem.
                          unit_price:
                            type: string
                            example: "100.00"
                            description: Unit value of the item. For example, "100.00".
                            x-description-i18n:
                              eng: Unit value of the item. For example, "100.00".
                              spa: Precio unitario del ítem. Por ejemplo, "100.00".
                              por: Preço unitário do item. Por exemplo, "100.00".
                          dimensions:
                            type: string
                            example: "30x30x30"
                            description: Dimensions of the item - length x width x height.
                            x-description-i18n:
                              eng: Dimensions of the item - length x width x height.
                              spa: Dimensiones del ítem - largo x ancho x alto.
                              por: Dimensões do item - comprimento x largura x altura.
                          description:
                            type: string
                            example: "Beautifully handmade laptop case/sleeve made in the Himalaya. "
                            description: Description of the items comprising the list of products included in the order.
                            x-description-i18n:
                              eng: Description of the items comprising the list of products included in the order.
                              spa: Descripción de los artículos que componen la lista de productos incluidos en la orden.
                              por: Descrição dos itens que constituem a lista de produtos incluídos na ordem.
                    payer:
                      type: object
                      description: Buyer's information.
                      x-description-i18n:
                        eng: Buyer's information.
                        spa: Información del comprador.
                        por: Informações do comprador.
                      properties:
                        email:
                          required: true
                          type: string
                          example: "test@test.com"
                          description: Buyer's email.
                          x-description-i18n:
                            eng: Buyer's email.
                            spa: Email del comprador.
                            por: Email do comprador.
                        customer_id:
                          type: string
                          example: "123456"
                          description: Previously stored buyer identification number.
                          x-description-i18n:
                            eng: Previously stored buyer identification number.
                            spa: Número de identificación del comprador previamente almacenado.
                            por: Número de identificação do comprador previamente armazenado.
                        identification:
                          type: object
                          description: This field refers to the type and number of the document used to identify a person within the country.
                          x-description-i18n:
                            eng: This field refers to the type and number of the document used to identify a person within the country.
                            spa: Este campo se refiere al tipo y número del documento utilizado para identificar a una persona dentro del país.
                            por: Este campo se refere ao tipo e número do documento usado para identificar uma pessoa dentro do país.
                          properties:
                            number:
                              description: Number of the document.
                              x-description-i18n:
                                eng: Number of the document.
                                spa: Número del documento.
                                por: Número do documento.
                              type: string
                              example: "12345678098"
                            type:
                              description: Type of the document.
                              x-description-i18n:
                                eng: Type of the document.
                                spa: Tipo de documento.
                                por: Tipo de documento.
                              type: string
                              example: "CPF"
                        name:
                          type: string
                          example: "John"
                          description: Buyer's name.
                          x-description-i18n:
                            eng: Buyer's name.
                            spa: Nombre del comprador.
                            por: Nome do comprador.
                        surname:
                          type: string
                          example: "Doe"
                          description: Buyer's surname.
                          x-description-i18n:
                            eng: Buyer's surname.
                            spa: Apellido del comprador.
                            por: Sobrenome do comprador.
                        address:
                          type: object
                          description: Address of the buyer.
                          x-description-i18n:
                            eng: Address of the buyer.
                            spa: Dirección del comprador.
                            por: Endereço do comprador.
                          properties:
                            street_name:
                              type: string
                              example: "Street MercadoLivre"
                              description: Street name.
                              x-description-i18n:
                                eng: Street name.
                                spa: Nombre de la calle.
                                por: Nome da rua.
                            street_number:
                              type: string
                              example: "100"
                              description: Street number.
                              x-description-i18n:
                                eng: Street number.
                                spa: Número de la calle.
                                por: Número da casa.
                            zip_code:
                              type: string
                              example: "57000-865"
                              description: Zip code.
                              x-description-i18n:
                                eng: Zip code.
                                spa: Código postal.
                                por: Código postal.
                        phone:
                          type: object
                          description: Buyer's phone number.
                          x-description-i18n:
                            eng: Buyer's phone number.
                            spa: Número de teléfono del comprador.
                            por: Número de telefone do comprador.
                          properties:
                            area_code:
                              type: string
                              description: Buyer's area code.
                              x-description-i18n:
                                eng: Buyer's area code.
                                spa: Código de área del comprador.
                                por: Código de área do comprador.
                              example: "11"
                            number:
                              type: string
                              description: Buyer's phone number number.
                              x-description-i18n:
                                eng: Buyer's phone number.
                                spa: Número de teléfono del comprador.
                                por: Número de telefone do comprador.
                              example: "99999999"
                    advanced:
                      type: object
                      description: Options for advanced payment.
                      x-description-i18n:
                        eng: Options for advanced payment.
                        spa: Agrupación de opciones avanzadas para la transacción.
                        por: Opções avançadas para a transação.
                      properties:
                        binary_mode:
                          type: boolean
                          example: true
                          description: Enables requesting a final payment response during the initial processing, disabling any options for offline or asynchronous processing.
                          x-description-i18n:
                            eng: Enables requesting a final payment response during the initial processing, disabling any options for offline or asynchronous processing.
                            spa: Permite solicitar una respuesta definitiva de la transacción durante el procesamiento inicial, deshabilitando cualquier opción de procesamiento fuera de línea o asíncrono.
                            por: Possibilita requerer uma resposta definitiva da transação no primeiro processamento, desabilitando quaisquer opções de processamento offline ou assíncrono.
                    payment_method:
                      description: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others. This parameter is required for the create and process the payment-intent in the same flow.
                      x-description-i18n:
                        eng: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others. This parameter is required for the create and process the payment-intent in the same flow.
                        spa: Información detallada sobre los medios de pago disponibles durante la transacción, como por ejemplo, el monto total a pagar utilizando un método de pago específico, opciones de financiamiento, entre otros. Ese parámetro es obligatorio para crear y procesar el payment-intent en el mismo flujo.
                        por: Informações detalhadas sobre os meios de pagamento disponíveis durante a transação, como por exemplo, valor total a ser pago com determinado meio de pagamento, parcelamento, entre outros. Este parametro é obrigatório para criar e processar o pagamento-intent no mesmo fluxo.
                      type: object
                      properties:
                        credit_cards:
                          description: Credit cards.
                          x-description-i18n:
                            eng: Credit cards.
                            spa: Tarjetas de crédito.
                            por: Cartões de crédito.
                          type: array
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio de pago.
                                  por: Total a ser pago com este meio de pagamento.
                              token:
                                type: string
                                example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                description: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                x-description-i18n:
                                  eng: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  spa: card_token que representa de manera segura los datos de tarjeta. Por ejemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  por: Card token que representa de maneira segura os dados do cartão. Por exemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                              payment_method_id:
                                type: string
                                example: "visa"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                              issuer:
                                type: string
                                example: "23"
                                description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                x-description-i18n:
                                  eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                  por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                              installments:
                                type: number
                                description: Quantity of installments.
                                x-description-i18n:
                                  eng: Quantity of installments.
                                  spa: Cantidad de cuotas deseadas.
                                  por: Quantidade de parcelas desejadas.
                                example: 1
                              statement_descriptor:
                                type: string
                                example: "MERCADOPAGO"
                                description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                x-description-i18n:
                                  eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                  por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                        debit_cards:
                          description: Debit cards.
                          x-description-i18n:
                            eng: Debit cards.
                            spa: Tarjetas de débito.
                            por: Cartões de débito.
                          type: array
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio de pago.
                                  por: Total a ser pago com este meio de pagamento.
                              token:
                                type: string
                                example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                description: Card token that represents securely the debit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                x-description-i18n:
                                  eng: Card token that represents securely the debit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  spa: card_token que representa de manera segura los datos de tarjeta. Por ejemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  por: Card token que representa de maneira segura os dados do cartão. Por exemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                              payment_method_id:
                                type: string
                                example: "debvisa"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                              issuer:
                                type: string
                                example: "23"
                                description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                x-description-i18n:
                                  eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                  por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                              statement_descriptor:
                                type: string
                                example: "MERCADOPAGO"
                                description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                x-description-i18n:
                                  eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                  por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                        tickets:
                          description: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                          x-description-i18n:
                            eng: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                            spa: Tickets, boleto y pagos en agencias de lotería. En resumen, este campo proporciona información relacionada con métodos de pago fuera de línea.
                            por: Tickets, boletos e pagamentos em casas lotéricas. Em resumo, este campo fornece informações relacionadas a pagamentos realizados offline.
                          type: array
                          items:
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio de pago.
                                  por: Valor total a ser pago com este meio de pagamento.
                              payment_method_id:
                                type: string
                                example: "pec"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                        atms:
                          description: ATM (Automated Teller Machine).
                          x-description-i18n:
                            eng: ATM (Automated Teller Machine).
                            spa: Cajero automático.
                            por: Caixa eletrônico.
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio de pago.
                                  por: Valor total a ser pago com este meio de pagamento.
                              payment_method_id:
                                type: string
                                example: "bapropagos"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
                        bank_transfers:
                          description: Bank transfers.
                          x-description-i18n:
                            eng: Bank transfers.
                            spa: Transferencias bancarias.
                            por: Transferências bancárias.
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: "50.00"
                                description: Total amount to be paid with this payment method.
                                x-description-i18n:
                                  eng: Total amount to be paid with this payment method.
                                  spa: Monto a pagar con este medio de pago.
                                  por: Valor total a ser pago com este meio de pagamento.
                              payment_method_id:
                                type: string
                                example: "banco_mp"
                                description: Identifier of the chosen payment method.
                                x-description-i18n:
                                  eng: Identifier of the chosen payment method.
                                  spa: Identificador del medio de pago elegido.
                                  por: Identificador do meio de pagamento escolhido.
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "00001njp2i"
                    description: ID of a created Payment Intent.
                    x-description-i18n:
                      eng: ID of a created Payment Intent.
                      spa: ID de la Payment Intent creada.
                      por: ID da Payment Intent criada.
                  client_token:
                    type: string
                    example: ""
                    description: Client Token is the token generated from the return of an unprocessed payment intention, it will be available in the client_token property, this token can be used for calls from the frontend.
                    x-description-i18n:
                      eng: Client Token is the token generated from the return of an unprocessed payment intention, it will be available in the client_token property, this token can be used for calls from the frontend.
                      spa: Client Token es el token generado a partir de la devolución de una intención de pago no procesada, estará disponible en la propiedad client_token, este token se puede usar para llamadas a partir de frontend.
                      por: Client Token é o token gerado a partir do retorno de uma payment intent não processada, estará disponibilizado na propriedade client_token, este token pode ser usado para chamadas de seu frontend.
                  created_date:
                    type: string
                    example: "2023-09-06T08:00:00.000-03:00"
                    description: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Date of creation of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                      spa: Fecha de creación de la Payment Intent. Por ejemplo, "2023-09-06T08:00:00.000-03:00".
                      por: Data de criação da Payment Intent. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                  active_to_date:
                    type: string
                    description: Maximum processing deadline for the payment intent. This deadline sets the date by which the payment Intent is expected to be processed and completed. For example - "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Maximum processing deadline for the payment intent. This deadline sets the date by which the payment Intent is expected to be processed and completed. For example - "2023-09-06T08:00:00.000-03:00".
                      spa: Plazo máximo de procesamiento para la Payment Intent. Este plazo establece la fecha límite hasta la cual se espera que la Payment Intent sea procesada y completada. Por ejemplo - "2023-09-06T08:00:00.000-03:00".
                      por: Prazo máximo de processamento para Payment Intent. Este prazo determina a data limite até a qual se espera que a Payment Intent seja processada e finalizada. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                    example: "2023-09-06T10:00:00.000-03:00"
                  last_updated_date:
                    type: string
                    example: "2023-09-06T08:00:00.000-03:00"
                    description: Date of the last updated of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Date of the last updated of the Payment Intent. For example, "2023-09-06T08:00:00.000-03:00".
                      spa: Fecha de la última actualización de la Payment Intent. Por ejemplo, "2023-09-06T08:00:00.000-03:00".
                      por: Data da última atualização da Payment Intent. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                  status:
                    type: string
                    example: "processed"
                    description: Current status of the Payment Intent.
                    x-description-i18n:
                      eng: Current status of the Payment Intent.
                      spa: Status actual de la Payment Intent.
                      por: Status atual da Payment Intent.
                    enum:
                      - "new--it created but not processed"
                      - "transaction_in_process--it was processing, it is not conclusive. We can see the conclusive status in Webhook."
                      - "processed--it was processed with success."
                      - "partially_processed--it was partially processed, and it needs the second operation to finish with processed (specific to payment flow with two operations)."
                      - "partially_reverted--it was partially reverted. The revert is about some items, not total purchase."
                  configuration:
                    type: object
                    description: Configuration parameters defined by the seller before starting the transaction
                    x-description-i18n:
                      eng: Configuration parameters defined by the seller before starting the transaction
                      spa: Parámetros de configuración definidos por el seller antes de iniciar la transacción
                      por: Configuração definida pelo seller antes de iniciar a transação
                    properties:
                      integration:
                        type: object
                        description: Configuration of the seller on integration.
                        x-description-i18n:
                          eng: Configuration of the seller on integration.
                          spa: Configuración del seller sobre la integración.
                          por: Configuração do vendedor sobre a integração.
                        properties:
                          notification_url:
                            type: string
                            description: URL to which notifications will be sent.
                            example: "https://www.integrator-site.com/notifications"
                            x-description-i18n:
                              eng: URL to which notifications will be sent.
                              spa: URL a la cual se enviarán las notificaciones.
                              por: URL para a qual as notificações serão enviadas.
                          return_url_default:
                            description: Default URL to redirect the buyer.
                            x-description-i18n:
                              eng: Default URL to redirect the buyer.
                              spa: URL por defecto a la cual se redireccionará al comprador.
                              por: URL padrão para redirecionar o comprador.
                            type: string
                            example: "https://www.integrator-site.com/order"
                          return_url_success:
                            description: URL to redirect the buyer in case of successful payment.
                            type: string
                            example: "https://www.integrator-site.com/order/success"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of successful payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago exitoso.
                              por: URL para redirecionar o comprador em caso de pagamento bem-sucedido.
                          return_url_pending:
                            description: URL to redirect the buyer in case of pending payment.
                            type: string
                            example: "https://www.integrator-site.com/order/pending"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of pending payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago pendiente.
                              por: URL para redirecionar o comprador em caso de pagamento pendente.
                          return_url_failure:
                            description: URL to redirect the buyer in case of failed payment.
                            type: string
                            example: "https://www.integrator-site.com/order/failed"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of failed payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago fallido.
                              por: URL para redirecionar o comprador em caso de pagamento falhou.
                  order:
                    type: object
                    description: Common Order attributes for request and response.
                    x-description-i18n:
                      eng: Common Order attributes for request and response.
                      spa: Atributos de Order comunes para el request y el response.
                      por: Atributos de Order comuns para o request e o response.
                    properties:
                      external_reference:
                        type: string
                        example: "my_order_id"
                        description: Reference of the order
                        x-description-i18n:
                          eng: ID of the order previously created in the integrator's system
                          spa: ID en sistema externo del integrador
                          por: ID da ordem criada anteriormente no sistema do integrador
                      description:
                        type: string
                        example: "my_order_description"
                        description: Description of the order or payment.
                        x-description-i18n:
                          eng: Description of the order or payment.
                          spa: Descricion de la orden o transacción.
                          por: Descrição da ordem ou transação.
                      amount:
                        type: string
                        example: "233.00"
                        description: Total value of the transaction
                        x-description-i18n:
                          eng: Total value of the transaction
                          spa: Monto total de la transacción
                          por: Valor total da transação
                      items:
                        type: array
                        description: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                        x-description-i18n:
                          eng: Information relevant to the configuration of the items comprising the payment, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the payment, including the quantity of each item and the corresponding price for each of them.
                          spa: Información relevante para la configuración de los elementos que componen la transacción, como la lista de elementos, sus cantidades y precios. Esto abarca detalles sobre los diferentes productos o servicios involucrados en la transacción, incluyendo la cantidad de cada elemento y el precio correspondiente a cada uno de ellos.
                          por: Informações pertinentes à configuração dos itens que constituem a transação, tais como a lista de itens, suas quantidades e preços. Isso abrange informações sobre os diferentes produtos ou serviços envolvidos na transação, incluindo a quantidade de cada item e o preço correspondente a cada um deles.
                        items:
                          properties:
                            id:
                              type: string
                              example: "x76ax"
                              description: Item identification code.
                              x-description-i18n:
                                eng: Item identification code.
                                spa: Código de identificación del ítem.
                                por: Código de identificação do item.
                            quantity:
                              type: number
                              example: 4
                              description: Number of item included in the order.
                              x-description-i18n:
                                eng: Number of item included in the order.
                                spa: Cantidad de ocurrencias del ítem incluidos en la órden.
                                por: Quantidade de itens incluídos no pedido.
                            unit_price:
                              type: string
                              example: "100.00"
                              description: Unit price of the item.
                              x-description-i18n:
                                eng: Unit value of the item.
                                spa: Precio unitario del ítem.
                                por: Preço unitário do item.
                            dimensions:
                              type: string
                              example: "30x30x30"
                              description: Dimensions of the item - length x width x height.
                              x-description-i18n:
                                eng: Dimensions of the item - length x width x height.
                                spa: Dimensiones del ítem - largo x ancho x alto.
                                por: Dimensões do item - comprimento x largura x altura.
                            description:
                              type: string
                              example: "Beautifully handmade laptop case/sleeve made in the Himalaya. "
                              description: Description of the item that makes up the list of order items.
                              x-description-i18n:
                                eng: Description of the item that makes up the list of order items.
                                spa: Descripción del artículo que componen el listado de items de la orden.
                                por: Descrição do item que compõe a lista de itens do pedido.
                      payer:
                        type: object
                        description: Buyer's information.
                        x-description-i18n:
                          eng: Buyer's information.
                          spa: Información del comprador.
                          por: Informações do comprador.
                        properties:
                          email:
                            type: string
                            description: Buyer's email.
                            x-description-i18n:
                              eng: Buyer's email.
                              spa: Email del comprador.
                              por: Email do comprador.
                          customer_id:
                            type: number
                            example: 123456
                            description: Previously stored buyer identification number.
                            x-description-i18n:
                              eng: Previously stored buyer identification number.
                              spa: Número de identificación del comprador previamente almacenado.
                              por: Número de identificação do comprador previamente armazenado.
                          identification:
                            type: object
                            description: Type and number of legal document that identifies the person in the country.
                            x-description-i18n:
                              eng: Type and number of legal document that identifies the person in the country.
                              spa: Tipo y número de documento legal que identifica a la persona en el país.
                              por: Tipo e número de documento que identifica a pessoa no país.
                            properties:
                              number:
                                type: string
                                example: "12345678098"
                                description: Number of the document.
                                x-description-i18n:
                                  eng: Number of the document.
                                  spa: Número del documento.
                                  por: Número do documento.
                              type:
                                type: string
                                example: "CPF"
                                description: Type of the document.
                                x-description-i18n:
                                  eng: Type of the document.
                                  spa: Tipo de documento.
                                  por: Tipo de documento.
                          address:
                            type: object
                            description: Address of the buyer.
                            x-description-i18n:
                              eng: Address of the buyer.
                              spa: Dirección del comprador.
                              por: Endereço do comprador.
                            properties:
                              street_name:
                                type: string
                                example: "Street MercadoLivre"
                                description: Street name.
                                x-description-i18n:
                                  eng: Street name.
                                  spa: Nombre de la calle.
                                  por: Nome da rua.
                              street_number:
                                type: string
                                example: "100"
                                description: Street number.
                                x-description-i18n:
                                  eng: Street number.
                                  spa: Número de la calle.
                                  por: Número da casa.
                              zip_code:
                                type: string
                                example: "57000-865"
                                description: Zip code.
                                x-description-i18n:
                                  eng: Zip code.
                                  spa: Código postal.
                                  por: Código postal.
                          phone:
                            type: object
                            description: Buyer's phone number.
                            x-description-i18n:
                              eng: Buyer's phone number.
                              spa: Número de teléfono del comprador.
                              por: Número de telefone do comprador.
                            properties:
                              area_code:
                                type: string
                                example: "11"
                              number:
                                type: string
                                example: "99999999"
                      advanced:
                        type: object
                        description: Options for advanced transaction.
                        x-description-i18n:
                          eng: Options for advanced transaction.
                          spa: Agrupación de opciones avanzadas para la transacción.
                          por: Opções avançadas para a transação.
                        properties:
                          binary_mode:
                            type: boolean
                            example: true
                            description: Allows to require a final response from the transaction in your first processing (by disabling any offline or asynchronous processing option).
                            x-description-i18n:
                              eng: Allows to require a final response from the transaction in your first processing (by disabling any offline or asynchronous processing option).
                              spa: Permite exigir una respuesta final de la transacción en su primer procesamiento (deshabilitando cualquier opción de procesamiento offline o asíncrona).
                              por: Permite exigir uma resposta final da transação no primeiro processamento (desabilitando qualquer opção de processamento offline ou assíncrono).
                      amount_details:
                        type: object
                        description: This field covers details relating to transaction amounts, including the amount paid and, in refund situations, the total amount refunded.
                        x-description-i18n:
                          eng: This field covers details relating to transaction amounts, including the amount paid and, in refund situations, the total amount refunded.
                          spa: Este campo incluye detalles relativos a los importes de las transacciones, incluido el importe pagado y, en situaciones de reembolso, el importe total reembolsado.
                          por: Este campo abrange os detalhes relacionados aos montantes da transação, incluindo o valor pago e, em situações de reembolso, o montante total reembolsado.
                        properties:
                          total:
                            type: string
                            example: "123.00"
                            description: Details of the total value of the transaction.
                            x-description-i18n:
                              eng: Details of the total value of the transaction.
                              spa: Detalles del monto total de la transacción.
                              por: Detalhes do valor total da transação.
                          paid:
                            type: string
                            example: "100.00"
                            description: Total paid.
                            x-description-i18n:
                              eng: Total paid.
                              spa: Monto de la transacción pagado.
                              por: Valor pago.
                          refunded:
                            type: string
                            example: "100.00"
                            description: Total value refunded.
                            x-description-i18n:
                              eng: Total value refunded.
                              spa: Monto de la transacción devuelto.
                              por: Valor reembolsado.
                      payment_method:
                        type: object
                        description: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                        x-description-i18n:
                          eng: Detailed information about the available payment methods during the payment, such as the total amount to be paid using a specific payment method, installment options, among others.
                          spa: Información detallada sobre los medios de pago disponibles durante la transacción, como por ejemplo, el monto total a pagar utilizando un método de pago específico, opciones de financiamiento, entre otros.
                          por: Informações detalhadas sobre os meios de pagamento disponíveis durante a transação, como por exemplo, valor total a ser pago com determinado meio de pagamento, parcelamento, entre outros.
                        properties:
                          credit_cards:
                            type: array
                            description: Credit cards.
                            x-description-i18n:
                              eng: Credit cards.
                              spa: Tarjetas de crédito.
                              por: Cartão de crédito.
                            items:
                              properties:
                                installments:
                                  type: number
                                  example: 1
                                  description: Quantity of installments.
                                  x-description-i18n:
                                    eng: Quantity of installments.
                                    spa: Cantidad de cuotas deseadas.
                                    por: Quantidade de parcelas desejadas.
                                payment_id:
                                  type: number
                                  example: 12345432
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data.
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data.
                                    spa: Card token que representa de manera segura los datos de tarjeta.
                                    por: Card token que representa de maneira segura os dados do cartão.
                                payment_method_id:
                                  type: string
                                  example: "visa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                  x-description-i18n:
                                    eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and payment analysis purposes.
                                    spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                    por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                  x-description-i18n:
                                    eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the payment. It provides a brief description that assists the customer in recognizing the nature of the payment conducted.
                                    spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          debit_cards:
                            type: array
                            description: Debit card.
                            x-description-i18n:
                              eng: Debit card.
                              spa: Tarjeta de débito.
                              por: Cartão de débito.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data.
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data.
                                    spa: card_token que representa de manera segura los datos de tarjeta.
                                    por: Card token que representa de maneira segura os dados do cartão.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: In case it is required, identifier of the card issuer entity.
                                  x-description-i18n:
                                    eng: In case it is required, identifier of the card issuer entity.
                                    spa: En caso que sea requerido, identificador de la  entidad emisora de la tarjeta.
                                    por: Caso seja requerido, identificador da entidade emissora do cartão.
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Descriptor of the charge to be shown in the card statement.
                                  x-description-i18n:
                                    eng: descriptor of the charge to be shown in the card statement.
                                    spa: Descriptor del cargo a utilizar en el resumen del emisor.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          tickets:
                            type: array
                            description: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                            x-description-i18n:
                              eng: Tickets, boleto, and payments at Casas Lotérica. In summary, this field provides information related to offline payment methods.
                              spa: Tickets, boleto y pagos en agencias de lotería. En resumen, este campo proporciona información relacionada con métodos de pago fuera de línea.
                              por: Tickets, boletos e pagamentos em casas lotéricas. Em resumo, este campo fornece informações relacionadas a pagamentos realizados offline.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                completion_url:
                                  type: string
                                  example: ""
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          atms:
                            type: array
                            description: Automated Teller Machine.
                            x-description-i18n:
                              eng: Automated Teller Machine.
                              spa: Cajero automático.
                              por: Caixa eletrônico.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                completion_url:
                                  type: string
                                  example: ""
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                response_detail:
                                  type: object
                                  description: Payment status details.
                                  x-description-i18n:
                                    eng: Payment status details.
                                    spa: Detalle del estado del pago.
                                    por: Detalhes do estado do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: ""
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: ""
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
                                refunds:
                                  type: object
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto de la devolución.
                                        por: Valor do reembolso.
                          bank_transfers:
                            type: array
                            description: Bank transfers.
                            x-description-i18n:
                              eng: Bank transfers.
                              spa: Transferencias bancarias.
                              por: Transferências bancárias.
                            items:
                              properties:
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Estado del pago.
                                    por: Estado do pagamento.
                                completion_url:
                                  type: string
                                  example: ""
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
[...]
