openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /v1/payments:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Create payment
      description: Create a payment and add all the information you need. Remember to add the payment details and the payer's information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                additional_info:
                  type: object
                  description: >-
                    Data that could improve fraud analysis and conversion rates.
                    Try to send as much information as possible.
                  properties:
                    ip_address:
                      type: string
                      description: >-
                        IP from where the request comes from (only for bank
                        transfers).
                    items:
                      type: array
                      description: List of items to be paid.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Item code.
                            example: PR0001
                          title:
                            type: string
                            description: Item name.
                            example: Point Mini
                          description:
                            type: string
                            description: Long item description.
                            example: Producto Point para cobros con tarjetas mediante bluetooth
                          picture_url:
                            type: string
                            description: Image URL.
                            example: https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png
                          category_id:
                            type: string
                            description: Category of the item.
                            example: electronics
                          quantity:
                            type: number
                            description: Item quantity.
                            example: 1
                          unit_price:
                            type: number
                            description: Unit price.
                            example: 58.8
                    payer:
                      type: object
                      description: Buyer's information.
                      properties:
                        first_name:
                          type: string
                          description: Buyer's name.
                          example: Test
                        last_name:
                          type: string
                          description: Buyer's last name.
                          example: Test
                        phone:
                          type: object
                          description: Buyer's phone.
                          properties:
                            area_code:
                              type: string
                              description: Area code.
                              example: 11
                            number:
                              type: string
                              description: Phone number.
                              example: '987654321'
                        address:
                          type: object
                          description: Address.
                          properties:
                            zip_code:
                              type: string
                              description: Zip code.
                            street_name:
                              type: string
                              description: Street name.
                            street_number:
                              type: number
                              description: Number.
                        registration_date:
                          type: string
                          format: date
                          description: Date of registration of the buyer on your site.
                    shipments:
                      type: object
                      description: Shipping information.
                      properties:
                        receiver_address:
                          type: object
                          description: Buyer's address.
                          properties:
                            zip_code:
                              type: string
                              description: Zip code.
                              example: 12312-123
                            state_name:
                              type: string
                              description: State.
                              example: Rio de Janeiro
                            city_name:
                              type: string
                              description: City Name.
                              example: Buzios
                            street_name:
                              type: string
                              description: Street name.
                              example: Av das Nacoes Unidas
                            street_number:
                              type: number
                              description: Number.
                              example: 3003
                            floor:
                              type: string
                              description: Floor.
                            apartment:
                              type: string
                              description: Department.
                    barcode:
                      type: object
                      description: Barcode information.
                      properties:
                        type:
                          $ref: '#/components/schemas/barcode_type'
                        content:
                          type: string
                          description: Barcode generated.
                        width:
                          type: number
                          description: Width of barcode.
                        height:
                          type: number
                          description: Height of barcode.
                application_fee:
                  type: number
                  description: Fee collected by a marketplace or Mercado Pago Application.
                binary_mode:
                  type: boolean
                  description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                callback_url:
                  type: string
                  description: >-
                    URL where mercadopago does the final redirect (only for bank
                    transfers).
                campaign_id:
                  type: number
                  description: Discount campaign ID.
                capture:
                  type: boolean
                  description: >-
                    Determines if the payment should be captured (true, default
                    value) or just reserved (false).
                coupon_amount:
                  type: number
                  description: Amount of the coupon discount.
                coupon_code:
                  type: string
                  description: Discount campaign with a specific code.
                description:
                  type: string
                  description: Payment reason or item title.
                  example: Payment for product
                differential_pricing_id:
                  type: number
                  description: Id of the scheme for the absorption of financing fee.
                date_of_expiration:
                  type: string
                  format: date
                  description: Payment´s expiration date.
                external_reference:
                  type: string
                  description: ID given by the merchant in their system.
                  example: MP0001
                installments:
                  type: number
                  description: Number of installments selected.
                  example: 1
                issuer_id:
                  type: string
                  description: Payment method issuer.
                metadata:
                  type: object
                  description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                notification_url:
                  type: string
                  description: Notifications URL available to receive notifications of events related to Payment.
                payer:
                  type: object
                  description: Identifies the buyer.
                  properties:
                    entity_type:
                      $ref: '#/components/schemas/entity_type'
                    type:
                      $ref: '#/components/schemas/payer_type'
                    id:
                      type: string
                      description: Identification of the associated payer.
                    email:
                      type: string
                      description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                    identification:
                      type: object
                      description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                      properties:
                        type:
                          type: string
                          description: Identification type.
                        number:
                          type: string
                          description: Identification number.
                    first_name:
                      type: string
                      description: First name of the associated payer.
                    last_name:
                      type: string
                      description: Last name of the associated payer.
                payment_method_id:
                  type: string
                  description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                  example: visa
                statement_descriptor:
                  type: string
                  description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                token:
                  type: string
                  description: Card token ID. (Required for credit card)
                transaction_amount:
                  type: number
                  description: Product cost.
                  example: 58.8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 20359978
                    description: Unique Payment Identifier, automatically generated by Mercado Pago
                  date_created:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment creation date.
                  date_approved:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                  date_last_updated:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Date on which the last payment event was recorded.
                  date_of_expiration:
                    type: string
                    format: nullable
                    description: Deadline to make the Payment through an off payment method (in cash)
                  money_release_date:
                    type: string
                    example: 2019-07-24T14:47:58.000Z
                    description: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  issuer_id:
                    type: string
                    example: 25
                    description: Identifier of the issuer of the payment method.
                  payment_method_id:
                    type: string
                    example: visa
                    description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                  payment_type_id:
                    $ref: '#/components/schemas/payment_type_id'
                  status:
                   $ref: '#/components/schemas/status'
                  status_detail:
                    type: string
                    example: accredited
                    description: Detail in which the Collection resulted
                    enum:
                      - Accredited -- credited payment.
                      - pending_contingency -- the payment is being processed.
                      - pending_review_manual -- the payment is under review to determine its approval or rejection.
                      - cc_rejected_bad_filled_date -- incorrect expiration date.
                      - cc_rejected_bad_filled_other -- incorrect card details.
                      - cc_rejected_bad_filled_security_code -- incorrect CVV.
                      - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                      - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                      - cc_rejected_card_disabled -- the card is inactive.
                      - cc_rejected_duplicated_payment -- transacción duplicada.
                      - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                      - cc_rejected_insufficient_amount -- insufficient amount.
                      - cc_rejected_invalid_installments -- invalid number of installments.
                      - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                      - cc_rejected_other_reason -- generic error.
                  currency_id:
                    $ref: '#/components/schemas/currency_id'
                  description:
                    type: string
                    example: >-
                      Point Mini a maquininha que dá o dinheiro de suas vendas
                      na hora
                    description: Description sent in the payment creation request.
                  live_mode:
                    type: boolean
                    description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  authorization_code:
                    type: string
                    format: nullable
                    description: Transaction authorization code.
                  money_release_schema:
                    type: string
                    format: nullable
                    description: Money release schema
                  taxes_amount:
                    type: number
                    example: 0
                    description: Corresponds to the tax values ​​calculated for the payment.
                  counter_currency:
                    type: string
                    format: nullable
                    description: Information related to dollar values ​​for CBT (Cross Border Trade) payments.
                  shipping_amount:
                    type: number
                    example: 0
                    description: Shipping amount
                  pos_id:
                    type: string
                    format: nullable
                    description: POS identifier
                  store_id:
                    type: string
                    format: nullable
                    description: Store identifier to which the point of sale belongs.
                  collector_id:
                    type: number
                    example: 448876418
                    description: Identifier of the collecting Mercado Pago account
                  payer:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        example: 123
                        description: Payer identifier generated by Mercado Pago.
                      email:
                        type: string
                        example: test_user_80507629@testuser.com
                        description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                      identification:
                        type: object
                        properties:
                          number:
                            type: string
                            example: 19119119100
                            description: Identification number.
                          type:
                            type: string
                            example: CPF
                            description: Identification type.
                        description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                      type:
                        $ref: '#/components/schemas/payer_type'
                    description: Payer data - ID (identifying number), email address, identification (type and number of id)
                  metadata:
                    type: object
                    description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                  additional_info:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: PR0001
                              description: Item code.
                            title:
                              type: string
                              example: Point Mini
                              description: Item name.
                            description:
                              type: string
                              example: >-
                                Producto Point para cobros con tarjetas mediante
                                bluetooth
                              description: Long item description.
                            picture_url:
                              type: string
                              example: >-
                                https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png
                              description: Image URL.
                            category_id:
                              type: string
                              example: electronics
                              description: Category of the item.
                            quantity:
                              type: number
                              example: 1
                              description: Item quantity.
                            unit_price:
                              type: number
                              example: 58.8
                              description: Unit price.
                        description: List of items to be paid.
                      payer:
                        type: object
                        properties:
                          registration_date:
                            type: string
                            example: 2019-01-01T15:01:01.000Z
                            description: Date of registration of the buyer on your site.
                        description: Payer details.
                      shipments:
                        type: object
                        properties:
                          receiver_address:
                            type: object
                            properties:
                              street_name:
                                type: string
                                example: Av das Nacoes Unidas
                                description: Street name.
                              street_number:
                                type: number
                                example: 3003
                                description: Number.
                              zip_code:
                                type: string
                                example: 6233200
                                description: Zip code.
                              city_name:
                                type: string
                                example: Buzios
                                description: City Name.
                              state_name:
                                type: string
                                example: Rio de Janeiro
                                description: State.
                            description: Buyer's address.
                        description: Shipping information.
                    description: Additional information.
                  external_reference:
                    type: string
                    example: MP0001
                    description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                  transaction_amount:
                    type: number
                    example: 58.8
                    description: Transaction amount
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                  coupon_amount:
                    type: number
                    example: 0
                    description: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                  differential_pricing_id:
                    type: string
                    format: nullable
                    description: Differential code of the Pricing Schema applied by Mercado Pago.
                  deduction_schema:
                    type: string
                    format: nullable
                    description: Pricing Schema applied by Mercado Pago.
                  transaction_details:
                    type: object
                    properties:
                      payment_method_reference_id:
                        type: string
                        format: nullable
                        description: Unique identifier of the payment method
                      net_received_amount:
                        type: number
                        example: 56.16
                        description: Net amount received
                      total_paid_amount:
                        type: number
                        example: 58.8
                        description: Total amount charged to the payer
                      overpaid_amount:
                        type: number
                        example: 0
                        description: Overpaid amount
                      external_resource_url:
                        type: string
                        format: nullable
                        description: External resource url
                      installment_amount:
                        type: number
                        example: 58.8
                        description: Amount of the chosen financing fee.
                      financial_institution:
                        type: string
                        format: nullable
                        description: Financial institution
                      payable_deferral_period:
                        type: string
                        format: nullable
                        description: Payment deferral period
                      acquirer_reference:
                        type: string
                        format: nullable
                        description: Acquirer reference
                    description: Transaction details
                  fee_details:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          $ref: '#/components/schemas/fee_details_type'
                        amount:
                          type: number
                          example: 2.64
                          description: Fee amount.
                        fee_payer:
                          $ref: '#/components/schemas/fee_payer'
                    description: Fee detail.
                  captured:
                    type: boolean
                    description: Indicates if the payment amount was captured or is pending capture.
                  binary_mode:
                    type: boolean
                    description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                  call_for_authorize_id:
                    type: string
                    format: nullable
                    description: Identifier that is provided to the issuing bank so that payments can be authorized.
                  statement_descriptor:
                    type: string
                    example: MercadoPago
                    description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                  installments:
                    type: number
                    example: 1
                    description: Number of installments selected.
                  card:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        description: Card ID.
                      first_six_digits:
                        type: string
                        example: 423564
                        description: Card Bin
                      last_four_digits:
                        type: string
                        example: 5682
                        description: last 4 digits of the card
                      expiration_month:
                        type: number
                        example: 6
                        description: Card's expiration month.
                      expiration_year:
                        type: number
                        example: 2023
                        description: Card's expiration year.
                      date_created:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Card registration date.
                      date_last_updated:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Date on which the last payment event was recorded.
                      cardholder:
                        type: object
                        properties:
                          name:
                            type: string
                            example: APRO
                            description: name
                          identification:
                            type: object
                            properties:
                              number:
                                type: string
                                example: 19119119100
                                description: Identification number.
                              type:
                                type: string
                                example: CPF
                                description: Identification type.
                            description: Personal identification. 
                        description: Cardholder details.
                    description: Card details.
                  notification_url:
                    type: string
                    example: https://www.suaurl.com/notificacoes/
                    description: Notifications URL available to receive notifications of events related to Payment.
                  processing_mode:
                    type: string
                    example: aggregator
                    description: Processing mode. There are two types.
                    enum:
                      - Aggregator -- The merchant will use the Mercado Pago merchant codes and will take advantage of the financial advantages that we offer.
                      - Gateway -- For the merchant it is necessary to have their own merchant codes for online sales and to have an agreement with each of the desired means of payment.
                  merchant_account_id:
                    type: string
                    format: nullable
                    description: Merchant account ID. Applies to gateway model.
                  acquirer:
                    type: string
                    format: nullable
                    description: Acquirer.
                  merchant_number:
                    type: string
                    format: nullable
                    description: Merchant number (Applies to gateway model).
                  point_of_interaction:
                    type: object
                    properties:
                      type:
                        type: string
                        example: PIX
                        description: Payment type identifier
                      sub_type:
                        type: string
                        description: Secondary identifier of the payment type
                      application_data:
                        type: object
                        properties:
                          name:
                            type: string
                            example: NAME_SDK
                            description: Application name
                          version:
                            type: string
                            example: VERSION_NUMBER
                            description: Current version
                        description: Information about the application that processes the payment
                      transaction_data:
                        type: object
                        properties:
                          qr_code_base64:
                            type: string
                            example: iVBORw0KGgoAAAANSUhEUgAABRQAAAUUCAYAAACu5p7oAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3LiWQNFmI+Y/Zd6vRt36KGNXi7ZOBtcagHD4kNLeiLX33v8DAAAAABD879sDAAAAAAA/h6AIAAAAAGSCIgAAAACQCYoAAAAAQCYoAgAAAACZoAgAAAAAZIIiAAAAAJAJigAAAABAJigCAAAAAJmgCAAAAABkgiIAAAAAkAmKAAAAAEAmKAIAAAAAmaAIAAAAAGSCIgAAAACQCYoAAAAAQCYoAgAAAACZoAgAAAAAZIIiAAAAAJAJigAAAABAJigCA...
                            description: Base64 representation of the image of the QR code to be scanned to finalize the payment
                          qr_code:
                            type: string
                            example: 00020126600014br.gov.bcb.pix0117test@testuser.com0217dados adicionais520400005303986540510.005802BR5913Maria Silva6008Brasilia62070503***6304E2CA
                            description: Alphanumeric code to copy and paste, used to finalize the payment
                          ticket_url:
                            type: string
                            example: https://www.mercadopago.com.br/payments/123456789/ticket?caller_id=123456&hash=123e4567-e89b-12d3-a456-426655440000
                            description: A link to the rendered pix, with QR codes and instructions to pay
                        description: Information on the pending payment that was generated
                    description: Information from the application that processes the payment and receives regulatory data
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 1--Params-Error-
                      - 3--Token-must-be-for-test-
                      - 5--Must-provide-your-access-token-to-proceed-
                      - >-
                        23--The-following-parameters-must-be-valid-date-and-format--yyyy-MM-dd-T-HH-mm-ssz--date-of-expiration-
                      - 1000--Number-of-rows-exceeded-the-limits-
                      - 1001--Date-format-must-be-yyyy-MM-dd-T-HH-mm-ss-SSSZ-
                      - >-
                        2001--Already-posted-the-same-request-in-the-last-minute-
                      - 2002--Customer-not-found-
                      - 2004--POST-to-Gateway-Transactions-API-fail-
                      - 2006--Card-Token-not-found-
                      - 2007--Connection-to-Card-Token-API-fail-
                      - 2009--Card-token-issuer-can-t-be-null-
                      - 2060--The-customer-can-t-be-equal-to-the-collector-
                      - >-
                        3000--You-must-provide-your-cardholder-name-with-your-card-data-
                      - >-
                        3001--You-must-provide-your-cardissuer-id-with-your-card-data-
                      - 3003--Invalid-card-token-id-
                      - 3004--Invalid-parameter-site-id-
                      - >-
                        3005--Not-valid-action--the-resource-is-in-a-state-that-does-not-allow-this-operation--For-more-information-see-the-state-that-has-the-resource-
                      - 3006--Invalid-parameter-cardtoken-id-
                      - 3007--The-parameter-client-id-can-not-be-null-or-empty-
                      - 3008--Not-found-Cardtoken-
                      - 3009--unauthorized-client-id-
                      - 3010--Not-found-card-on-whitelist-
                      - 3011--Not-found-payment-method-
                      - 3012--Invalid-parameter-security-code-length-
                      - >-
                        3013--The-parameter-security-code-is-a-required-field-can-not-be-null-or-empty-
                      - 3014--Invalid-parameter-payment-method-
                      - 3015--Invalid-parameter-card-number-length-
                      - 3016--Invalid-parameter-card-number-
                      - >-
                        3017--The-parameter-card-number-id-can-not-be-null-or-empty-
                      - >-
                        3018--The-parameter-expiration-month-can-not-be-null-or-empty-
                      - >-
                        3019--The-parameter-expiration-year-can-not-be-null-or-empty-
                      - >-
                        3020--The-parameter-cardholder-name-can-not-be-null-or-empty-
                      - >-
                        3021--The-parameter-cardholder-document-number-can-not-be-null-or-empty-
                      - >-
                        3022--The-parameter-cardholder-document-type-can-not-be-null-or-empty-
                      - >-
                        3023--The-parameter-cardholder-document-subtype-can-not-be-null-or-empty-
                      - >-
                        3024--Not-valid-action---partial-refund-unsupported-for-this-transaction-
                      - 3025--Invalid-Auth-Code-
                      - 3026--Invalid-card-id-for-this-payment-method-id-
                      - 3027--Invalid-payment-type-id-
                      - 3028--Invalid-payment-method-id-
                      - 3029--Invalid-card-expiration-month-
                      - 3030--Invalid-card-expiration-year-
                      - 4000--card-atributte-can-t-be-null-
                      - 4001--payment-method-id-atributte-can-t-be-null-
                      - 4002--transaction-amount-atributte-can-t-be-null-
                      - 4003--transaction-amount-atributte-must-be-numeric-
                      - 4004--installments-atributte-can-t-be-null-
                      - 4005--installments-atributte-must-be-numeric-
                      - 4006--payer-atributte-is-malformed-
                      - 4007--site-id-atributte-can-t-be-null-
                      - 4012--payer-id-atributte-can-t-be-null-
                      - 4013--payer-type-atributte-can-t-be-null-
                      - >-
                        4015--payment-method-reference-id-atributte-can-t-be-null-
                      - >-
                        4016--payment-method-reference-id-atributte-must-be-numeric-
                      - 4017--status-atributte-can-t-be-null-
                      - 4018--payment-id-atributte-can-t-be-null-
                      - 4019--payment-id-atributte-must-be-numeric-
                      - 4020--notificaction-url-atributte-must-be-url-valid-
                      - >-
                        4021--notificaction-url-atributte-must-be-shorter-than-500-characters-
                      - 4022--metadata-atributte-must-be-a-valid-JSON-
                      - 4023--transaction-amount-atributte-can-t-be-null-
                      - 4024--transaction-amount-atributte-must-be-numeric-
                      - 4025--refund-id-can-t-be-null-
                      - 4026--Invalid-coupon-amount-
                      - 4027--campaign-id-atributte-must-be-numeric-
                      - 4028--coupon-amount-atributte-must-be-numeric-
                      - 4029--Invalid-payer-type-
                      - 4037--Invalid-transaction-amount-
                      - >-
                        4038--application-fee-cannot-be-bigger-than-transaction-amount-
                      - 4039--application-fee-cannot-be-a-negative-value-
                      - 4050--payer-email-must-be-a-valid-email-
                      - 4051--payer-email-must-be-shorter-than-254-characters-
                      - 7523--Invalid-expiration-date-
        '403':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 4--The-caller-is-not-authorized-to-access-this-resource-
                      - >-
                        3002--The-caller-is-not-authorized-to-perform-this-action-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment-not-found
  /v1/payments/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Get payment
      description: See all the information of a payment through the payment ID
      parameters:
        - name: id
          in: path
          description: Unique Payment Identifier, automatically generated by Mercado Pago
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 1
                    description: Unique Payment Identifier, automatically generated by Mercado Pago
                  date_created:
                    type: string
                    example: 2017-08-31T11:26:38.000Z
                    description: Payment creation date.
                  date_approved:
                    type: string
                    example: 2017-08-31T11:26:38.000Z
                    description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                  date_last_updated:
                    type: string
                    example: 2017-08-31T11:26:38.000Z
                    description: Date on which the last payment event was recorded.
                  date_of_expiration:
                    type: string
                    format: nullable
                    description: Deadline to make the Payment through an off payment method (in cash)
                  money_release_date:
                    type: string
                    example: 2017-09-14T11:26:38.000Z
                    description: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  issuer_id:
                    type: string
                    format: nullable
                    description: Identifier of the issuer of the payment method.
                  payment_method_id:
                    type: string
                    example: account_money
                    description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                  payment_type_id:
                    $ref: '#/components/schemas/payment_type_id'
                  status:
                    $ref: '#/components/schemas/status'
                  status_detail:
                    type: string
                    example: accredited
                    description: Detail in which the Collection resulted
                    enum:
                      - Accredited -- credited payment.
                      - pending_contingency -- the payment is being processed.
                      - pending_review_manual -- the payment is under review to determine its approval or rejection.
                      - cc_rejected_bad_filled_date -- incorrect expiration date.
                      - cc_rejected_bad_filled_other -- incorrect card details.
                      - cc_rejected_bad_filled_security_code -- incorrect CVV.
                      - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                      - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                      - cc_rejected_card_disabled -- the card is inactive.
                      - cc_rejected_duplicated_payment -- transacción duplicada.
                      - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                      - cc_rejected_insufficient_amount -- insufficient amount.
                      - cc_rejected_invalid_installments -- invalid number of installments.
                      - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                      - cc_rejected_other_reason -- generic error.
                  currency_id:
                    $ref: '#/components/schemas/currency_id'
                  description:
                    type: string
                    example: Pago Pizza
                    description: Description sent in the payment creation request.
                  live_mode:
                    type: boolean
                    description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  authorization_code:
                    type: string
                    format: nullable
                    description: Transaction authorization code.
                  money_release_schema:
                    type: string
                    format: nullable
                    description: Money release schema
                  counter_currency:
                    type: string
                    format: nullable
                    description: Information related to dollar values ​​for CBT (Cross Border Trade) payments.
                  collector_id:
                    type: string
                    example: 2
                    description: Identifier of the collecting Mercado Pago account
                  payer:
                    type: object
                    description: Payer data - ID (identifying number), email address, identification (type and number of id)
                    properties:
                      id:
                        type: string
                        example: 123
                        description: Payer identifier generated by Mercado Pago.
                      email:
                        type: string
                        example: afriend@gmail.com
                        description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                      identification:
                        type: object
                        description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                        properties:
                          type:
                            type: string
                            example: DNI
                            description: Identification type.
                          number:
                            type: string
                            example: 12345678
                            description: Identification number.
                      type:
                        $ref: '#/components/schemas/payer_type'
                  metadata:
                    type: object
                    description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                  additional_info:
                    type: object
                    description: Additional information.
                  external_reference:
                    type: string
                    format: nullable
                    description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                  transaction_amount:
                    type: number
                    example: 250
                    description: Transaction amount
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                  coupon_amount:
                    type: number
                    example: 0
                    description: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                  differential_pricing_id:
                    type: string
                    format: nullable
                    description: Differential code of the Pricing Schema applied by Mercado Pago.
                  deduction_schema:
                    type: string
                    format: nullable
                    description: Pricing Schema applied by Mercado Pago.
                  transaction_details:
                    type: object
                    description: Transaction details
                    properties:
                      net_received_amount:
                        type: number
                        example: 250
                        description: Net amount received
                      total_paid_amount:
                        type: number
                        example: 250
                        description: Total amount charged to the payer
                      overpaid_amount:
                        type: number
                        example: 0
                        description: Overpaid amount
                      external_resource_url:
                        type: string
                        format: nullable
                        description: External resource url
                      installment_amount:
                        type: number
                        example: 250
                        description: Amount of the chosen financing fee.
                      financial_institution:
                        type: string
                        format: nullable
                        description: Financial institution
                      payment_method_reference_id:
                        type: string
                        format: nullable
                        description: Unique identifier of the payment method
                      payable_deferral_period:
                        type: string
                        format: nullable
                        description: Payment deferral period
                      acquirer_reference:
                        type: string
                        format: nullable
                        description: Acquirer reference
                  captured:
                    type: boolean
                    description: Indicates if the payment amount was captured or is pending capture.
                  binary_mode:
                    type: boolean
                    description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                  call_for_authorize_id:
                    type: string
                    format: nullable
                    description: Identifier that is provided to the issuing bank so that payments can be authorized.
                  statement_descriptor:
                    type: string
                    format: nullable
                    description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                  installments:
                    type: number
                    example: 1
                    description: Number of installments selected.
                  card:
                    type: object
                    description: Card ID.
                  notification_url:
                    type: string
                    format: nullable
                    description: Notifications URL available to receive notifications of events related to Payment.
                  processing_mode:
                    type: string
                    format: nullable
                    description: Processing mode. There are two types.
                    enum:
                      - Aggregator -- The merchant will use the Mercado Pago merchant codes and will take advantage of the financial advantages that we offer.
                      - Gateway -- For the merchant it is necessary to have their own merchant codes for online sales and to have an agreement with each of the desired means of payment.
                  merchant_account_id:
                    type: string
                    format: nullable
                    description: Merchant account ID. Applies to gateway model.
                  acquirer:
                    type: string
                    format: nullable
                    description: Acquirer.
                  merchant_number:
                    type: string
                    format: nullable
                    description: Merchant number (Applies to gateway model).
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 1--Params-Error-
                      - 3--Token-must-be-for-test-
                      - 5--Must-provide-your-access-token-to-proceed-
                      - 1000--Number-of-rows-exceeded-the-limits-
                      - 1001--Date-format-must-be-yyyy-MM-dd-T-HH-mm-ss-SSSZ-
                      - >-
                        2001--Already-posted-the-same-request-in-the-last-minute-
                      - 2002--Customer-not-found-
                      - 2004--POST-to-Gateway-Transactions-API-fail-
                      - 2006--Card-Token-not-found-
                      - 2007--Connection-to-Card-Token-API-fail-
                      - 2009--Card-token-issuer-can-t-be-null-
                      - >-
                        3000--You-must-provide-your-cardholder-name-with-your-card-data-
                      - >-
                        3001--You-must-provide-your-cardissuer-id-with-your-card-data-
                      - 3003--Invalid-card-token-id-
                      - 3004--Invalid-parameter-site-id-
                      - >-
                        3005--Not-valid-action--the-resource-is-in-a-state-that-does-not-allow-this-operation--For-more-information-see-the-state-that-has-the-resource-
                      - 3006--Invalid-parameter-cardtoken-id-
                      - 3007--The-parameter-client-id-can-not-be-null-or-empty-
                      - 3008--Not-found-Cardtoken-
                      - 3009--unauthorized-client-id-
                      - 3010--Not-found-card-on-whitelist-
                      - 3011--Not-found-payment-method-
                      - 3012--Invalid-parameter-security-code-length-
                      - >-
                        3013--The-parameter-security-code-is-a-required-field-can-not-be-null-or-empty-
                      - 3014--Invalid-parameter-payment-method-
                      - 3015--Invalid-parameter-card-number-length-
                      - 3016--Invalid-parameter-card-number-
                      - >-
                        3017--The-parameter-card-number-id-can-not-be-null-or-empty-
                      - >-
                        3018--The-parameter-expiration-month-can-not-be-null-or-empty-
                      - >-
                        3019--The-parameter-expiration-year-can-not-be-null-or-empty-
                      - >-
                        3020--The-parameter-cardholder-name-can-not-be-null-or-empty-
                      - >-
                        3021--The-parameter-cardholder-document-number-can-not-be-null-or-empty-
                      - >-
                        3022--The-parameter-cardholder-document-type-can-not-be-null-or-empty-
                      - >-
                        3023--The-parameter-cardholder-document-subtype-can-not-be-null-or-empty-
                      - >-
                        3024--Not-valid-action---partial-refund-unsupported-for-this-transaction-
                      - 3025--Invalid-Auth-Code-
                      - 3026--Invalid-card-id-for-this-payment-method-id-
                      - 3027--Invalid-payment-type-id-
                      - 3028--Invalid-payment-method-id-
                      - 3029--Invalid-card-expiration-month-
                      - 3030--Invalid-card-expiration-year-
        '403':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 4--The-caller-is-not-authorized-to-access-this-resource-
                      - >-
                        3002--The-caller-is-not-authorized-to-perform-this-action-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment-not-found-
    put:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Update payment
      description: Renew the details of a payment when you need it. Indicate the payment ID and send the parameters with the information you want to update
      parameters:
        - name: id
          in: path
          description: Unique Payment Identifier, automatically generated by Mercado Pago
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                capture:
                  type: boolean
                  description: >-
                    Determines if the payment should be captured (true, default
                    value) or just reserved (false).
                  example: true
                date_of_expiration:
                  type: string
                  format: date
                  description: Payment’s expiration date.
                metadata:
                  type: object
                  description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                status:
                  type: string
                  description: >-
                    Determines if the payment should be cancelled
                  example: "cancelled"
                transaction_amount:
                  type: number
                  description: Product cost.
                  example: 58.8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 20359978
                    description: Unique Payment Identifier, automatically generated by Mercado Pago
                  date_created:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment creation date.
                  date_approved:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                  date_last_updated:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Date on which the last payment event was recorded.
                  date_of_expiration:
                    type: string
                    format: nullable
                    description: Deadline to make the Payment through an off payment method (in cash)
                  money_release_date:
                    type: string
                    example: 2019-07-24T14:47:58.000Z
                    description: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  issuer_id:
                    type: string
                    example: 25
                    description: Identifier of the issuer of the payment method.
                  payment_method_id:
                    type: string
                    example: visa
                    description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                  payment_type_id:
                    $ref: '#/components/schemas/payment_type_id'
                  status:
                   $ref: '#/components/schemas/status'
                  status_detail:
                    type: string
                    example: accredited
                    description: Detail in which the Collection resulted
                    enum:
                      - Accredited -- credited payment.
                      - pending_contingency -- the payment is being processed.
                      - pending_review_manual -- the payment is under review to determine its approval or rejection.
                      - cc_rejected_bad_filled_date -- incorrect expiration date.
                      - cc_rejected_bad_filled_other -- incorrect card details.
                      - cc_rejected_bad_filled_security_code -- incorrect CVV.
                      - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                      - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                      - cc_rejected_card_disabled -- the card is inactive.
                      - cc_rejected_duplicated_payment -- transacción duplicada.
                      - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                      - cc_rejected_insufficient_amount -- insufficient amount.
                      - cc_rejected_invalid_installments -- invalid number of installments.
                      - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                      - cc_rejected_other_reason -- generic error.
                  currency_id:
                    $ref: '#/components/schemas/currency_id'
                  description:
                    type: string
                    example: >-
                      Point Mini a maquininha que dá o dinheiro de suas vendas
                      na hora
                    description: Description sent in the payment creation request.
                  live_mode:
                    type: boolean
                    description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                  authorization_code:
                    type: string
                    format: nullable
                    description: Transaction authorization code.
                  money_release_schema:
                    type: string
                    format: nullable
                    description: Money release schema
                  taxes_amount:
                    type: number
                    example: 0
                    description: Corresponds to the tax values ​​calculated for the payment.
                  counter_currency:
                    type: string
                    format: nullable
                    description: Information related to dollar values ​​for CBT (Cross Border Trade) payments.
                  shipping_amount:
                    type: number
                    example: 0
                    description: Shipping amount
                  pos_id:
                    type: string
                    format: nullable
                    description: POS identifier
                  store_id:
                    type: string
                    format: nullable
                    description: Store identifier to which the point of sale belongs.
                  collector_id:
                    type: number
                    example: 448876418
                    description: Identifier of the collecting Mercado Pago account
                  payer:
                    type: object
                    description: Payer data - ID (identifying number), email address, identification (type and number of id)
                    properties:
                      id:
                        type: string
                        format: nullable
                        example: 123
                        description: Payer identifier generated by Mercado Pago.
                      email:
                        type: string
                        example: test_user_80507629@testuser.com
                        description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                      identification:
                        type: object
                        properties:
                          number:
                            type: string
                            example: 19119119100
                            description: Identification number. 
                          type:
                            type: string
                            example: CPF
                            description: Identification type.
                        description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                      type:
                        $ref: '#/components/schemas/payer_type'
                  metadata:
                    type: object
                    description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                  additional_info:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: PR0001
                              description: Item code.
                            title:
                              type: string
                              example: Point Mini
                              description: Item name.
                            description:
                              type: string
                              example: >-
                                Producto Point para cobros con tarjetas mediante
                                bluetooth
                              description: Long item description.
                            picture_url:
                              type: string
                              example: >-
                                https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png
                              description: Image URL.
                            category_id:
                              type: string
                              example: electronics
                              description: Category of the item.
                            quantity:
                              type: number
                              example: 1
                              description: Item quantity.
                            unit_price:
                              type: number
                              example: 58.8
                              description: Unit price.
                        description: List of items to be paid.
                      payer:
                        type: object
                        description: Payer details.
                        properties:
                          registration_date:
                            type: string
                            example: 2019-01-01T15:01:01.000Z
                            description: Date of registration of the buyer on your site.
                      shipments:
                        type: object
                        properties:
                          receiver_address:
                            type: object
                            properties:
                              street_name:
                                type: string
                                example: Av das Nacoes Unidas
                                description: Street name.
                              street_number:
                                type: number
                                example: 3003
                                description: Number.
                              zip_code:
                                type: string
                                example: 6233200
                                description: Zip code.
                              city_name:
                                type: string
                                example: Buzios
                                description: City Name.
                              state_name:
                                type: string
                                example: Rio de Janeiro
                                description: State.
                            description: Buyer's address.
                        description: Shipping information.
                    description: Additional information.
                  external_reference:
                    type: string
                    example: MP0001
                    description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                  transaction_amount:
                    type: number
                    example: 58.8
                    description: Transaction amount
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                  coupon_amount:
                    type: number
                    example: 0
                    description: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                  differential_pricing_id:
                    type: string
                    format: nullable
                    description: Differential code of the Pricing Schema applied by Mercado Pago.
                  deduction_schema:
                    type: string
                    format: nullable
                    description: Pricing Schema applied by Mercado Pago.
                  transaction_details:
                    type: object
                    properties:
                      payment_method_reference_id:
                        type: string
                        format: nullable
                        description: Unique identifier of the payment method
                      net_received_amount:
                        type: number
                        example: 56.16
                        description: Net amount received
                      total_paid_amount:
                        type: number
                        example: 58.8
                        description: Total amount charged to the payer
                      overpaid_amount:
                        type: number
                        example: 0
                        description: Overpaid amount
                      external_resource_url:
                        type: string
                        format: nullable
                        description: External resource url
                      installment_amount:
                        type: number
                        example: 58.8
                        description: Amount of the chosen financing fee.
                      financial_institution:
                        type: string
                        format: nullable
                        description: Financial institution
                      payable_deferral_period:
                        type: string
                        format: nullable
                        description: Payment deferral period
                      acquirer_reference:
                        type: string
                        format: nullable
                        description: Acquirer reference
                    description: Transaction details
                  fee_details:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          $ref: '#/components/schemas/fee_details_type'
                        amount:
                          type: number
                          example: 2.64
                          description: Fee amount.
                        fee_payer:
                          $ref: '#/components/schemas/fee_payer'
                    description: Fee detail.
                  captured:
                    type: boolean
                    description: Indicates if the payment amount was captured or is pending capture.
                  binary_mode:
                    type: boolean
                    description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                  call_for_authorize_id:
                    type: string
                    format: nullable
                    description: Identifier that is provided to the issuing bank so that payments can be authorized.
                  statement_descriptor:
                    type: string
                    example: MercadoPago
                    description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                  installments:
                    type: number
                    example: 1
                    description: Number of installments selected.
                  card:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        description: Card ID.
                      first_six_digits:
                        type: string
                        example: 423564
                        description: Card Bin
                      last_four_digits:
                        type: string
                        example: 5682
                        description: last 4 digits of the card
                      expiration_month:
                        type: number
                        example: 6
                        description: Card's expiration month.
                      expiration_year:
                        type: number
                        example: 2023
                        description: Card's expiration year.
                      date_created:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Card registration date.
                      date_last_updated:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Date on which the last payment event was recorded.
                      cardholder:
                        type: object
                        properties:
                          name:
                            type: string
                            example: APRO
                            description: name
                          identification:
                            type: object
                            properties:
                              number:
                                type: string
                                example: 19119119100
                                description: Identification number.
                              type:
                                type: string
                                example: CPF
                                description: Identification type.
                            description: Personal identification.
                        description: Cardholder details.
                    description: Card details.
                  notification_url:
                    type: string
                    example: https://www.suaurl.com/notificacoes/
                    description: Notifications URL available to receive notifications of events related to Payment.
                  processing_mode:
                    type: string
                    example: aggregator
                    description: Processing mode. There are two types.
                    enum:
                      - Aggregator -- The merchant will use the Mercado Pago merchant codes and will take advantage of the financial advantages that we offer.
                      - Gateway -- For the merchant it is necessary to have their own merchant codes for online sales and to have an agreement with each of the desired means of payment.
                  merchant_account_id:
                    type: string
                    format: nullable
                    description: Merchant account ID. Applies to gateway model.
                  acquirer:
                    type: string
                    format: nullable
                    description: Acquirer.
                  merchant_number:
                    type: string
                    format: nullable
                    description: Merchant number (Applies to gateway model).
                  point_of_interaction:
                    type: object
                    properties:
                      type:
                        type: string
                        example: PIX
                        description: Payment type identifier
                      sub_type:
                        type: string
                        description: Secondary identifier of the payment type
                      application_data:
                        type: object
                        properties:
                          name:
                            type: string
                            example: NAME_SDK
                            description: Application name
                          version:
                            type: string
                            example: VERSION_NUMBER
                            description: Current version
                        description: Information about the application that processes the payment
                      transaction_data:
                        type: object
                        properties:
                          qr_code_base64:
                            type: string
                            example: iVBORw0KGgoAAAANSUhEUgAABRQAAAUUCAYAAACu5p7oAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3LiWQNFmI+Y/Zd6vRt36KGNXi7ZOBtcagHD4kNLeiLX33v8DAAAAABD879sDAAAAAAA/h6AIAAAAAGSCIgAAAACQCYoAAAAAQCYoAgAAAACZoAgAAAAAZIIiAAAAAJAJigAAAABAJigCAAAAAJmgCAAAAABkgiIAAAAAkAmKAAAAAEAmKAIAAAAAmaAIAAAAAGSCIgAAAACQCYoAAAAAQCYoAgAAAACZoAgAAAAAZIIiAAAAAJAJigAAAABAJigCA...
                            description: Base64 representation of the image of the QR code to be scanned to finalize the payment
                          qr_code:
                            type: string
                            example: 00020126600014br.gov.bcb.pix0117test@testuser.com0217dados adicionais520400005303986540510.005802BR5913Maria Silva6008Brasilia62070503***6304E2CA
                            description: Alphanumeric code to copy and paste, used to finalize the payment
                          ticket_url:
                            type: string
                            example: https://www.mercadopago.com.br/payments/123456789/ticket?caller_id=123456&hash=123e4567-e89b-12d3-a456-426655440000
                            description: A link to the rendered pix, with QR codes and instructions to pay
                        description: Information on the pending payment that was generated
                    description: Information from the application that processes the payment and receives regulatory data
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 8--The-name-of-the-parameters-is-wrong-
                      - 1004--Invalid-parameters-for-payment_method-API-
                      - 2018--The-action-requested-is-not-valid-for-the-current-payment-state-
                      - 2078--Capture-attribute-must-be-boolean-
                      - 2079--Invalid-value-for-capture-attribute-
        '403':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 4--The-caller-is-not-authorized-to-access-this-resource-
                      - >-
                        3002--The-caller-is-not-authorized-to-perform-this-action-
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment-not-found-
  /v1/payments/search:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Search payments
      description: Search and return payments made in the last twelve months from the search date
      parameters:
        - name: sort
          in: query
          description: Define the field to sort
          required: true
          schema:
            type: string
            example: date_created
        - name: criteria
          in: query
          description: The criteria result
          required: true
          schema:
            type: string
            example: desc
        - name: external_reference
          in: query
          description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
          required: true
          schema:
            type: string
            example: ID_REF
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    paging:
                      type: object
                      properties:
                        total:
                          type: number
                          example: 17493
                          description: The total number of items in the collection.
                        limit:
                          type: number
                          example: 30
                          description: The maximum number of entries to return.
                        offset:
                          type: number
                          example: 0
                          description: Numeric field used to paginate the response.
                      description: Information for pagination of search results.
                    results:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 1
                            description: Unique Payment Identifier, automatically generated by Mercado Pago
                          date_created:
                            type: string
                            example: 2017-08-31T11:26:38.000Z
                            description: Payment creation date.
                          date_approved:
                            type: string
                            example: 2017-08-31T11:26:38.000Z
                            description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                          date_last_updated:
                            type: string
                            example: 2017-08-31T11:26:38.000Z
                            description: Date on which the last payment event was recorded.
                          date_of_expiration:
                            type: string
                            format: nullable
                            description: Deadline to make the Payment through an off payment method (in cash)
                          money_release_date:
                            type: string
                            example: 2017-09-14T11:26:38.000Z
                            description: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                          operation_type:
                            $ref: '#/components/schemas/operation_type'
                          issuer_id:
                            type: string
                            format: nullable
                            description: Identifier of the issuer of the payment method.
                          payment_method_id:
                            type: string
                            example: account_money
                            description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                          payment_type_id:
                            $ref: '#/components/schemas/payment_type_id'
                          status:
                            $ref: '#/components/schemas/status'
                          status_detail:
                            type: string
                            example: accredited
                            description: Detail in which the Collection resulted
                            enum:
                              - Accredited -- credited payment.
                              - pending_contingency -- the payment is being processed.
                              - pending_review_manual -- the payment is under review to determine its approval or rejection.
                              - cc_rejected_bad_filled_date -- incorrect expiration date.
                              - cc_rejected_bad_filled_other -- incorrect card details.
                              - cc_rejected_bad_filled_security_code -- incorrect CVV.
                              - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                              - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                              - cc_rejected_card_disabled -- the card is inactive.
                              - cc_rejected_duplicated_payment -- transacción duplicada.
                              - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                              - cc_rejected_insufficient_amount -- insufficient amount.
                              - cc_rejected_invalid_installments -- invalid number of installments.
                              - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                              - cc_rejected_other_reason -- generic error.
                          currency_id:
                            $ref: '#/components/schemas/currency_id'
                          description:
                            type: string
                            example: Pago Pizza
                            description: Description sent in the payment creation request.
                          live_mode:
                            type: boolean
                            description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                          sponsor_id:
                            type: string
                            format: nullable
                            description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                          authorization_code:
                            type: string
                            format: nullable
                            description: Transaction authorization code.
                          money_release_schema:
                            type: string
                            format: nullable
                            description: Money release schema
                          counter_currency:
                            type: string
                            format: nullable
                            description: Information related to dollar values ​​for CBT (Cross Border Trade) payments.
                          collector_id:
                            type: string
                            example: 2
                            description: Identifier of the collecting Mercado Pago account
                          payer:
                            type: object
                            description: Payer data - ID (identifying number), email address, identification (type and number of id)
                            properties:
                              id:
                                type: string
                                example: 123
                                description: Payer identifier generated by Mercado Pago.
                              email:
                                type: string
                                example: afriend@gmail.com
                                description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                              identification:
                                type: object
                                description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                                properties:
                                  type:
                                    type: string
                                    example: DNI
                                    description: Identification type.
                                  number:
                                    type: string
                                    example: 12345678
                                    description: Identification number.
                              type:
                                $ref: '#/components/schemas/payer_type'
                          metadata:
                            type: object
                            description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                          additional_info:
                            type: object
                            description: Additional information.
                          external_reference:
                            type: string
                            format: nullable
                            description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                          transaction_amount:
                            type: number
                            example: 250
                            description: Transaction amount
                          transaction_amount_refunded:
                            type: number
                            example: 0
                            description: Transaction amount refunded
                          coupon_amount:
                            type: number
                            example: 0
                            description: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                          differential_pricing_id:
                            type: string
                            format: nullable
                            description: Differential code of the Pricing Schema applied by Mercado Pago.
                          deduction_schema:
                            type: string
                            format: nullable
                            description: Pricing Schema applied by Mercado Pago.
                          transaction_details:
                            type: object
                            properties:
                              net_received_amount:
                                type: number
                                example: 250
                                description: Net amount received
                              total_paid_amount:
                                type: number
                                example: 250
                                description: Total amount charged to the payer
                              overpaid_amount:
                                type: number
                                example: 0
                                description: Overpaid amount
                              external_resource_url:
                                type: string
                                format: nullable
                                description: External resource url
                              installment_amount:
                                type: number
                                example: 250
                                description: Amount of the chosen financing fee.
                              financial_institution:
                                type: string
                                format: nullable
                                description: Financial institution
                              payment_method_reference_id:
                                type: string
                                format: nullable
                                description: Unique identifier of the payment method
                              payable_deferral_period:
                                type: string
                                format: nullable
                                description: Payment deferral period
                              acquirer_reference:
                                type: string
                                format: nullable
                                description: Acquirer reference
                            description: Transaction details
                          captured:
                            type: boolean
                            description: Indicates if the payment amount was captured or is pending capture.
                          binary_mode:
                            type: boolean
                            description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                          call_for_authorize_id:
                            type: string
                            format: nullable
                            description: Identifier that is provided to the issuing bank so that payments can be authorized.
                          statement_descriptor:
                            type: string
                            format: nullable
                            description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                          installments:
                            type: number
                            example: 1
                            description: Number of installments selected.
                          card:
                            type: object
                            description: Card ID.
                          notification_url:
                            type: string
                            format: nullable
                            description: Notifications URL available to receive notifications of events related to Payment.
                          processing_mode:
                            type: string
                            format: nullable
                            description: Processing mode. There are two types.
                            enum:
                              - Aggregator -- The merchant will use the Mercado Pago merchant codes and will take advantage of the financial advantages that we offer.
                              - Gateway -- For the merchant it is necessary to have their own merchant codes for online sales and to have an agreement with each of the desired means of payment.
                          merchant_account_id:
                            type: string
                            format: nullable
                            description: Merchant account ID. Applies to gateway model.
                          acquirer:
                            type: string
                            format: nullable
                            description: Acquirer.
                          merchant_number:
                            type: string
                            format: nullable
                            description: Merchant number (Applies to gateway model).
                      description: Search results
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 1--Params-Error-
                      - 3--Token-must-be-for-test-
[...]
