openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /v1/payments:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Create payment
      x-summary-i18n:
        eng: Create payment
        spa: Crear pago
        por: Criar pagamento
      description: Create a payment and add all the information you need. Remember to add the payment details and the payer's information
      x-description-i18n:
        eng: Create a payment and add all the information you need. Remember to add the payment details and the payer's information
        spa: Realiza la creación de un pago y agrega toda la información que necesites. Ten en cuenta de sumar el detalle del pago y los datos del pagador
        por: Crie um pagamento e acrescente todas as informações que você precisa. Certifique-se de acrescentar os detalhes do pagamento e os detalhes do cliente
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                additional_info:
                  type: object
                  description: 
                    Data that could improve fraud analysis and conversion rates.
                    Try to send as much information as possible.
                  properties:
                    ip_address:
                      type: string
                      description: 
                        IP from where the request comes from (only for bank
                        transfers).
                    items:
                      type: array
                      description: List of items to be paid.
                      x-description-i18n:
                        eng: List of items to be paid.
                        spa: Lista de ítems a pagar
                        por: Lista de itens a pagar
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Item code.
                            x-description-i18n:
                              eng: Item code.
                              spa: Código de ítem
                              por: Código de anúncio
                            example: PR0001
                          title:
                            type: string
                            description: Item name.
                            x-description-i18n:
                              eng: Item name.
                              spa: Nombre de ítem
                              por: Nome do item
                            example: Point Mini
                          description:
                            type: string
                            description: Long item description.
                            x-description-i18n:
                              eng: Long item description.
                              spa: Descripción de item
                              por: Descrição do artigo
                            example: Producto Point para cobros con tarjetas mediante bluetooth
                          picture_url:
                            type: string
                            description: Image URL.
                            x-description-i18n:
                              eng: Image URL.
                              spa: URL de imagen
                              por: URL da imagem
                            example: https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png
                          category_id:
                            type: string
                            description: Category of the item.
                            x-description-i18n:
                              eng: Category of the item.
                              spa: Categoría del ítem
                              por: Categoria do item
                            example: electronics
                          quantity:
                            type: number
                            description: Item quantity.
                            x-description-i18n:
                              eng: Item quantity.
                              spa: Cantidad de producto
                              por: Quantidade do produto
                            example: 1
                          unit_price:
                            type: number
                            description: Unit price.
                            example: 58.8
                    payer:
                      type: object
                      description: Buyer's information.
                      x-description-i18n:
                        eng: Buyer's information.
                        spa: Información del comprador
                        por: Informação do comprador
                      properties:
                        first_name:
                          type: string
                          description: Buyer's name.
                          x-description-i18n:
                            eng: Buyer's name.
                            spa: Nombre del comprador
                            por: Nome do comprador
                          example: Test
                        last_name:
                          type: string
                          description: Buyer's last name.
                          x-description-i18n:
                            eng: Buyer's last name.
                            spa: Apellido del comprador
                            por: Apelido do comprador
                          example: Test
                        phone:
                          type: object
                          description: Buyer's phone.
                          x-description-i18n:
                            eng: Buyer's phone.
                            spa: Teléfono del comprador
                            por: Telefone do comprador
                          properties:
                            area_code:
                              type: string
                              description: Area code.
                              x-description-i18n:
                                eng: Area code.
                                spa: Código de área
                                por: Código de área
                              example: 11
                            number:
                              type: string
                              description: Phone number.
                              x-description-i18n:
                                eng: Phone number.
                                spa: Número telefónico
                                por: Número de telefone
                              example: '987654321'
                        address:
                          type: object
                          description: Address.
                          x-description-i18n:
                            eng: Address.
                            spa: Dirección
                            por: Endereço
                          properties:
                            zip_code:
                              type: string
                              description: Zip code.
                              x-description-i18n:
                                eng: Zip code.
                                spa: Código postal
                                por: Código postal
                            street_name:
                              type: string
                              description: Street name.
                              x-description-i18n:
                                eng: Street name.
                                spa: Calle
                                por: Rua
                            street_number:
                              type: number
                              description: Number.
                              x-description-i18n:
                                eng: Number.
                                spa: Número
                                por: Número
                        registration_date:
                          type: string
                          format: date
                          description: Date of registration of the buyer on your site.
                          x-description-i18n:
                            eng: Date of registration of the buyer on your site.
                            spa: Fecha de registración del comprador en tu sitio
                            por: Data de cadastro do comprador em seu site
                    shipments:
                      type: object
                      description: Shipping information.
                      x-description-i18n:
                        eng: Shipping information.
                        spa: Información de envío
                        por: Informações de envio
                      properties:
                        receiver_address:
                          type: object
                          description: Buyer's address.
                          x-description-i18n:
                            eng: Buyer's address.
                            spa: Dirección del comprador
                            por: Endereço do comprador
                          properties:
                            zip_code:
                              type: string
                              description: Zip code.
                              x-description-i18n:
                                eng: Zip code.
                                spa: Código postal
                                por: Código postal
                              example: 12312-123
                            state_name:
                              type: string
                              description: State.
                              x-description-i18n:
                                eng: State.
                                spa: Provincia
                                por: Província
                              example: Rio de Janeiro
                            city_name:
                              type: string
                              description: City Name.
                              x-description-i18n:
                                eng: City Name.
                                spa: Ciudad
                                por: Cidade
                              example: Buzios
                            street_name:
                              type: string
                              description: Street name.
                              x-description-i18n:
                                eng: Street name.
                                spa: Calle
                                por: Rua
                              example: Av das Nacoes Unidas
                            street_number:
                              type: number
                              description: Number.
                              x-description-i18n:
                                eng: Number.
                                spa: Número
                                por: Número
                              example: 3003
                            floor:
                              type: string
                              description: Floor.
                              x-description-i18n:
                                eng: Floor.
                                spa: Piso
                                por: Apartamento
                            apartment:
                              type: string
                              description: Department.
                              x-description-i18n:
                                eng: Department.
                                spa: Departmento
                                por: Departamento
                    barcode:
                      type: object
                      description: Barcode information.
                      x-description-i18n:
                        eng: Barcode information.
                        spa: Información de código de barra
                        por: Informação de código de barra
                      properties:
                        type:
                          $ref: '#/components/schemas/barcode_type'
                        content:
                          type: string
                          description: Barcode generated.
                          x-description-i18n:
                            eng: Barcode generated.
                            spa: Código de barras generado
                            por: Código de barras gerado
                        width:
                          type: number
                          description: Width of barcode.
                          x-description-i18n:
                            eng: Width of barcode.
                            spa: Ancho del código de barras
                            por: Largura do código de barras
                        height:
                          type: number
                          description: Height of barcode.
                          x-description-i18n:
                            eng: Height of barcode.
                            spa: Altura del código de barras
                            por: Altura do código de barras
                application_fee:
                  type: number
                  description: Fee collected by a marketplace or Mercado Pago Application.
                  x-description-i18n:
                    eng: Fee collected by a marketplace or Mercado Pago Application.
                    spa: Comisión recolectada por el marketplace o por Mercado Pago
                    por: Comissão coletadas pelo mercado ou pelo Mercado Pago
                binary_mode:
                  type: boolean
                  description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                  x-description-i18n:
                    eng: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                    spa: Cuando se configura como TRUE los pagos sólo pueden resultar aprobados o rechazados. Caso contrario también pueden resultar in_process.
                    por: Quando definido como TRUE, os pagamentos só podem ser aprovados ou rejeitados. Caso contrário, eles também podem resultar in_process.
                callback_url:
                  type: string
                  description: 
                    URL where mercadopago does the final redirect (only for bank
                    transfers).
                campaign_id:
                  type: number
                  description: Discount campaign ID.
                  x-description-i18n:
                    eng: Discount campaign ID.
                    spa: Identificador de la campaña de descuento
                    por: Identificador da campanha de desconto
                capture:
                  type: boolean
                  description: 
                    Determines if the payment should be captured (true, default
                    value) or just reserved (false).
                coupon_amount:
                  type: number
                  description: Amount of the coupon discount.
                  x-description-i18n:
                    eng: Amount of the coupon discount.
                    spa: Monto del cupón de descuento
                    por: Valor do cupom de desconto
                coupon_code:
                  type: string
                  description: Discount campaign with a specific code.
                  x-description-i18n:
                    eng: Discount campaign with a specific code.
                    spa: Campaña de descuento con un código específico
                    por: Campanha de desconto com um código específico
                description:
                  type: string
                  description: Payment reason or item title.
                  x-description-i18n:
                    eng: Payment reason or item title.
                    spa: Razón de pago o título de ítem
                    por: Razão de pagamento ou título do item
                  example: Payment for product
                differential_pricing_id:
                  type: number
                  description: Id of the scheme for the absorption of financing fee.
                  x-description-i18n:
                    eng: Id of the scheme for the absorption of financing fee.
                    spa: Identificador del esquema de absorción del costo financiero
                    por: Id do esquema de absorção do custo financeiro
                date_of_expiration:
                  type: string
                  format: date
                  description: Payment´s expiration date.
                external_reference:
                  type: string
                  description: ID given by the merchant in their system.
                  x-description-i18n:
                    eng: ID given by the merchant in their system.
                    spa: Identificador provisto por el vendedor en su sistema
                    por: Identificação fornecida pelo vendedor em seu sistema
                  example: MP0001
                installments:
                  type: number
                  description: Number of installments selected.
                  x-description-i18n:
                    eng: Number of installments selected.
                    spa: Cantidad seleccionada de cuotas
                    por: Número de parcelas selecionado
                  example: 1
                issuer_id:
                  type: string
                  description: Payment method issuer.
                  x-description-i18n:
                    eng: Payment method issuer.
                    spa: Identificador del emisor del medio de pago
                    por: Id do emitente do meio de pagamento
                metadata:
                  type: object
                  description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                  x-description-i18n:
                    eng: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                    spa: En el objeto metadata se muestra (en caso de ser utilizado en la integración) el JSON enviado por el cliente con información complementaria que necesite mantener registrada en el pago.
                    por: O objeto de metadata mostra (se usado na integração) o JSON enviado pelo cliente com informações adicionais que precisam ser registradas no pagamento.
                notification_url:
                  type: string
                  description: Notifications URL available to receive notifications of events related to Payment.
                  x-description-i18n:
                    eng: Notifications URL available to receive notifications of events related to Payment.
                    spa: URL de Notificaciones disponibilizada para recibir las notificaciones de los eventos relacionados al Pago.
                    por: URL de notificações disponível para receber notificações de eventos relacionados ao Pagamento.
                payer:
                  type: object
                  description: Identifies the buyer.
                  x-description-i18n:
                    eng: Identifies the buyer.
                    spa: Identificador del pagador
                    por: Id do pagador
                  properties:
                    entity_type:
                      $ref: '#/components/schemas/entity_type'
                    type:
                      $ref: '#/components/schemas/payer_type'
                    id:
                      type: string
                      description: Identification of the associated payer.
                      x-description-i18n:
                        eng: Identification of the associated payer.
                        spa: Identificación del pagador asociado
                        por: Identificação do pagador associado
                    email:
                      type: string
                      description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                    identification:
                      type: object
                      description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                      properties:
                        type:
                          type: string
                          description: Identification type.
                          x-description-i18n:
                            eng: Identification type.
                            spa: Tipo de identificación
                            por: Tipo de identificação
                        number:
                          type: string
                          description: Identification number.
                          x-description-i18n:
                            eng: Identification number.
                            spa: Número de identificación
                            por: Número de identificação
                    first_name:
                      type: string
                      description: First name of the associated payer.
                      x-description-i18n:
                        eng: First name of the associated payer.
                        spa: Nombre del pagador asociado
                        por: Nome do pagador associado
                    last_name:
                      type: string
                      description: Last name of the associated payer.
                      x-description-i18n:
                        eng: Last name of the associated payer.
                        spa: Apellido del pagador asociado
                        por: Sobrenome do pagante associado
                payment_method_id:
                  type: string
                  description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                  x-description-i18n:
                    eng: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                    spa: Identificador del medio de pago. Indica el ID del medio de pago seleccionado para realizar el pago.
                    por: Id do meio de pagamento. Indica o ID do meio de pagamento selecionado para efetuar o pagamento.
                  example: visa
                statement_descriptor:
                  type: string
                  description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                  x-description-i18n:
                    eng: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                    spa: Descripción con la que aparecerá el pago en el resumen de tarjeta (ej. MERCADOPAGO)
                    por: Descrição com a qual o pagamento aparecerá no resumo do cartão (ex. MERCADOPAGO)
                token:
                  type: string
                  description: Card token ID. (Required for credit card)
                  x-description-i18n:
                    eng: Card token ID. (Required for credit card)
                    spa: Identificador de card token. (Obligatorio para tarjeta de crédito)
                    por: Identificador de token card. (Obrigatório para cartão de crédito)
                transaction_amount:
                  type: number
                  description: Product cost.
                  x-description-i18n:
                    eng: Product cost.
                    spa: Costo del producto
                    por: Custo do produto
                  example: 58.8
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 20359978
                    description: Unique Payment Identifier, automatically generated by Mercado Pago
                    x-description-i18n:
                      eng: Unique Payment Identifier, automatically generated by Mercado Pago
                      spa: Identificador único del pago, generado automáticamente por Mercado Pago
                      por: Identificador único de pagamento, gerado automaticamente pelo Mercado Pago
                  date_created:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment creation date.
                    x-description-i18n:
                      eng: Payment creation date.
                      spa: Fecha de creación del Pago.
                      por: Data de criação do pagamento.
                  date_approved:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                    x-description-i18n:
                      eng: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                      spa: Fecha de aprobación del Pago. Un pago puede generarse en un estado intermedio y luego ser aprobado, por tanto la fecha de creación no siempre coincidirá con la Fecha de Aprobación.
                      por: Data de aprovação do pagamento. Um pagamento pode ser gerado em um estado intermediário e depois aprovado, portanto, a data de criação nem sempre coincidirá com a Data de Aprovação.
                  date_last_updated:
                    type: string
                    example: 2019-07-10T14:47:58.000Z
                    description: Date on which the last payment event was recorded.
                    x-description-i18n:
                      eng: Date on which the last payment event was recorded.
                      spa: Fecha en la que se registró el ultimo evento sobre el pago.
                      por: Data em que o último evento de pagamento foi registrado.
                  date_of_expiration:
                    type: string
                    format: nullable
                    description: Deadline to make the Payment through an off payment method (in cash)
                    x-description-i18n:
                      eng: Deadline to make the Payment through an off payment method (in cash)
                      spa: Fecha límite para realizar el Pago a través de un medio de pago off (en efectivo)
                      por: Prazo para efetuar o Pagamento através de um método de pagamento à vista (em dinheiro)
                  money_release_date:
                    type: string
                    example: 2019-07-24T14:47:58.000Z
                    description: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                    x-description-i18n:
                      eng: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                      spa: Fecha en la que el pago se encuentra liquidado (disponible) en la cuenta de Mercado Pago del Collector
                      por: Data em que o pagamento é liquidado (disponível) na conta Mercado Pago do Collector
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  issuer_id:
                    type: string
                    example: 25
                    description: Identifier of the issuer of the payment method.
                    x-description-i18n:
                      eng: Identifier of the issuer of the payment method.
                      spa: Identificador del emisor del medio de pago
                      por: Identificador do emissor do meio de pagamento
                  payment_method_id:
                    type: string
                    example: visa
                    description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                    x-description-i18n:
                      eng: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                      spa: Identificador del medio de pago. Indica el ID del medio de pago seleccionado para realizar el pago.
                      por: Id do meio de pagamento. Indica o ID do meio de pagamento selecionado para efetuar o pagamento.
                  payment_type_id:
                    $ref: '#/components/schemas/payment_type_id'
                  status:
                   $ref: '#/components/schemas/status'
                  status_detail:
                    type: string
                    example: accredited
                    description: Detail in which the Collection resulted
                    x-description-i18n:
                      eng: Detail in which the Collection resulted
                      spa: Detalle en el que resultó el Cobro
                      por: Detalhe em que resultou a Coleção
                    enum:
                      - Accredited -- credited payment.
                      - pending_contingency -- the payment is being processed.
                      - pending_review_manual -- the payment is under review to determine its approval or rejection.
                      - cc_rejected_bad_filled_date -- incorrect expiration date.
                      - cc_rejected_bad_filled_other -- incorrect card details.
                      - cc_rejected_bad_filled_security_code -- incorrect CVV.
                      - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                      - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                      - cc_rejected_card_disabled -- the card is inactive.
                      - cc_rejected_duplicated_payment -- transacción duplicada.
                      - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                      - cc_rejected_insufficient_amount -- insufficient amount.
                      - cc_rejected_invalid_installments -- invalid number of installments.
                      - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                      - cc_rejected_other_reason -- generic error.
                  currency_id:
                    $ref: '#/components/schemas/currency_id'
                  description:
                    type: string
                    example: 
                      Point Mini a maquininha que dá o dinheiro de suas vendas
                      na hora
                    description: Description sent in the payment creation request.
                    x-description-i18n:
                      eng: Description sent in the payment creation request.
                      spa: Descripción enviada en la solicitud de creación del Pago.
                      por: Descrição enviada na solicitação de criação de pagamento.
                  live_mode:
                    type: boolean
                    description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                    x-description-i18n:
                      eng: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                      spa: Indica si el Pago se realizó en ambiente productivo o en un ambiente de Test. Si es TRUE, el contracargo se procesará en modo de producción. Si es FALSE, el contracargo se procesará en modo sandbox.
                      por: Indica se o Pagamento foi feito em ambiente de produção ou em ambiente de Teste. Se TRUE, o estorno será processado em modo de produção. Se FALSE, o estorno será processado no modo sandbox.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                    x-description-i18n:
                      eng: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                      spa: Identificador de la cuenta de Mercado Pago del Partner. Se utiliza para identificar si la integración fue realizada por algún partner.
                      por: Identificador da conta Mercado Pago do Partnet. É usado para identificar se a integração foi realizada por um partner.
                  authorization_code:
                    type: string
                    format: nullable
                    description: Transaction authorization code.
                    x-description-i18n:
                      eng: Transaction authorization code.
                      spa: Código de autorización de la transacción.
                      por: Código de autorização de transação.
                  money_release_schema:
                    type: string
                    format: nullable
                    description: Money release schema
                    x-description-i18n:
                      eng: Money release schema
                      spa: Esquema de liberación de dinero
                      por: Esquema de liberação de dinheiro
                  taxes_amount:
                    type: number
                    example: 0
                    description: Corresponds to the tax values ​​calculated for the payment.
                    x-description-i18n:
                      eng: Corresponds to the tax values ​​calculated for the payment.
                      spa: Corresponde a los valores de impuestos calculados para el pago.
                      por: Corresponde aos valores dos impostos calculados para o pagamento.
                  counter_currency:
                    type: string
                    format: nullable
                    description: Information related to dollar values ​​for CBT (Cross Border Trade) payments.
                  shipping_amount:
                    type: number
                    example: 0
                    description: Shipping amount
                    x-description-i18n:
                      eng: Shipping amount
                      spa: Valor de envío
                      por: Valor de envio
                  pos_id:
                    type: string
                    format: nullable
                    description: POS identifier
                    x-description-i18n:
                      eng: POS identifier
                      spa: Identificador de POS
                      por: Identificador de POS
                  store_id:
                    type: string
                    format: nullable
                    description: Store identifier to which the point of sale belongs.
                    x-description-i18n:
                      eng: Store identifier to which the point of sale belongs.
                      spa: Identificador de la sucursal a la que pertenece el Punto de Venta
                      por: Identificador da loja à qual o caixa pertence
                  collector_id:
                    type: number
                    example: 448876418
                    description: Identifier of the collecting Mercado Pago account
                    x-description-i18n:
                      eng: Identifier of the collecting Mercado Pago account
                      spa: Identificador de la cuenta de Mercado Pago recaudadora
                      por: Identificador da conta coletora do Mercado Pago
                  payer:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        example: 123
                        description: Payer identifier generated by Mercado Pago.
                        x-description-i18n:
                          eng: Payer identifier generated by Mercado Pago.
                          spa: Identificador del Payer generado por Mercado Pago.
                          por: Identificador de pagador gerado pelo Mercado Pago.
                      email:
                        type: string
                        example: test_user_80507629@testuser.com
                        description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                      identification:
                        type: object
                        properties:
                          number:
                            type: string
                            example: 19119119100
                            description: Identification number.
                            x-description-i18n:
                              eng: Identification number.
                              spa: Número de identificación
                              por: Número de identificação
                          type:
                            type: string
                            example: CPF
                            description: Identification type.
                            x-description-i18n:
                              eng: Identification type.
                              spa: Tipo de identificación
                              por: Tipo de identificação
                        description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                      type:
                        $ref: '#/components/schemas/payer_type'
                    description: Payer data - ID (identifying number), email address, identification (type and number of id)
                    x-description-i18n:
                      eng: Payer data - ID (identifying number), email address, identification (type and number of id)
                      spa: Datos del pagador - ID (número identificador), dirección de email, identificación (tipo y número de documento)
                      por: Dados do pagador - ID (número de identificação), e-mail, identificação (tipo e número de documento)
                  metadata:
                    type: object
                    description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                    x-description-i18n:
                      eng: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                      spa: En el objeto metadata se muestra (en caso de ser utilizado en la integración) el JSON enviado por el cliente con información complementaria que necesite mantener registrada en el pago.
                      por: O objeto de metadata mostra (se usado na integração) o JSON enviado pelo cliente com informações adicionais que precisam ser registradas no pagamento.
                  additional_info:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: PR0001
                              description: Item code.
                              x-description-i18n:
                                eng: Item code.
                                spa: Código de ítem
                                por: Código de anúncio
                            title:
                              type: string
                              example: Point Mini
                              description: Item name.
                              x-description-i18n:
                                eng: Item name.
                                spa: Nombre de ítem
                                por: Nome do item
                            description:
                              type: string
                              example: 
                                Producto Point para cobros con tarjetas mediante
                                bluetooth
                              description: Long item description.
                              x-description-i18n:
                                eng: Long item description.
                                spa: Descripción de item
                                por: Descrição do artigo
                            picture_url:
                              type: string
                              example: 
                                https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png
                              description: Image URL.
                              x-description-i18n:
                                eng: Image URL.
                                spa: URL de imagen
                                por: URL da imagem
                            category_id:
                              type: string
                              example: electronics
                              description: Category of the item.
                              x-description-i18n:
                                eng: Category of the item.
                                spa: Categoría del ítem
                                por: Categoria do item
                            quantity:
                              type: number
                              example: 1
                              description: Item quantity.
                              x-description-i18n:
                                eng: Item quantity.
                                spa: Cantidad de producto
                                por: Quantidade do produto
                            unit_price:
                              type: number
                              example: 58.8
                              description: Unit price.
                        description: List of items to be paid.
                        x-description-i18n:
                          eng: List of items to be paid.
                          spa: Lista de ítems a pagar
                          por: Lista de itens a pagar
                      payer:
                        type: object
                        properties:
                          registration_date:
                            type: string
                            example: 2019-01-01T15:01:01.000Z
                            description: Date of registration of the buyer on your site.
                            x-description-i18n:
                              eng: Date of registration of the buyer on your site.
                              spa: Fecha de registración del comprador en tu sitio
                              por: Data de cadastro do comprador em seu site
                        description: Payer details.
                        x-description-i18n:
                          eng: Payer details.
                          spa: Detalles del pagador.
                          por: Detalhes do pagador.
                      shipments:
                        type: object
                        properties:
                          receiver_address:
                            type: object
                            properties:
                              street_name:
                                type: string
                                example: Av das Nacoes Unidas
                                description: Street name.
                                x-description-i18n:
                                  eng: Street name.
                                  spa: Calle
                                  por: Rua
                              street_number:
                                type: number
                                example: 3003
                                description: Number.
                                x-description-i18n:
                                  eng: Number.
                                  spa: Número
                                  por: Número
                              zip_code:
                                type: string
                                example: 6233200
                                description: Zip code.
                                x-description-i18n:
                                  eng: Zip code.
                                  spa: Código postal
                                  por: Código postal
                              city_name:
                                type: string
                                example: Buzios
                                description: City Name.
                                x-description-i18n:
                                  eng: City Name.
                                  spa: Ciudad
                                  por: Cidade
                              state_name:
                                type: string
                                example: Rio de Janeiro
                                description: State.
                                x-description-i18n:
                                  eng: State.
                                  spa: Provincia
                                  por: Província
                            description: Buyer's address.
                            x-description-i18n:
                              eng: Buyer's address.
                              spa: Dirección del comprador
                              por: Endereço do comprador
                        description: Shipping information.
                        x-description-i18n:
                          eng: Shipping information.
                          spa: Información de envío
                          por: Informações de envio
                    description: Additional information.
                    x-description-i18n:
                      eng: Additional information.
                      spa: Información adicional
                      por: Informações adicionais
                  external_reference:
                    type: string
                    example: MP0001
                    description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                    x-description-i18n:
                      eng: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                      spa: Identificador único que envía el vendedor para relacionar el payment_id generado por mercado pago, con el ID de tu sistema.
                      por: Identificador único enviado pelo vendedor para relacionar o payment_id gerado pelo Mercado Pago com o ID de seu sistema.
                  transaction_amount:
                    type: number
                    example: 58.8
                    description: Transaction amount
                    x-description-i18n:
                      eng: Transaction amount
                      spa: Monto de la transacción
                      por: Valor da transação
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                    x-description-i18n:
                      eng: Transaction amount refunded
                      spa: Monto reembolsado de transacción
                      por: Valor reembolsado da transação
                  coupon_amount:
                    type: number
                    example: 0
                    description: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                    x-description-i18n:
                      eng: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                      spa: Cupón a favor del payer. De existir, es descontado del total a pagar.
                      por: Cupom a favor do pagador. Se existir, é deduzido do total a pagar.
                  differential_pricing_id:
                    type: string
                    format: nullable
                    description: Differential code of the Pricing Schema applied by Mercado Pago.
                    x-description-i18n:
                      eng: Differential code of the Pricing Schema applied by Mercado Pago.
                      spa: Código diferencial del Schema de Pricing aplicado por Mercado Pago.
                      por: Código diferencial do Schema de Pricing aplicado pelo Mercado Pago.
                  deduction_schema:
                    type: string
                    format: nullable
                    description: Pricing Schema applied by Mercado Pago.
                    x-description-i18n:
                      eng: Pricing Schema applied by Mercado Pago.
                      spa: Schema de Pricing aplicado por Mercado Pago.
                      por: Schema de Pricing aplicado pelo Mercado Pago.
                  transaction_details:
                    type: object
                    properties:
                      payment_method_reference_id:
                        type: string
                        format: nullable
                        description: Unique identifier of the payment method
                        x-description-i18n:
                          eng: Unique identifier of the payment method
                          spa: Identificador único del método de pago
                          por: Identificador único do meio de pagamento
                      net_received_amount:
                        type: number
                        example: 56.16
                        description: Net amount received
                        x-description-i18n:
                          eng: Net amount received
                          spa: Monto neto recibido
                          por: Valor líquido recebido
                      total_paid_amount:
                        type: number
                        example: 58.8
                        description: Total amount charged to the payer
                        x-description-i18n:
                          eng: Total amount charged to the payer
                          spa: Monto total cobrado al payer
                          por: Valor total cobrado ao pagador
                      overpaid_amount:
                        type: number
                        example: 0
                        description: Overpaid amount
                        x-description-i18n:
                          eng: Overpaid amount
                          spa: Monto pagado en exceso
                          por: Valor pago a mais
                      external_resource_url:
                        type: string
                        format: nullable
                        description: External resource url
                        x-description-i18n:
                          eng: External resource url
                          spa: URL de recurso externo
                          por: URL de recurso externo
                      installment_amount:
                        type: number
                        example: 58.8
                        description: Amount of the chosen financing fee.
                        x-description-i18n:
                          eng: Amount of the chosen financing fee.
                          spa: Monto de la cuota de financiación elegida.
                          por: Valor da taxa de financiamento escolhida.
                      financial_institution:
                        type: string
                        format: nullable
                        description: Financial institution
                        x-description-i18n:
                          eng: Financial institution
                          spa: Institución financiera
                          por: Instituição financeira
                      payable_deferral_period:
                        type: string
                        format: nullable
                        description: Payment deferral period
                        x-description-i18n:
                          eng: Payment deferral period
                          spa: Período de diferimiento del pago
                          por: Período de diferimento de pagamento
                      acquirer_reference:
                        type: string
                        format: nullable
                        description: Acquirer reference
                        x-description-i18n:
                          eng: Acquirer reference
                          spa: Referencia de adquirente
                          por: Referência do adquirente
                    description: Transaction details
                    x-description-i18n:
                      eng: Transaction details
                      spa: Detalles de la transacción
                      por: Detalhes da transação
                  fee_details:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          $ref: '#/components/schemas/fee_details_type'
                        amount:
                          type: number
                          example: 2.64
                          description: Fee amount.
                          x-description-i18n:
                            eng: Fee amount.
                            spa: Monto de la comisión
                            por: Valor da comissão
                        fee_payer:
                          $ref: '#/components/schemas/fee_payer'
                    description: Fee detail.
                    x-description-i18n:
                      eng: Fee detail.
                      spa: Detalle de comisión
                      por: Detalhe de comissão
                  captured:
                    type: boolean
                    description: Indicates if the payment amount was captured or is pending capture.
                    x-description-i18n:
                      eng: Indicates if the payment amount was captured or is pending capture.
                      spa: Indica si el monto del pago fue capturado o se encuentra pendiente de captura.
                      por: Indica se o valor do pagamento foi capturado ou está com captura pendente.
                  binary_mode:
                    type: boolean
                    description: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                    x-description-i18n:
                      eng: When set to TRUE, payments can only be approved or rejected. Otherwise they can also result in_process.
                      spa: Cuando se configura como TRUE los pagos sólo pueden resultar aprobados o rechazados. Caso contrario también pueden resultar in_process.
                      por: Quando definido como TRUE, os pagamentos só podem ser aprovados ou rejeitados. Caso contrário, eles também podem resultar in_process.
                  call_for_authorize_id:
                    type: string
                    format: nullable
                    description: Identifier that is provided to the issuing bank so that payments can be authorized.
                    x-description-i18n:
                      eng: Identifier that is provided to the issuing bank so that payments can be authorized.
                      spa: Identificador que se proporciona al banco emisor para que se pueda autorizar los pagos.
                      por: Identificador que é fornecido ao banco emissor para que os pagamentos possam ser autorizados.
                  statement_descriptor:
                    type: string
                    example: MercadoPago
                    description: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                    x-description-i18n:
                      eng: Description that the payment will appear with in the card statement (eg MERCADOPAGO)
                      spa: Descripción con la que aparecerá el pago en el resumen de tarjeta (ej. MERCADOPAGO)
                      por: Descrição com a qual o pagamento aparecerá no resumo do cartão (ex. MERCADOPAGO)
                  installments:
                    type: number
                    example: 1
                    description: Number of installments selected.
                    x-description-i18n:
                      eng: Number of installments selected.
                      spa: Cantidad seleccionada de cuotas
                      por: Número de parcelas selecionado
                  card:
                    type: object
                    properties:
                      id:
                        type: string
                        format: nullable
                        description: Card ID.
                        x-description-i18n:
                          eng: Card ID.
                          spa: Identificador de tarjeta
                          por: Identificador de cartão
                      first_six_digits:
                        type: string
                        example: 423564
                        description: Card Bin
                        x-description-i18n:
                          eng: Card Bin
                          spa: Bin de la tarjeta
                          por: Bin do cartão
                      last_four_digits:
                        type: string
                        example: 5682
                        description: last 4 digits of the card
                        x-description-i18n:
                          eng: last 4 digits of the card
                          spa: últimos 4 digitos de la tarjeta
                          por: últimos 4 dígitos do cartão
                      expiration_month:
                        type: number
                        example: 6
                        description: Card's expiration month.
                        x-description-i18n:
                          eng: Card's expiration month.
                          spa: Mes de expiración de la tarjeta
                          por: Mês de validade do cartão
                      expiration_year:
                        type: number
                        example: 2023
                        description: Card's expiration year.
                        x-description-i18n:
                          eng: Card's expiration year.
                          spa: Año de expiración de la tarjeta
                          por: Ano de validade do cartão
                      date_created:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Card registration date.
                        x-description-i18n:
                          eng: Card registration date.
                          spa: Fecha de registro de la tarjeta.
                          por: Data de registro do cartão.
                      date_last_updated:
                        type: string
                        example: 2019-07-10T14:47:58.000Z
                        description: Date on which the last payment event was recorded.
                        x-description-i18n:
                          eng: Date on which the last payment event was recorded.
                          spa: Fecha en la que se registró el ultimo evento sobre el pago.
                          por: Data em que o último evento de pagamento foi registrado.
                      cardholder:
                        type: object
                        properties:
                          name:
                            type: string
                            example: APRO
                            description: name
                          identification:
                            type: object
                            properties:
                              number:
                                type: string
                                example: 19119119100
                                description: Identification number.
                                x-description-i18n:
                                  eng: Identification number.
                                  spa: Número de identificación
                                  por: Número de identificação
                              type:
                                type: string
                                example: CPF
                                description: Identification type.
                                x-description-i18n:
                                  eng: Identification type.
                                  spa: Tipo de identificación
                                  por: Tipo de identificação
                            description: Personal identification. 
                        description: Cardholder details.
                        x-description-i18n:
                          eng: Cardholder details.
                          spa: Detalles del titular de la tarjeta.
                          por: Detalhes do titular do cartão.
                    description: Card details.
                    x-description-i18n:
                      eng: Card details.
                      spa: Detalles de la tarjeta.
                      por: Informações do cartão.
                  notification_url:
                    type: string
                    example: https://www.suaurl.com/notificacoes/
                    description: Notifications URL available to receive notifications of events related to Payment.
                    x-description-i18n:
                      eng: Notifications URL available to receive notifications of events related to Payment.
                      spa: URL de Notificaciones disponibilizada para recibir las notificaciones de los eventos relacionados al Pago.
                      por: URL de notificações disponível para receber notificações de eventos relacionados ao Pagamento.
                  processing_mode:
                    type: string
                    example: aggregator
                    description: Processing mode. There are two types.
                    x-description-i18n:
                      eng: Processing mode. There are two types.
                      spa: Modo de procesamiento. Existen dos tipos.
                      por: Modo de processamento. Existem dois tipos.
                    enum:
                      - Aggregator -- The merchant will use the Mercado Pago merchant codes and will take advantage of the financial advantages that we offer.
                      - Gateway -- For the merchant it is necessary to have their own merchant codes for online sales and to have an agreement with each of the desired means of payment.
                  merchant_account_id:
                    type: string
                    format: nullable
                    description: Merchant account ID. Applies to gateway model.
                    x-description-i18n:
                      eng: Merchant account ID. Applies to gateway model.
                      spa: ID del código de comercio (merchant account ID). Aplica para modelo gateway.
                      por: ID do código do comerciante (Mmerchant account ID). Aplica-se ao modelo de gateway.
                  acquirer:
                    type: string
                    format: nullable
                    description: Acquirer.
                    x-description-i18n:
                      eng: Acquirer.
                      spa: Adquirente.
                      por: Adquirente.
                  merchant_number:
                    type: string
                    format: nullable
                    description: Merchant number (Applies to gateway model).
                    x-description-i18n:
                      eng: Merchant number (Applies to gateway model).
                      spa: Número de comercio (Aplica para modelo gateway).
                      por: Número da loja (aplica-se ao modelo de gateway).
                  point_of_interaction:
                    type: object
                    properties:
                      type:
                        type: string
                        example: PIX
                        description: Payment type identifier
                        x-description-i18n:
                          eng: Payment type identifier
                          spa: Identificador del tipo de pago
                          por: Identificador do tipo de pagamento
                      sub_type:
                        type: string
                        description: Secondary identifier of the payment type
                        x-description-i18n:
                          eng: Secondary identifier of the payment type
                          spa: Identificador secundario del tipo de pago
                          por: Identificador secundário do tipo de pagamento
                      application_data:
                        type: object
                        properties:
                          name:
                            type: string
                            example: NAME_SDK
                            description: Application name
                            x-description-i18n:
                              eng: Application name
                              spa: Nombre de la aplicación
                              por: Nome da aplicação
                          version:
                            type: string
                            example: VERSION_NUMBER
                            description: Current version
                            x-description-i18n:
                              eng: Current version
                              spa: Versión actual de la aplicación
                              por: Versão atual da aplicação
                        description: Information about the application that processes the payment
                        x-description-i18n:
                          eng: Information about the application that processes the payment
                          spa: Información de la aplicación que procesa el pago
                          por: Informação da aplicação que processa o pagamento
                      transaction_data:
                        type: object
                        properties:
                          qr_code_base64:
                            type: string
                            example: iVBORw0KGgoAAAANSUhEUgAABRQAAAUUCAYAAACu5p7oAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3LiWQNFmI+Y/Zd6vRt36KGNXi7ZOBtcagHD4kNLeiLX33v8DAAAAABD879sDAAAAAAA/h6AIAAAAAGSCIgAAAACQCYoAAAAAQCYoAgAAAACZoAgAAAAAZIIiAAAAAJAJigAAAABAJigCAAAAAJmgCAAAAABkgiIAAAAAkAmKAAAAAEAmKAIAAAAAmaAIAAAAAGSCIgAAAACQCYoAAAAAQCYoAgAAAACZoAgAAAAAZIIiAAAAAJAJigAAAABAJigCA...
                            description: Base64 representation of the image of the QR code to be scanned to finalize the payment
                            x-description-i18n:
                              eng: Base64 representation of the image of the QR code to be scanned to finalize the payment
                              spa: Representación en base64 de la imagen del código QR a escanear para finalizar el pago
                              por: Representação em Base64 da imagem do código QR a ser digitalizado para finalização do pagamento
                          qr_code:
                            type: string
                            example: 00020126600014br.gov.bcb.pix0117test@testuser.com0217dados adicionais520400005303986540510.005802BR5913Maria Silva6008Brasilia62070503***6304E2CA
                            description: Alphanumeric code to copy and paste, used to finalize the payment
                            x-description-i18n:
                              eng: Alphanumeric code to copy and paste, used to finalize the payment
                              spa: Código alfanumérico para copiar y pegar, para finalizar el pago
                              por: Código alfanumérico para copiar e colar, para finalizar o pagamento
                          ticket_url:
                            type: string
                            example: https://www.mercadopago.com.br/payments/123456789/ticket?caller_id=123456&hash=123e4567-e89b-12d3-a456-426655440000
                            description: A link to the rendered pix, with QR codes and instructions to pay
                        description: Information on the pending payment that was generated
                        x-description-i18n:
                          eng: Information on the pending payment that was generated
                          spa: Información del pago pendiente que fue generado
                          por: Informação do pagamento pendente que foi gerado
                    description: Information from the application that processes the payment and receives regulatory data
                    x-description-i18n:
                      eng: Information from the application that processes the payment and receives regulatory data
                      spa: Información de la aplicación que procesa el pago y recibe datos regulatorios
                      por: Informação da aplicação que processa o pagamento e recebe dados regulatórios
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 1--Params Error.
                      - 3--Token must be for test.
                      - 5--Must provide your access_token to proceed.
                      - 23--The following parameters must be valid date and format (yyyy-MM-dd'T'HH:mm:ssz) date_of_expiration.
                      - 1000--Number of rows exceeded the limits.
                      - 1001--Date format must be yyyy-MM-dd'T'HH:mm:ss.SSSZ.
                      - 2001--Already posted the same request in the last minute.
                      - 2002--Customer not found.
                      - 2004--POST to Gateway Transactions API fail.
                      - 2006--Card Token not found.
                      - 2007--Connection to Card Token API fail.
                      - 2009--Card token issuer can't be null.
                      - 2060--The customer can't be equal to the collector.
                      - 3000--You must provide your cardholder_name with your card data.
                      - 3001--You must provide your cardissuer_id with your card data.
                      - 3003--Invalid card_token_id.
                      - 3004--Invalid parameter site_id.
                      - 3005--Not valid action, the resource is in a state that does not allow this operation. For more information see the state that has the resource.
                      - 3006--Invalid parameter cardtoken_id.
                      - 3007--The parameter client_id can not be null or empty.
                      - 3008--Not found Cardtoken.
                      - 3009--unauthorized client_id.
                      - 3010--Not found card on whitelist.
                      - 3011--Not found payment_method.
                      - 3012--Invalid parameter security_code_length.
                      - 3013--The parameter security_code is a required field can not be null or empty.
                      - 3014--Invalid parameter payment_method.
                      - 3015--Invalid parameter card_number_length.
                      - 3016--Invalid parameter card_number.
                      - 3017--The parameter card_number_id can not be null or empty.
                      - 3018--The parameter expiration_month can not be null or empty.
                      - 3019--The parameter expiration_year can not be null or empty.
                      - 3020--The parameter cardholder.name can not be null or empty.
                      - 3021--The parameter cardholder.document.number can not be null or empty.
                      - 3022--The parameter cardholder.document.type can not be null or empty.
                      - 3023--The parameter cardholder.document.subtype can not be null or empty.
                      - 3024--Not valid action - partial refund unsupported for this transaction.
                      - 3025--Invalid Auth Code.
                      - 3026--Invalid card_id for this payment_method_id.
                      - 3027--Invalid payment_type_id.
                      - 3028--Invalid payment_method_id.
                      - 3029--Invalid card expiration month.
                      - 3030--Invalid card expiration year.
                      - 4000--card atributte can't be null.
                      - 4001--payment_method_id atributte can't be null.
                      - 4002--transaction_amount atributte can't be null.
                      - 4003--transaction_amount atributte must be numeric.
                      - 4004--installments atributte can't be null.
                      - 4005--installments atributte must be numeric.
                      - 4006--payer atributte is malformed.
                      - 4007--site_id atributte can't be null.
                      - 4012--payer.id atributte can't be null.
                      - 4013--payer.type atributte can't be null.
                      - 4015--payment_method_reference_id atributte can't be null.
                      - 4016--payment_method_reference_id atributte must be numeric.
                      - 4017--status atributte can't be null.
                      - 4018--payment_id atributte can't be null.
                      - 4019--payment_id atributte must be numeric.
                      - 4020--notificaction_url atributte must be url valid.
                      - 4021--notificaction_url atributte must be shorter than 500 characters.
                      - 4022--metadata atributte must be a valid JSON.
                      - 4023--transaction_amount atributte can't be null.
                      - 4024--transaction_amount atributte must be numeric.
                      - 4025--refund_id can't be null.
                      - 4026--Invalid coupon_amount.
                      - 4027--campaign_id atributte must be numeric.
                      - 4028--coupon_amount atributte must be numeric.
                      - 4029--Invalid payer type.
                      - 4037--Invalid transaction_amount.
                      - 4038--application_fee cannot be bigger than transaction_amount.
                      - 4039--application_fee cannot be a negative value.
                      - 4050--payer.email must be a valid email.
                      - 4051--payer.email must be shorter than 254 characters.
                      - 7523--Invalid expiration date.
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 4--The caller is not authorized to access this resource.
                      - 3002--The caller is not authorized to perform this action.
        '404':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 2000--Payment not found
  /v1/payments/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/subscriptions'
        - $ref: '#/tags/checkout-api'
      summary: Get payment
      x-summary-i18n:
        eng: Get payment
        spa: Obtener pago
        por: Obter pagamento
      description: See all the information of a payment through the payment ID
      x-description-i18n:
        eng: See all the information of a payment through the payment ID
        spa: Consulta toda la información de un pago a través del ID del pago
        por: Consulte todas as informações de um pagamento através do ID de pagamento
      parameters:
        - name: id
          in: path
          description: Unique Payment Identifier, automatically generated by Mercado Pago
          x-description-i18n:
            eng: Unique Payment Identifier, automatically generated by Mercado Pago
            spa: Identificador único del pago, generado automáticamente por Mercado Pago
            por: Identificador único de pagamento, gerado automaticamente pelo Mercado Pago
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 1
                    description: Unique Payment Identifier, automatically generated by Mercado Pago
                    x-description-i18n:
                      eng: Unique Payment Identifier, automatically generated by Mercado Pago
                      spa: Identificador único del pago, generado automáticamente por Mercado Pago
                      por: Identificador único de pagamento, gerado automaticamente pelo Mercado Pago
                  date_created:
                    type: string
                    example: 2017-08-31T11:26:38.000Z
                    description: Payment creation date.
                    x-description-i18n:
                      eng: Payment creation date.
                      spa: Fecha de creación del Pago.
                      por: Data de criação do pagamento.
                  date_approved:
                    type: string
                    example: 2017-08-31T11:26:38.000Z
                    description: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                    x-description-i18n:
                      eng: Payment approval date. A payment can be generated in an intermediate state and then approved, so the creation date will not always coincide with the Approval Date.
                      spa: Fecha de aprobación del Pago. Un pago puede generarse en un estado intermedio y luego ser aprobado, por tanto la fecha de creación no siempre coincidirá con la Fecha de Aprobación.
                      por: Data de aprovação do pagamento. Um pagamento pode ser gerado em um estado intermediário e depois aprovado, portanto, a data de criação nem sempre coincidirá com a Data de Aprovação.
                  date_last_updated:
                    type: string
                    example: 2017-08-31T11:26:38.000Z
                    description: Date on which the last payment event was recorded.
                    x-description-i18n:
                      eng: Date on which the last payment event was recorded.
                      spa: Fecha en la que se registró el ultimo evento sobre el pago.
                      por: Data em que o último evento de pagamento foi registrado.
                  date_of_expiration:
                    type: string
                    format: nullable
                    description: Deadline to make the Payment through an off payment method (in cash)
                    x-description-i18n:
                      eng: Deadline to make the Payment through an off payment method (in cash)
                      spa: Fecha límite para realizar el Pago a través de un medio de pago off (en efectivo)
                      por: Prazo para efetuar o Pagamento através de um método de pagamento à vista (em dinheiro)
                  money_release_date:
                    type: string
                    example: 2017-09-14T11:26:38.000Z
                    description: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                    x-description-i18n:
                      eng: Date on which the payment is settled (available) in the Collector´s Mercado Pago account
                      spa: Fecha en la que el pago se encuentra liquidado (disponible) en la cuenta de Mercado Pago del Collector
                      por: Data em que o pagamento é liquidado (disponível) na conta Mercado Pago do Collector
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  issuer_id:
                    type: string
                    format: nullable
                    description: Identifier of the issuer of the payment method.
                    x-description-i18n:
                      eng: Identifier of the issuer of the payment method.
                      spa: Identificador del emisor del medio de pago
                      por: Identificador do emissor do meio de pagamento
                  payment_method_id:
                    type: string
                    example: account_money
                    description: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                    x-description-i18n:
                      eng: Payment method identifier. Indicates the ID of the payment method selected to make the payment.
                      spa: Identificador del medio de pago. Indica el ID del medio de pago seleccionado para realizar el pago.
                      por: Id do meio de pagamento. Indica o ID do meio de pagamento selecionado para efetuar o pagamento.
                  payment_type_id:
                    $ref: '#/components/schemas/payment_type_id'
                  status:
                    $ref: '#/components/schemas/status'
                  status_detail:
                    type: string
                    example: accredited
                    description: Detail in which the Collection resulted
                    x-description-i18n:
                      eng: Detail in which the Collection resulted
                      spa: Detalle en el que resultó el Cobro
                      por: Detalhe em que resultou a Coleção
                    enum:
                      - Accredited -- credited payment.
                      - pending_contingency -- the payment is being processed.
                      - pending_review_manual -- the payment is under review to determine its approval or rejection.
                      - cc_rejected_bad_filled_date -- incorrect expiration date.
                      - cc_rejected_bad_filled_other -- incorrect card details.
                      - cc_rejected_bad_filled_security_code -- incorrect CVV.
                      - cc_rejected_blacklist -- the card is on a black list for theft/complaints/fraud.
                      - cc_rejected_call_for_authorize -- the means of payment requires prior authorization of the amount of the operation.
                      - cc_rejected_card_disabled -- the card is inactive.
                      - cc_rejected_duplicated_payment -- transacción duplicada.
                      - cc_rejected_high_risk -- rechazo por Prevención de Fraude.
                      - cc_rejected_insufficient_amount -- insufficient amount.
                      - cc_rejected_invalid_installments -- invalid number of installments.
                      - cc_rejected_max_attempts -- exceeded maximum number of attempts.
                      - cc_rejected_other_reason -- generic error.
                  currency_id:
                    $ref: '#/components/schemas/currency_id'
                  description:
                    type: string
                    example: Pago Pizza
                    description: Description sent in the payment creation request.
                    x-description-i18n:
                      eng: Description sent in the payment creation request.
                      spa: Descripción enviada en la solicitud de creación del Pago.
                      por: Descrição enviada na solicitação de criação de pagamento.
                  live_mode:
                    type: boolean
                    description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                    x-description-i18n:
                      eng: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                      spa: Indica si el Pago se realizó en ambiente productivo o en un ambiente de Test. Si es TRUE, el contracargo se procesará en modo de producción. Si es FALSE, el contracargo se procesará en modo sandbox.
                      por: Indica se o Pagamento foi feito em ambiente de produção ou em ambiente de Teste. Se TRUE, o estorno será processado em modo de produção. Se FALSE, o estorno será processado no modo sandbox.
                  sponsor_id:
                    type: string
                    format: nullable
                    description: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                    x-description-i18n:
                      eng: Identifier of the Partners Mercado Pago account. It is used to identify if the integration was performed by a partner.
                      spa: Identificador de la cuenta de Mercado Pago del Partner. Se utiliza para identificar si la integración fue realizada por algún partner.
                      por: Identificador da conta Mercado Pago do Partnet. É usado para identificar se a integração foi realizada por um partner.
                  authorization_code:
                    type: string
                    format: nullable
                    description: Transaction authorization code.
                    x-description-i18n:
                      eng: Transaction authorization code.
                      spa: Código de autorización de la transacción.
                      por: Código de autorização de transação.
                  money_release_schema:
                    type: string
                    format: nullable
                    description: Money release schema
                    x-description-i18n:
                      eng: Money release schema
                      spa: Esquema de liberación de dinero
                      por: Esquema de liberação de dinheiro
                  counter_currency:
                    type: string
                    format: nullable
                    description: Information related to dollar values ​​for CBT (Cross Border Trade) payments.
                  collector_id:
                    type: string
                    example: 2
                    description: Identifier of the collecting Mercado Pago account
                    x-description-i18n:
                      eng: Identifier of the collecting Mercado Pago account
                      spa: Identificador de la cuenta de Mercado Pago recaudadora
                      por: Identificador da conta coletora do Mercado Pago
                  payer:
                    type: object
                    description: Payer data - ID (identifying number), email address, identification (type and number of id)
                    x-description-i18n:
                      eng: Payer data - ID (identifying number), email address, identification (type and number of id)
                      spa: Datos del pagador - ID (número identificador), dirección de email, identificación (tipo y número de documento)
                      por: Dados do pagador - ID (número de identificação), e-mail, identificação (tipo e número de documento)
                    properties:
                      id:
                        type: string
                        example: 123
                        description: Payer identifier generated by Mercado Pago.
                        x-description-i18n:
                          eng: Payer identifier generated by Mercado Pago.
                          spa: Identificador del Payer generado por Mercado Pago.
                          por: Identificador de pagador gerado pelo Mercado Pago.
                      email:
                        type: string
                        example: afriend@gmail.com
                        description: Email associated to the payer. This value will only return a response when status=approved, status=refunded or status=charged_back
                      identification:
                        type: object
                        description: Personal identification. This value will only return a response when status=approved, status=refunded or status=charged_back
                        properties:
                          type:
                            type: string
                            example: DNI
                            description: Identification type.
                            x-description-i18n:
                              eng: Identification type.
                              spa: Tipo de identificación
                              por: Tipo de identificação
                          number:
                            type: string
                            example: 12345678
                            description: Identification number.
                            x-description-i18n:
                              eng: Identification number.
                              spa: Número de identificación
                              por: Número de identificação
                      type:
                        $ref: '#/components/schemas/payer_type'
                  metadata:
                    type: object
                    description: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                    x-description-i18n:
                      eng: The metadata object shows (if used in the integration) the JSON sent by the client containing additional information that needs to be recorded in the payment.
                      spa: En el objeto metadata se muestra (en caso de ser utilizado en la integración) el JSON enviado por el cliente con información complementaria que necesite mantener registrada en el pago.
                      por: O objeto de metadata mostra (se usado na integração) o JSON enviado pelo cliente com informações adicionais que precisam ser registradas no pagamento.
                  additional_info:
                    type: object
                    description: Additional information.
                    x-description-i18n:
                      eng: Additional information.
                      spa: Información adicional
                      por: Informações adicionais
                  external_reference:
                    type: string
                    format: nullable
                    description: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                    x-description-i18n:
                      eng: Unique identifier sent by the seller to relate the payment_id generated by Mercado Pago, with the ID of its system.
                      spa: Identificador único que envía el vendedor para relacionar el payment_id generado por mercado pago, con el ID de tu sistema.
                      por: Identificador único enviado pelo vendedor para relacionar o payment_id gerado pelo Mercado Pago com o ID de seu sistema.
                  transaction_amount:
                    type: number
                    example: 250
                    description: Transaction amount
                    x-description-i18n:
                      eng: Transaction amount
                      spa: Monto de la transacción
                      por: Valor da transação
                  transaction_amount_refunded:
                    type: number
                    example: 0
                    description: Transaction amount refunded
                    x-description-i18n:
                      eng: Transaction amount refunded
                      spa: Monto reembolsado de transacción
                      por: Valor reembolsado da transação
                  coupon_amount:
                    type: number
                    example: 0
                    description: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                    x-description-i18n:
                      eng: Coupon in favor of the payer. If it exists, it is deducted from the total to be paid.
                      spa: Cupón a favor del payer. De existir, es descontado del total a pagar.
                      por: Cupom a favor do pagador. Se existir, é deduzido do total a pagar.
                  differential_pricing_id:
                    type: string
                    format: nullable
                    description: Differential code of the Pricing Schema applied by Mercado Pago.
                    x-description-i18n:
                      eng: Differential code of the Pricing Schema applied by Mercado Pago.
                      spa: Código diferencial del Schema de Pricing aplicado por Mercado Pago.
                      por: Código diferencial do Schema de Pricing aplicado pelo Mercado Pago.
                  deduction_schema:
                    type: string
                    format: nullable
                    description: Pricing Schema applied by Mercado Pago.
                    x-description-i18n:
                      eng: Pricing Schema applied by Mercado Pago.
                      spa: Schema de Pricing aplicado por Mercado Pago.
                      por: Schema de Pricing aplicado pelo Mercado Pago.
                  transaction_details:
                    type: object
                    description: Transaction details
                    x-description-i18n:
                      eng: Transaction details
                      spa: Detalles de la transacción
                      por: Detalhes da transação
                    properties:
                      net_received_amount:
                        type: number
                        example: 250
                        description: Net amount received
                        x-description-i18n:
                          eng: Net amount received
                          spa: Monto neto recibido
                          por: Valor líquido recebido
                      total_paid_amount:
                        type: number
                        example: 250
                        description: Total amount charged to the payer
                        x-description-i18n:
                          eng: Total amount charged to the payer
                          spa: Monto total cobrado al payer
                          por: Valor total cobrado ao pagador
                      overpaid_amount:
                        type: number
                        example: 0
                        description: Overpaid amount
                        x-description-i18n:
                          eng: Overpaid amount
                          spa: Monto pagado en exceso
                          por: Valor pago a mais
                      external_resource_url:
                        type: string
                        format: nullable
                        description: External resource url
                        x-description-i18n:
                          eng: External resource url
                          spa: URL de recurso externo
                          por: URL de recurso externo
                      installment_amount:
                        type: number
                        example: 250
                        description: Amount of the chosen financing fee.
                        x-description-i18n:
                          eng: Amount of the chosen financing fee.
                          spa: Monto de la cuota de financiación elegida.
                          por: Valor da taxa de financiamento escolhida.
                      financial_institution:
                        type: string
                        format: nullable
                        description: Financial institution
                        x-description-i18n:
                          eng: Financial institution
                          spa: Institución financiera
                          por: Instituição financeira
                      payment_method_reference_id:
                        type: string
                        format: nullable
                        description: Unique identifier of the payment method
                        x-description-i18n:
                          eng: Unique identifier of the payment method
                          spa: Identificador único del método de pago
                          por: Identificador único do meio de pagamento
                      payable_deferral_period:
                        type: string
                        format: nullable
                        description: Payment deferral period
                        x-description-i18n:
                          eng: Payment deferral period
                          spa: Período de diferimiento del pago
                          por: Período de diferimento de pagamento
                      acquirer_reference:
                        type: string
                        format: nullable
                        description: Acquirer reference
                        x-description-i18n:
                          eng: Acquirer reference
[...]
