openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /checkout/preferences:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Create preference
      description: Generate a preference with the information of a product or service and obtain the necessary URL to start the payment flow
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  description: Items information.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Item ID.
                      title:
                        type: string
                        example: Dummy Title
                        description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                      description:
                        type: string
                        example: Dummy description
                        description: Item description.
                      picture_url:
                        type: string
                        example: http://www.myapp.com/myimage.jpg
                        description: Item image URL.
                      category_id:
                        type: string
                        example: cat123
                        description: This is a free string where the item category can be added.
                      quantity:
                        type: number
                        example: 1
                        description: Item quantity. This property is used to calculate the total cost.
                      currency_id:
                        type: string
                        example: U$
                        description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                      unit_price:
                        type: number
                        example: 10
                        description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                payer:
                  type: object
                  description: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                  properties:
                    name:
                      type: string
                      description: Buyer name.
                    surname:
                      type: string
                      description: Buyer last name.
                    email:
                      type: string
                      description: Buyer e-mail address.
                    phone:
                      type: object
                      description: Buyer phone.
                      properties:
                        area_code:
                          type: string
                          description: Area code.
                        number:
                          type: string
                          description: Number.
                    identification:
                      type: object
                      description: Personal identification.
                      properties:
                        type:
                          type: string
                          description: Identification Type.
                        number:
                          type: string
                          description: Number.
                    address:
                      type: object
                      description: Buyer address.
                      properties:
                        zip_code:
                          type: string
                          description: Zip code.
                        street_name:
                          type: string
                          description: Street name.
                        street_number:
                          type: number
                          description: Street number.
                    date_created:
                      type: string
                      format: date
                      description: Registration date.
                payment_methods:
                  type: object
                  description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                  properties:
                    excluded_payment_methods:
                      type: array
                      description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Payment method ID.
                    excluded_payment_types:
                      type: array
                      description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Payment method data_type ID.
                    default_payment_method_id:
                      type: string
                      description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                    installments:
                      type: number
                      description: Maximum number of credit card installments to be accepted.
                    default_installments:
                      type: number
                      description: Prefered number of credit card installments.
                shipments:
                  type: object
                  description: Shipments information.
                  properties:
                    mode:
                      $ref: '#/components/schemas/shipment_mode'
                    local_pickup:
                      type: boolean
                      description: The payer have the option to pick up the shipment in your store (mode:me2 only).
                    dimensions:
                      type: string
                      description: Dimensions of the shipment in cm x cm x cm, gr (mode:me2 only)
                    default_shipping_method:
                      type: number
                      description: Select default shipping method in checkout (mode:me2 only).
                    free_methods:
                      type: array
                      description: Offer a shipping method as free shipping (mode:me2 only).
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                            description: Shipping method ID.
                    cost:
                      type: number
                      description: Shipment cost (mode:custom only).
                    free_shipping:
                      type: boolean
                      description: Free shipping for mode:custom.
                    receiver_address:
                      type: object
                      description: Shipping address.
                      properties:
                        zip_code:
                          type: string
                          description: Zip code.
                        street_name:
                          type: string
                          description: Street name.
                        city_name:
                          type: string
                          description: City name.
                        state_name:
                          type: string
                          description: State name.
                        street_number:
                          type: number
                          description: Street number.
                        floor:
                          type: string
                          description: Floor.
                        apartment:
                          type: string
                          description: Apartment.
                back_urls:
                  type: object
                  description: URLs to return to the sellers website.
                  properties:
                    success:
                      type: string
                      description: Approved payment URL.
                    pending:
                      type: string
                      description: Pending or in process payment URL.
                    failure:
                      type: string
                      description: Canceled payment URL.
                notification_url:
                  type: string
                  description: URL where you'd like to receive a payment notification.
                statement_descriptor:
                  type: string
                  description: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card invoice to easily identify the purchase.
                additional_info:
                  type: string
                  description: Additional information.
                auto_return:
                  $ref: '#/components/schemas/auto_return'
                external_reference:
                  type: string
                  description: Reference you can synchronize with your payment system.
                expires:
                  type: boolean
                  description: Boolean value that determines if a preference expire.
                date_of_expiration:
                  type: string
                  format: date
                  description: Expiration date of cash payment.
                expiration_date_from:
                  type: string
                  format: date
                  description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                expiration_date_to:
                  type: string
                  format: date
                  description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                marketplace:
                  type: string
                  description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                marketplace_fee:
                  type: number
                  description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                differential_pricing:
                  type: object
                  description: Differential pricing configuration for this preference. The seller can have their own configuration regarding payment methods and installments, and it's in this parameter where they will include the numeric ID to indicate so. This value is used to apply custom payment methods. 
                  properties:
                    id:
                      type: number
                      description: Differential pricing ID.
                tracks:
                  type: array
                  description: Tracks to be executed during the users`s interaction in the Checkout flow. The user can configure their own tracks. We currently supoort google and facebook. The collector must send the pixel ID.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Track type. Specifies which tool the values belong to.
                        example: google_ad
                        enum:
                          - google_ad -- Allows configurations for GTM's Google Ads Conversion Tracking tag. Necessary values as conversion_id and conversion_label.
                          - facebook_ad -- Allows configurations for Facebook Pixel. Necessary values as pixel_id.
                      values:
                        type: string
                        description: Configuration values according the track type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  collector_id:
                    type: number
                    example: 202809963
                    description: Unique ID used to identify the collector.
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  items:
                    type: array
                    description: Items information.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Item ID.
                        picture_url:
                          type: string
                          description: Item image URL.
                        title:
                          type: string
                          example: Dummy Item
                          description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                        description:
                          type: string
                          example: Multicolor Item
                          description: Item description. This is a free text field.
                        category_id:
                          type: string
                          description: This is a free string where the item category can be added.
                        currency_id:
                          type: string
                          example: $
                          description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity. This property is used to calculate the total cost.
                        unit_price:
                          type: number
                          example: 10
                          description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                  payer:
                    type: object
                    description: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                    properties:
                      name:
                        type: string
                        description: Name of the associated payer.
                      surname:
                        type: string
                        description: Last name of the associated payer.
                      email:
                        type: string
                        description: Payer’s email address.
                      date_created:
                        type: string
                        description: Registration date.
                      phone:
                        type: object
                        description: Phone number of the associated payer.
                        properties:
                          area_code:
                            type: string
                            description: Area code.
                          number:
                            type: string
                            description: Phone number.
                      identification:
                        type: object
                        description: Identification of the associated payer.
                        properties:
                          type:
                            type: string
                            description: Type of identification of the associated payer (required if the payer is a customer).
                          number:
                            type: string
                            description: Identification number.
                      address:
                        type: object
                        description: Address.
                        properties:
                          street_name:
                            type: string
                            description: Street name.
                          street_number:
                            type: string
                            format: nullable
                            description: Street number.
                          zip_code:
                            type: string
                            description: Zip code.
                  back_urls:
                    type: object
                    description: URLs to return to the sellers website.
                    properties:
                      success:
                        type: string
                        description: Approved payment URL.
                      pending:
                        type: string
                        description: Pending or in process payment URL.
                      failure:
                        type: string
                        description: Canceled payment URL.
                  auto_return:
                    $ref: '#/components/schemas/auto_return'
                  payment_methods:
                    type: object
                    description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                    properties:
                      excluded_payment_methods:
                        type: array
                        description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Payment method identifier.
                      excluded_payment_types:
                        type: array
                        description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Payment type identifier
                      installments:
                        type: string
                        format: nullable
                        description: Maximum number of credit card installments to be accepted.
                      default_payment_method_id:
                        type: string
                        format: nullable
                        description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                      default_installments:
                        type: string
                        format: nullable
                        description: Prefered number of credit card installments.
                  client_id:
                    type: string
                    example: 6295877106812064
                    description: Unique ID used to identify the client.
                  marketplace:
                    type: string
                    example: MP-MKT-6295877106812064
                    description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                  marketplace_fee:
                    type: number
                    example: 0
                    description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                  shipments:
                    type: object
                    description: Shipments information.
                    properties:
                      receiver_address:
                        type: object
                        description: Shipping address.
                        properties:
                          zip_code:
                            type: string
                            description: Zip code.
                          street_number:
                            type: string
                            format: nullable
                            description: Street number.
                          street_name:
                            type: string
                            description: Street name.
                          floor:
                            type: string
                            description: Floor.
                          apartment:
                            type: string
                            description: Apartment.
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment notification.
                  statement_descriptor:
                    type: string
                    example: MERCADOPAGO
                    description: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card invoice to easily identify the purchase.
                  external_reference:
                    type: string
                    description: Reference you can synchronize with your payment system.
                  additional_info:
                    type: string
                    description: Additional information.
                  expires:
                    type: boolean
                    description: Boolean value that determines if a preference expires.
                  expiration_date_from:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                  expiration_date_to:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                  date_created:
                    type: string
                    example: 2018-02-02T19:22:23.535Z
                    description: Registration date.
                  id:
                    type: string
                    example: 202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Autogenerated unique ID that identifies the preference. For example 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                  init_point:
                    type: string
                    example: >-
                      https://www.mercadopago.com/mla/checkout/start?pref_id=202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Automatically generated URL to open the Checkout.
                  sandbox_init_point:
                    type: string
                    example: >-
                      https://sandbox.mercadopago.com/mla/checkout/pay?pref_id=202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Automatically generated URL to open the Checkout in sandbox mode. Real users are used here, but transactions are executed using test credentials.
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - >-
                        collector_does_not_comply_with_current_regulation--identity-validation-required-
                      - invalid_collector_id--collector-id-invalid-
                      - invalid_sponsor_id--sponsor-id-is-not-an-active-user-
                      - >-
                        invalid_collector_email--collector-is-not-collector-email-owner
                      - invalid_operation_type--operation-type-invalid-
                      - invalid_expiration_date_to--expiration-date-to-invalid-
                      - invalid_date--invalid-date-of-expiration-
                      - >-
                        invalid_expiration_date_from--expiration-date-from-invalid-
                      - invalid_items--unit-price-invalid-
                      - invalid_back_urls--back-urls-invalid--Wrong-format
                      - >-
                        invalid_payment_methods--installments-invalid--Should-be-a-number-between-1-and-36-
                      - >-
                        invalid_marketplace_fee--marketplace-fee-must-not-be-greater-than-total-amount-
                      - invalid_id--preference-id-not-found-
                      - invalid_access_token--access-denied
                      - >-
                        invalid_shipments--invalid-type---type---for-field-shipments-cost-
                      - invalid_binary_mode--binary-mode-must-be-boolean-
  /checkout/preferences/search:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Search preferences
      description: Find all the information related to generated preferences using specific filters or a specific date range
      parameters:
        - name: sponsor_id
          in: query
          description: The sponsor id
          schema:
            type: string
        - name: external_reference
          in: query
          description: The external reference
          schema:
            type: string
        - name: site_id
          in: query
          description: The site id
          schema:
            type: string
          enum:
            - MLA -- Mercado Libre Argentina
            - MLB -- Mercado Libre Brasil
            - MLC -- Mercado Libre Chile
            - MLM -- Mercado Libre México
            - MLU -- Mercado Libre Uruguay
            - MCO -- Mercado Libre Colombia
            - MPE -- Mercado Libre Perú
        - name: marketplace
          in: query
          description: The marketplace identifier
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 202809963-a2201f8d-11cb-443f-adf6-de5a42eed67d
                          description: id
                        client_id:
                          type: string
                          example: 6295877106812064
                          description: Unique ID used to identify the client.
                        collector_id:
                          type: number
                          example: 202809963
                          description: Unique ID used to identify the collector.
                        concept_id:
                          type: string
                          format: nullable
                          description: Unique ID used to identify the concept.
                        corporation_id:
                          type: string
                          format: nullable
                          description: Corporation identifier
                        date_created:
                          type: string
                          example: 2018-02-02T19:18:51.150Z
                          description: Registration date.
                        expiration_date_from:
                          type: string
                          format: nullable
                          description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                        expiration_date_to:
                          type: string
                          format: nullable
                          description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                        expires:
                          type: boolean
                          description: Boolean value that determines if a preference expires.
                        external_reference:
                          type: string
                          description: Reference you can synchronize with your payment system.
                        integrator_id:
                          type: string
                          format: nullable
                          description: Integrator identifier
                        items:
                          type: array
                          items:
                            type: string
                            example: Test Item
                          description: items
                        last_updated:
                          type: string
                          format: nullable
                          description: Last updated date
                        live_mode:
                          type: boolean
                          description: live_mode
                        marketplace:
                          type: string
                          example: NONE
                          description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                        operation_type:
                          $ref: '#/components/schemas/operation_type'
                        payer_email:
                          type: string
                          description: Payer’s email address.
                        platform_id:
                          type: string
                          description: Platform identifier
                        processing_modes:
                          type: string
                          format: nullable
                          description: Processing mode
                        product_id:
                          type: string
                          description: Unique ID used to identify the product.
                        purpose:
                          type: string
                          description: purpose
                        site_id:
                          type: string
                          example: MLA
                          description: Unique ID used to identify the site.
                          enum:
                            - MLA -- Mercado Libre Argentina
                            - MLB -- Mercado Libre Brasil
                            - MLC -- Mercado Libre Chile
                            - MLM -- Mercado Libre México
                            - MLU -- Mercado Libre Uruguay
                            - MCO -- Mercado Libre Colombia
                            - MPE -- Mercado Libre Perú
                        sponsor_id:
                          type: number
                          example: 0
                          description: Unique numeric ID to identify the sponsor. It is used to identify what platform the checkout flow was initiated in.
                    description: elements
                  next_offset:
                    type: number
                    example: 1
                    description: next_offset
                  total:
                    type: number
                    example: 1
                    description: total
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - ds_search_query--invalid-query-
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--invalid-token-
                      - invalid_caller_id--invalid-caller-id
  /checkout/preferences/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Get preference
      description: Check all the payment information for a product or service with the ID of the preference of your choice
      parameters:
        - name: id
          in: path
          description: The preference's ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  additional_info:
                    type: string
                    description: Additional information.
                  auto_return:
                    $ref: '#/components/schemas/auto_return'
                  back_urls:
                    type: object
                    description: URLs to return to the sellers website.
                    properties:
                      failure:
                        type: string
                        description: Canceled payment URL.
                      pending:
                        type: string
                        description: Pending or in process payment URL.
                      success:
                        type: string
                        description: Approved payment URL.
                  client_id:
                    type: string
                    example: 6295877106812064
                    description: Unique ID used to identify the client.
                  collector_id:
                    type: number
                    example: 202809963
                    description: Unique ID used to identify the collector.
                  date_created:
                    type: string
                    example: 2018-02-02T19:18:51.150Z
                    description: Registration date.
                  expiration_date_from:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                  expiration_date_to:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                  expires:
                    type: boolean
                    description: Boolean value that determines if a preference expires.
                  external_reference:
                    type: string
                    description: Reference you can synchronize with your payment system.
                  id:
                    type: string
                    example: 202809963-a2201f8d-11cb-443f-adf6-de5a42eed67d
                    description: Autogenerated unique ID that identifies the preference. For example 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                  init_point:
                    type: string
                    example: >-
                      https://www.mercadopago.com/mla/checkout/start?pref_id=202809963-a2201f8d-11cb-443f-adf6-de5a42eed67d
                    description: Automatically generated URL to open the Checkout.
                  items:
                    type: array
                    description: Items information.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: item-ID-1234
                          description: Item id.
                        currency_id:
                          type: string
                          example: $
                          description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                        title:
                          type: string
                          example: Practical Granite Shirt
                          description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                        picture_url:
                          type: string
                          example: http://placehold.it/350x150
                          description: Item image URL.
                        description:
                          type: string
                          example: >-
                            This is my description
                          description: Item description. This is a free text field.
                        category_id:
                          type: string
                          description: This is a free string where the item category can be added.
                        quantity:
                          type: number
                          example: 2
                          description: Item quantity. This property is used to calculate the total cost.
                        unit_price:
                          type: number
                          example: 14.5
                          description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                  marketplace:
                    type: string
                    example: MP-MKT-6295877106812064
                    description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                  marketplace_fee:
                    type: number
                    example: 0
                    description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment notification.
                  statement_descriptor:
                    type: string
                    example: MERCADOPAGO
                    description: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card invoice to easily identify the purchase.
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  payer:
                    type: object
                    description: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                    properties:
                      phone:
                        type: object
                        description: Buyer’s phone number.
                        properties:
                          area_code:
                            type: string
                            description: Area code.
                          number:
                            type: string
                            example: 631.586.0213
                            description: Phone number.
                      address:
                        type: object
                        description: Address.
                        properties:
                          zip_code:
                            type: string
                            example: 76336
                            description: Zip code.
                          street_name:
                            type: string
                            example: Marjory Stream
                            description: Street name.
                          street_number:
                            type: string
                            example: 941
                            description: Street number.
                      email:
                        type: string
                        description: Payer’s email address.
                      identification:
                        type: object
                        description: Payer ID.
                        properties:
                          number:
                            type: string
                            example: 12345678
                            description: Identification number.
                          type:
                            type: string
                            example: DNI
                            description: Identification Type.
                      name:
                        type: string
                        description: Buyer’s name.
                      surname:
                        type: string
                        description: Buyer’s last name.
                      date_created:
                        type: string
                        description: Registration date.
                  payment_methods:
                    type: object
                    description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                    properties:
                      excluded_payment_methods:
                        type: array
                        description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Payment method identifier.
                      default_installments:
                        type: string
                        format: nullable
                        description: Prefered number of credit card installments.
                      default_payment_method_id:
                        type: string
                        format: nullable
                        description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                      excluded_payment_types:
                        type: array
                        description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Payment type identifier
                      installments:
                        type: string
                        format: nullable
                        description: Maximum number of credit card installments to be accepted.
                  sandbox_init_point:
                    type: string
                    example: >-
                      https://sandbox.mercadopago.com/mla/checkout/pay?pref_id=202809963-a2201f8d-11cb-443f-adf6-de5a42eed67d
                    description: Automatically generated URL to open the Checkout in sandbox mode. Real users are used here, but transactions are executed using test credentials.
                  shipments:
                    type: object
                    description: Shipments information.
                    properties:
                      receiver_address:
                        type: object
                        description: Shipping address.
                        properties:
                          floor:
                            type: string
                            description: Floor.
                          zip_code:
                            type: string
                            description: Zip code.
                          street_name:
                            type: string
                            description: Street name.
                          apartment:
                            type: string
                            description: Apartment.
                          street_number:
                            type: string
                            format: nullable
                            description: Street number.
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collector_id--collector-id-invalid-
                      - invalid_sponsor_id--sponsor-id-is-not-an-active-user-
                      - >-
                        invalid_collector_email--collector-is-not-collector-email-owner-
                      - invalid_operation_type--operation-type-invalid-
                      - invalid_expiration_date_to--expiration-date-to-invalid-
                      - >-
                        invalid_expiration_date_from--expiration-date-from-invalid-
                      - invalid_items--unit-price-invalid-
                      - invalid_payer--payer-email-invalid--Max-length-150-
                      - invalid_back_urls--back-urls-invalid--Wrong-format-
                      - >-
                        invalid_payment_methods--installments-invalid--Should-be-a-number-between-1-and-36-
                      - >-
                        invalid_marketplace_fee--marketplace-fee-must-not-be-greater-than-total-amount-
                      - invalid_id--preference-id-not-found-
                      - invalid_access_token--access-denied-
                      - >-
                        invalid_shipments--Invalid-total-amount--with-me2-it-cannot-be-lesser-than--limit--
    put:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Update a preference
      description: Renew the details of a payment preference. Indicate the ID of the preference and send the parameters with the information you want to update
      parameters:
        - name: id
          in: path
          description: The preference's ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  description: Items information.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 202809963-a2201f8d-11cb-443f-adf6-de5a42eed67d
                        description: Item ID.
                      title:
                        type: string
                        example: Dummy Title
                        description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                      description:
                        type: string
                        example: Dummy Description
                        description: Item description. This is a free text field.
                      picture_url:
                        type: string
                        example: http://www.myapp.com/myimage.jpg
                        description: Item image URL.
                      category_id:
                        type: string
                        example: cat123
                        description: This is a free string where the item category can be added.
                      quantity:
                        type: number
                        example: 1
                        description: Item quantity. This property is used to calculate the total cost.
                      currency_id:
                        type: string
                        example: U$
                        description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                      unit_price:
                        type: number
                        example: 10
                        description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                payer:
                  type: object
                  description: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                  properties:
                    name:
                      type: string
                      description: Buyer name.
                    surname:
                      type: string
                      description: Buyer last name.
                    email:
                      type: string
                      description: Buyer e-mail address.
                    phone:
                      type: object
                      description: Buyer phone.
                      properties:
                        area_code:
                          type: string
                          description: Area code.
                        number:
                          type: string
                          description: Number.
                    identification:
                      type: object
                      description: Personal identification.
                      properties:
                        type:
                          type: string
                          description: Identification Type.
                        number:
                          type: string
                          description: Number.
                    address:
                      type: object
                      description: Buyer address.
                      properties:
                        zip_code:
                          type: string
                          description: Zip code.
                        street_name:
                          type: string
                          description: Street name.
                        street_number:
                          type: number
                          description: Street number.
                    date_created:
                      type: string
                      format: date
                      description: Registration date.
                payment_methods:
                  type: object
                  description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                  properties:
                    excluded_payment_methods:
                      type: array
                      description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Payment method ID.
                    excluded_payment_types:
                      type: array
                      description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Payment method data_type ID.
                    default_payment_method_id:
                      type: string
                      description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                    installments:
                      type: number
                      description: Maximum number of credit card installments to be accepted.
                    default_installments:
                      type: number
                      description: Prefered number of credit card installments.
                shipments:
                  type: object
                  description: Shipments information.
                  properties:
                    mode:
                      $ref: '#/components/schemas/shipment_mode'
                    local_pickup:
                      type: boolean
                      description: The payer have the option to pick up the shipment in your store (mode:me2 only).
                    dimensions:
                      type: string
                      description: Dimensions of the shipment in cm x cm x cm, gr (mode:me2 only)
                    default_shipping_method:
                      type: number
                      description: Select default shipping method in checkout (mode:me2 only).
                    free_methods:
                      type: array
                      description: Offer a shipping method as free shipping (mode:me2 only).
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                            description: Shipping method ID.
                    cost:
                      type: number
                      description: Shipment cost (mode:custom only).
                    free_shipping:
                      type: boolean
                      description: Free shipping for mode:custom.
                    receiver_address:
                      type: object
                      description: Shipping address.
                      properties:
                        zip_code:
                          type: string
                          description: Zip code.
                        street_name:
                          type: string
                          description: Street name.
                        city_name:
                          type: string
                          description: City name.
                        state_name:
                          type: string
                          description: State name.
                        street_number:
                          type: number
                          description: Street number.
                        floor:
                          type: string
                          description: Floor.
                        apartment:
                          type: string
                          description: Apartment.
                back_urls:
                  type: object
                  description: URLs to return to the sellers website.
                  properties:
                    success:
                      type: string
                      description: Approved payment URL.
                    pending:
                      type: string
                      description: Pending or in process payment URL.
                    failure:
                      type: string
                      description: Canceled payment URL.
                notification_url:
                  type: string
                  description: URL where you'd like to receive a payment notification.
                additional_info:
                  type: string
                  description: Additional information.
                auto_return:
                  $ref: '#/components/schemas/auto_return'
                external_reference:
                  type: string
                  description: Reference you can synchronize with your payment system.
                expires:
                  type: boolean
                  description: Boolean value that determines if a preference expire.
                date_of_expiration:
                  type: string
                  format: date
                  description: Expiration date of cash payment.
                expiration_date_from:
                  type: string
                  format: date
                  description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                expiration_date_to:
                  type: string
                  format: date
                  description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                marketplace:
                  type: string
                  description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                marketplace_fee:
                  type: number
                  description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                  example: 0
                differential_pricing:
                  type: object
                  description: Differential pricing configuration for this preference. The seller can have their own configuration regarding payment methods and installments, and it's in this parameter where they will include the numeric ID to indicate so. This value is used to apply custom payment methods.
                  properties:
                    id:
                      type: number
                      description: Differential pricing ID.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  additional_info:
                    type: string
                    description: Additional information.
                  auto_return:
                    $ref: '#/components/schemas/auto_return'
                  back_urls:
                    type: object
                    description: URLs to return to the sellers website.
                    properties:
                      failure:
                        type: string
                        description: Canceled payment URL.
                      pending:
                        type: string
                        description: Pending or in process payment URL.
                      success:
                        type: string
                        description: Approved payment URL.
                  binary_mode:
                    type: boolean
                    example: false
                  client_id:
                    type: string
                    example: 6295877106812064
                    description: Unique ID used to identify the client.
                  collector_id:
                    type: number
                    example: 202809963
                    description: Unique ID used to identify the collector.
                  coupon_code:
                    type: object
                  coupon_labels:
                    type: object
                  date_created:
                    type: string
                    example: '2018-02-02T19:22:23.535Z'
                    description: Registration date.
                  date_of_expiration:
                    type: object
                  expiration_date_from:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                  expiration_date_to:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                  expires:
                    type: boolean
                    example: false
                    description: Boolean value that determines if a preference expires.
                  external_reference:
                    type: string
                    description: Reference you can synchronize with your payment system.
                  id:
                    type: string
                    example: 202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Autogenerated unique ID that identifies the preference. For example 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                  init_point:
                    type: string
                    example: >-
                      https://www.mercadopago.com/mla/checkout/start?pref_id=202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Automatically generated URL to open the Checkout.
                  internal_metadata:
                    type: object
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: id
                        picture_url:
                          type: string
                          description: Item image URL.
                        title:
                          type: string
                          example: Dummy Item
                          description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                        description:
                          type: string
                          example: Multicolor Item
                          description: Item description. This is a free text field.
                        category_id:
                          type: string
                          description: This is a free string where the item category can be added.
                        currency_id:
                          type: string
                          example: $
                          description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity. This property is used to calculate the total cost.
                        unit_price:
                          type: number
                          example: 10
                          description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                    description: items
                  marketplace:
                    type: string
                    example: MP-MKT-6295877106812064
                    description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                  marketplace_fee:
                    type: number
                    example: 0
                    description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                  metadata:
                    type: object
                  notification_url:
                    type: string
                    example: https://url.com.br/notificacao
                    format: nullable
                    description: URL where you'd like to receive a payment notification.
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  payer:
                    type: object
                    description: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                    properties:
                      phone:
                        type: object
                        description: Buyer phone.
                        properties:
                          area_code:
                            type: string
                            description: Area code.
                          number:
                            type: string
                            description: Number.
                      address:
                        type: object
                        description: Buyer address.
                        properties:
                          zip_code:
                            type: string
                            description: Zip code.
                          street_name:
                            type: string
                            example: Mc Street
                            description: Street name.
                          street_number:
                            type: string
                            example: '7304'
                            format: nullable
                            description: Street number.
                      email:
                        type: string
                        description: Buyer e-mail address.
                      identification:
                        type: object
                        description: Personal identification.
                        properties:
                          number:
                            type: string
                            description: Number.
                          type:
                            type: string
                            description: Identification Type.
                      name:
                        type: string
                        description: Buyer name.
                      surname:
                        type: string
                        description: Buyer last name.
                      date_created:
                        type: string
                        description: Registration date.
                      last_purchase:
                        type: object
                  payment_methods:
                    type: object
                    description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                    properties:
                      default_card_id:
                        type: object
                      default_payment_method_id:
                        type: string
                        format: nullable
                        description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                      excluded_payment_methods:
                        type: array
                        description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: ''
                              description: Payment method ID.
                      excluded_payment_types:
                        type: array
                        description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: ''
                              description: Payment method data_type ID.
                      installments:
                        type: string
                        format: nullable
                        description: Maximum number of credit card installments to be accepted.
                      default_installments:
                        type: string
                        format: nullable
                        description: Prefered number of credit card installments.
                  processing_modes:
                    type: object
                  product_id:
                    type: object
                  redirect_urls:
                    type: object
                    properties:
                      failure:
                        type: string
                        example: ''
                      pending:
                        type: string
                        example: ''
                      success:
                        type: string
                        example: ''
                  sandbox_init_point:
                    type: string
                    example: >-
                      https://sandbox.mercadopago.com/mla/checkout/pay?pref_id=202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Automatically generated URL to open the Checkout in sandbox mode. Real users are used here, but transactions are executed using test credentials.
                  site_id:
                    type: string
                    example: MLB
                  shipments:
                    type: object
                    description: Shipments information.
                    properties:
                      default_shipping_method:
                        type: object
                        description: Select default shipping method in checkout (mode:me2 only).
                      receiver_address:
                        type: object
                        description: Shipping address.
                        properties:
                          zip_code:
                            type: string
                            description: Zip code.
                          street_name:
                            type: string
                            description: Street name.
                          street_number:
                            type: string
                            format: nullable
                            description: Street number.
                          floor:
                            type: string
                            description: Floor.
                          apartment:
                            type: string
                            description: Apartment.
                          city_name:
                            type: object
                            description: City name.
                          state_name:
                            type: object
                            description: State name.
                          country_name:
                            type: Country name.
                  total_amount:
                    type: object
                    description: Total amount of the order.
                  last_updated:
                    type: object
                    description: Last updated date
                  statement_descriptor:
                    type: string
                    example: MERCADOPAGO
                    description: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card invoice to easily identify the purchase.
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_collector_id--collector-id-invalid-
                      - invalid_sponsor_id--sponsor-id-is-not-an-active-user-
                      - >-
                        invalid_collector_email--collector-is-not-collector-email-owner
                      - invalid_operation_type--operation-type-invalid-
                      - invalid_expiration_date_to--expiration-date-to-invalid-
                      - invalid_date--invalid-date-of-expiration-
                      - >-
                        invalid_expiration_date_from--expiration-date-from-invalid-
                      - invalid_items--unit-price-invalid-
                      - invalid_back_urls--back-urls-invalid--Wrong-format
                      - >-
                        invalid_payment_methods--installments-invalid--Should-be-a-number-between-1-and-36-
                      - >-
                        invalid_marketplace_fee--marketplace-fee-must-not-be-greater-than-total-amount-
                      - invalid_id--preference-id-not-found-
                      - invalid_access_token--access-denied
                      - >-
                        invalid_shipments--invalid-type---type---for-field-shipments-cost-

components:
  schemas:
    shipment_mode:
      type: string
      description: Shipment mode.
      enum:
        - custom -- Custom shipping.
        - me2 -- Mercado Envíos.
        - not_specified -- Shipping mode not specified.
    operation_type:
      type: String
      description: Operation data_type.
      enum:
        - regular_payment -- Normal payment.
        - money_transfer -- Money request.
    auto_return:
      type: String
      description: If specified, your buyers will be redirected back to your site immediately after completing the purchase.
      enum:
        - approved -- The redirection takes place only for approved payments.
        - all -- The redirection takes place only for approved payments, forward compatibility only if we change the default behavior
