openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /checkout/preferences:
    post:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Create preference
      x-summary-i18n:
        eng: Create preference
        spa: Crear preferencia
        por: Criar preferência
      description: Generate a preference with the information of a product or service and obtain the necessary URL to start the payment flow
      x-description-i18n:
        eng: Generate a preference with the information of a product or service and obtain the necessary URL to start the payment flow
        spa: Genera una preferencia con la información de un producto o servicio y obtén la URL necesaria para iniciar el flujo de pago
        por: Gerar uma preferência com informações sobre um produto ou serviço e obter a URL necessária para iniciar o fluxo de pagamento
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  description: Items information.
                  x-description-i18n:
                    eng: Items information.
                    spa: Información sobre el ítem
                    por: Informações sobre o item
                  required: true 
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Item ID.
                        x-description-i18n:
                          eng: Item ID.
                          spa: Identificador del ítem
                          por: Identificador do item
                        required: true 
                      title:
                        type: string
                        example: Dummy Title
                        description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                        x-description-i18n:
                          eng: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                          spa: Este es el título del ítem, que se mostrará durante el proceso de pago, en el checkout, actividades y correos electrónicos.
                          por: Este é o título do item, que será exibido durante o processo de pagamento, no checkout, nas atividades e nos e-mails.
                        required: true 
                      description:
                        type: string
                        example: Dummy description
                        description: Item description.
                        x-description-i18n:
                          eng: Item description.
                          spa: Descripción del item
                          por: Descrição do artigo
                      picture_url:
                        type: string
                        example: http://www.myapp.com/myimage.jpg
                        description: Item image URL.
                        x-description-i18n:
                          eng: Item image URL.
                          spa: URL de imagen del ítem
                          por: URL da imagem do anúncio
                      category_id:
                        type: string
                        example: car_electronics
                        description: This is a free string where the item category can be added. We suggest using one of the options shown in the following link https://api.mercadopago.com/item_categories
                        x-description-i18n:
                          eng: This is a free string where the item category can be added. We suggest using one of the options shown in the following link https://api.mercadopago.com/item_categories
                          spa: Esto es un string libre donde se puede agregar la categoría del ítem. Sugerimos utilizar alguna de las opciones que se muestran en el siguiente enlace https://api.mercadopago.com/item_categories
                          por: Esta é uma string livre onde a categoria do item pode ser adicionada. Sugerimos usar uma das opções mostradas no link a seguir https://api.mercadopago.com/item_categories
                      quantity:
                        type: number
                        example: 1
                        description: Item quantity. This property is used to calculate the total cost.
                        x-description-i18n:
                          eng: Item quantity. This property is used to calculate the total cost.
                          spa: Cantidad de ítems. Esta propiedad se utiliza para calcular el costo total.
                          por: Quantidade de itens. Esta propriedade é usada para calcular o custo total.
                        required: true 
                      currency_id:
                        type: string
                        example: U$
                        description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                        x-description-i18n:
                          eng: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                          spa: ID único para identificar la moneda. Código ISO_4217. Algunos sitios permiten la moneda local y USD, pero es importante tener en cuenta que el monto se convierte a moneda local cuando se crea la preferencia, ya que el checkout siempre procesa las transacciones en moneda local. Si usas USD, ten en cuenta que este valor no se actualiza automáticamente si el valor de la moneda local cambia en relación a USD.
                          por: ID exclusivo para identificar a moeda. Código ISO_4217. Alguns sites permitem moeda local e USD, mas é importante observar que o valor é convertido para moeda local quando a preferência é criada, pois o checkout sempre processa as transações em moeda local. Se você estiver usando USD, observe que esse valor não é atualizado automaticamente se o valor da moeda local mudar em relação ao USD.
                        enum:
                          - ARS -- Argentine peso.
                          - BRL -- Brazilian real.
                          - CLP -- Chilean peso.
                          - MXN -- Mexican peso.
                          - COP -- Colombian peso.
                          - PEN -- Peruvian sol.
                          - UYU -- Uruguayan peso.
                      unit_price:
                        type: number
                        example: 10
                        description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                        x-description-i18n:
                          eng: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                          spa: Precio unitario del ítem. Esta propiedad se usa junto con propiedad quantity para determinar el costo de la orden.
                          por: Preço unitário do item. Essa propriedade é usada em conjunto com a propriedade de quantity para determinar o custo do pedido.
                        required: true 
                payer:
                  type: object
                  description: Buyer´s information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                  x-description-i18n:
                    eng: Buyer´s information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                    spa: Información del comprador, como nombre, apellido, correo electrónico, teléfono, identificación personal, dirección y fecha de registro.
                    por: Informações do comprador, como nome, sobrenome, e-mail, telefone, identificação pessoal, endereço e data de registro.
                  properties:
                    name:
                      type: string
                      description: Buyer name.
                      x-description-i18n:
                        eng: Buyer name.
                        spa: Nombre del comprador
                        por: Nome do comprador
                    surname:
                      type: string
                      description: Buyer last name.
                      x-description-i18n:
                        eng: Buyer last name.
                        spa: Apellido del comprador
                        por: Apelido do comprador
                    email:
                      type: string
                      description: Buyer e-mail address.
                      x-description-i18n:
                        eng: Buyer e-mail address.
                        spa: Dirección de e-mail del comprador
                        por: Endereço de e-mail do comprador
                    phone:
                      type: object
                      description: Buyer phone.
                      x-description-i18n:
                        eng: Buyer phone.
                        spa: Teléfono del comprador
                        por: Telefone do comprador
                      properties:
                        area_code:
                          type: string
                          description: Area code.
                          x-description-i18n:
                            eng: Area code.
                            spa: Código de área
                            por: Código de área
                        number:
                          type: number
                          description: Number.
                          x-description-i18n:
                            eng: Number.
                            spa: Número
                            por: Número
                    identification:
                      type: object
                      description: Personal identification.
                      x-description-i18n:
                        eng: Personal identification.
                        spa: Identificación personal
                        por: Identificação pessoal
                      properties:
                        type:
                          type: string
                          description: Identification Type.
                          x-description-i18n:
                            eng: Identification Type.
                            spa: Tipo de identificación
                            por: Tipo de identificação
                        number:
                          type: string
                          description: Number.
                          x-description-i18n:
                            eng: Number.
                            spa: Número
                            por: Número
                    address:
                      type: object
                      description: Buyer’s address.
                      x-description-i18n:
                        eng: Buyer’s address.
                        spa: Dirección del comprador
                        por: Endereço do comprador
                      properties:
                        zip_code:
                          type: string
                          description: Zip code.
                          x-description-i18n:
                            eng: Zip code.
                            spa: Código postal
                            por: Código postal
                        street_name:
                          type: string
                          description: Street name.
                          x-description-i18n:
                            eng: Street name.
                            spa: Calle
                            por: Rua
                        street_number:
                          type: number
                          description: Street number.
                          x-description-i18n:
                            eng: Street number.
                            spa: Número
                            por: O Número
                    date_created:
                      type: string
                      format: date
                      description: Registration date.
                      x-description-i18n:
                        eng: Registration date.
                        spa: Fecha de registración
                        por: Data de registro
                payment_methods:
                  type: object
                  description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                  x-description-i18n:
                    eng: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                    spa: Toda la configuración relacionada con los métodos de pago, tales como los métodos de pago excluidos, los tipos de pago excluidos, el método de pago predeterminado y las cuotas.
                    por: Todas as configurações são relacionadas ao métodos de pagamento, como, por exemplo, métodos de pagamento excluídos, tipos de pagamento excluídos, método de pagamento padrão e taxas.
                  properties:
                    excluded_payment_methods:
                      type: array
                      description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                      x-description-i18n:
                        eng: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                        spa: Métodos de pago excluidos del proceso de pago (excepto account_money, que siempre estará disponible). Los métodos de pago incluidos aquí no estarán disponibles en el checkout.
                        por: Métodos de pagamento excluídos do checkout (exceto account_money, que estará sempre disponível). Os métodos de pagamento aqui incluídos não estarão disponíveis no checkout.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Payment method ID.
                            x-description-i18n:
                              eng: Payment method ID.
                              spa: Identificador del método de pago
                              por: Identificador do método de pagamento
                    excluded_payment_types:
                      type: array
                      description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                      x-description-i18n:
                        eng: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                        spa: Tipos de pago excluidos del proceso de pago. Los tipos de pago incluidos aquí no estarán disponibles en el checkout.
                        por: Tipos de pagamento excluídos do processo de pagamento. Os tipos de pagamento incluídos aqui não estarão disponíveis no checkout.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Payment method data_type ID.
                            x-description-i18n:
                              eng: Payment method data_type ID.
                              spa: Identificador de data_type del medio de pago
                              por: Identificador de data_type do meio de pagamento
                    default_payment_method_id:
                      type: string
                      description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                      x-description-i18n:
                        eng: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                        spa: Forma de pago sugerida. El usuario iniciará el pago con este método de pago ya seleccionado. Se considera sugerida porque los Checkouts siguen lógicas diferentes para seleccionar el mejor método de pago para una transacción específica, siendo esta propiedad la opción con menor relevancia.
                        por: Forma de pagamento sugerida. O usuário iniciará o pagamento com esta forma de pagamento já selecionada. Considera-se sugerido porque os Checkouts seguem lógicas diferentes para selecionar o melhor meio de pagamento para uma determinada transação, sendo esta propriedade a opção menos relevante.
                    installments:
                      type: number
                      description: Maximum number of credit card installments to be accepted.
                      x-description-i18n:
                        eng: Maximum number of credit card installments to be accepted.
                        spa: Máximo número de cuotas
                        por: Número Máximo de cotas
                    default_installments:
                      type: number
                      description: Prefered number of credit card installments.
                      x-description-i18n:
                        eng: Prefered number of credit card installments.
                        spa: Preferencia de cuotas
                        por: Preferência de cotas
                shipments:
                  type: object
                  description: Shipments information.
                  x-description-i18n:
                    eng: Shipments information.
                    spa: Información de envío
                    por: Informações de envio
                  properties:
                    mode:
                      $ref: '#/components/schemas/shipment_mode'
                    local_pickup:
                      type: boolean
                      description: The payer has the option to pick up the shipment in your store (mode:me2 only).
                      x-description-i18n:
                        eng: The payer has the option to pick up the shipment in your store (mode:me2 only).
                        spa: Preferencia de retiro de paquetes en sucursal(mode:me2 solamente)
                        por: Preferência de remoção de pacotes em agência(mode:me2 somente)
                    dimensions:
                      type: string
                      description: Dimensions of the shipment in cm x cm x cm, gr (mode:me2 only)
                      x-description-i18n:
                        eng: Dimensions of the shipment in cm x cm x cm, gr (mode:me2 only)
                        spa: Tamaño del paquete en cm x cm x cm, gr (mode:me2 solamente)
                        por: Tamanho do pacote em cm x cm x cm, gr (mode:me2 somente)
                    default_shipping_method:
                      type: number
                      description: Select default shipping method in checkout (mode:me2 only).
                      x-description-i18n:
                        eng: Select default shipping method in checkout (mode:me2 only).
                        spa: Elegir un método de envío predeterminado en el checkout (mode:me2 solamente)
                        por: Escolha um método de envio padrão no checkout (mode:me2 somente)
                    free_methods:
                      type: array
                      description: Offer a shipping method as free shipping (mode:me2 only).
                      x-description-i18n:
                        eng: Offer a shipping method as free shipping (mode:me2 only).
                        spa: Ofrecer un método de envío gratuito (mode:me2 solamente)
                        por: Oferecer um método de frete grátis (mode:me2 somente)
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                            description: Shipping method ID.
                            x-description-i18n:
                              eng: Shipping method ID.
                              spa: Identificador de método de envío
                              por: Identificador do método de envio
                    cost:
                      type: number
                      description: Shipment cost (mode:custom only).
                      x-description-i18n:
                        eng: Shipment cost (mode:custom only).
                        spa: Costo del envío (mode:custom solamente)
                        por: Custo do transporte (mode:custom somente)
                    free_shipping:
                      type: boolean
                      description: Free shipping for mode:custom.
                      x-description-i18n:
                        eng: Free shipping for mode:custom.
                        spa: Preferencia de envío gratuito para mode:custom
                        por: Preferência de frete grátis para mode:custom
                    receiver_address:
                      type: object
                      description: Shipping address.
                      x-description-i18n:
                        eng: Shipping address.
                        spa: Dirección de envío
                        por: Endereço de envio
                      properties:
                        zip_code:
                          type: string
                          description: Zip code.
                          x-description-i18n:
                            eng: Zip code.
                            spa: Código postal
                            por: Código postal
                        street_name:
                          type: string
                          description: Street name.
                          x-description-i18n:
                            eng: Street name.
                            spa: Calle
                            por: Rua
                        city_name:
                          type: string
                          description: City name.
                          x-description-i18n:
                            eng: City name.
                            spa: Ciudad
                            por: Cidade
                        state_name:
                          type: string
                          description: State name.
                          x-description-i18n:
                            eng: State name.
                            spa: Estado
                            por: Estado
                        street_number:
                          type: number
                          description: Street number.
                          x-description-i18n:
                            eng: Street number.
                            spa: Número
                            por: O Número
                        floor:
                          type: string
                          description: Floor.
                          x-description-i18n:
                            eng: Floor.
                            spa: Piso
                            por: Apartamento
                        apartment:
                          type: string
                          description: Apartment.
                          x-description-i18n:
                            eng: Apartment.
                            spa: Departamento
                            por: Apartamento
                back_urls:
                  type: object
                  description: URLs to return to the sellers website.
                  x-description-i18n:
                    eng: URLs to return to the sellers website.
                    spa: URLs de retorno al sitio del vendedor
                    por: Url de retorno ao site do vendedor
                  properties:
                    success:
                      type: string
                      description: Approved payment URL.
                      x-description-i18n:
                        eng: Approved payment URL.
                        spa: URL de retorno ante pago aprobado
                        por: URL de retorno ante o pagamento aprovado
                    pending:
                      type: string
                      description: Pending or in process payment URL.
                      x-description-i18n:
                        eng: Pending or in process payment URL.
                        spa: URL de retorno ante pago pendiente o en proceso.
                        por: URL de retorno diante de pagamento pendente ou em processo.
                    failure:
                      type: string
                      description: Canceled payment URL.
                      x-description-i18n:
                        eng: Canceled payment URL.
                        spa: URL de retorno ante pago cancelado
                        por: URL de retorno ante o pagamento cancelado
                notification_url:
                  type: string
                  description: URL where you'd like to receive a payment notification.
                  x-description-i18n:
                    eng: URL where you'd like to receive a payment notification.
                    spa: URL a la cual te gustaría recibir notificaciones de pagos
                    por: URL para a qual você gostaria de receber notificações de pagamentos
                statement_descriptor:
                  type: string
                  description: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card statement to easily identify the purchase.
                  x-description-i18n:
                    eng: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card statement to easily identify the purchase.
                    spa: El statement descriptor es un texto largo (hasta 16 caracteres) que se visualizará en la factura de la tarjeta de crédito del pagador para identificar fácilmente la compra.
                    por: O statement descriptor é um texto longo (até 16 caracteres) que será exibido na fatura do cartão de crédito do pagador para identificar facilmente a compra.
                additional_info:
                  type: string
                  description: Additional information.
                  x-description-i18n:
                    eng: Additional information.
                    spa: Información adicional
                    por: Informações adicionais
                auto_return:
                  $ref: '#/components/schemas/auto_return'
                external_reference:
                  type: string
                  description: Reference you can synchronize with your payment system.
                  x-description-i18n:
                    eng: Reference you can synchronize with your payment system.
                    spa: Referencia que puedes sincronizar con tu sistema de pagos
                    por: Referência que pode sincronizar com seu sistema de pagamentos
                expires:
                  type: boolean
                  description: Boolean value that determines if a preference expires.
                  x-description-i18n:
                    eng: Boolean value that determines if a preference expires.
                    spa: Preferencia que determina si una preferencia expira
                    por: Preferência que determina se uma preferência expira
                date_of_expiration:
                  type: string
                  format: date
                  description: Expiration date of cash payment.
                  x-description-i18n:
                    eng: Expiration date of cash payment.
                    spa: Fecha de vencimiento del medio de pago en efectivo
                    por: Data de expiração de meios de pagamento em dinheiro
                expiration_date_from:
                  type: string
                  format: date
                  description: Date in "yyyy-MM-dd'T'HH:mm:ssz" format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates. For example - 2022-11-17T09:37:52.000-04:00.
                  x-description-i18n:
                    eng: Date in "yyyy-MM-dd'T'HH:mm:ssz" format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates. For example - 2022-11-17T09:37:52.000-04:00.
                    spa: Fecha en formato "yyyy-MM-dd'T'HH:mm:ssz" que indica el inicio del período de validez de la preferencia. Esto se puede usar, por ejemplo, para ventas limitadas, donde los vendedores hacen una oferta entre ciertas fechas. Por ejemplo - 2022-11-17T09:37:52.000-04:00.
                    por: Data no formato "yyyy-MM-dd'T'HH:mm:ssz". que indica o início do período de validade da preferência. Isso pode ser usado, por exemplo, para vendas limitadas, onde os vendedores fazem uma oferta entre determinadas datas. Por exemplo - 2022-11-17T09:37:52.000-04:00. 
                expiration_date_to:
                  type: string
                  format: date
                  description: Date in "yyyy-MM-dd'T'HH:mm:ssz" format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates. For example - 2022-11-17T09:37:52.000-04:00.
                  x-description-i18n:
                    eng: Date in "yyyy-MM-dd'T'HH:mm:ssz" format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates. For example - 2022-11-17T09:37:52.000-04:00.
                    spa: Fecha en formato "yyyy-MM-dd'T'HH:mm:ssz" que indica el final del período de validez de la preferencia. Esto se puede usar, por ejemplo, para ventas limitadas, donde los vendedores hacen una oferta entre ciertas fechas. Por ejemplo - 2022-11-17T09:37:52.000-04:00.
                    por: Data no formato "yyyy-MM-dd'T'HH:mm:ssz" que indica o início do período de validade da preferência. Isso pode ser usado, por exemplo, para vendas limitadas, onde os vendedores fazem uma oferta entre determinadas datas. Por exemplo - 2022-11-17T09:37:52.000-04:00.
                marketplace:
                  type: string
                  description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                  x-description-i18n:
                    eng: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                    spa: Origen del pago. Este es un campo alfanumérico cuyo valor por defecto es NONE. Si el collector tiene su propio marketplace, aquí es donde se envían las credenciales para identificarlo. Como el marketplace está asociado al Application ID, las credenciales del marketplace deben corresponder a las credenciales utilizadas para crear la preferencia. El uso de credenciales incorrectas dará como resultado un error.
                    por: Origem do pagamento. Este é um campo alfanumérico cujo valor padrão é NONE. Caso o coletor tenha seu próprio marketplace, é para onde são enviadas as credenciais para identificá-lo. Como o marketplace está associado ao Application ID, as credenciais do marketplace devem corresponder às credenciais usadas para criar a preferência. Usar as credenciais erradas resultará em um erro.
                marketplace_fee:
                  type: number
                  description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                  x-description-i18n:
                    eng: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                    spa: Tarifa de Marketplace cobrada por el propietario de la aplicación. Es una cantidad fija y su valor por defecto es 0 en moneda local. Esta propiedad solo se puede enviar si también se ha definido un marketplace válido; de lo contrario, la solicitud fallará.
                    por: Taxa de Marketplace cobrada pelo proprietário da aplicação. É um valor fixo e seu valor padrão é 0 em moeda local. Esta propriedade só pode ser apresentada se também tiver sido definido um marketplace válido e, caso contrário, a solicitação falhará.
                differential_pricing:
                  type: object
                  description: Differential pricing configuration for this preference. The seller can have their own configuration regarding payment methods and installments, and it`s in this parameter where they will include the numeric ID to indicate so. This value is used to apply custom payment methods. 
                  x-description-i18n:
                    eng: Differential pricing configuration for this preference. The seller can have their own configuration regarding payment methods and installments, and it`s in this parameter where they will include the numeric ID to indicate so. This value is used to apply custom payment methods.
                    spa: Configuración de precio diferencial para esta preferencia. El vendedor puede tener su propia configuración en cuanto a formas de pago y cuotas, y es en este parámetro donde incluirá el ID numérico para indicarlo. Este valor se utiliza para aplicar métodos de pago personalizados.
                    por: Configuração de preço diferencial para esta preferência. O vendedor pode ter sua própria configuração em relação às formas de pagamento e taxas, e é neste parâmetro que incluirá o ID numérico para indicá-lo. Esse valor é usado para aplicar métodos de pagamento personalizados.
                  properties:
                    id:
                      type: number
                      description: Differential pricing ID.
                      x-description-i18n:
                        eng: Differential pricing ID.
                        spa: Identificador de precio diferenciado
                        por: Identificador de preço diferenciado
                tracks:
                  type: array
                  description: Tracks to be executed during the users`s interaction in the Checkout flow. The user can configure their own tracks. We currently supoort google and facebook. The collector must send the pixel ID (from google or facebook), and when the transaction flow is finalized the seller will be notified of the sale.
                  x-description-i18n:
                    eng: Tracks to be executed during the users`s interaction in the Checkout flow. The user can configure their own tracks. We currently supoort google and facebook. The collector must send the pixel ID (from google or facebook), and when the transaction flow is finalized the seller will be notified of the sale.
                    spa: Tracks que se ejecutarán durante la interacción de los usuarios en el flujo de Pago. El usuario puede configurar sus propios tracks. Actualmente soportamos Google y Facebook. El collector debe enviar el pixel ID (de google o facebook), y cuando finalice el flujo de la transacción, el vendedor será notificado de la venta.
                    por: Tracks que serão executados durante a interação do usuário no fluxo de Pagamento. O usuário pode configurar suas próprias trilhas. Atualmente suportamos Google e Facebook. O colector deve enviar o pixel ID (do google ou facebook) e, quando o fluxo da transação for finalizado, o vendedor será notificado da venda.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Track type. Specifies which tool the values belong to.
                        x-description-i18n:
                          eng: Track type. Specifies which tool the values belong to.
                          spa: Tipo del track. Especifica a qué herramienta pertenecen los valores
                          por: Tipo da track. Especifique a herramienta pertenecen los valores
                        example: google_ad
                        enum:
                          - google_ad -- Allows configurations for GTM's Google Ads Conversion Tracking tag. Necessary values as conversion_id and conversion_label.
                          - facebook_ad -- Allows configurations for Facebook Pixel. Necessary values as pixel_id.
                      values:
                        type: string
                        description: Configuration values according the track type.
                        x-description-i18n:
                          eng: Configuration values according the track type.
                          spa: Valores de configuración de acuerdo al tipo de track
                          por: Valores de configuração de acordo com o tipo de track
                metadata:
                    type: object
                    description: Valid JSON that can be added to the payment to save additional attributes.
                    x-description-i18n:
                      eng: Valid JSON that can be added to the payment to save additional attributes.
                      spa: JSON válido que puede agregarse al pago para guardar atributos adicionales
                      por: JSON válido que pode ser adicionado ao pagamento para salvar atributos adicionais
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  collector_id:
                    type: number
                    example: 202809963
                    description: Unique ID used to identify the collector. It is the same as the Cust ID.
                    x-description-i18n:
                      eng: Unique ID used to identify the collector. It is the same as the Cust ID.
                      spa: ID único utilizada para identificar al collector. Es el mismo que el Cust ID.
                      por: ID exclusivo usado para identificar o coletor. É o mesmo que o Cust ID.
                  operation_type:
                    $ref: '#/components/schemas/operation_type'
                  items:
                    type: array
                    description: Items information.
                    x-description-i18n:
                      eng: Items information.
                      spa: Información sobre el ítem
                      por: Informações sobre o item
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Item ID.
                          x-description-i18n:
                            eng: Item ID.
                            spa: Indentificador del ítem
                            por: Indentificador do item
                        picture_url:
                          type: string
                          description: Item image URL.
                          x-description-i18n:
                            eng: Item image URL.
                            spa: URL de imagen del ítem
                            por: URL da imagem do anúncio
                        title:
                          type: string
                          example: Dummy Item
                          description: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                          x-description-i18n:
                            eng: This is the item`s title, which will display during the payment process, at checkout, activities, and emails.
                            spa: Este es el título del ítem, que se mostrará durante el proceso de pago, en el checkout, actividades y correos electrónicos.
                            por: Este é o título do item, que será exibido durante o processo de pagamento, no checkout, nas atividades e nos e-mails.
                        description:
                          type: string
                          example: Multicolor Item
                          description: Item description. This is a free text field.
                          x-description-i18n:
                            eng: Item description. This is a free text field.
                            spa: Esto es un string libre donde se puede agregar la categoría del ítem.
                            por: Esta é uma string livre onde a categoria do item pode ser adicionada.
                        category_id:
                          type: string
                          description: This is a free string where the item category can be added.
                          x-description-i18n:
                            eng: This is a free string where the item category can be added.
                            spa: Esto es un string libre donde se puede agregar la categoría del ítem.
                            por: Esta é uma string livre onde a categoria do item pode ser adicionada.
                        currency_id:
                          type: string
                          example: $
                          description: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                          x-description-i18n:
                            eng: Unique ID to identify the currency. ISO_4217 code. Some sites allow local currency and USD, but it is important to note that the amount is converted to local currency when the preference is created, as the checkout always processes transactions using local currency. If you use USD please take into consideration that this value is not automatically updated if the value of local currency changes in relation to USD.
                            spa: ID único para identificar la moneda. Código ISO_4217. Algunos sitios permiten la moneda local y USD, pero es importante tener en cuenta que el monto se convierte a moneda local cuando se crea la preferencia, ya que el checkout siempre procesa las transacciones en moneda local. Si usas USD, ten en cuenta que este valor no se actualiza automáticamente si el valor de la moneda local cambia en relación a USD.
                            por: ID exclusivo para identificar a moeda. Código ISO_4217. Alguns sites permitem moeda local e USD, mas é importante observar que o valor é convertido para moeda local quando a preferência é criada, pois o checkout sempre processa as transações em moeda local. Se você estiver usando USD, observe que esse valor não é atualizado automaticamente se o valor da moeda local mudar em relação ao USD.
                          enum:
                            - ARS -- Argentine peso.
                            - BRL -- Brazilian real.
                            - CLP -- Chilean peso.
                            - MXN -- Mexican peso.
                            - COP -- Colombian peso.
                            - PEN -- Peruvian sol.
                            - UYU -- Uruguayan peso.
                        quantity:
                          type: number
                          example: 1
                          description: Item quantity. This property is used to calculate the total cost.
                          x-description-i18n:
                            eng: Item quantity. This property is used to calculate the total cost.
                            spa: Cantidad de ítems. Esta propiedad se utiliza para calcular el costo total.
                            por: Quantidade de itens. Esta propriedade é usada para calcular o custo total.
                        unit_price:
                          type: number
                          example: 10
                          description: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                          x-description-i18n:
                            eng: Unit price of the item. This property is used together with the property quantity to determine the order cost.
                            spa: Precio unitario del ítem. Esta propiedad se usa junto con propiedad quantity para determinar el costo de la orden.
                            por: Preço unitário do item. Essa propriedade é usada em conjunto com a propriedade de quantity para determinar o custo do pedido.
                  payer:
                    type: object
                    description: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                    x-description-i18n:
                      eng: Buyer information, such as name, last name, e-mail, phone, personal identification, address, and registration date.
                      spa: Información del comprador, como nombre, apellido, correo electrónico, teléfono, identificación personal, dirección y fecha de registro.
                      por: Informações do comprador, como nome, sobrenome, e-mail, telefone, identificação pessoal, endereço e data de registro.
                    properties:
                      name:
                        type: string
                        description: Name of the associated payer.
                        x-description-i18n:
                          eng: Name of the associated payer.
                          spa: Nombre del pagador asociado
                          por: Nome do pagante associado
                      surname:
                        type: string
                        description: Last name of the associated payer.
                        x-description-i18n:
                          eng: Last name of the associated payer.
                          spa: Apellido del pagador asociado
                          por: Sobrenome do pagante associado
                      email:
                        type: string
                        description: Payer’s email address.
                        x-description-i18n:
                          eng: Payer’s email address.
                          spa: E-mail del pagador
                          por: E-mail do pagante
                      date_created:
                        type: string
                        description: Registration date.
                        x-description-i18n:
                          eng: Registration date.
                          spa: Fecha de registración
                          por: Data de registro
                      phone:
                        type: object
                        description: Phone number of the associated payer.
                        x-description-i18n:
                          eng: Phone number of the associated payer.
                          spa: Teléfono del pagador asociado
                          por: Telefone do pagante associado
                        properties:
                          area_code:
                            type: string
                            description: Area code.
                            x-description-i18n:
                              eng: Area code.
                              spa: Código de área
                              por: Código de área
                          number:
                            type: number
                            description: Phone number.
                            x-description-i18n:
                              eng: Phone number.
                              spa: Número telefónico
                              por: Número de telefone
                      identification:
                        type: object
                        description: Identification of the associated payer.
                        x-description-i18n:
                          eng: Identification of the associated payer.
                          spa: Identificación del pagador asociado
                          por: Identificação do pagador associado
                        properties:
                          type:
                            type: string
                            description: Type of identification of the associated payer (required if the payer is a customer).
                            x-description-i18n:
                              eng: Type of identification of the associated payer (required if the payer is a customer).
                              spa: Tipo de identificación del pagador asociado (requerido si el pagador es un cliente)
                              por: Tipo de identificação do pagante associado (exigido se o pagante é um cliente)
                          number:
                            type: string
                            description: Identification number.
                            x-description-i18n:
                              eng: Identification number.
                              spa: Número de identificación
                              por: Número de identificação
                      address:
                        type: object
                        description: Buyer’s address.
                        x-description-i18n:
                          eng: Buyer’s address.
                          spa: Dirección del comprador
                          por: Endereço do comprador
                        properties:
                          street_name:
                            type: string
                            description: Street name.
                            x-description-i18n:
                              eng: Street name.
                              spa: Calle
                              por: Rua
                          street_number:
                            type: string
                            format: nullable
                            description: Street number.
                            x-description-i18n:
                              eng: Street number.
                              spa: Número
                              por: O Número
                          zip_code:
                            type: string
                            description: Zip code.
                            x-description-i18n:
                              eng: Zip code.
                              spa: Código postal
                              por: Código postal
                  back_urls:
                    type: object
                    description: URLs to return to the sellers website.
                    x-description-i18n:
                      eng: URLs to return to the sellers website.
                      spa: URLs de retorno al sitio del vendedor
                      por: Url de retorno ao site do vendedor
                    properties:
                      success:
                        type: string
                        description: Approved payment URL.
                        x-description-i18n:
                          eng: Approved payment URL.
                          spa: URL de retorno ante pago aprobado
                          por: URL de retorno ante o pagamento aprovado
                      pending:
                        type: string
                        description: Pending or in process payment URL.
                        x-description-i18n:
                          eng: Pending or in process payment URL.
                          spa: URL de retorno ante pago pendiente o en proceso.
                          por: URL de retorno diante de pagamento pendente ou em processo.
                      failure:
                        type: string
                        description: Canceled payment URL.
                        x-description-i18n:
                          eng: Canceled payment URL.
                          spa: URL de retorno ante pago cancelado
                          por: URL de retorno ante o pagamento cancelado
                  auto_return:
                    $ref: '#/components/schemas/auto_return'
                  payment_methods:
                    type: object
                    description: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                    x-description-i18n:
                      eng: All configuration related to payments methods, such as excluded payment methods, excluded payment types, default payment method, and installments.
                      spa: Toda la configuración relacionada con los métodos de pago, tales como los métodos de pago excluidos, los tipos de pago excluidos, el método de pago predeterminado y las cuotas.
                      por: Todas as configurações são relacionadas ao métodos de pagamento, como, por exemplo, métodos de pagamento excluídos, tipos de pagamento excluídos, método de pagamento padrão e taxas.
                    properties:
                      excluded_payment_methods:
                        type: array
                        description: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                        x-description-i18n:
                          eng: Payment methods excluded from the payment process (except account_money, which is always allowed). The payment methods included here will not be available at checkout.
                          spa: Métodos de pago excluidos del proceso de pago (excepto account_money, que siempre estará disponible). Los métodos de pago incluidos aquí no estarán disponibles en el checkout.
                          por: Métodos de pagamento excluídos do checkout (exceto account_money, que estará sempre disponível). Os métodos de pagamento aqui incluídos não estarão disponíveis no checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Payment method identifier.
                              x-description-i18n:
                                eng: Payment method identifier.
                                spa: Identificador del medio de pago
                                por: Id do meio de pagamento
                      excluded_payment_types:
                        type: array
                        description: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                        x-description-i18n:
                          eng: Payment types excluded from the payment process. The payment types included here will not be available at checkout.
                          spa: Tipos de pago excluidos del proceso de pago. Los tipos de pago incluidos aquí no estarán disponibles en el checkout.
                          por: Tipos de pagamento excluídos do processo de pagamento. Os tipos de pagamento incluídos aqui não estarão disponíveis no checkout.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Payment type identifier
                              x-description-i18n:
                                eng: Payment type identifier
                                spa: Identificador del tipo de pago
                                por: Identificador do tipo de pagamento
                      installments:
                        type: string
                        format: nullable
                        description: Maximum number of credit card installments to be accepted.
                        x-description-i18n:
                          eng: Maximum number of credit card installments to be accepted.
                          spa: Máximo número de cuotas
                          por: Número Máximo de cotas
                      default_payment_method_id:
                        type: string
                        format: nullable
                        description: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                        x-description-i18n:
                          eng: Suggested payment method. The user will initiate the checkout this this payment method already selected. It is considered suggested because Checkouts follow different logics in order to select the best payment method for a specific transaction, and this property is the option with the least relevance.
                          spa: Forma de pago sugerida. El usuario iniciará el pago con este método de pago ya seleccionado. Se considera sugerida porque los Checkouts siguen lógicas diferentes para seleccionar el mejor método de pago para una transacción específica, siendo esta propiedad la opción con menor relevancia.
                          por: Forma de pagamento sugerida. O usuário iniciará o pagamento com esta forma de pagamento já selecionada. Considera-se sugerido porque os Checkouts seguem lógicas diferentes para selecionar o melhor meio de pagamento para uma determinada transação, sendo esta propriedade a opção menos relevante.
                      default_installments:
                        type: string
                        format: nullable
                        description: Prefered number of credit card installments.
                        x-description-i18n:
                          eng: Prefered number of credit card installments.
                          spa: Preferencia de cuotas
                          por: Preferência de cotas
                  client_id:
                    type: string
                    example: 6295877106812064
                    description: Unique ID used to identify the client. It is obtained from the credentials used to create the preference. It´s the application ID.
                    x-description-i18n:
                      eng: Unique ID used to identify the client. It is obtained from the credentials used to create the preference. It´s the application ID.
                      spa: ID único utilizada para identificar al cliente. Se obtiene a partir de las credenciales utilizadas para crear la preferencia. Es el Application ID.
                      por: ID exclusivo usado para identificar o cliente. Obtido das credenciais usadas para criar a preferência. É o Application ID.
                  marketplace:
                    type: string
                    example: MP-MKT-6295877106812064
                    description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                    x-description-i18n:
                      eng: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                      spa: Origen del pago. Este es un campo alfanumérico cuyo valor por defecto es NONE. Si el collector tiene su propio marketplace, aquí es donde se envían las credenciales para identificarlo. Como el marketplace está asociado al Application ID, las credenciales del marketplace deben corresponder a las credenciales utilizadas para crear la preferencia. El uso de credenciales incorrectas dará como resultado un error.
                      por: Origem do pagamento. Este é um campo alfanumérico cujo valor padrão é NONE. Caso o coletor tenha seu próprio marketplace, é para onde são enviadas as credenciais para identificá-lo. Como o marketplace está associado ao Application ID, as credenciais do marketplace devem corresponder às credenciais usadas para criar a preferência. Usar as credenciais erradas resultará em um erro.
                  marketplace_fee:
                    type: number
                    example: 0
                    description: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                    x-description-i18n:
                      eng: Marketplace`s fee charged by application owner. It is a fixed amount and its default value is 0 in local currency. This property can only be sent if a valid marketplace has been defined as well, otherwise the request will fail.
                      spa: Tarifa de Marketplace cobrada por el propietario de la aplicación. Es una cantidad fija y su valor por defecto es 0 en moneda local. Esta propiedad solo se puede enviar si también se ha definido un marketplace válido; de lo contrario, la solicitud fallará.
                      por: Taxa de Marketplace cobrada pelo proprietário da aplicação. É um valor fixo e seu valor padrão é 0 em moeda local. Esta propriedade só pode ser apresentada se também tiver sido definido um marketplace válido e, caso contrário, a solicitação falhará.
                  shipments:
                    type: object
                    description: Shipments information.
                    x-description-i18n:
                      eng: Shipments information.
                      spa: Información de envío
                      por: Informações de envio
                    properties:
                      receiver_address:
                        type: object
                        description: Shipping address.
                        x-description-i18n:
                          eng: Shipping address.
                          spa: Dirección de envío
                          por: Endereço de envio
                        properties:
                          zip_code:
                            type: string
                            description: Zip code.
                            x-description-i18n:
                              eng: Zip code.
                              spa: Código postal
                              por: Código postal
                          street_number:
                            type: string
                            format: nullable
                            description: Street number.
                            x-description-i18n:
                              eng: Street number.
                              spa: Número
                              por: O Número
                          street_name:
                            type: string
                            description: Street name.
                            x-description-i18n:
                              eng: Street name.
                              spa: Calle
                              por: Rua
                          floor:
                            type: string
                            description: Floor.
                            x-description-i18n:
                              eng: Floor.
                              spa: Piso
                              por: Apartamento
                          apartment:
                            type: string
                            description: Apartment.
                            x-description-i18n:
                              eng: Apartment.
                              spa: Departamento
                              por: Apartamento
                  notification_url:
                    type: string
                    format: nullable
                    description: URL where you'd like to receive a payment notification.
                    x-description-i18n:
                      eng: URL where you'd like to receive a payment notification.
                      spa: URL a la cual te gustaría recibir notificaciones de pagos
                      por: URL para a qual você gostaria de receber notificações de pagamentos
                  statement_descriptor:
                    type: string
                    example: MERCADOPAGO
                    description: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card statement to easily identify the purchase.
                    x-description-i18n:
                      eng: The statement descriptor is a long text (up to 16 characters) that will be visualized in the payer´s credit card statement to easily identify the purchase.
                      spa: El statement descriptor es un texto largo (hasta 16 caracteres) que se visualizará en la factura de la tarjeta de crédito del pagador para identificar fácilmente la compra.
                      por: O statement descriptor é um texto longo (até 16 caracteres) que será exibido na fatura do cartão de crédito do pagador para identificar facilmente a compra.
                  external_reference:
                    type: string
                    description: Reference you can synchronize with your payment system.
                    x-description-i18n:
                      eng: Reference you can synchronize with your payment system.
                      spa: Referencia que puedes sincronizar con tu sistema de pagos
                      por: Referência que pode sincronizar com seu sistema de pagamentos
                  additional_info:
                    type: string
                    description: Additional information.
                    x-description-i18n:
                      eng: Additional information.
                      spa: Información adicional
                      por: Informações adicionais
                  expires:
                    type: boolean
                    description: Boolean value that determines if a preference expires.
                    x-description-i18n:
                      eng: Boolean value that determines if a preference expires.
                      spa: Preferencia que determina si una preferencia expira
                      por: Preferência que determina se uma preferência expira
                  expiration_date_from:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                    x-description-i18n:
                      eng: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                      spa: Fecha en formato AAAA-MM-DD-HH-MM-SS que indica el inicio del período de validez de la preferencia. Esto se puede usar, por ejemplo, para ventas limitadas, donde los vendedores hacen una oferta entre ciertas fechas.
                      por: Data no formato AAAA-MM-DD-HH-MM-SS que indica o início do período de validade da preferência. Isso pode ser usado, por exemplo, para vendas limitadas, onde os vendedores fazem uma oferta entre determinadas datas.
                  expiration_date_to:
                    type: string
                    format: nullable
                    description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                    x-description-i18n:
                      eng: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                      spa: Fecha en formato AAAA-MM-DD-HH-MM-SS que indica el final del período de validez de la preferencia. Esto se puede usar, por ejemplo, para ventas limitadas, donde los vendedores hacen una oferta entre ciertas fechas.
                      por: Data no formato AAAA-MM-DD-HH-MM-SS que indica o início do período de validade da preferência. Isso pode ser usado, por exemplo, para vendas limitadas, onde os vendedores fazem uma oferta entre determinadas datas.
                  date_created:
                    type: string
                    example: 2018-02-02T19:22:23.535Z
                    description: Registration date.
                    x-description-i18n:
                      eng: Registration date.
                      spa: Fecha de registración
                      por: Data de registro
                  id:
                    type: string
                    example: 202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Autogenerated unique ID that identifies the preference. For example 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                    x-description-i18n:
                      eng: Autogenerated unique ID that identifies the preference. For example 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                      spa: ID único generado automáticamente que identifica la preferencia. Por ejemplo 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                      por: ID exclusivo gerado automaticamente que identifica a preferência. Por exemplo 036151801-2484cd71-7140-4c51-985a-d4cfcf133baf
                  init_point:
                    type: string
                    example: 
                      https://www.mercadopago.com/mla/checkout/start?pref_id=202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Automatically generated URL to open the Checkout.
                    x-description-i18n:
                      eng: Automatically generated URL to open the Checkout.
                      spa: URL generada automáticamente para abrir el Checkout.
                      por: URL gerado automaticamente para abrir o Checkout.
                  sandbox_init_point:
                    type: string
                    example: 
                      https://sandbox.mercadopago.com/mla/checkout/pay?pref_id=202809963-920c288b-4ebb-40be-966f-700250fa5370
                    description: Automatically generated URL to open the Checkout in sandbox mode. Real users are used here, but transactions are executed using test credentials.
                    x-description-i18n:
                      eng: Automatically generated URL to open the Checkout in sandbox mode. Real users are used here, but transactions are executed using test credentials.
                      spa: URL generada automáticamente para abrir el Checkout en modo sandbox. Aquí se utilizan usuarios reales, pero las transacciones se ejecutan con credenciales de prueba.
                      por: URL gerado automaticamente para abrir o Checkout no modo sandbox. Usuários reais são usados ​​aqui, mas as transações são executadas com credenciais de teste.
                  metadata:
                    type: object
                    description: Valid JSON that can be added to the payment to save additional attributes.
                    x-description-i18n:
                      eng: Valid JSON that can be added to the payment to save additional attributes.
                      spa: JSON válido que puede agregarse al pago para guardar atributos adicionales
                      por: JSON válido que pode ser adicionado ao pagamento para salvar atributos adicionais
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - collector_does_not_comply_with_current_regulation--identity validation required.
                      - invalid_collector_id--collector_id invalid.
                      - invalid_sponsor_id--sponsor_id is not an active user.
                      - invalid_collector_email--collector is not collector_email owner
                      - invalid_operation_type--operation_type invalid.
                      - invalid_expiration_date_to--expiration_date_to invalid.
                      - invalid_date--invalid date of expiration.
                      - invalid_expiration_date_from--expiration_date_from invalid.
                      - invalid_items--unit_price invalid.
                      - invalid_back_urls--back_urls invalid. Wrong format
                      - invalid_payment_methods--installments invalid. Should be a number between 1 and 36.
                      - invalid_marketplace_fee--marketplace_fee must not be greater than total amount.
                      - invalid_id--preference_id not found.
                      - invalid_access_token--access denied
                      - invalid_shipments--invalid type (<type>) for field shipments.cost.
                      - invalid_binary_mode--binary_mode must be boolean.
  /checkout/preferences/search:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Search preferences
      x-summary-i18n:
        eng: Search preferences
        spa: Buscar en preferencias
        por: Buscar em preferências
      description: Find all the information related to generated preferences using specific filters or a specific date range
      x-description-i18n:
        eng: Find all the information related to generated preferences using specific filters or a specific date range
        spa: Encuentra toda la información de las preferencias generadas a través de filtros específicos o por un rango de fechas determinado
        por: Encontre todas as informações das preferências geradas através de filtros específicos ou por uma faixa de datas específica
      parameters:
        - name: sponsor_id
          in: query
          description: Unique numeric ID to identify the sponsor. It is used to identify what platform the checkout flow was initiated in.
          x-description-i18n:
            eng: Unique numeric ID to identify the sponsor. It is used to identify what platform the checkout flow was initiated in.
            spa: ID numérico único para identificar al sponsor. Se utiliza para identificar en qué plataforma se inició el flujo de pago.
            por: ID numérico exclusivo para identificar o sponsor. É usado para identificar em qual plataforma o fluxo de pagamento foi iniciado.
          schema:
            type: string
        - name: external_reference
          in: query
          description: Reference you can synchronize with your payment system.
          x-description-i18n:
            eng: Reference you can synchronize with your payment system.
            spa: Referencia que puedes sincronizar con tu sistema de pagos
            por: Referência que pode sincronizar com seu sistema de pagamentos
          schema:
            type: string
        - name: site_id
          in: query
          description: The site id
          x-description-i18n:
            eng: The site id
            spa: ID del site
            por: ID do site
          schema:
            type: string
          enum:
            - MLA -- Mercado Libre Argentina
            - MLB -- Mercado Libre Brasil
            - MLC -- Mercado Libre Chile
            - MLM -- Mercado Libre México
            - MLU -- Mercado Libre Uruguay
            - MCO -- Mercado Libre Colombia
            - MPE -- Mercado Libre Perú
        - name: marketplace
          in: query
          description: Marketplace ID.
          x-description-i18n:
            eng: Marketplace ID.
            spa: ID del Marketplace
            por: ID do Marketplace
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 202809963-a2201f8d-11cb-443f-adf6-de5a42eed67d
                          description: Preference ID.
                          x-description-i18n:
                            eng: Preference ID.
                            spa: Identificador de preferencia
                            por: Identificação de preferência
                        client_id:
                          type: string
                          example: 6295877106812064
                          description: Unique ID used to identify the client. It is obtained from the credentials used to create the preference. It´s the application ID.
                          x-description-i18n:
                            eng: Unique ID used to identify the client. It is obtained from the credentials used to create the preference. It´s the application ID.
                            spa: ID único utilizada para identificar al cliente. Se obtiene a partir de las credenciales utilizadas para crear la preferencia. Es el Application ID.
                            por: ID exclusivo usado para identificar o cliente. Obtido das credenciais usadas para criar a preferência. É o Application ID.
                        collector_id:
                          type: number
                          example: 202809963
                          description: Unique ID used to identify the collector. It is the same as the Cust ID.
                          x-description-i18n:
                            eng: Unique ID used to identify the collector. It is the same as the Cust ID.
                            spa: ID único utilizada para identificar al collector. Es el mismo que el Cust ID.
                            por: ID exclusivo usado para identificar o coletor. É o mesmo que o Cust ID.
                        concept_id:
                          type: string
                          format: nullable
                          description: Unique ID used to identify the concept.
                          x-description-i18n:
                            eng: Unique ID used to identify the concept.
                            spa: ID único utilizado para identificar el concepto.
                            por: ID exclusivo usado para identificar o conceito.
                        corporation_id:
                          type: string
                          format: nullable
                          description: Corporation identifier
                          x-description-i18n:
                            eng: Corporation identifier
                            spa: Identificador de la corporación
                            por: Identificador da corporação
                        date_created:
                          type: string
                          example: 2018-02-02T19:18:51.150Z
                          description: Registration date.
                          x-description-i18n:
                            eng: Registration date.
                            spa: Fecha de registración
                            por: Data de registro
                        expiration_date_from:
                          type: string
                          format: nullable
                          description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                          x-description-i18n:
                            eng: Date in YYYY-MM-DD-HH-MM-SS format which indicates the start of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                            spa: Fecha en formato AAAA-MM-DD-HH-MM-SS que indica el inicio del período de validez de la preferencia. Esto se puede usar, por ejemplo, para ventas limitadas, donde los vendedores hacen una oferta entre ciertas fechas.
                            por: Data no formato AAAA-MM-DD-HH-MM-SS que indica o início do período de validade da preferência. Isso pode ser usado, por exemplo, para vendas limitadas, onde os vendedores fazem uma oferta entre determinadas datas.
                        expiration_date_to:
                          type: string
                          format: nullable
                          description: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                          x-description-i18n:
                            eng: Date in YYYY-MM-DD-HH-MM-SS format which indicates the end of the preference`s validity period. This can be used, for instance, for limited sales, where sellers make an offer between certain dates.
                            spa: Fecha en formato AAAA-MM-DD-HH-MM-SS que indica el final del período de validez de la preferencia. Esto se puede usar, por ejemplo, para ventas limitadas, donde los vendedores hacen una oferta entre ciertas fechas.
                            por: Data no formato AAAA-MM-DD-HH-MM-SS que indica o início do período de validade da preferência. Isso pode ser usado, por exemplo, para vendas limitadas, onde os vendedores fazem uma oferta entre determinadas datas.
                        expires:
                          type: boolean
                          description: Boolean value that determines if a preference expires.
                          x-description-i18n:
                            eng: Boolean value that determines if a preference expires.
                            spa: Preferencia que determina si una preferencia expira
                            por: Preferência que determina se uma preferência expira
                        external_reference:
                          type: string
                          description: Reference you can synchronize with your payment system.
                          x-description-i18n:
                            eng: Reference you can synchronize with your payment system.
                            spa: Referencia que puedes sincronizar con tu sistema de pagos
                            por: Referência que pode sincronizar com seu sistema de pagamentos
                        integrator_id:
                          type: string
                          format: nullable
                          description: Integrator identifier
                          x-description-i18n:
                            eng: Integrator identifier
                            spa: Identificador del integrador
                            por: Identificador do integrador
                        items:
                          type: array
                          items:
                            type: string
                            example: Test Item
                          description: items
                        last_updated:
                          type: string
                          format: nullable
                          description: Last updated date
                          x-description-i18n:
                            eng: Last updated date
                            spa: Última fecha de actualización
                            por: Data da última atualização
                        live_mode:
                          type: boolean
                          description: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                          x-description-i18n:
                            eng: Indicates whether the Payment was made in a production environment or in a Test environment. If TRUE, then the chargeback will be processed in production mode. If FALSE, then the chargeback will be processed in sandbox mode.
                            spa: Indica si el Pago se realizó en ambiente productivo o en un ambiente de Test. Si es TRUE, el contracargo se procesará en modo de producción. Si es FALSE, el contracargo se procesará en modo sandbox.
                            por: Indica se o Pagamento foi feito em ambiente de produção ou em ambiente de Teste. Se TRUE, o estorno será processado em modo de produção. Se FALSE, o estorno será processado no modo sandbox.
                        marketplace:
                          type: string
                          example: NONE
                          description: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                          x-description-i18n:
                            eng: Origin of the payment. This is an alphanumeric field whose default value is NONE. If the collector has their own marketplace, this is where the credentials to identify it are sent. As the marketplace is associated to the Application ID, the marketplace credentials must correspond to the credentials used to create the preference. Using the wrong credentials will result in an error.
                            spa: Origen del pago. Este es un campo alfanumérico cuyo valor por defecto es NONE. Si el collector tiene su propio marketplace, aquí es donde se envían las credenciales para identificarlo. Como el marketplace está asociado al Application ID, las credenciales del marketplace deben corresponder a las credenciales utilizadas para crear la preferencia. El uso de credenciales incorrectas dará como resultado un error.
                            por: Origem do pagamento. Este é um campo alfanumérico cujo valor padrão é NONE. Caso o coletor tenha seu próprio marketplace, é para onde são enviadas as credenciais para identificá-lo. Como o marketplace está associado ao Application ID, as credenciais do marketplace devem corresponder às credenciais usadas para criar a preferência. Usar as credenciais erradas resultará em um erro.
                        operation_type:
                          $ref: '#/components/schemas/operation_type'
                        payer_email:
                          type: string
                          description: Payer’s email address.
                          x-description-i18n:
                            eng: Payer’s email address.
                            spa: E-mail del pagador
                            por: E-mail do pagante
                        platform_id:
                          type: string
                          description: Platform identifier
                          x-description-i18n:
                            eng: Platform identifier
                            spa: Identificador de la plataforma
                            por: Identificador da plataforma
                        processing_modes:
                          type: string
                          format: nullable
                          description: Processing mode
                          x-description-i18n:
                            eng: Processing mode
                            spa: Modo de procesamiento
                            por: Modo de processamento
                        product_id:
                          type: string
                          description: Unique ID used to identify the product.
                          x-description-i18n:
                            eng: Unique ID used to identify the product.
                            spa: ID único utilizado para identificar el producto.
                            por: ID exclusivo usado para identificar o produto.
                        purpose:
                          type: string
                          description: This field has two possible values, empty and wallet_purchase.
                          x-description-i18n:
                            eng: This field has two possible values, empty and wallet_purchase.
                            spa: Este campo tiene dos valores posibles, empty y wallet_purchase.
                            por: Este campo tem dois valores possíveis, empty e wallet_purchase.
                        site_id:
                          type: string
                          example: MLA
                          description: Unique ID used to identify the site.
                          x-description-i18n:
                            eng: Unique ID used to identify the site.
                            spa: ID único utilizado para identificar el site.
                            por: ID exclusivo usado para identificar o site.
                          enum:
                            - MLA -- Mercado Libre Argentina
                            - MLB -- Mercado Libre Brasil
                            - MLC -- Mercado Libre Chile
                            - MLM -- Mercado Libre México
                            - MLU -- Mercado Libre Uruguay
                            - MCO -- Mercado Libre Colombia
                            - MPE -- Mercado Libre Perú
                        sponsor_id:
                          type: number
                          example: 0
                          description: Unique numeric ID to identify the sponsor. It is used to identify what platform the checkout flow was initiated in.
                          x-description-i18n:
                            eng: Unique numeric ID to identify the sponsor. It is used to identify what platform the checkout flow was initiated in.
                            spa: ID numérico único para identificar al sponsor. Se utiliza para identificar en qué plataforma se inició el flujo de pago.
                            por: ID numérico exclusivo para identificar o sponsor. É usado para identificar em qual plataforma o fluxo de pagamento foi iniciado.
                    description: Elements
                  next_offset:
                    type: number
                    example: 1
                    description: Numeric field used to paginate the response.
                    x-description-i18n:
                      eng: Numeric field used to paginate the response.
                      spa: Campo numérico utilizado para paginar la respuesta.
                      por: Campo numérico usado para paginar a resposta.
                  total:
                    type: number
                    example: 1
                    description: total
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - ds_search_query--invalid query.
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - invalid_token--invalid_token.
                      - invalid_caller_id--invalid caller_id
  /checkout/preferences/{id}:
    get:
      tags:
        - $ref: '#/tags/checkout-pro'
        - $ref: '#/tags/mobile-checkout'
      summary: Get preference
      x-summary-i18n:
        eng: Get preference
        spa: Obtener preferencia
        por: Obter preferência
      description: Check all the payment information for a product or service with the ID of the preference of your choice
      x-description-i18n:
        eng: Check all the payment information for a product or service with the ID of the preference of your choice
        spa: Consulta toda la información de pago de un producto o servicio con el ID de la preferencia que quieras
        por: Veja todas as informações de pagamento de um produto ou serviço com a identificação da preferência desejada
      parameters:
        - name: id
          in: path
          description: Preference ID.
          x-description-i18n:
            eng: Preference ID.
            spa: Identificador de preferencia
            por: Identificação de preferência
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  additional_info:
                    type: string
                    description: Additional information.
                    x-description-i18n:
                      eng: Additional information.
                      spa: Información adicional
                      por: Informações adicionais
                  auto_return:
                    $ref: '#/components/schemas/auto_return'
                  back_urls:
                    type: object
                    description: URLs to return to the sellers website.
                    x-description-i18n:
                      eng: URLs to return to the sellers website.
                      spa: URLs de retorno al sitio del vendedor
                      por: Url de retorno ao site do vendedor
                    properties:
                      failure:
                        type: string
                        description: Canceled payment URL.
                        x-description-i18n:
                          eng: Canceled payment URL.
                          spa: URL de retorno ante pago cancelado
                          por: URL de retorno ante o pagamento cancelado
                      pending:
                        type: string
                        description: Pending or in process payment URL.
                        x-description-i18n:
                          eng: Pending or in process payment URL.
                          spa: URL de retorno ante pago pendiente o en proceso.
                          por: URL de retorno diante de pagamento pendente ou em processo.
                      success:
                        type: string
                        description: Approved payment URL.
                        x-description-i18n:
                          eng: Approved payment URL.
                          spa: URL de retorno ante pago aprobado
                          por: URL de retorno ante o pagamento aprovado
                  client_id:
                    type: string
                    example: 6295877106812064
                    description: Unique ID used to identify the client. It is obtained from the credentials used to create the preference. It´s the application ID.
                    x-description-i18n:
                      eng: Unique ID used to identify the client. It is obtained from the credentials used to create the preference. It´s the application ID.
                      spa: ID único utilizada para identificar al cliente. Se obtiene a partir de las credenciales utilizadas para crear la preferencia. Es el Application ID.
                      por: ID exclusivo usado para identificar o cliente. Obtido das credenciais usadas para criar a preferência. É o Application ID.
                  collector_id:
                    type: number
                    example: 202809963
                    description: Unique ID used to identify the collector. It is the same as the Cust ID.
                    x-description-i18n:
                      eng: Unique ID used to identify the collector. It is the same as the Cust ID.
[...]
