openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /stores/{id}:
    get:
      tags:
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/mp-point'
      summary: Get store
      x-summary-i18n:
        eng: Get store
        spa: Obtener sucursal
        por: Obter loja
      description: Check all the information of a physical store with the ID of the store you want
      x-description-i18n:
        eng: Check all the information of a physical store with the ID of the store you want
        spa: Consulta toda la información de una tienda física con el ID de la sucursal que quieras
        por: Veja todas as informações de um estabelecimento físico com o ID da loja que você deseja
      parameters:
        - name: id
          in: path
          description: Store's Id
          x-description-i18n:
            eng: Store's Id
            spa: Store's Id
            por: Store's Id
          required: true
          schema:
            type: string
            example: 31410148
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 30163646
                    description: id
                  name:
                    type: string
                    example: Sucursal Instore
                    description: name
                  date_creation:
                    type: string
                    format: date-time
                    example: 2021-04-16T14:54:28.573Z
                    description: date_creation
                  business_hours:
                    type: object
                    properties:
                      monday:
                        type: array
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: '08:00'
                              description: open
                            close:
                              type: string
                              example: '13:00'
                              description: close
                        description: monday
                      tuesday:
                        type: array
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: '08:00'
                              description: open
                            close:
                              type: string
                              example: '18:00'
                              description: close
                        description: tuesday
                      wednesday:
                        type: array
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: '07:00'
                              description: open
                            close:
                              type: string
                              example: '10:00'
                              description: close
                        description: wednesday
                    description: business_hours
                  location:
                    type: object
                    properties:
                      address_line:
                        type: string
                        example: Caseros 3039, Belgrano, Capital Federal, Argentina
                        description: address_line
                      reference:
                        type: string
                        example: 3er Piso
                        description: reference
                      latitude:
                        type: number
                        example: -32.8897322
                        description: latitude
                      longitude:
                        type: number
                        example: -68.8443275
                        description: longitude
                    description: location
                  external_id:
                    type: string
                    example: SUC001
                    description: external_id
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - INVALID_STORE_ID--Invalid STORE_ID.
  /users/{user_id}/stores:
    post:
      tags:
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/mp-point'
      summary: Create store
      x-summary-i18n:
        eng: Create store
        spa: Crear sucursal
        por: Criar loja
      description: Generates a physical store where customers can purchase products or services. You can create more than one store per account
      x-description-i18n:
        eng: Generates a physical store where customers can purchase products or services. You can create more than one store per account
        spa: Genera una tienda física en la que los clientes pueden adquirir los productos o servicios. Puedes crear más de una sucursal por cuenta
        por: Gere um estabelecimento físico onde os clientes possam adquirir produtos ou serviços. Você pode criar mais de uma loja por conta
      parameters:
        - name: user_id
          in: path
          description: User Id
          x-description-i18n:
            eng: User Id
            spa: User Id
            por: User Id
          required: true
          schema:
            type: string
            example: 446566691
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Store name.
                  x-description-i18n:
                    eng: Store name.
                    spa: Nombre de la Sucursal
                    por: Nome da loja
                  example: Sucursal Instore
                business_hours:
                  description: 
                    Business hours. They are divided by day of the week and up to two opening and closing times per day are allowed.
                  type: object
                  properties:
                    monday:
                      type: array
                      items:
                        type: object
                        properties:
                          open:
                            type: string
                            example: '08:00'
                            description: open
                          close:
                            type: string
                            example: '12:00'
                            description: close
                      description: monday
                    tuesday:
                      type: array
                      items:
                        type: object
                        properties:
                          open:
                            type: string
                            example: '09:00'
                            description: open
                          close:
                            type: string
                            example: '18:00'
                            description: close
                      description: tuesday
                external_id:
                  type: string
                  description: Unique identifier of the store defined by integrator system.
                  x-description-i18n:
                    eng: Unique identifier of the store defined by integrator system.
                    spa: Identificador único de la Sucursal definido por el integrador.
                    por: Identificador único da loja definido pelo sistema integrador.
                  example: SUC001
                location:
                  type: object
                  description: Store location.
                  x-description-i18n:
                    eng: Store location.
                    spa: Ubicación de la Sucursal
                    por: Localização da Loja
                  properties:
                    street_number:
                      type: string
                      description: Street number.
                      x-description-i18n:
                        eng: Street number.
                        spa: Número
                        por: O Número
                      example: 3039
                    street_name:
                      type: string
                      description: Street name.
                      x-description-i18n:
                        eng: Street name.
                        spa: Calle
                        por: Rua
                      example: Caseros
                    city_name:
                      type: string
                      description: City.
                      x-description-i18n:
                        eng: City.
                        spa: Ciudad
                        por: Cidade
                      example: Belgrano
                    state_name:
                      type: string
                      description: State.
                      x-description-i18n:
                        eng: State.
                        spa: Provincia
                        por: Província
                      example: Capital Federal
                    latitude:
                      type: number
                      description: Latitude.
                      x-description-i18n:
                        eng: Latitude.
                        spa: Latitud
                        por: Latitude
                      example: -32.8897322
                    longitude:
                      type: number
                      description: Longitude.
                      x-description-i18n:
                        eng: Longitude.
                        spa: Longitud
                        por: Longitude
                      example: -68.8443275
                    reference:
                      type: string
                      description: Reference.
                      x-description-i18n:
                        eng: Reference.
                        spa: Referencia
                        por: Referência
                      example: 3er Piso
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 1234567
                    description: id
                  name:
                    type: string
                    example: Sucursal Instore
                    description: name
                  date_created:
                    type: string
                    example: 2019-08-08T19:29:45.019Z
                    description: date_created
                  business_hours:
                    type: object
                    properties:
                      monday:
                        type: array
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: '08:00'
                              description: open
                            close:
                              type: string
                              example: '12:00'
                              description: close
                        description: monday
                      tuesday:
                        type: array
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: '09:00'
                              description: open
                            close:
                              type: string
                              example: '18:00'
                              description: close
                        description: tuesday
                    description: business_hours
                  location:
                    type: object
                    properties:
                      address_line:
                        type: string
                        example: Caseros 3039 Belgrano Capital Federal
                        description: address_line
                      latitude:
                        type: number
                        example: -32.8897322
                        description: latitude
                      longitude:
                        type: number
                        example: -68.8443275
                        description: longitude
                      reference:
                        type: string
                        example: 3er Piso
                        description: reference
                    description: location
                  external_id:
                    type: string
                    example: SUC001
                    description: external_id
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - INVALID_USER_ID--USER_ID must be number.
                      - UNKNOWN_FIELD--Unknown field.
                      - INVALID_NAME--Name must be string.
                      - INVALID_BUSINESS_HOURS--BUSINESS_HOURS must be json_object.
                      - INVALID_DAY--Day must be json_array.
                      - INVALID_LOCATION--LOCATION must be json_object.
                      - INVALID_STREET_NAME--STREET_NAME must be string.
                      - INVALID_STREET_NUMBER--STREET_NUMBER must be string.
                      - INVALID_ZIP_CODE--ZIP_CODE must be string.
                      - INVALID_CITY_NAME--CITY_NAME must be string.
                      - INVALID_STATE_NAME--STATE_NAME must be string.
                      - INVALID_LATITUDE--LATITUDE must be number.
                      - INVALID_LONGITUDE--LONGITUDE must be number.
                      - INVALID_REFERENCE--REFERENCE must be string.
                      - VALIDATION_ERROR--External_id-already-used-

  /users/{user_id}/stores/search:
    get:
      tags:
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/mp-point'
      summary: Search stores
      x-summary-i18n:
        eng: Search stores
        spa: Buscar en sucursales
        por: Buscar em lojas
      description: Find all the information of the stores generated through specific filters
      x-description-i18n:
        eng: Find all the information of the stores generated through specific filters
        spa: Encuentra toda la información de las sucursales generadas a través de filtros específicos
        por: Encontre todas as informações das lojas criadas através de filtros específicos
      parameters:
        - name: user_id
          in: path
          description: User Id
          x-description-i18n:
            eng: User Id
            spa: User Id
            por: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: external_id
          in: query
          description: Unique identifier of the store defined by integrator system
          x-description-i18n:
            eng: Unique identifier of the store defined by integrator system
            spa: Unique identifier of the store defined by integrator system
            por: Unique identifier of the store defined by integrator system
          required: false
          schema:
            type: string
            example: SUC001
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    paging:
                      type: object
                      properties:
                        total:
                          type: number
                          example: 1
                          description: total
                        offset:
                          type: number
                          example: 0
                          description: offset
                        limit:
                          type: number
                          example: 30
                          description: limit
                      description: paging
                    results:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 30163646
                            description: id
                          name:
                            type: string
                            example: Sucursal Instore
                            description: name
                          date_creation:
                            type: string
                            format: date-time
                            example: 2021-04-16T14:54:28.573Z
                            description: date_creation
                          business_hours:
                            type: object
                            properties:
                              monday:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    open:
                                      type: string
                                      example: '08:00'
                                      description: open
                                    close:
                                      type: string
                                      example: '13:00'
                                      description: close
                                description: monday
                              tuesday:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    open:
                                      type: string
                                      example: '08:00'
                                      description: open
                                    close:
                                      type: string
                                      example: '18:00'
                                      description: close
                                description: tuesday
                              wednesday:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    open:
                                      type: string
                                      example: '07:00'
                                      description: open
                                    close:
                                      type: string
                                      example: '10:00'
                                      description: close
                                description: wednesday
                            description: business_hours
                          location:
                            type: object
                            properties:
                              address_line:
                                type: string
                                example: 
                                  Caseros 3039, Belgrano, Capital Federal, Argentina
                                description: address_line
                              reference:
                                type: string
                                example: 3er Piso
                                description: reference
                              latitude:
                                type: number
                                example: -32.8897322
                                description: latitude
                              longitude:
                                type: number
                                example: -68.8443275
                                description: longitude
                            description: location
                          external_id:
                            type: string
                            example: SUC001
                            description: external_id
                      description: results
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - INVALID_USER_ID--USER_ID must be number.
                      - INVALID_OFFSET--OFFSET must be number.
                      - INVALID_LIMIT--LIMIT must be number.
                      - INVALID_EXTERNAL_ID--EXTERNAL_ID must be alphanumeric.
  /users/{user_id}/stores/{id}:
    put:
      tags:
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/mp-point'
      summary: Update store
      x-summary-i18n:
        eng: Update store
        spa: Actualizar sucursal
        por: Atualizar loja
      description: Renew the data of a physical shop. Indicate the ID of the seller and the store and send the parameters with the information you want to update
      x-description-i18n:
        eng: Renew the data of a physical shop. Indicate the ID of the seller and the store and send the parameters with the information you want to update
        spa: Renueva los datos de una tienda física. Indica el ID del vendedor y de la sucursal y envía los parámetros con la información que quieras actualizar
        por: Renovar os dados de um estabelecimento físico. Indicar a identificação do vendedor e da filial e enviar os parâmetros com as informações que você deseja atualizar
      parameters:
        - name: user_id
          in: path
          description: User Id
          x-description-i18n:
            eng: User Id
            spa: User Id
            por: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: id
          in: path
          description: Store's Id
          x-description-i18n:
            eng: Store's Id
            spa: Store's Id
            por: Store's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Store name.
                  x-description-i18n:
                    eng: Store name.
                    spa: Nombre de la Sucursal
                    por: Nome da loja
                  example: Sucursal Instore 2
                business_hours:
                  description: 
                    Business hours. They are divided by day of the week and up to two opening and closing times per day are allowed.
                  type: object
                  properties:
                    monday:
                      type: array
                      items:
                        type: object
                        properties:
                          open:
                            type: string
                            example: '08:00'
                            description: open
                          close:
                            type: string
                            example: '12:00'
                            description: close
                      description: monday
                    tuesday:
                      type: array
                      items:
                        type: object
                        properties:
                          open:
                            type: string
                            example: '09:00'
                            description: open
                          close:
                            type: string
                            example: '18:00'
                            description: close
                      description: tuesday
                external_id:
                  type: string
                  description: Unique identifier of the store defined by integrator system.
                  x-description-i18n:
                    eng: Unique identifier of the store defined by integrator system.
                    spa: Identificador único de la Sucursal definido por el integrador
                    por: Identificador único da loja definido pelo sistema integrador
                  example: SUC002
                location:
                  type: object
                  description: Store location.
                  x-description-i18n:
                    eng: Store location.
                    spa: Ubicación de la Sucursal
                    por: Localização da Loja
                  properties:
                    street_number:
                      type: string
                      description: Street number.
                      x-description-i18n:
                        eng: Street number.
                        spa: Número
                        por: O Número
                      example: 3040
                    street_name:
                      type: string
                      description: Street name.
                      x-description-i18n:
                        eng: Street name.
                        spa: Calle
                        por: Rua
                      example: Caseros
                    city_name:
                      type: string
                      description: City.
                      x-description-i18n:
                        eng: City.
                        spa: Ciudad
                        por: Cidade
                      example: Belgrano
                    state_name:
                      type: string
                      description: State.
                      x-description-i18n:
                        eng: State.
                        spa: Provincia
                        por: Província
                      example: Capital Federal
                    latitude:
                      type: number
                      description: Latitude.
                      x-description-i18n:
                        eng: Latitude.
                        spa: Latitud
                        por: Latitude
                      example: -32.8897322
                    longitude:
                      type: number
                      description: Longitude.
                      x-description-i18n:
                        eng: Longitude.
                        spa: Longitud
                        por: Longitude
                      example: -68.8443275
                    reference:
                      type: string
                      description: Reference.
                      x-description-i18n:
                        eng: Reference.
                        spa: Referencia
                        por: Referência
                      example: 3er Piso
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 1234567
                    description: id
                  name:
                    type: string
                    example: Sucursal Instore 2
                    description: name
                  date_creation:
                    type: string
                    example: '2021-03-16T20:27:26.732Z'
                  business_hours:
                    type: object
                    properties:
                      monday:
                        type: array
                        items:
                          type: object
                          properties:
                            open:
                              type: string
                              example: '08:00'
                              description: open
                            close:
                              type: string
                              example: '12:00'
                              description: close
                        description: monday
                    description: business_hours
                  location:
                    type: object
                    properties:
                      address_line:
                        type: string
                        example: Caseros 3040, Belgrano, Capital Federal, Argentina
                        description: address_line
                      latitude:
                        type: number
                        example: -32.8897322
                        description: latitude
                      longitude:
                        type: number
                        example: -68.8443275
                        description: longitude
                      reference:
                        type: string
                        example: 3er Piso
                        description: reference
                    description: location
                  external_id:
                    type: string
                    example: SUC002
                    description: external_id
                  date_created:
                    type: string
                    example: '2019-08-08T19:29:45.019Z'
                    description: date_created
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - INVALID_USER_ID--USER_ID must be number.
                      - UNKNOWN_FIELD--Unknown field.
                      - INVALID_STORE_ID--Invaliud store_id.
                      - INVALID_NAME--NAME must be string.
                      - INVALID_BUSINESS_HOURS--BUSINESS_HOURS must be json_object.
                      - INVALID_DAY--Day must be json_array.
                      - INVALID_LOCATION--LOCATION must be json_object.
                      - INVALID_STREET_NAME--STREET_NAME must be string.
                      - INVALID_STREET_NUMBER--STREET_NUMBER must be string.
                      - INVALID_ZIP_CODE--ZIP_CODE must be string.
                      - INVALID_CITY_NAME--CITY_NAME must be string.
                      - INVALID_STATE_NAME--STATE_NAME must be string.
                      - INVALID_LATITUDE--LATITUDE must be number.
                      - INVALID_LONGITUDE--LONGITUDE must be number.
                      - INVALID_REFERENCE--REFERENCE must be string.
    delete:
      tags:
        - $ref: '#/tags/qr-code'
        - $ref: '#/tags/mp-point'
      summary: Delete store
      x-summary-i18n:
        eng: Delete store
        spa: Eliminar sucursal
        por: Excluir loja
      description: Delete a physical shop whenever you need it with the ID of the store
      x-description-i18n:
        eng: Delete a physical shop whenever you need it with the ID of the store
        spa: Elimina una tienda física siempre que lo necesites con el ID de la sucursal
        por: Exclua um estabelecimento físico sempre que for necessário com o ID da loja
      parameters:
        - name: user_id
          in: path
          description: User Id
          x-description-i18n:
            eng: User Id
            spa: User Id
            por: User Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
        - name: id
          in: path
          description: Store's Id
          x-description-i18n:
            eng: Store's Id
            spa: Store's Id
            por: Store's Id
          required: true
          schema:
            type: string
            example: 12123adfasdf123u4u
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  store:
                    type: number
                    example: 30148503
                  user:
                    type: number
                    example: 329653108
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - INVALID_USER_ID--USER_ID must be number.
                      - INVALID_STORE_ID--STORE_ID must be number.
                      - UNKNOWN_FIELD--Unknow field.