openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /preapproval:
    post:
      tags:
        - $ref: "#/tags/subscriptions"
      summary: Create a subscription
      x-summary-i18n:
        eng: Create a subscription
        spa: Crear suscripción
        por: Criar assinatura
      description: A subscription is the union between a plan and a customer. The main characteristic of this contract is that it has a configured a payment method and is the basis for creating the invoices. You can also create a subscription without a plan
      x-description-i18n:
        eng: A subscription is the union between a plan and a customer. The main characteristic of this contract is that it has a configured a payment method and is the basis for creating the invoices. You can also create a subscription without a plan
        spa: Una suscripción es la unión entre un plan y un cliente. La principal característica de este contrato es que tiene configurada una forma de pago y es la base para la creación de las facturas. También puedes crear una suscripción sin un plan
        por: Uma assinatura é a união entre um plano e um cliente. Sua característica principal é ter um meio de pagamento configurado que servirá como base para criar faturas. Também é possível criar assinaturas sem plano
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preapproval_plan_id:
                  type: string
                  description: Unique subscription plan identifier. This is an optional field. Our model supports creating subscriptions with or without a plan. If you create a subscription with plan we will take the recurring settings from the plan to create the subscription. When you edit the plan we will update the subscriptions. Decide your best model depending on your business.
                  x-description-i18n:
                    eng: Unique subscription plan identifier. This is an optional field. Our model supports creating subscriptions with or without a plan. If you create a subscription with plan we will take the recurring settings from the plan to create the subscription. When you edit the plan we will update the subscriptions. Decide your best model depending on your business.
                    spa: Identificador único del plan de suscripción. Este campo es opcional. Nuestro modelo soporta la creación de suscripciones con o sin plan asociado. Si creas una suscripción con un plan, tomaremos la configuración recurrente del plan para crear la suscripción. Cuando edites el plan, actualizaremos las suscripciones. Decide tu mejor modelo en función de tu negocio.
                    por: Identificador único do plano de assinatura. Este é um campo opcional. Nosso modelo suporta a criação de assinaturas com ou sem plano associado. Se você criar uma assinatura com plano, usaremos as configurações recorrentes do plano para criar a assinatura. Quando você editar o plano, atualizaremos as assinaturas. Escolha o melhor modelo dependendo do seu negócio.
                  example: 2c938084726fca480172750000000000
                reason:
                  type: string
                  description: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                  x-description-i18n:
                    eng: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                    spa: Es una breve descripción que el suscriptor verá durante el proceso de checkout y en las notificaciones. Solo se requiere para suscripciones sin plan asociado.
                    por: É uma breve descrição que o assinante verá durante o processo de checkout e nas notificações. É obrigatório apenas para assinaturas sem plano associado.
                  example: Yoga classes
                external_reference:
                  type: string
                  description: Reference to sync with your system. This is a free text field to help you with your integration to link the entities. It is only required for subscriptions without a plan.
                  x-description-i18n:
                    eng: Reference to sync with your system. This is a free text field to help you with your integration to link the entities. It is only required for subscriptions without a plan.
                    spa: Referencia para sincronizar con tu sistema. Este es un campo de texto libre para ayudarte con tu integración, para vincular las entidades. Solo se requiere para suscripciones sin plan asociado.
                    por: Referência para sincronizar com seu sistema. Este é um campo de texto livre que ajudará na integração com as entidades. Este campo é obrigatório apenas para assinaturas sem plano associado.
                  example: YG-1234
                payer_email:
                  required: true
                  type: string
                  description: To create a subscription it is necessary to link it with an email. Then you will get a unique identifier to identify the subscriber.
                  x-description-i18n:
                    eng: To create a subscription it is necessary to link it with an email. Then you will get a unique identifier to identify the subscriber.
                    spa: Para crear una suscripción es necesario vincularla con un correo electrónico. Luego obtendrás un identificador único para identificar al suscriptor.
                    por: Para criar uma assinatura, é necessário associá-la a um e-mail. Feito isso, você terá acesso a um identificador único para identificar o assinante.
                  example: test_user@testuser.com
                card_token_id:
                  type: string
                  description: The card_token_id is a token generated from the form submission with the capture of payment data. When submitting the form, a token is generated that securely represents the card data. To get the card_token_id, see the "Card" section of the Checkout API documentation and follow all the steps up to the "Initialize payment form" section. It is through this form that it will be possible to obtain the card_token_id.
                  x-description-i18n:
                    eng: The card_token_id is a token generated from the form submission with the capture of payment data. When submitting the form, a token is generated that securely represents the card data. To get the card_token_id, see the "Card" section of the Checkout API documentation and follow all the steps up to the "Initialize payment form" section. It is through this form that it will be possible to obtain the card_token_id.
                    spa: card_token_id es un token generado al enviar el formulario con la captura de datos de pago. Al enviar el formulario, se genera un token que representa de forma segura los datos de la tarjeta. Para obtener el card_token_id, consulte la sección "Tarjeta" de la documentación de Checkout API y siga todos los pasos hasta la sección "Inicializar formulario de pago". Es a través de este formulario que será posible obtener el card_token_id.
                    por: O card_token_id é um token gerado a partir do envio do formulário com a captura dos dados para pagamento. Ao enviar o formulário, um token é gerado representando de forma segura os dados do cartão. Para obter o card_token_id, veja a seção "Cartão", da documentação Checkout Transparente e siga todas as etapas até a seção "Inicializar formulário de pagamento". É por meio deste formulário que será possível obter o card_token_id.                   
                  example: e3ed6f098462036dd2cbabe314b9de2a
                auto_recurring:
                  type: object
                  description: Configuration data for recurrence It is only required for subscriptions without a plan.
                  x-description-i18n:
                    eng: Configuration data for recurrence It is only required for subscriptions without a plan.
                    spa: Datos de configuración para recurrencia. Solo se requiere para suscripciones sin plan asociado.
                    por: Configuração de recorrência. É obrigatório apenas para assinaturas sem plano associado.
                  properties:
                    frequency:
                      required: true
                      type: number
                      description: Indicates the frequency value. Along with frequency_type they define the invoice cycle that a subscription will have.
                      x-description-i18n:
                        eng: Indicates the frequency value. Along with frequency_type they define the invoice cycle that a subscription will have.
                        spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                        por: Indica o valor de frequência. Junto com o frequency_type, define o ciclo de faturamento que uma assinaturá terá.
                      example: 1
                    frequency_type:
                      required: true
                      type: string
                      description: Indicates the type of frequency. Along with frequency they define the invoice cycle that a subscription will have.
                      x-description-i18n:
                        eng: Indicates the type of frequency. Along with frequency they define the invoice cycle that a subscription will have.
                        spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                        por: Indica o valor de frequência. Junto com o frequency, define o ciclo de faturamento que uma assinaturá terá.
                      example: months
                      enum:
                        - days -- Indicate a frequency in units of days
                        - months -- Indicate a frequency in units of months
                    start_date:
                      type: string
                      format: date
                      description: Date from which the subscription will be active and we start collecting invoices.
                      x-description-i18n:
                        eng: Date from which the subscription will be active and we start collecting invoices.
                        spa: Fecha a partir de la cual la suscripción estará activa y se empiezan a cobrar las facturas.
                        por: Data que indica o momento em que a assinatura será ativada e começará a cobrança das faturas.
                      example: "2020-06-02T13:07:14.260Z"
                    end_date:
                      type: string
                      format: date
                      description: Date until which the subscription will be active and we will stop charging invoices.
                      x-description-i18n:
                        eng: Date until which the subscription will be active and we will stop charging invoices.
                        spa: Fecha hasta la cual la suscripción estará activa y se dejan de cobrar las facturas.
                        por: Data que indica o fim da assinatura e o momento em que a cobrança não será mais realizada.
                      example: "2022-07-20T15:59:52.581Z"
                    transaction_amount:
                      type: number
                      description: Amount we will charge on each invoice.
                      x-description-i18n:
                        eng: Amount we will charge on each invoice.
                        spa: Suma que se cobrará en cada factura.
                        por: Valor que será cobrado em cada fatura.
                      example: 10
                    currency_id:
                      required: true
                      type: string
                      description: ID of the currency used in the payment.
                      x-description-i18n:
                        eng: ID of the currency used in the payment.
                        spa: Identificador de la moneda utilizada en el pago
                        por: Identificador da moeda utilizada no pagamento
                      example: ARS
                      enum:
                        - ARS -- Argentine peso.
                        - BRL -- Brazilian real.
                        - CLP -- Chilean peso.
                        - MXN -- Mexican peso.
                        - COP -- Colombian peso.
                        - PEN -- Peruvian sol.
                        - UYU -- Uruguayan peso.
                back_url:
                  required: true
                  type: string
                  description: Successful return url. Use this setting to redirect your customers  to your site after our checkout. It is only required for subscriptions without a plan.
                  x-description-i18n:
                    eng: Successful return url. Use this setting to redirect your customers  to your site after our checkout. It is only required for subscriptions without a plan.
                    spa: URL de retorno exitosa. Usa esta configuración para redirigir a tus clientes a tu sitio después de nuestro checkout. Solo se requiere para suscripciones sin plan asociado.
                    por: URL de retorno de sucesso. Use esta configuração para redirecionar o cliente para seu site após o checkout. É obrigatório apenas para assinaturas sem plano associado.
                  example: https://www.mercadopago.com.ar
                status:
                  type: string
                  description: When you create a subscription, you can make it pending or authorized. Authorized status requires you to indicate a payment method. A pending subscription is waiting for a payment method, that the customer can load into our checkout or by your integration tokenizing a card and adding it to the subscription.
                  x-description-i18n:
                    eng: When you create a subscription, you can make it pending or authorized. Authorized status requires you to indicate a payment method. A pending subscription is waiting for a payment method, that the customer can load into our checkout or by your integration tokenizing a card and adding it to the subscription.
                    spa: Cuando creas una suscripción, puedes dejarla pending o authorized. El estado authorized requiere que indiques un método de pago. Una suscripción pending está esperando un método de pago, que el cliente puede cargar en nuestro checkout o mediante tu integración tokenizando una tarjeta y agregándola a la suscripción.
                    por: Quando você cria uma assinatura, pode fazê-la com pagamento pending ou authorized. Status Authorized requer que você indique um meio de pagamento. Uma assinatura com pagamento pending fica aguardando por um meio de pagamento, até que o cliente acesse o checkout ou através da integtração tokenizando um cartão e adicionando-o à assinatura.
                  example: authorized
                  enum:
                    - pending -- Subscription without a payment method
                    - authorized -- Subscription with a payment method
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 2c938084726fca480172750000000000
                    description: Unique subscription identifier.
                    x-description-i18n:
                      eng: Unique subscription identifier.
                      spa: Identificador único de suscripción.
                      por: Identificador único de assinatura
                  version:
                    type: number
                    example: 0
                    description: How many times the subscription was modified.
                    x-description-i18n:
                      eng: How many times the subscription was modified.
                      spa: Cantidad de veces que esta suscripción fue modificada.
                      por: Quantas vezes a assinatura foi modificada
                  application_id:
                    type: number
                    example: 1234567812345678
                    description: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                    x-description-i18n:
                      eng: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                      spa: ID único que identifica tu aplicación/integración. Una de las claves del par que componen las credenciales que identifican una aplicación/integración en tu cuenta.
                      por: ID único que identifica sua aplicação/integração. Uma das chaves do par que compõe as credenciais que identifica uma aplicação/integração na sua conta.
                  collector_id:
                    type: number
                    example: 100200300
                    description: Unique ID that identifies your user as a seller. This ID matches your User ID in our ecosystem.
                    x-description-i18n:
                      eng: Unique ID that identifies your user as a seller. This ID matches your User ID in our ecosystem.
                      spa: ID único que identifica a tu usuario como vendedor. Este ID coincide con tu User ID en nuestro ecosistema.
                      por: ID único que identifica seu usuário como vendedor. Este ID corresponde ao seu User ID em nosso ecossistema. 
                  preapproval_plan_id:
                    type: string
                    description: Unique plan identifier.
                    x-description-i18n:
                      eng: Unique plan identifier.
                      spa: Identificador único del plan.
                      por: Identificador único do plano.
                    example: 2c938084726fca480172750000000000
                  reason:
                    type: string
                    example: Yoga classes.
                    description: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                    x-description-i18n:
                      eng: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                      spa: Es una breve descripción que el suscriptor verá durante el proceso de checkout y en las notificaciones. Solo se requiere para suscripciones sin plan asociado.
                      por: É uma breve descrição que o assinante verá durante o processo de checkout e nas notificações. É obrigatório apenas para assinaturas sem plano associado.
                  external_reference:
                    type: string
                    example: 23546246234
                    description: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                    x-description-i18n:
                      eng: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                      spa: Referencia para sincronizar con tu sistema. Este es un campo de texto libre para ayudarte con tu integración para vincular las entidades.
                      por: Referência para sincronizar com seu sistema. Este é um campo de texto livre para ajudar com a integração para vincular as entidades.
                  back_url:
                    type: string
                    example: https://www.mercadopago.com.ar
                    description: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                    x-description-i18n:
                      eng: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                      spa: URL de retorno exitosa. Use esta configuración para redirigir a tus clientes a su sitio después de nuestro checkout.
                      por: URL de retorno de sucesso. Use esta configuração para redirecionar seus clientes para o seu site após o checkout.
                  init_point:
                    type: string
                    example: https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_id=2c938084726fca480172750000000000
                    description: URL to checkout to add or modify payment method.
                    x-description-i18n:
                      eng: URL to checkout to add or modify payment method.
                      spa: URL al checkout para agregar o modificar el método de pago.
                      por: URL para o checkout para adicionar ou modificar um meio de pagamento.
                  auto_recurring:
                    type: object
                    description: Configuration data for recurrence.
                    x-description-i18n:
                      eng: Configuration data for recurrence.
                      spa: Información de configuración para la recurrencia.
                      por: Configuração da data para recorrência.
                    properties:
                      frequency:
                        type: number
                        description: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                        x-description-i18n:
                          eng: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                          spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                          por: Indica o valor de frequência. Junto com frequency_type define o ciclo de cobrança que a assinaturá terá.
                        example: 1
                      frequency_type:
                        type: string
                        description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                        x-description-i18n:
                          eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                          spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                          por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                        example: months
                        enum:
                          - days -- Indicate a frequency in units of days
                          - months -- Indicate a frequency in units of months
                      start_date:
                        type: string
                        format: date
                        description: Date from which the subscription will be active and we start collecting invoices.
                        x-description-i18n:
                          eng: Date from which the subscription will be active and we start collecting invoices.
                          spa: Fecha a partir de la cual la suscripción estará activa y se empiezan a cobrar las facturas.
                          por: Data que indica o momento em que a assinatura será ativada e começará a cobrança das faturas.
                        example: "2020-06-02T13:07:14.260Z"
                      end_date:
                        type: string
                        format: date
                        description: Date until which the subscription will be active and we will stop charging invoices.
                        x-description-i18n:
                          eng: Date until which the subscription will be active and we will stop charging invoices.
                          spa: Fecha hasta la cual la suscripción estará activa y se dejan de cobrar las facturas.
                          por: Data que indica o fim da assinatura e o momento em que a cobrança não será mais realizada.
                        example: "2022-07-20T15:59:52.581Z"
                      currency_id:
                        type: string
                        description: ID of the currency used in the payment.
                        x-description-i18n:
                          eng: ID of the currency used in the payment.
                          spa: Identificador de la moneda utilizada en el pago
                          por: Identificador da moeda utilizada no pagamento
                        example: ARS
                        enum:
                          - ARS -- Argentine peso.
                          - BRL -- Brazilian real.
                          - CLP -- Chilean peso.
                          - MXN -- Mexican peso.
                          - COP -- Colombian peso.
                          - PEN -- Peruvian sol.
                          - UYU -- Uruguayan peso.
                      transaction_amount:
                        type: number
                        description: Amount we will charge on each invoice.
                        x-description-i18n:
                          eng: Amount we will charge on each invoice.
                          spa: Suma que se cobrará en cada factura.
                          por: Valor que será cobrado em cada fatura.
                        example: 10
                      free_trial:
                        type: object
                        description: Free trial data.
                        x-description-i18n:
                          eng: Free trial data.
                          spa: Información sobre prueba gratuita.
                          por: Informação de teste grátis
                        properties:
                          frequency:
                            type: number
                            description: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                            x-description-i18n:
                              eng: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                              spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                              por: Indica o valor de frequência. Junto com frequency_type define o ciclo de cobrança que a assinaturá terá.
                            example: 1
                          frequency_type:
                            type: string
                            description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                            x-description-i18n:
                              eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                              spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                              por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                            example: months
                            enum:
                              - days -- Indicate a frequency in units of days
                              - months -- Indicate a frequency in units of months
                  payer_id:
                    type: number
                    example: 123123123
                    description: Unique customer identifier. This is created from the email you used to create the subscription.
                    x-description-i18n:
                      eng: Unique customer identifier. This is created from the email you used to create the subscription.
                      spa: Identificador único de cliente. Se crea a partir del correo electrónico que utilizaste para crear la suscripción.
                      por: Identificador único do cliente. É criado a partir do e-mail utilizado para criar a assinatura.
                  card_id:
                    type: number
                    example: 123123123
                    description: Unique identifier to retrieve data from the card used as a payment method.
                    x-description-i18n:
                      eng: Unique identifier to retrieve data from the card used as a payment method.
                      spa: Identificador único para recuperar datos de la tarjeta utilizada como medio de pago.
                      por: Identificador único para recuperar dados do cartão utilizado como meio de pagamento.
                  payment_method_id:
                    type: number
                    example: 123123123
                    description: Payment method configured.
                    x-description-i18n:
                      eng: Payment method configured.
                      spa: Método de pago configurado.
                      por: Meio de pagamento configurado.
                  next_payment_date:
                    type: string
                    example: "2022-01-01T11:12:25.892-04:00"
                    description: Date of the next payment debit.
                    x-description-i18n:
                      eng: Date of the next payment debit.
                      spa: Fecha del próximo débito.
                      por: Data do próximo débito.
                  date_created:
                    type: string
                    example: "2022-01-01T11:12:25.892-04:00"
                    description: Creation date
                    x-description-i18n:
                      eng: Creation date
                      spa: Fecha de creación
                      por: Data de criação
                  last_modified:
                    type: string
                    example: "2022-01-01T11:12:25.892-04:00"
                    description: Date of last modification
                    x-description-i18n:
                      eng: Date of last modification
                      spa: Fecha de última modificación.
                      por: Data da última modificação.
                  status:
                    type: string
                    example: pending
                    description: Status
                    enum:
                      - pending -- Subscription without a payment method
                      - authorized -- Subscription with a payment method
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad-Request--Subscriptions are not available for this country yet
                      - 400--Bad-Request--The payment method account money is not available in your country
                      - 400--Bad-Request--Collector and Application cannot be from different countries
                      - 400--Bad-Request--Field card_token_id is required
                      - 400--Bad-Request--Field payer_email is required
                      - 400--Bad-Request--Invalid value for payer_email, must be a valid email address
                      - 400--Bad-Request--Invalid value for transaction amount, must be a positive number
                      - 400--Bad-Request--Invalid value for transaction amount, only two decimals are allowed
                      - 400--Bad-Request--Invalid value for auto_recurring.currency_id
                      - 400--Bad-Request--Invalid value for auto_recurring.end_date, the date must be after today
                      - 400--Bad-Request--Invalid value for auto_recurring.frequency, must be a positive integer
                      - 400--Bad-Request--Invalid value for auto_recurring.frequency_type, valid ones are days, months
                      - 400--Bad-Request--Invalid value for auto_recurring.start_date, the date must be after today
                      - 400--Bad-Request--Invalid format in auto_recurring.start_date or auto_recurring.end_date
                      - 400--Bad-Request--Invalid value for back_url, must be a valid URL
                      - 400--Bad-Request--Field reason has more than 255 characters
                      - 400--Bad-Request--Field reason has unsupported characters
                      - 400--Bad-Request--Field auto_recurring.frequency is required
                      - 400--Bad-Request--Field auto_recurring.frequency_type is required
                      - 400--Bad-Request--Field auto_recurring.transaction_amount is required
                      - 400--Bad-Request--Field auto_recurring.currency_id is required
                      - 400--Bad-Request--Field auto_recurring.end_date must be after auto_recurring.start_date
                      - 400--Bad-Request--Field external_reference has more than 255 characters
                      - 400--Bad-Request--Field external_reference has unsupported characters
                      - 400--Bad-Request--Already exists a preapproval for user <payer_email> and application <application_id>
                      - 400--Bad-Request--Payer and collector cannot be the same user
                      - 400--Bad-Request--Both payer and collector must be real or test users
                      - 400--Bad-Request--This preapproval cannot be created. The seller does not accept account_money
                      - 400--Bad-Request--This preapproval cannot be created only with payment method account_money
                      - 400--Bad-Request--Cannot operate between different countries
                      - 400--Bad-Request--Cannot create preapproval pending, the feature with account money is disabled for your country.
                      - 400--Bad-Request--Cannot pay an amount lower than min
                      - 400--Bad-Request--Cannot pay an amount greater than max
                      - 400--Bad-Request--You cannot create a preapproval with payment_method in status pending
                      - 400--Bad-Request--You cannot create a new preapproval from a cancelled or inactive template
                      - 400--Bad-Request--The transaction_amount must be the same as preapproval_plan
                      - 400--Bad-Request--Card token was used, please generate new
                      - 400--Bad-Request--Card token was generated without cvv validation
                      - 400--Bad-Request--Invalid request data
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401--Unauthorized--CC_VAL_433 Credit card validation has failed
                      - 401--Unauthorized--Verification of collectors personal data is in process, come back later
                      - 401--Unauthorized--Unauthorized access to resource
                      - 401--Unauthorized--This app cannot create subscriptions without a plan
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403--Forbidden--The collector does not meet the personal data verification requirements
                      - 403--Forbidden--The caller is not authorized to access this resource
                      - 403--Forbidden--Unauthorized seller for this feature AM_VAL_01
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500--Error--Internal server error
  /preapproval_plan:
    post:
      tags:
        - $ref: "#/tags/subscriptions"
      summary: Create a subscription plan
      x-summary-i18n:
        eng: Create a subscription plan
        spa: Crear un plan de suscripción
        por: Criar um plano de assinatura
      description: A plan is a template to create subscriptions thats tell how often and how much to charge your customers. Plans can be created with free trials, biiling cycles and more. The subscriptions created from a plan are related to it and allows synchronizing modifications such as reason or amount
      x-description-i18n:
        eng: A plan is a template to create subscriptions thats tell how often and how much to charge your customers. Plans can be created with free trials, biiling cycles and more. The subscriptions created from a plan are related to it and allows synchronizing modifications such as reason or amount
        spa: Un plan es un template para crear suscripciones que indican con qué frecuencia y cuánto cobrar a tus clientes. Se pueden crear planes con pruebas gratuitas, ciclos de facturación y más. Las suscripciones creadas a partir de un plan están relacionadas con el mismo y permiten sincronizar modificaciones como reason o amount
        por: Um plano é um template para criar assinaturas que informa a frequência e valor que deverão ser cobrados dos seus clientes. Planos podem ser criados com testes grátis, ciclos de cobrança, entre outros. As assinaturas criadas a partir de um plano são relacioadas a ele e permitem sincronizar informações como reason e amount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  required: true
                  type: string
                  description: It is a short description that the subscriber will see during the checkout process and in the notifications.
                  x-description-i18n:
                    eng: It is a short description that the subscriber will see during the checkout process and in the notifications.
                    spa: Es una breve descripción que el suscriptor verá durante el checkout y en las notificaciones.
                    por: É uma breve descrição que o assinante verá durante o processo de checkout e nas notificações.
                  example: Yoga classes
                auto_recurring:
                  type: object
                  description: Configuration data for recurrence.
                  x-description-i18n:
                    eng: Configuration data for recurrence.
                    spa: Información de configuración para la recurrencia.
                    por: Configuração da data para recorrência.
                  properties:
                    frequency:
                      required: true
                      type: number
                      description: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                      x-description-i18n:
                        eng: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                        spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                        por: Indica o valor de frequência. Junto com frequency_type define o ciclo de cobrança que a assinaturá terá.
                      example: 1
                    frequency_type:
                      required: true
                      type: string
                      description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                      x-description-i18n:
                        eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                        spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                        por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                      example: months
                      enum:
                        - days -- Indicate a frequency in units of days
                        - months -- Indicate a frequency in units of months
                    repetitions:
                      type: number
                      description: It is optional and is used to create a limited subscription. Indicates the number of times that we will repeat the recurrence cycle. If this param is not defined, subscription does not end until some of the parties cancel it.
                      x-description-i18n:
                        eng: It is optional and is used to create a limited subscription. Indicates the number of times that we will repeat the recurrence cycle. If this param is not defined, subscription does not end until some of the parties cancel it.
                        spa: Es opcional y se utiliza para crear una suscripción limitada. Indica el número de veces que repetiremos el ciclo de recurrencia. Si no se define este param, la suscripción no finaliza hasta que alguna de las partes la cancela.
                        por: É opcional e utilizado para criar uma assinatura limitada. Indica o número de itens que serão repetidos no ciclo de recorrência. Se este parâmetro não for definido, a assinatura não será finaliza até que uma das partes cancele.
                      example: 12
                    billing_day:
                      type: number
                      description: Day of the month that the subscription will always be charged. It only accepts values between 1 and 28. This setting is only available for subscriptions with a plan associated.
                      x-description-i18n:
                        eng: Day of the month that the subscription will always be charged. It only accepts values between 1 and 28. This setting is only available for subscriptions with a plan associated.
                        spa: Día del mes en que se cobrará la suscripción. Solo acepta valores entre 1 y 28. Esta configuración solo está disponible para suscripciones con un plan asociado.
                        por: Dia do mês que a assinatura será comprada. Apenas aceita valores entre 1 e 28. Esta configuração está disponível somente para assinaturas com plano associado.
                      example: 10
                    billing_day_proportional:
                      type: boolean
                      description: Charge a proportional amount to the billing day at the time of registration.
                      x-description-i18n:
                        eng: Charge a proportional amount to the billing day at the time of registration.
                        spa: Cobra una suma proporcional al día de facturación en el momento del registro.
                        por: Cobra um valor proporcional ao dia do faturamento no momento do cadastro.
                      example: true
                      enum:
                        - true -- Charge a proportional amount based on the days remaining in the next billing cycle. Billing cycles are always calculated on a 30-day basis.
                        - false -- Charge the amount of the subscription regardless of when in the billing cycle customer subscribe.
                    free_trial:
                      type: object
                      description: Free trial data.
                      x-description-i18n:
                        eng: Free trial data.
                        spa: Información sobre prueba gratuita.
                        por: Informação de teste grátis
                      properties:
                        frequency:
                          type: number
                          description: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                          x-description-i18n:
                            eng: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                            spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                            por: Indica o valor de frequência. Junto com frequency_type define o ciclo de cobrança que a assinaturá terá.
                          example: 1
                        frequency_type:
                          type: string
                          description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                          x-description-i18n:
                            eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                            spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                            por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                          example: months
                          enum:
                            - days -- Indicate a frequency in units of days
                            - months -- Indicate a frequency in units of months
                    transaction_amount:
                      type: number
                      description: Amount that will be charged on each invoice.
                      x-description-i18n:
                        eng: Amount that will be charged on each invoice.
                        spa: Importe que se cobrará en cada factura.
                        por: Valor que será cobrado em cada fatura.
                      example: 10
                    currency_id:
                      required: true
                      type: string
                      description: ID of the currency used in the payment.
                      x-description-i18n:
                        eng: ID of the currency used in the payment.
                        spa: Identificador de la moneda utilizada en el pago
                        por: Identificador da moeda utilizada no pagamento
                      example: ARS
                      enum:
                        - ARS -- Argentine peso.
                        - BRL -- Brazilian real.
                        - CLP -- Chilean peso.
                        - MXN -- Mexican peso.
                        - COP -- Colombian peso.
                        - PEN -- Peruvian sol.
                        - UYU -- Uruguayan peso.
                payment_methods_allowed:
                  type: object
                  description: Payment methods enabled at checkout.
                  x-description-i18n:
                    eng: Payment methods enabled at checkout.
                    spa: Métodos de pago habilitados en el checkout.
                    por: Meios de pagamento habilitados no checkout.
                  properties:
                    payment_types:
                      type: array
                      description: Payment types allowed in the payment flow.
                      x-description-i18n:
                        eng: Payment types allowed in the payment flow.
                        spa: Tipos de pago permitidos en el flujo de pago.
                        por: Tipos de pagamento permitidos no fluxo de pagamento.
                      properties:
                        id:
                          type: string
                          description: Payment type identifier.
                          x-description-i18n:
                            eng: Payment type identifier.
                            spa: Identificador de tipo de pago.
                            por: Identificador do tipo de pagamento.
                          example: credit_card
                    payment_methods:
                      type: array
                      description: Payment methods allowed in the payment flow.
                      x-description-i18n:
                        eng: Payment methods allowed in the payment flow.
                        spa: Métodos de pago permitidos en el flujo de pago.
                        por: Meios de pagamento permitidos no fluxo de pagamento.
                      properties:
                        id:
                          type: string
                          description: Payment method identifier.
                          x-description-i18n:
                            eng: Payment method identifier.
                            spa: Identificador del medio de pago
                            por: Id do meio de pagamento
                          example: bolbradesco
                back_url:
                  required: true
                  type: string
                  description: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                  x-description-i18n:
                    eng: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                    spa: URL de retorno exitosa. Use esta configuración para redirigir a tus clientes a su sitio después de nuestro checkout.
                    por: URL de retorno de sucesso. Use esta configuração para redirecionar seus clientes para o seu site após o checkout.
                  example: https://www.yoursite.com
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 2c938084726fca480172750000000000
                    description: Unique subscription plan identifier.
                    x-description-i18n:
                      eng: Unique subscription plan identifier.
                      spa: Identificador único del plan de suscripción.
                      por: Identificador único do plano de assinatura
                  application_id:
                    type: number
                    example: 1234567812345678
                    description: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                    x-description-i18n:
                      eng: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                      spa: ID único que identifica tu aplicación/integración. Una de las claves del par que componen las credenciales que identifican una aplicación/integración en tu cuenta.
                      por: ID único que identifica sua aplicação/integração. Uma das chaves do par que compõe as credenciais que identifica uma aplicação/integração na sua conta.
                  collector_id:
                    type: number
                    example: 100200300
                    description: Unique ID that identifies your user as a seller. This ID matches your User ID in our ecosystem.
                    x-description-i18n:
                      eng: Unique ID that identifies your user as a seller. This ID matches your User ID in our ecosystem.
                      spa: ID único que identifica a tu usuario como vendedor. Este ID coincide con tu User ID en nuestro ecosistema.
                      por: ID único que identifica seu usuário como vendedor. Este ID corresponde ao seu User ID em nosso ecossistema. 
                  reason:
                    type: string
                    description: It is a short description that the subscriber will see during the checkout process and in the notifications.
                    x-description-i18n:
                      eng: It is a short description that the subscriber will see during the checkout process and in the notifications.
                      spa: Es una breve descripción que el suscriptor verá durante el checkout y en las notificaciones.
                      por: É uma breve descrição que o assinante verá durante o processo de checkout e nas notificações.
                    example: Yoga classes
                  auto_recurring:
                    type: object
                    description: Configuration data for recurrence.
                    x-description-i18n:
                      eng: Configuration data for recurrence.
                      spa: Información de configuración para la recurrencia.
                      por: Configuração da data para recorrência.
                    properties:
                      frequency:
                        type: number
                        description: Indicates the frequency value. Along with frequency_type they define the invoice cycle that a subscription will have.
                        x-description-i18n:
                          eng: Indicates the frequency value. Along with frequency_type they define the invoice cycle that a subscription will have.
                          spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                          por: Indica o valor de frequência. Junto com o frequency_type, define o ciclo de faturamento que uma assinaturá terá.
                        example: 1
                      frequency_type:
                        type: string
                        description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                        x-description-i18n:
                          eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                          spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                          por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                        example: months
                        enum:
                          - days -- Indicate a frequency in units of days
                          - months -- Indicate a frequency in units of months
                      repetitions:
                        type: number
                        description: It is optional and is used to create a limited subscription. Indicates the number of times that we will repeat the recurrence cycle. If this param is not defined, subscription does not end until some of the parties cancel it.
                        x-description-i18n:
                          eng: It is optional and is used to create a limited subscription. Indicates the number of times that we will repeat the recurrence cycle. If this param is not defined, subscription does not end until some of the parties cancel it.
                          spa: Es opcional y se utiliza para crear una suscripción limitada. Indica el número de veces que repetiremos el ciclo de recurrencia. Si no se define este param, la suscripción no finaliza hasta que alguna de las partes la cancela.
                          por: É opcional e utilizado para criar uma assinatura limitada. Indica o número de itens que serão repetidos no ciclo de recorrência. Se este parâmetro não for definido, a assinatura não será finaliza até que uma das partes cancele.
                        example: 12
                      billing_day:
                        type: number
                        description: Day of the month that the subscription will always be charged. It only accepts values between 1 and 28.
                        x-description-i18n:
                          eng: Day of the month that the subscription will always be charged. It only accepts values between 1 and 28.
                          spa: Día del mes en que siempre se cobrará la suscripción. Solo acepta valores entre 1 y 28.
                          por: Dia do mês no qual a assinatura será cobrada. Aceita apenas valores entre 1 e 28.
                        example: 10
                      billing_day_proportional:
                        type: boolean
                        description: Charge a proportional amount to the billing day at the time of registration.
                        x-description-i18n:
                          eng: Charge a proportional amount to the billing day at the time of registration.
                          spa: Cobra una suma proporcional al día de facturación en el momento del registro.
                          por: Cobra um valor proporcional ao dia do faturamento no momento do cadastro.
                        example: true
                        enum:
                          - true -- Charge a proportional amount based on the days remaining in the next billing cycle. Billing cycles are always calculated on a 30-day basis.
                          - false -- Charge the amount of the subscription regardless of when in the billing cycle customer subscribe.
                      free_trial:
                        type: object
                        description: Free trial data.
                        x-description-i18n:
                          eng: Free trial data.
                          spa: Información sobre prueba gratuita.
                          por: Informação de teste grátis
                        properties:
                          frequency:
                            type: number
                            description: Indicates the frequency value. Along with frequency_type they define the invoice cycle that a subscription will have.
                            x-description-i18n:
                              eng: Indicates the frequency value. Along with frequency_type they define the invoice cycle that a subscription will have.
                              spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                              por: Indica o valor de frequência. Junto com o frequency_type, define o ciclo de faturamento que uma assinaturá terá.
                            example: 1
                          frequency_type:
                            type: string
                            description: Indicates the type of frequency. Along with frequency they define the invoice cycle that a subscription will have.
                            x-description-i18n:
                              eng: Indicates the type of frequency. Along with frequency they define the invoice cycle that a subscription will have.
                              spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                              por: Indica o valor de frequência. Junto com o frequency, define o ciclo de faturamento que uma assinaturá terá.
                            example: months
                            enum:
                              - days -- Indicate a frequency in units of days
                              - months -- Indicate a frequency in units of months
                      transaction_amount:
                        type: number
                        description: Amount that will be charged on each invoice.
                        x-description-i18n:
                          eng: Amount that will be charged on each invoice.
                          spa: Importe que se cobrará en cada factura.
                          por: Valor que será cobrado em cada fatura.
                        example: 10
                      currency_id:
                        type: string
                        description: ID of the currency used in the payment.
                        x-description-i18n:
                          eng: ID of the currency used in the payment.
                          spa: Identificador de la moneda utilizada en el pago
                          por: Identificador da moeda utilizada no pagamento
                        enum:
                          - ARS -- Argentine peso.
                          - BRL -- Brazilian real.
                          - CLP -- Chilean peso.
                          - MXN -- Mexican peso.
                          - COP -- Colombian peso.
                          - PEN -- Peruvian sol.
                          - UYU -- Uruguayan peso.
                        example: ARS
                  payment_methods_allowed:
                    type: object
                    description: Payment methods enabled at checkout.
                    x-description-i18n:
                      eng: Payment methods enabled at checkout.
                      spa: Métodos de pago habilitados en el checkout.
                      por: Meios de pagamento habilitados no checkout.
                    properties:
                      payment_types:
                        type: array
                        description: Payment types allowed in the payment flow.
                        x-description-i18n:
                          eng: Payment types allowed in the payment flow.
                          spa: Tipos de pago permitidos en el flujo de pago.
                          por: Tipos de pagamento permitidos no fluxo de pagamento.
                        properties:
                          id:
                            type: string
                            description: Payment type identifier.
                            x-description-i18n:
                              eng: Payment type identifier.
                              spa: Identificador de tipo de pago.
                              por: Identificador do tipo de pagamento.
                            example: credit_card
                      payment_methods:
                        type: array
                        description: Payment methods allowed in the payment flow.
                        x-description-i18n:
                          eng: Payment methods allowed in the payment flow.
                          spa: Métodos de pago permitidos en el flujo de pago.
                          por: Meios de pagamento permitidos no fluxo de pagamento.
                        properties:
                          id:
                            type: string
                            description: Payment method identifier.
                            x-description-i18n:
                              eng: Payment method identifier.
                              spa: Identificador del medio de pago
                              por: Id do meio de pagamento
                            example: bolbradesco
                    back_url:
                      type: string
                      description: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                      x-description-i18n:
                        eng: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                        spa: URL de retorno exitosa. Use esta configuración para redirigir a tus clientes a su sitio después de nuestro checkout.
                        por: URL de retorno de sucesso. Use esta configuração para redirecionar seus clientes para o seu site após o checkout.
                      example: https://www.mercadopago.com.ar
                  back_url:
                    type: string
                    description: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                    x-description-i18n:
                      eng: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                      spa: URL de retorno exitosa. Use esta configuración para redirigir a tus clientes a su sitio después de nuestro checkout.
                      por: URL de retorno de sucesso. Use esta configuração para redirecionar seus clientes para o seu site após o checkout.
                    example: https://www.mercadopago.com.ar
                  external_reference:
                    type: string
                    example: 23546246234
                    description: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                    x-description-i18n:
                      eng: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                      spa: Referencia para sincronizar con tu sistema. Este es un campo de texto libre para ayudarte con tu integración para vincular las entidades.
                      por: Referência para sincronizar com seu sistema. Este é um campo de texto livre para ajudar com a integração para vincular as entidades.
                  init_point:
                    type: string
                    example: https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c938084726fca480172750000000000
                    description: Url to checkout to add payment method
                    x-description-i18n:
                      eng: Url to checkout to add payment method
                      spa: URL al checkout para agregar el método de pago
                      por: URL de checkout para adicionar um meio de pagamento
                  date_created:
                    type: string
                    example: 2022-01-01T11:12:25.892-04:00
                    description: Creation date
                    x-description-i18n:
                      eng: Creation date
                      spa: Fecha de creación
                      por: Data de criação
                  last_modified:
                    type: string
                    example: 2022-01-01T11:12:25.892-04:00
                    description: Date of last modification
                    x-description-i18n:
                      eng: Date of last modification
                      spa: Fecha de última modificación.
                      por: Data da última modificação.
                  status:
                    type: string
                    example: active
                    description: Status of the plan.
                    x-description-i18n:
                      eng: Status of the plan.
                      spa: Estado del plan.
                      por: Status do plano.
                    enum:
                      - active -- Plan available to create subscriptions
                      - cancelled -- Plan not available to create subscriptions
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad-Request--Parameter back_url is required
                      - 400--Bad-Request--Parameter reason is required
                      - 400--Bad-Request--Parameter external_reference has unsupported characters
                      - 400--Bad-Request--Parameter auto_recurring is required
                      - 400--Bad-Request--Parameters frequency and frequency_type are required in the recurring payments scheme
                      - 400--Bad-Request--Invalid value for back_url. Must be a valid URL
                      - 400--Bad-Request--Invalid value for status. Valid ones ar active, inactive, cancelled.
                      - 400--Bad-Request--Invalid value for transaction_amount, must be a positive number
                      - 400--Bad-Request--Invalid value for transaction_amount, must be a positive integer
                      - 400--Bad-Request--Invalid value for transaction_amount, only two decimals are allowed
                      - 400--Bad-Request--Invalid value for payer_email, must be a valid email address
                      - 400--Bad-Request--Invalid value for currency_id
                      - 400--Bad-Request--Invalid value for frequency, must be a positive integer
                      - 400--Bad-Request--Invalid value for frequency_type
                      - 400--Bad-Request--Invalid value for frequency_type, valid ones are days or months
                      - 400--Bad-Request--Invalid value for repetitions, mus be a positive integer
                      - 400--Bad-Request--Cannot pay an amount greater than max
                      - 400--Bad-Request--Cannot pay an amount lower than min
                      - 400--Bad-Request--Cannot operate with this currency_id in this site
                      - 400--Bad-Request--Cannot operate between diferent countries
                      - 400--Bad-Request--Field currency_id is required
                      - 400--Bad-Request--Reason has unsupported characters
                      - 400--Bad-Request--Plan are not available for this country yet
        '401':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 401--Unauthorized--Must provide your access_token to proceed
        '404':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 404--Not-Found--The application id does not exist
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500--Error--Internal server error
  /preapproval/{id}:
    get:
      tags:
        - $ref: "#/tags/subscriptions"
      summary: Get a subscription
      x-summary-i18n:
        eng: Get a subscription
        spa: Obtener suscripción
        por: Obter assinatura
      description: Obtains all the information of a subscription from its ID
      x-description-i18n:
        eng: Obtains all the information of a subscription from its ID
        spa: Obtiene toda la información de una suscripción a partir de su ID
        por: Obter todas as informações de uma assinatura a partir de seu ID
      parameters:
        - name: id
          in: path
          description: Subscription identifier
          x-description-i18n:
            eng: Subscription identifier
            spa: Identificador de suscripción
            por: Identificador de assinatura
          required: true
          schema:
            type: string
            example: 2c938084726fca480172750000000000
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 2c938084726fca480172750000000000
                    description: Unique subscription identifier.
                    x-description-i18n:
                      eng: Unique subscription identifier.
                      spa: Identificador único de suscripción.
                      por: Identificador único de assinatura
                  version:
                    type: number
                    example: 0
                    description: Indicates how many times the subscription was modified
                    x-description-i18n:
                      eng: Indicates how many times the subscription was modified
                      spa: Indica cuántas veces se modificó la suscripción
                      por: Indica quantas vezes uma assinatura foi modificada
                  application_id:
                    type: number
                    example: 1234567812345678
                    description: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                    x-description-i18n:
                      eng: Unique ID that identifies your application/integration. One of the keys in the pair that make up the credentials that identify an application/integration in your account.
                      spa: ID único que identifica tu aplicación/integración. Una de las claves del par que componen las credenciales que identifican una aplicación/integración en tu cuenta.
                      por: ID único que identifica sua aplicação/integração. Uma das chaves do par que compõe as credenciais que identifica uma aplicação/integração na sua conta.
                  collector_id:
                    type: number
                    example: 100200300
                    description: Unique ID that identifies your user as a seller. This ID matches your User ID in our ecosystem.
                    x-description-i18n:
                      eng: Unique ID that identifies your user as a seller. This ID matches your User ID in our ecosystem.
                      spa: ID único que identifica a tu usuario como vendedor. Este ID coincide con tu User ID en nuestro ecosistema.
                      por: ID único que identifica seu usuário como vendedor. Este ID corresponde ao seu User ID em nosso ecossistema. 
                  preapproval_plan_id:
                    type: string
                    description: Unique subscription plan identifier. This parameter is only available when it is a subscription with a plan and indicates from which plan the subscription was created.
                    x-description-i18n:
                      eng: Unique subscription plan identifier. This parameter is only available when it is a subscription with a plan and indicates from which plan the subscription was created.
                      spa: Identificador único del plan de suscripción. Este parámetro solo está disponible cuando se trata de una suscripción con plan asociado e indica desde qué plan se creó la suscripción.
                      por: Identificador único de plano de assinatura. Este parâmetro só está disponível quando se trata de uma assinatura com um plano associado e indica a partir de qual plano a assinatura foi criada. 
                    example: 2c938084726fca480172750000000000
                  reason:
                    type: string
                    example: Yoga classes.
                    description: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                    x-description-i18n:
                      eng: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                      spa: Es una breve descripción que el suscriptor verá durante el proceso de checkout y en las notificaciones. Solo se requiere para suscripciones sin plan asociado.
                      por: É uma breve descrição que o assinante verá durante o processo de checkout e nas notificações. É obrigatório apenas para assinaturas sem plano associado.
                  external_reference:
                    type: string
                    example: 23546246234
                    description: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                    x-description-i18n:
                      eng: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                      spa: Referencia para sincronizar con tu sistema. Este es un campo de texto libre para ayudarte con tu integración para vincular las entidades.
                      por: Referência para sincronizar com seu sistema. Este é um campo de texto livre para ajudar com a integração para vincular as entidades.
                  back_url:
                    type: string
                    example: https://www.mercadopago.com.ar
                    description: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                    x-description-i18n:
                      eng: Successful return URL. Use this setting to redirect your customers to your site after our checkout.
                      spa: URL de retorno exitosa. Use esta configuración para redirigir a tus clientes a su sitio después de nuestro checkout.
                      por: URL de retorno de sucesso. Use esta configuração para redirecionar seus clientes para o seu site após o checkout.
                  init_point:
                    type: string
                    example: https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_id=2c938084726fca480172750000000000
                    description: URL to checkout to add or modify payment method.
                    x-description-i18n:
                      eng: URL to checkout to add or modify payment method.
                      spa: URL al checkout para agregar o modificar el método de pago.
                      por: URL para o checkout para adicionar ou modificar um meio de pagamento.
                  auto_recurring:
                    type: object
                    description: Configuration data for recurrence.
                    x-description-i18n:
                      eng: Configuration data for recurrence.
                      spa: Información de configuración para la recurrencia.
                      por: Configuração da data para recorrência.
                    properties:
                      frequency:
                        type: number
                        description: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                        x-description-i18n:
                          eng: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                          spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                          por: Indica o valor de frequência. Junto com frequency_type define o ciclo de cobrança que a assinaturá terá.
                        example: 1
                      frequency_type:
                        type: string
                        description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                        x-description-i18n:
                          eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                          spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                          por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                        example: months
                        enum:
                          - days -- Indicate a frequency in units of days
                          - months -- Indicate a frequency in units of months
                      start_date:
                        type: string
                        format: date
                        description: Date from which the subscription will be active and we start collecting invoices.
                        x-description-i18n:
                          eng: Date from which the subscription will be active and we start collecting invoices.
                          spa: Fecha a partir de la cual la suscripción estará activa y se empiezan a cobrar las facturas.
                          por: Data que indica o momento em que a assinatura será ativada e começará a cobrança das faturas.
                        example: "2020-06-02T13:07:14.260Z"
                      end_date:
                        type: string
                        format: date
                        description: Date until which the subscription will be active and we will stop charging invoices.
                        x-description-i18n:
                          eng: Date until which the subscription will be active and we will stop charging invoices.
                          spa: Fecha hasta la cual la suscripción estará activa y se dejan de cobrar las facturas.
                          por: Data que indica o fim da assinatura e o momento em que a cobrança não será mais realizada.
                        example: "2022-07-20T15:59:52.581Z"
                      currency_id:
                        type: string
                        description: ID of the currency used in the payment.
                        x-description-i18n:
                          eng: ID of the currency used in the payment.
                          spa: Identificador de la moneda utilizada en el pago
                          por: Identificador da moeda utilizada no pagamento
                        example: ARS
                        enum:
                          - ARS -- Argentine peso.
                          - BRL -- Brazilian real.
                          - CLP -- Chilean peso.
                          - MXN -- Mexican peso.
                          - COP -- Colombian peso.
                          - PEN -- Peruvian sol.
                          - UYU -- Uruguayan peso.
                      transaction_amount:
                        type: number
                        description: Amount we will charge on each invoice.
                        x-description-i18n:
                          eng: Amount we will charge on each invoice.
                          spa: Suma que se cobrará en cada factura.
                          por: Valor que será cobrado em cada fatura.
                        example: 10
                      free_trial:
                        type: object
                        description: Free trial data.
                        x-description-i18n:
                          eng: Free trial data.
                          spa: Información sobre prueba gratuita.
                          por: Informação de teste grátis
                        properties:
                          frequency:
                            type: number
                            description: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                            x-description-i18n:
                              eng: Indicates the frequency value. Together with frequency_type they define the invoice cycle that a subscription will have.
                              spa: Indica el valor de la frecuencia. Junto con frequency_type definen el ciclo de facturación que tendrá una suscripción.
                              por: Indica o valor de frequência. Junto com frequency_type define o ciclo de cobrança que a assinaturá terá.
                            example: 1
                          frequency_type:
                            type: string
                            description: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                            x-description-i18n:
                              eng: Indicates the type of frequency. Together with frequency they define the invoice cycle that a subscription will have.
                              spa: Indica el tipo de frecuencia. Junto con frequency definen el ciclo de facturación que tendrá una suscripción.
                              por: Indica o tipo de frequência. Junto com frequency, definem o ciclo de cobrança que a assinatura terá.
                            example: months
                            enum:
                              - days -- Indicate a frequency in units of days
                              - months -- Indicate a frequency in units of months
                  first_invoice_offset:
                    type: number
                    description: Number of days to collect the first invoice
                    x-description-i18n:
                      eng: Number of days to collect the first invoice
                      spa: Número de días para cobrar la primera factura
                      por: Número de dias para cobrar a primeira fatura
                    example: 7
                  payer_id:
                    type: number
                    example: 123123123
                    description: Unique customer identifier. This is created from the email you used to create the subscription.
                    x-description-i18n:
                      eng: Unique customer identifier. This is created from the email you used to create the subscription.
                      spa: Identificador único de cliente. Se crea a partir del correo electrónico que utilizaste para crear la suscripción.
                      por: Identificador único do cliente. É criado a partir do e-mail utilizado para criar a assinatura.
                  card_id:
                    type: number
                    example: 123123123
                    description: Unique identifier to retrieve data from the card used as a payment method.
                    x-description-i18n:
                      eng: Unique identifier to retrieve data from the card used as a payment method.
                      spa: Identificador único para recuperar datos de la tarjeta utilizada como medio de pago.
                      por: Identificador único para recuperar dados do cartão utilizado como meio de pagamento.
                  payment_method_id:
                    type: string
                    example: account_money
                    description: Payment method configured.
                    x-description-i18n:
                      eng: Payment method configured.
                      spa: Método de pago configurado.
                      por: Meio de pagamento configurado.
                  next_payment_date:
                    type: string
                    example: "2022-01-01T11:12:25.892-04:00"
                    description: Date of the next payment debit.
                    x-description-i18n:
                      eng: Date of the next payment debit.
                      spa: Fecha del próximo débito.
                      por: Data do próximo débito.
                  date_created:
                    type: string
                    example: "2022-01-01T11:12:25.892-04:00"
                    description: Creation date
                    x-description-i18n:
                      eng: Creation date
                      spa: Fecha de creación
                      por: Data de criação
                  last_modified:
                    type: string
                    example: "2022-01-01T11:12:25.892-04:00"
                    description: Date of last modification.
                  summarized:
                    type: object
                    description: Summary information on subscription invoices and charges
                    x-description-i18n:
                      eng: Summary information on subscription invoices and charges
                      spa: Información resumida sobre facturas y cargos de suscripción
                      por: Informações resumidas sobre faturas e cobranças de assinatura
                    properties:
                      quotas:
                        type: number
                        description: How many payments are going to be made.
                        x-description-i18n:
                          eng: How many payments are going to be made.
                          spa: Cantidad de pagos que se realizarán.
                          por: Quantos pagamentos serão feitos.
                        example: 6
                      charged_quantity:
                        type: number
                        description: Total charged of charged quotas.
                        x-description-i18n:
                          eng: Total charged of charged quotas.
                          spa: Total cobrado de cuotas.
                          por: Total cobrado de parcelas
                        example: 3
                      charged_amount:
                        type: number
                        description: Total amount collected to date.
                        x-description-i18n:
                          eng: Total amount collected to date.
                          spa: Importe total recaudado hasta la fecha.
                          por: Valor total cobrado até o momento.
                        example: 1000.00
                      pending_charge_quantity:
                        type: number
                        description: Pending quotas to charge.
                        x-description-i18n:
                          eng: Pending quotas to charge.
                          spa: Cuotas pendientes a ser cobradas.
                          por: Parcelas pendentes a serem cobradas.
                        example: 1
                      pending_charge_amount:
                        type: number
                        description: Amount pending collection.
                        x-description-i18n:
                          eng: Amount pending collection.
                          spa: Importe pendiente de cobro.
                          por: Valor pendente de cobrança
                        example: 200.00
                      last_charged_date:
                        type: number
                        description: Date of last charge.
                        x-description-i18n:
                          eng: Date of last charge.
                          spa: Fecha de último cobro.
                          por: Data da última cobrança.
                        example: "2022-01-01T11:12:25.892-04:00"
                      last_charged_amount:
                        type: number
                        description: Date of last charged amount.
                        x-description-i18n:
                          eng: Date of last charged amount.
                          spa: Fecha de último importe cobrado.
                          por: Data do último valor cobrado.
                        example: 100.00
                      semaphore:
                        type: number
                        description: Subscription collection status summary.
                        x-description-i18n:
                          eng: Subscription collection status summary.
                          spa: Resumen del estado de la cobranza de suscripciones.
                          por: Resumo do status de cobrança de assinaturas.
                        example: green
                        enum:
                          - green -- All collections made.
                          - yellow -- With collection problems. We are trying to collect an invoice.
                          - red -- With pending collections. An invoice could not be collected.
                          - blank -- Discounted collection.
                  status:
                    type: string
                    example: pending
                    description: Status
                    enum:
                      - pending -- Preapproval without a payment method
                      - authorized -- Preapproval with a valid payment method
                      - paused -- Preapproval with temporally discontinued collection of payments
                      - cancelled -- Preapproval terminated. This is an irreversible state
        '400':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad-Request--Invalid value {id}, Field 'id' must match this pattern '[a-f0-9-]+'
        '403':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 403--Forbidden--The caller is not authorized to access this resource
        '404':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 404--Not-found--The preapproval with id {id} does not exist
        '500':
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500--Error--Internal server error
    put:
      tags:
        - $ref: "#/tags/subscriptions"
      summary: Update a subscription
      x-summary-i18n:
        eng: Update a subscription
        spa: Actualizar suscripción
        por: Atualizar assinatura
      description: Renew the data of a subscription. Indicate the preapproval ID and send the body with the information you want to update. You can update reason, amount, payment method, status and other information that compose the subscription
      x-description-i18n:
        eng: Renew the data of a subscription. Indicate the preapproval ID and send the body with the information you want to update. You can update reason, amount, payment method, status and other information that compose the subscription
        spa: Renovar datos de suscripción. Ingrese el ID de suscripción y envíe el body con la información que desea actualizar. Podrás actualizar el motivo, monto, medio de pago, status y demás información que conforma la suscripción.
        por: Renove os dados de uma assinatura. Indique o ID da assinatura e envie o body com as informações que deseja atualizar. Você pode atualizar o motivo, valor, forma de pagamento, status e outras informações que compõem a assinatura.
      parameters:
        - name: id
          in: path
          description: Unique subscription identifier you want to modify.
          x-description-i18n:
            eng: Unique subscription identifier you want to modify.
            spa: Identificador único de suscripción que deseas modificar.
            por: Identificador de assinatura exclusivo que deseja modificar.
          required: true
          schema:
            type: string
            example: 2c938084726fca480172750000000000
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: Yoga classes.
                  description: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                  x-description-i18n:
                    eng: It is a short description that the subscriber will see during the checkout process and in the notifications. It is only required for subscriptions without a plan.
                    spa: Es una breve descripción que el suscriptor verá durante el proceso de checkout y en las notificaciones. Solo se requiere para suscripciones sin plan asociado.
                    por: É uma breve descrição que o assinante verá durante o processo de checkout e nas notificações. É obrigatório apenas para assinaturas sem plano associado.
                external_reference:
                  type: string
                  example: 23546246234
                  description: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                  x-description-i18n:
                    eng: Reference to sync with your system. This is a free text field to help you with your integration to link the entities.
                    spa: Referencia para sincronizar con tu sistema. Este es un campo de texto libre para ayudarte con tu integración para vincular las entidades.
                    por: Referência para sincronizar com seu sistema. Este é um campo de texto livre para ajudar com a integração para vincular as entidades.
                back_url:
                  type: string
                  example: https://www.mercadopago.com.ar
                  description: Successful return URL. Use this setting to redirect your customers after our checkout to your site.
                  x-description-i18n:
                    eng: Successful return URL. Use this setting to redirect your customers after our checkout to your site.
                    spa: URL de retorno exitosa. Use esta configuración para redirigir a tus clientes después de nuestro checkout a tu sitio.
[...]
