openapi: 3.0.0
servers:
  - url: https://api.mercadopago.com
info:
  title: Mercado Pago API Reference
  version: '1.0'
paths:
  /v1/transaction-intents:
    post:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Create Transaction Intent
      x-summary-i18n:
        eng: Create Transaction Intent
        spa: Crear Transaction Intent
        por: Criar Transaction Intent
      description: This endpoint enables the creation of a new Transaction Intent in Builder mode. Upon obtaining the ID of this Transaction Intent, it is possible to make edits through the Patch Endpoint and carry out the processing using the Process Endpoint
      x-description-i18n:
        eng: This endpoint enables the creation of a new Transaction Intent in Builder mode. Upon obtaining the ID of this Transaction Intent, it is possible to make edits through the Patch Endpoint and carry out the processing using the Process Endpoint
        spa: Este endpoint permite la creación de una nueva Transaction Intent en modo Builder. Al obtener el ID de esta Transaction Intent, es posible realizar ediciones a través del endpoint Patch y llevar a cabo el procesamiento utilizando el endpoint Process
        por: Este endpoint possibilita a criação de uma nova Transaction Intent no modo Builder. Ao obter o ID desta Transaction Intent, é possível efetuar edições por meio do Endpoint Patch e realizar o processamento utilizando o Endpoint Process
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer token-89987654567f-numeroToken"
          required: true
          description: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
          x-description-i18n:
            eng: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
            spa: Access Token - Clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores.
            por: Acess Token - Chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores.
        - in: header
          name: X-Product-ID
          schema:
            type: string
            example: "876542356788-mp"
          required: false
          description: Alphanumeric product ID, for example, 876542356788-mp.
          x-description-i18n:
            eng: Alphanumeric product ID, for example, 876542356788-mp.
            spa: Identificación alfanumérica del producto, por ejemplo, 876542356788-mp.
            por: Identificação alfanumérica do produto, como por exemplo, 876542356788-mp.
        - in: header
          name: X-Platform-ID
          schema:
            type: string
          required: false
          description: Alphanumeric ID of the platform
          x-description-i18n:
            eng: Alphanumeric ID of the platform
            spa: Identificación alfanumérica de la plataforma.
            por: Identificação alfanumérica da plataforma.
        - in: header
          name: X-Integrator-ID
          schema:
            type: string
          required: false
          description: Alphanumeric ID of the integrator
          x-description-i18n:
            eng: Alphanumeric ID of the integrator
            spa: Identificación alfanumérica del integrador
            por: Identificação alfanumérica do integrador
      requestBody:
        description: Complete body for a Transaction Intent request in Builder mode. The minimum requirement for this body is a request containing the payer's email address and the order amount.
        x-description-i18n:
          eng: Complete body for a Transaction Intent request in Builder mode. The minimum requirement for this body is a request containing the payer's email address and the order amount.
          spa: Body completo para una solicitud de Transaction Intent en modo Builder. El requisito mínimo para este body es una solicitud que contenga la dirección de correo electrónico del pagador y el monto del pedido.
          por: Body completo para uma requisição de Transaction Intent no modo Builder. O requisito mínimo para esse body consiste em um pedido contendo o endereço de e-mail do pagador e o valor do pedido.
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  description: Order containing all the essential information for the execution of a transaction.
                  x-description-i18n:
                    eng: Order containing all the essential information for the execution of a transaction.
                    spa: Orden que contiene toda la información esencial para la ejecución de una transacción.
                    por: Ordem contendo todas as informações essenciais para a execução de uma transação.
                  type: object
                  properties:
                    amount:
                      required: true
                      type: string
                      example: "50.00"
                      description: Total amount to be paid. For example, "50.00".
                      x-description-i18n:
                        eng: Total amount to be paid. For example, "50.00".
                        spa: Monto total que se desea cobrar. Por ejemplo, "50.00".
                        por: Valor total a ser pago. Por exemplo, "50.00".
                    payer:
                      type: object
                      description: Buyer's information.
                      x-description-i18n:
                        eng: Buyer's information.
                        spa: Información del comprador.
                        por: Informações do comprador.
                      properties:
                        email:
                          required: true
                          type: string
                          description: Buyer's email.
                          x-description-i18n:
                            eng: Buyer's email.
                            spa: Email del comprador.
                            por: Email do comprador.
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "00001njp2i"
                    description: ID of a created Transaction Intent.
                    x-description-i18n:
                      eng: ID of a created Transaction Intent.
                      spa: ID de la Transaction Intent creada.
                      por: ID da Transaction Intent criada.
                  created_date:
                    type: string
                    example: "2023-09-06T08:00:00.000-03:00"
                    description: Date of creation of the Transaction Intent. For example, "2023-09-06T08:00:00.000-03:00".
                    x-description-i18n:
                      eng: Date of creation of the Transaction Intent. For example, "2023-09-06T08:00:00.000-03:00".
                      spa: Fecha de creación de la Transaction Intent. Por ejemplo, "2023-09-06T08:00:00.000-03:00".
                      por: Data de criação da Transaction Intent. Por exemplo, "2023-09-06T08:00:00.000-03:00".
                    format: date-time
                  status:
                    type: string
                    example: "authorized"
                    description: Current status of the Transaction Intent.
                    x-description-i18n:
                      eng: Current status of the Transaction Intent.
                      spa: Status actual de la Transaction Intent.
                      por: Status atual da Transaction Intent.
                    enum:
                      - new--nova
                      - transaction_in_process--transação em processo
                      - partially_processed--parcialmente processada
                      - processed--processada
                      - partially_reverted--revertida parcialmente
                      - reverted--revertida
                      - failed--falhou
                      - cancelled--cancelada
                      - authorized--autorizada
                  init_point:
                    type: string
                    example: "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789"
                    description: URL that allows you to start the payment flow. For example, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                    x-description-i18n:
                      eng: URL that allows you to start the payment flow. For example, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                      spa: URL que permite iniciar el flujo de pago. Por ejemplo, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                      por: URL que permite iniciar o fluxo de pagamento. Por exemplo, "https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=123456789".
                  configuration:
                    type: object
                    description: Predefined configuration parameters set by the seller before initiating the transaction.
                    x-description-i18n:
                      eng: Predefined configuration parameters set by the seller before initiating the transaction.
                      spa: Parámetros de configuración predefinidos por el seller antes de iniciar la transacción.
                      por: Parâmetros de configuração pré-definidos pelo seller antes de iniciar a transação.
                    properties:
                      option:
                        type: object
                        description: Seller-defined settings to determine the choices offered during the transaction. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the transaction process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the transaction is conducted.
                        x-description-i18n:
                          eng: Seller-defined settings to determine the choices offered during the transaction. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the transaction process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the transaction is conducted.
                          spa: Ajustes establecidos por el seller para determinar las opciones ofrecidas durante la transacción. Este campo se refiere a las configuraciones que el seller establece para proporcionar diferentes opciones a los compradores durante el proceso de transacción. Esto puede incluir elecciones como métodos de pago aceptados, cuotas, opciones de envío, descuentos y otras personalizaciones que afectan la forma en que se lleva a cabo la transacción.
                          por: Ajustes estabelecidos pelo seller para determinar as escolhas oferecidas durante a transação. Este campo e refere às configurações que o seller configura para fornecer diferentes opções aos compradores durante o processo de transação. Isso pode incluir escolhas como meios de pagamento aceitos, parcelamento, opções de envio, descontos e outras personalizações que afetam a forma como a transação é conduzida. 
                        properties:
                          purpose:
                            type: string
                            description: Transaction purpose identifier that enables loading a list of predefined options. For example, wallet_purchase, onboarding_credits.
                            x-description-i18n:
                              eng: Transaction purpose identifier that enables loading a list of predefined options. For example, wallet_purchase, onboarding_credits.
                              spa: Identificador de propósito de transacción que permite cargar una lista de opciones predefinidas. Por ejemplo, wallet_purchase, onboarding_credits.
                              por: Identificador da finalidade da transação, que permite carregar uma lista de opções predefinidas. Por exemplo, wallet_purchase, onboarding_credits.
                            example: wallet_purchase, onboarding_credits
                          payment_methods:
                            type: object
                            description: Information related to the payment methods defined for the transaction.
                            x-description-i18n:
                              eng: Information related to the payment methods defined for the transaction.
                              spa: Información relacionada con los medios de pago definidos para la transacción.
                              por: Informações relacionadas aos meios de pagamento definidos para a transação.
                            properties:
                              coupons:
                                description: Coupons can be used as a payment method during the transaction.
                                x-description-i18n:
                                  eng: Coupons can be used as a payment method during the transaction.
                                  spa: Los cupones se pueden utilizar como método de pago durante la transacción.
                                  por: Os cupons podem ser utilizados como forma de pagamento durante a transação.
                                type: object
                                properties:
                                  campaign_id:
                                    type: number
                                    example: 123456
                                    description: Identifier number of the campaign to which the coupon is linked.
                                    x-description-i18n:
                                      eng: Identifier number of the campaign to which the coupon is linked.
                                      spa: Número identificador de la campaña a la cual el cupón está vinculado.
                                      por: Número de identificação da campanha à qual o cupom está associado.
                                  amount:
                                    type: string
                                    example: "100.00"
                                    description: Total value of coupon. For example, "100.00".
                                    x-description-i18n:
                                      eng: Total value of coupon. For example, "100.00".
                                      spa: Valor total del cupón. Por ejemplo, "100.00".
                                      por: Valor total do cupom. Por exemplo, "100.00".
                              types:
                                type: object
                                description: Configuration by payment method type.
                                x-description-i18n:
                                  eng: Configuration by payment method type.
                                  spa: Configuración por tipo de medio de pago.
                                  por: Configuração por tipo de meio de pagamento.
                                properties:
                                  enabled:
                                    type: array
                                    description: List of Payment Types included. For example, credit_card, debit_card.
                                    x-description-i18n:
                                      eng: List of Payment Types included. For example, credit_card, debit_card.
                                      spa: Lista de tipos de medios de pago incluidos. Por ejemplo, credit_card, debit_card.
                                      por: Lista de tipos de meios de pagamento incluídos. Por exemplo, credit_card, debit_card.
                                    items:
                                      type: string
                                      example: credit_card, debit_card
                                  disabled:
                                    example: "credit_card"
                                    description: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the transaction, such as "credit card".
                                    x-description-i18n:
                                      eng: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the transaction, such as "credit card".
                                      spa: Tipos de medios de pago no incluidos. Este parámetro abarca los pagos que no serán aceptados en la transacción, como por ejemplo, "credit card".
                                      por: Tipos de meios de pagamento não abrangidos. Este parâmetro engloba os pagamentos que não serão aceitos na transação, como por exemplo, "credit card".
                                    type: array
                                    items:
                                      type: string
                              methods:
                                type: object
                                description: Configuration by specific payment method.
                                x-description-i18n:
                                  eng: Configuration by specific payment method.
                                  spa: Configuración por tipo específico de medio de pago.
                                  por: Configuração por tipo específico de meio de pagamento.
                                properties:
                                  enabled:
                                    type: array
                                    example: visa, master
                                    description: Payment methods included.
                                    x-description-i18n:
                                      eng: Payment methods included.
                                      spa: Medios de pago incluidos.
                                      por: Meios de pagamento incluídos.
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Payment method identifier. For example, "credit_card".
                                          x-description-i18n:
                                            eng: Payment method identifier For example, "credit_card".
                                            spa: Identificador del medio de pago. Por ejemplo, "credit_card".
                                            por: Identificador do meio de pagamento. Por exemplo, "credit_card".
                                          example: "credit_card"
                                        installments:
                                          type: object
                                          description: Configuration of the installment quantity to be offered for each payment method.
                                          x-description-i18n:
                                            eng: Configuration of the installment quantity to be offered for each payment method.
                                            spa: Configuración de la cantidad de cuotas a ofrecer para cada medio de pago.
                                            por: Configuração da quantidade de parcelas a serem disponibilizadas para cada meio de pagamento.
                                          properties:
                                            default:
                                              description: Number of installments to be offered by default.
                                              x-description-i18n:
                                                eng: Number of installments to be offered by default.
                                                spa: Número de cuotas a ofrecer de forma predeterminada.
                                                por: Número de parcelas a serem disponibilizadas por padrão.
                                              type: string
                                              example: "3"
                                            max:
                                              description: Maximum number of installments to offer.
                                              x-description-i18n:
                                                eng: Maximum number of installments to offer.
                                                spa: Cantidad máxima de cuotas a ofrecer.
                                                por: Quantidade máxima de parcelas a oferecer.
                                              type: string
                                              example: "6"
                                            min:
                                              description: Minimum number of installments to offer.
                                              x-description-i18n:
                                                eng: Minimum number of installments to offer.
                                                spa: Cantidad mínima de cuotas a ofrecer.
                                                por: Quantidade mínima de parcelas a oferecer.
                                              type: string
                                              example: "1"
                                  disabled:
                                    description: Payment methods not included.
                                    x-description-i18n:
                                      eng: Payment methods not included.
                                      spa: Medios de pago no incluidos.
                                      por: Meios de pagamento não incluídos.
                                    type: array
                                    items:
                                      type: string
                                      example: ticket, account_money
                                  default:
                                    type: string
                                    example: "credit_card"
                                    description: Types of payment methods to be offered by default.
                                    x-description-i18n:
                                      eng: Types of payment methods to be offered by default.
                                      spa: Tipos de medios de pago que se ofrecerán de manera predeterminada.
                                      por: Tipos de meios de pagamento a serem disponibilizados por padrão.
                      integration:
                        type: object
                        description: Configuration of the seller on integration.
                        x-description-i18n:
                          eng: Configuration of the seller on integration.
                          spa: Configuración del seller sobre la integración.
                          por: Configuração do seller sobre a integração.
                        properties:
                          notification_url:
                            type: string
                            description: URL to which notifications will be sent
                            example: "https://www.integrator-site.com/notifications"
                            x-description-i18n:
                              eng: URL to which notifications will be sent.
                              spa: URL a la cual se enviarán las notificaciones.
                              por: URL para a qual as notificações serão enviadas.
                          return_url_default:
                            description: Default URL to redirect the buyer.
                            x-description-i18n:
                              eng: Default URL to redirect the buyer.
                              spa: URL por defecto a la cual se redireccionará al comprador.
                              por: URL padrão para redirecionar o comprador.
                            type: string
                            example: "https://www.integrator-site.com/order"
                          return_url_success:
                            description: URL to redirect the buyer in case of successful payment.
                            type: string
                            example: "https://www.integrator-site.com/order/success"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of successful payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago exitoso.
                              por: URL para redirecionar o comprador em caso de pagamento bem-sucedido.
                          return_url_pending:
                            description: URL to redirect the buyer in case of pending payment.
                            type: string
                            example: "https://www.integrator-site.com/order/pending"
                            x-description-i18n:
                              eng: URL to redirect the buyer in case of pending payment.
                              spa: URL a la cual se redireccionará al comprador en caso de pago pendiente.
                              por: URL para redirecionar o comprador em caso de pagamento pendente.
                          return_url_failure:
                            description: Redirection URL for the event of buyer payment failure.
                            type: string
                            example: "https://www.integrator-site.com/order/failed"
                            x-description-i18n:
                              eng: Redirection URL for the event of buyer payment failure.
                              spa: URL de redirección para el caso de fallo en el pago del comprador.
                              por: URL de redirecionamento para o caso de falha no pagamento do comprador.
                  order:
                    type: object
                    description: Common Order attributes for request and response.
                    x-description-i18n:
                      eng: Common Order attributes for request and response.
                      spa: Atributos de Order comunes para el request y el response.
                      por: Atributos de Order comuns para o request e o response.
                    properties:
                      id:
                        type: number
                        example: 123456789
                        description: ID of the order previously created in the integrator's system.
                        x-description-i18n:
                          eng: ID of the order previously created in the integrator's system.
                          spa: ID de orden previamente creada en el sistema del integrador.
                          por: ID da ordem criada anteriormente no sistema do integrador.
                      external_reference:
                        type: string
                        example: "my_order_id"
                        description: Reference of the order.
                        x-description-i18n:
                          eng: Reference of the order.
                          spa: Referencia de lá orden.
                          por: Referência da ordem.
                      description:
                        type: string
                        example: "my_order_description"
                        description: Description for the order or transaction.
                        x-description-i18n:
                          eng: Description for the order or transaction.
                          spa: Descripción de la orden o transacción.
                          por: Descrição da ordem ou transação.
                      amount:
                        example: "233.00"
                        type: string
                        description: Total value of the transaction. For example, "233.00".
                        x-description-i18n:
                          eng: Total value of the transaction. For example, "233.00".
                          spa: Monto total de la transacción. Por ejemplo, "233.00".
                          por: Valor total da transação. Por exemplo, "233.00".
                      items:
                        description: Information relevant to the configuration of the items comprising the transaction, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the transaction, including the quantity of each item and the corresponding price for each of them.
                        x-description-i18n:
                          eng: Information relevant to the configuration of the items comprising the transaction, such as the list of items, their quantities, and prices. This encompasses details about the various products or services involved in the transaction, including the quantity of each item and the corresponding price for each of them.
                          spa: Información relevante para la configuración de los elementos que componen la transacción, como la lista de elementos, sus cantidades y precios. Esto abarca detalles sobre los diferentes productos o servicios involucrados en la transacción, incluyendo la cantidad de cada elemento y el precio correspondiente a cada uno de ellos.
                          por: Informações pertinentes à configuração dos itens que constituem a transação, tais como a lista de itens, suas quantidades e preços. Isso abrange informações sobre os diferentes produtos ou serviços envolvidos na transação, incluindo a quantidade de cada item e o preço correspondente a cada um deles. 
                        type: array
                        items:
                          type: object
                          description: List of items included in the order.
                          x-description-i18n:
                            eng: List of items included in the order.
                            spa: Listado de ítems incluidos en la órden.
                            por: Lista de itens incluídos na ordem.
                          properties:
                            id:
                              type: string
                              example: "x76ax"
                              description: Item identification code. For example, "x76ax".
                              x-description-i18n:
                                eng: Item identification code. For example, "x76ax".
                                spa: Código de identificación del ítem. Por ejemplo, "x76ax".
                                por: Código de identificação do item. Por exemplo, "x76ax".
                            quantity:
                              type: number
                              example: 4
                              description: Number of item included in the order.
                              x-description-i18n:
                                eng: Number of item included in the order.
                                spa: Cantidad de ocurrencias del ítem incluidos en la órden.
                                por: Quantidade de itens incluídos na ordem.
                            unit_price:
                              type: string
                              example: "100.00"
                              description: Unit price of the item. For example, "100.00".
                              x-description-i18n:
                                eng: Unit value of the item. For example, "100.00".
                                spa: Precio unitario del ítem. Por ejemplo, "100.00".
                                por: Preço unitário do item. Por exemplo, "100.00".
                            dimensions:
                              type: string
                              example: "30x30x30"
                              description: Dimensions of the item - length x width x height.
                              x-description-i18n:
                                eng: Dimensions of the item - length x width x height.
                                spa: Dimensiones del ítem - largo x ancho x alto.
                                por: Dimensões do item - comprimento x largura x altura.
                            description:
                              type: string
                              example: "Beautifully handmade laptop case/sleeve made in the Himalaya. "
                              description: Description of the items comprising the list of products included in the order.
                              x-description-i18n:
                                eng: Description of the items comprising the list of products included in the order.
                                spa: Descripción de los artículos que componen la lista de productos incluidos en el pedido.
                                por: Descrição dos itens que constituem a lista de produtos incluídos na ordem.
                      collectors:
                        type: object
                        description: Seller user who receives the payment.
                        x-description-i18n:
                          eng: Seller user who receives the payment.
                          spa: Usuario vendedor que recibe el pago.
                          por: Usuário vendedor que recebe o pagamento.
                        properties:
                          collector_id:
                            type: number
                            example: 123456789
                            description: Collector identifier.
                            x-description-i18n:
                              eng: Collector identifier.
                              spa: Identificador del collector.
                              por: Identificador do collector.
                          amount:
                            type: string
                            example: "50.00"
                            description: Amount of the transaction corresponding to the collector.
                            x-description-i18n:
                              eng: Amount of the transaction corresponding to the collector.
                              spa: Monto de la transacción que corresponde al collector.
                              por: Valor da transação correspondente ao collector.
                      payer:
                        type: object
                        description: Buyer's information.
                        x-description-i18n:
                          eng: Buyer's information.
                          spa: Información del comprador.
                          por: Informações do comprador.
                        properties:
                          email:
                            type: string
                            description: Buyer's email.
                            x-description-i18n:
                              eng: Buyer's email.
                              spa: Email del comprador.
                              por: Email do comprador.
                            example: test@test.com
                          customer_id:
                            type: number
                            example: 123456
                            description: Previously stored buyer identification number.
                            x-description-i18n:
                              eng: Previously stored buyer identification number.
                              spa: Número de identificación del comprador previamente almacenado.
                              por: Número de identificação do comprador previamente armazenado.
                          identification:
                            type: object
                            description: This field refers to the type and number of the document used to identify a person within the country.
                            x-description-i18n:
                              eng: This field refers to the type and number of the document used to identify a person within the country.
                              spa: Este campo se refiere al tipo y número del documento utilizado para identificar a una persona dentro del país.
                              por: Este campo se refere ao tipo e número do documento usado para identificar uma pessoa dentro do país.
                            properties:
                              number:
                                description: Number of the document.
                                x-description-i18n:
                                  eng: Number of the document.
                                  spa: Número del documento.
                                  por: Número do documento.
                                type: string
                                example: "12345678098"
                              type:
                                description: Type of the document.
                                x-description-i18n:
                                  eng: Type of the documento.
                                  spa: Tipo de documento.
                                  por: Tipo de documento.
                                type: string
                                example: "CPF"
                          name:
                            type: string
                            example: "John"
                            description: Buyer's name.
                            x-description-i18n:
                              eng: Buyer's name.
                              spa: Nombre del comprador.
                              por: Nome do comprador.
                          surname:
                            type: string
                            example: "Doe"
                            description: Buyer's surname.
                            x-description-i18n:
                              eng: Buyer's surname.
                              spa: Apellido del comprador.
                              por: Sobrenome do comprador.
                          address:
                            type: object
                            description: Address of the buyer.
                            x-description-i18n:
                              eng: Address of the buyer.
                              spa: Dirección del comprador.
                              por: Endereço do comprador.
                            properties:
                              street_name:
                                type: string
                                example: "Street MercadoLivre"
                                description: Street name
                                x-description-i18n:
                                  eng: Street name.
                                  spa: Nombre de la calle.
                                  por: Nome da rua.
                              street_number:
                                type: string
                                example: "100"
                                description: Street number.
                                x-description-i18n:
                                  eng: Street number.
                                  spa: Número de la calle.
                                  por: Número da casa.
                              zip_code:
                                type: string
                                example: "57000-865"
                                description: Zip code.
                                x-description-i18n:
                                  eng: Zip covered.
                                  spa: Código postal.
                                  por: Código postal.
                          phone:
                            type: object
                            description: Buyer's phone number.
                            x-description-i18n:
                              eng: Buyer's phone number.
                              spa: Número de teléfono del comprador.
                              por: Número de telefone do comprador.
                            properties:
                              area_code:
                                type: string
                                description: Buyer's area code.
                                x-description-i18n:
                                  eng: Buyer's area code.
                                  spa: Código de área del comprador.
                                  por: Código de área do comprador.
                                example: "11"
                              number:
                                type: string
                                description: Buyer's phone number number.
                                x-description-i18n:
                                  eng: Buyer's phone number.
                                  spa: Número de teléfono del comprador.
                                  por: Número de telefone do comprador.
                                example: "99999999"
                      advanced:
                        type: object
                        description: Options for advanced transaction.
                        x-description-i18n:
                          eng: Options for advanced transaction.
                          spa: Agrupación de opciones avanzadas para la transacción.
                          por: Opções avançadas para a transação.
                        properties:
                          binary_mode:
                            type: boolean
                            example: true
                            description: Enables requesting a final transaction response during the initial processing, disabling any options for offline or asynchronous processing.
                            x-description-i18n:
                              eng: Enables requesting a final transaction response during the initial processing, disabling any options for offline or asynchronous processing.
                              spa: Permite solicitar una respuesta definitiva de la transacción durante el procesamiento inicial, deshabilitando cualquier opción de procesamiento fuera de línea o asíncrono.
                              por: Possibilita requerer uma resposta definitiva da transação no primeiro processamento, desabilitando quaisquer opções de processamento offline ou assíncrono.
                          sponsor_id:
                            type: number
                            example: 123456789
                            description: Identifier of the account in Mercado Pago that will be used to make commission payments. This means that when a commission is owed to someone, the funds will be withdrawn from this Mercado Pago account to make the payment.
                            x-description-i18n:
                              eng: Identifier of the account in Mercado Pago that will be used to make commission payments. This means that when a commission is owed to someone, the funds will be withdrawn from this Mercado Pago account to make the payment.
                              spa: Identificador de la cuenta en Mercado Pago que se utilizará para realizar los pagos de comisiones. Esto significa que cuando se deba una comisión a alguien, los fondos se retirarán de esta cuenta de Mercado Pago para efectuar el pago.
                              por: Identificador da conta no Mercado Pago que será utilizada para efetuar os pagamentos das comissões. Isso significa que, quando uma comissão for devida a alguém, os fundos serão retirados dessa conta do Mercado Pago para realizar o pagamento.
                      amount_details:
                        description: This field encompasses transaction value details, including the amount paid, and in cases of refunds, the total refunded amount. Additionally, it covers the costs associated with shipping the purchased product.
                        x-description-i18n:
                          eng: This field encompasses transaction value details, including the amount paid, and in cases of refunds, the total refunded amount. Additionally, it covers the costs associated with shipping the purchased product.
                          spa: Este campo abarca los detalles de valor de la transacción, incluyendo la cantidad pagada y, en casos de reembolso, la cantidad total reembolsada. Además, cubre los costos asociados con el envío del producto adquirido.
                          por: Este campo abrange os detalhes relacionados aos montantes da transação, incluindo o valor pago e, em situações de reembolso, o montante total reembolsado. Também engloba os custos associados ao envio do produto adquirido.
                        type: object
                        properties:
                          total:
                            type: string
                            example: "123.00"
                            description: Details of the total value of the transaction.
                            x-description-i18n:
                              eng: Details of the total value of the transaction.
                              spa: Detalles del monto total de la transacción.
                              por: Detalhes do valor total da transação.
                          paid:
                            type: string
                            example: "100.00"
                            description: Total paid.
                            x-description-i18n:
                              eng: Total paid.
                              spa: Monto de la transacción pagado.
                              por: Valor pago.
                          refunded:
                            type: string
                            example: "100.00"
                            description: Total value refunded.
                            x-description-i18n:
                              eng: Total value refunded.
                              spa: Monto de la transacción devuelto.
                              por: Valor total reembolsado.
                          shipment:
                            type: string
                            example: "10.00"
                            description: Total value charged per shipment.
                            x-description-i18n:
                              eng: Total value charged per shipment.
                              spa: Monto cobrado por envío (incluido en total).
                              por: Valor cobrado por envio (incluído no total).
                      payment_method:
                        properties:
                          credit_cards:
                            type: array
                            items:
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    spa: card_token que representa de manera segura los datos de tarjeta. Por ejemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    por: Card token que representa de maneira segura os dados do cartão. Por exemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                payment_id:
                                  type: number
                                  example: 12345432
                                  description: Payment ID corresponding to the payment method.
                                  x-description-i18n:
                                    eng: Payment ID corresponding to the payment method.
                                    spa: ID de Pago correspondiente al medio de pago.
                                    por: ID de pagamento correspondente ao meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "visa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and transaction analysis purposes.
                                  x-description-i18n:
                                    eng: If required, this is the identifier of the card issuer entity. This identifier is used to record the source of the payment card. In certain situations, having this information is important for tracking, security, and transaction analysis purposes.
                                    spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                    por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                installments:
                                  type: number
                                  description: Quantity of installments.
                                  x-description-i18n:
                                    eng: Quantity of installments.
                                    spa: Cantidad de cuotas deseadas.
                                    por: Quantidade de parcelas desejadas.
                                  example: 1
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the transaction. It provides a brief description that assists the customer in recognizing the nature of the transaction conducted.
                                  x-description-i18n:
                                    eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the transaction. It provides a brief description that assists the customer in recognizing the nature of the transaction conducted.
                                    spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada. 
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refunded.
                                        spa: ID de la devolución.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payments.
                                    spa: Información sobre el resultado del procesamiento.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del estado del pago.
                                        por: Código do Estado do Pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del estado del pagos.
                                        por: Mensagem do status do Pagamento.
                          debit_cards:
                            type: array
                            items:
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                token:
                                  type: string
                                  example: "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb"
                                  description: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                  x-description-i18n:
                                    eng: Card token that represents securely the credit card data. For example, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    spa: card_token que representa de manera segura los datos de tarjeta. Por ejemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                    por: Card token que representa de maneira segura os dados do cartão. Por exemplo, "1234567897yhjdsnfs78ry3iuthrbnfuve8h4t3unbf7e4rgb".
                                payment_id:
                                  type: number
                                  example: 1234565432
                                  description: Payment identification associated with the payment method used.
                                  x-description-i18n:
                                    eng: Payment identification associated with the payment method used.
                                    spa: Identificación de pago asociada al medio de pago utilizado.
                                    por: Identificação de pagamento associada ao meio de pagamento utilizado.
                                payment_method_id:
                                  type: string
                                  example: "debvisa"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                issuer:
                                  type: string
                                  example: "23"
                                  description: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                  x-description-i18n:
                                    eng: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                    spa: En caso de ser necesario, este es el identificador de la entidad emisora de la tarjeta. Este identificador se utiliza para registrar el origen de la tarjeta de pago. En ciertas situaciones, contar con esta información es importante para fines de seguimiento, seguridad y análisis de transacciones.
                                    por: Se necessário, este é o identificador da instituição que emitiu o cartão. Esse identificador é usado para registrar a origem do cartão de pagamento. Em algumas situações, é importante ter essa informação para fins de rastreamento, segurança e análise de transações.
                                statement_descriptor:
                                  type: string
                                  example: "MERCADOPAGO"
                                  description: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the transaction. It provides a brief description that assists the customer in recognizing the nature of the transaction conducted.
                                  x-description-i18n:
                                    eng: Charge descriptor to be displayed on the card statement. The charge descriptor is the text or name that will appear on the customer's credit card statement to identify the transaction. It provides a brief description that assists the customer in recognizing the nature of the transaction conducted.
                                    spa: Descriptor del cargo que se mostrará en el estado de cuenta de la tarjeta. El descriptor del cargo es el texto o nombre que aparecerá en el estado de cuenta de la tarjeta de crédito del cliente para identificar la transacción. Proporciona una breve descripción que ayuda al cliente a reconocer la naturaleza de la transacción realizada.
                                    por: Descritor da cobrança a ser mostrada no extrato do cartão. O descritor da cobrança é o texto ou nome que aparecerá no extrato do cartão de crédito do cliente para identificar a transação. Ele fornece uma breve descrição que ajuda o cliente a reconhecer a natureza da transação realizada. 
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: ID of the refund.
                                      x-description-i18n:
                                        eng: ID of the refund.
                                        spa: ID del reembolso.
                                        por: ID do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payment.
                                    spa: Información sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del estado del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Status message
                                      x-description-i18n:
                                        eng: Status message.
                                        spa: Mensaje del estado del pago.
                                        por: Mensagem do status do Pagamento.
                          tickets:
                            type: array
                            items:
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "pec"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                payment_id:
                                  type: number
                                  example: 1234567654
                                  description: Payment identification associated with the payment method used.
                                  x-description-i18n:
                                    eng: Payment identification associated with the payment method used.
                                    spa: Identificación de pago asociada al medio de pago utilizado.
                                    por: Identificação de pagamento associada ao meio de pagamento utilizado.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Status of the payment.
                                  x-description-i18n:
                                    eng: Status of the payment.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payment.
                                    spa: Información sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do Pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do pagamento.
                                completion_url:
                                  type: string
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: Refund identifier.
                                      x-description-i18n:
                                        eng: Refund identifier.
                                        spa: Identificador del reembolso.
                                        por: Identificador do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Refund amount.
                                      x-description-i18n:
                                        eng: Refund amount.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                          atms:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "bapropagos"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                payment_id:
                                  type: number
                                  example: 12345432423
                                  description: Payment identification associated with the payment method used.
                                  x-description-i18n:
                                    eng: Payment identification associated with the payment method used.
                                    spa: Identificación de pago asociada al método de pago utilizado.
                                    por: Identificação de pagamento associada ao método de pagamento utilizado.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Payment status.
                                  x-description-i18n:
                                    eng: Payment status.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                completion_url:
                                  type: string
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de devoluciones relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: Refund identifier.
                                      x-description-i18n:
                                        eng: Refund identifier.
                                        spa: Identificador del reembolso.
                                        por: Identificador do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Refund amount.
                                      x-description-i18n:
                                        eng: Refund amount.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status_detail:
                                  type: object
                                  description: Detail information about the status of the payment.
                                  x-description-i18n:
                                    eng: Information about the status of the payment.
                                    spa: Información sobre el resultado del procesamiento.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do Pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do pagamento.
                          bank_transfers:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: string
                                  example: "50.00"
                                  description: Total amount to be paid with this payment method.
                                  x-description-i18n:
                                    eng: Total amount to be paid with this payment method.
                                    spa: Monto a pagar con este medio de pago.
                                    por: Valor total a ser pago com este meio de pagamento.
                                payment_method_id:
                                  type: string
                                  example: "banco_mp"
                                  description: Identifier of the chosen payment method.
                                  x-description-i18n:
                                    eng: Identifier of the chosen payment method.
                                    spa: Identificador del medio de pago elegido.
                                    por: Identificador do meio de pagamento escolhido.
                                payment_id:
                                  type: number
                                  example: 23421234543
                                  description: Payment identification associated with the payment method used.
                                  x-description-i18n:
                                    eng: Payment identification associated with the payment method used.
                                    spa: Identificación de pago asociada al método de pago utilizado.
                                    por: Identificação de pagamento associada ao meio de pagamento utilizado.
                                status:
                                  type: string
                                  example: "pending"
                                  description: Payment status.
                                  x-description-i18n:
                                    eng: Payment status.
                                    spa: Status del pago.
                                    por: Status do pagamento.
                                completion_url:
                                  type: string
                                  description: For offline payments, this is the URL that enables the continuation of the payment flow.
                                  x-description-i18n:
                                    eng: For offline payments, this is the URL that enables the continuation of the payment flow.
                                    spa: Para pagos offline, esta es la URL que permite continuar con el flujo de pago.
                                    por: Para pagamentos realizados offline, é a URL que possibilita a continuação do processo de pagamento.
                                refunds:
                                  description: List of refunds related to the payment method.
                                  x-description-i18n:
                                    eng: List of refunds related to the payment method.
                                    spa: Listado de reembolsos relacionadas al medio de pago.
                                    por: Lista de reembolsos relacionados ao meio de pagamento.
                                  type: object
                                  properties:
                                    refund_id:
                                      type: number
                                      example: 123456789
                                      description: Refund identifier.
                                      x-description-i18n:
                                        eng: Refund identifier.
                                        spa: Identificador del reembolso.
                                        por: Identificador do reembolso.
                                    refund_amount:
                                      type: string
                                      example: "50.00"
                                      description: Amount of the refund.
                                      x-description-i18n:
                                        eng: Amount of the refund.
                                        spa: Monto del reembolso.
                                        por: Valor do reembolso.
                                status_detail:
                                  type: object
                                  description: Detailed information about the status of the payment.
                                  x-description-i18n:
                                    eng: Detailed information about the status of the payment.
                                    spa: Información detallada sobre el status del pago.
                                    por: Informações detalhadas sobre o status do pagamento.
                                  properties:
                                    code:
                                      type: string
                                      example: "400"
                                      description: Payment status code.
                                      x-description-i18n:
                                        eng: Payment status code.
                                        spa: Código del status del pago.
                                        por: Código do status do pagamento.
                                    message:
                                      type: string
                                      example: "acquirer rejected"
                                      description: Payment status message.
                                      x-description-i18n:
                                        eng: Payment status message.
                                        spa: Mensaje del status del pago.
                                        por: Mensagem do status do Pagamento.
        "400":
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 400--Bad Request.
                      - 401--Unauthorized.
                      - 403--Forbidden.
                      - 404--Not Found.
                      - 408--Request Timeout.
                      - 409--Conflict.
                      - 422--Unprocessable Entity.
        "500":
          description: Error
          x-description-i18n:
            eng: Error
            spa: Error
            por: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorKey:
                    type: string
                    enum:
                      - 500--Unexpected Error.
                      - 503--Service Unavailable.
  /v1/transaction-intents/process:
    post:
      tags:
        - $ref: '#/tags/checkout-api'
      summary: Create and Process a Transaction Intent
      x-summary-i18n:
        eng: Create and Process a Transaction Intent
        spa: Crear y procesar Transaction Intent
        por: Criar e processar Transaction Intent
      description: This endppoint allows you to creates and process a new Transaction Intent
      x-description-i18n:
        eng: This endppoint allows you to creates and rocess a new Transaction Intent
        spa: Este endpoint permite crear y procesar una nueva Transaction Intent
        por: Este endpoint permite criar e processar uma nova Transaction Intent
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: "Bearer token-89987654567f-numeroToken"
          required: true
          description: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
          x-description-i18n:
            eng: Access Token  - Application's private key that must be used exclusively in the backend for payment generation, requiring these pieces of information to be kept secure on its servers.
            spa: Access Token - Clave privada de la aplicación que debe ser utilizada exclusivamente en el backend para la generación de pagos, siendo necesario mantener esta información segura en sus servidores.
            por: Access Token - Chave privada do aplicativo que deve ser usada exclusivamente no backend para a geração de pagamentos, sendo necessário manter essas informações seguras em seus servidores.
        - in: header
          name: X-Product-ID
          schema:
            type: string
            example: "876542356788-mp"
          required: false
          description: Alphanumeric product ID, for example, 876542356788-mp.
          x-description-i18n:
            eng: Alphanumeric product ID, for example, 876542356788-mp.
            spa: Identificación alfanumérica del producto, por ejemplo, 876542356788-mp.
            por: Identificação alfanumérica do produto, como por exemplo, 876542356788-mp.
        - in: header
          name: X-Platform-ID
          schema:
            type: string
          required: false
          description: Alphanumeric ID of the platform.
          x-description-i18n:
            eng: Alphanumeric ID of the platform.
            spa: Identificación alfanumérica de la plataforma.
            por: Identificação alfanumérica da plataforma.
        - in: header
          name: X-Integrator-ID
          schema:
            type: string
          required: false
          description: Alphanumeric ID of the integrator
          x-description-i18n:
            eng: Alphanumeric ID of the integrator
            spa: Identificación alfanumérica del integrador
            por: Identificação alfanumérica do integrador.
      requestBody:
        description: Complete body to create and process a Transaction Intent.
        x-description-i18n:
          eng: Complete body to create and process a Transaction Intent.
          spa: Body completo para crear y procesar una Transaction Intent.
          por: Body completo para criar e processar uma Transaction Intent.
        content:
          application/json:
            schema:
              type: object
              properties:
                active_to_date:
                  type: string
                  description: Maximum processing deadline for the transaction intent. This deadline sets the date by which the Transaction Intent is expected to be processed and completed. For example - "2023-09-06T10:00:00.000-03:00".
                  x-description-i18n:
                    eng: Maximum processing deadline for the transaction intent. This deadline sets the date by which the Transaction Intent is expected to be processed and completed. For example - "2023-09-06T10:00:00.000-03:00".
                    spa: Plazo máximo de procesamiento para la Transaction Intent. Este plazo establece la fecha límite hasta la cual se espera que la Transaction Intent sea procesada y completada. Por ejemplo - "2023-09-06T10:00:00.000-03:00".
                    por: Prazo máximo de processamento para a Transaction Intent. Este prazo determina a data-limite até a qual se espera que a Transaction Intent seja processada e finalizada. Por exemplo - "2023-09-06T10:00:00.000-03:00".
                  format: date-time
                  example: "2023-09-06T10:00:00.000-03:00"
                configuration:
                  type: object
                  description: Predefined configuration parameters set by the seller before initiating the transaction.
                  x-description-i18n:
                    eng: Predefined configuration parameters set by the seller before initiating the transaction.
                    spa: Parámetros de configuración predefinidos por el seller antes de iniciar la transacción.
                    por: Parâmetros de configuração pré-definidos pelo seller antes de iniciar a transação.
                  properties:
                    options:
                      type: object
                      description: Seller-defined settings to determine the choices offered during the transaction. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the transaction process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the transaction is conducted.
                      x-description-i18n:
                        eng: Seller-defined settings to determine the choices offered during the transaction. This field refers to the configurations the seller establishes to provide diverse options to buyers throughout the transaction process. This can encompass selections such as accepted payment methods, installment plans, shipping options, discounts, and other customizations that impact how the transaction is conducted.
                        spa: Ajustes establecidos por el seller para determinar las opciones ofrecidas durante la transacción. Este campo se refiere a las configuraciones que el seller establece para proporcionar diferentes opciones a los compradores durante el proceso de transacción. Esto puede incluir elecciones como métodos de pago aceptados, cuotas, opciones de envío, descuentos y otras personalizaciones que afectan la forma en que se lleva a cabo la transacción.
                        por: Ajustes estabelecidos pelo seller para determinar as escolhas oferecidas durante a transação. Este campo e refere às configurações que o seller configura para fornecer diferentes opções aos compradores durante o processo de transação. Isso pode incluir escolhas como meios de pagamento aceitos, parcelamento, opções de envio, descontos e outras personalizações que afetam a forma como a transação é conduzida. 
                      properties:
                        payment_methods:
                          required: true
                          type: object
                          description: Information related to the payment methods defined for the transaction.
                          x-description-i18n: 
                            eng: Information related to the payment methods defined for the transaction.
                            spa: Información relacionada con los medios de pago definidos para la transacción.
                            por: Informações relacionadas aos meios de pagamento definidos para a transação.
                          properties:
                            coupons:
                              description: Coupons can be used as a payment method during the transaction.
                              x-description-i18n:
                                eng: Coupons can be used as a payment method during the transaction.
                                spa: Los cupones se pueden utilizar como método de pago durante la transacción.
                                por: Os cupons podem ser utilizados como forma de pagamento durante a transação.
                              type: object
                              properties:
                                campaign_id:
                                  type: number
                                  example: 123456
                                  description: Identifier number of the campaign to which the coupon is linked.
                                  x-description-i18n:
                                    eng: Identifier number of the campaign to which the coupon is linked.
                                    spa: Número identificador de la campaña a la cual el cupón está vinculado.
                                    por: Número de identificação da campanha à qual o cupom está associado.
                                amount:
                                  type: string
                                  example: "100.00"
                                  description: Total value of coupon. For example, "100.00".
                                  x-description-i18n:
                                    eng: Total value of coupon. For example, "100.00".
                                    spa: Valor total del cupón. Por ejemplo, "100.00".
                                    por: Valor total do cupom. Por exemplo, "100.00".
                            types:
                              type: object
                              description: Configuration by payment method type.
                              x-description-i18n:
                                eng: Configuration by payment method type.
                                spa: Configuración por tipo de medio de pago.
                                por: Configuração por tipo de meio de pagamento.
                              properties:
                                enabled:
                                  description: List of Payment Types included. For example, credit_card, debit_card.
                                  x-description-i18n:
                                    eng: List of Payment Types included. For example, credit_card, debit_card.
                                    spa: Lista de tipos de medios de pago incluidos. Por ejemplo, credit_card, debit_card.
                                    por: Lista de tipos de meios de pagamento incluídos. Por exemplo, credit_card, debit_card.
                                  type: array
                                  items:
                                    type: string
                                    example: [ "credit_card", "debit_card" ]
                                disabled:
                                  description: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the transaction, such as "credit card".
                                  x-description-i18n:
                                    eng: Types of payment methods not covered. This parameter encompasses payments that will not be accepted in the transaction, such as "credit card".
                                    spa: Tipos de medios de pago no incluidos. Este parámetro abarca los pagos que no serán aceptados en la transacción, como por ejemplo, "credit card".
                                    por: Tipos de meios de pagamento não abrangidos. Este parâmetro engloba os pagamentos que não serão aceitos na transação, como por exemplo, "credit card".
                                  type: array
                                  items:
                                    type: string
                                    example: "credit_card"
                            methods:
                              type: object
                              description: Configuration by specific payment method.
                              x-description-i18n:
                                eng: Configuration by specific payment method.
                                spa: Configuración por tipo específico de medio de pago.
                                por: Configuração por tipo específico de meio de pagamento.
                              properties:
                                enabled:
                                  type: array
                                  example: [ "visa", "master" ]
                                  description: Payment methods included.
                                  x-description-i18n:
                                    eng: Payment methods included.
                                    spa: Medios de pago incluidos.
                                    por: Meios de pagamento incluídos.
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Payment method identifier. For example, "credit_card".
                                        x-description-i18n:
                                          eng: Payment method identifier. For example, "credit_card".
                                          spa: Identificador del medio de pago. Por ejemplo, "credit_card".
                                          por: Identificador do meio de pagamento. Por exemplo, "credit_card".
                                        example: "credit_card"
                                      installments:
                                        type: object
[...]
