<h1>API de Mercado Pago </h1>

<p>Te ofrecemos una API robusta y flexible para que puedas integrarte de la forma que mejor se adapte a tu negocio.</p>

<h2> ¿Qué es? </h2>

<p>Es una Interfaz de Programación de Aplicaciones (Application Programming Interface) que te permite intercambiar información con nuestra plataforma.</p>

<h2>¿Cómo funciona?</h2>

<p>Puedes solicitar información, por ejemplo sobre un pago o el saldo de tu cuenta, usando HTTPS (de manera similiar a un navegador).

Por ejemplo: "Quiero conocer el saldo de mi cuenta."

Para eso, debes ir a:

</p>

<p><code> https://api.mercadopago.com/users/TU_ID_DE_USUARIO/mercadopago_account/balance?access_token=TU_TOKEN_DE_ACCESO </code></p>

<p>Y recibirás una respuesta como esta:</p>


<div class='code-container' data-slideout-ignore>
  <div id='editor_child' class="code_editor" language='javascript'>
    <pre class="line-numbers"><code class='language-javascript'>
      {
          "user_id": TU_ID_DE_USUARIO,
          "total_amount": 1000,
          "available_balance": 1000,
          .
          .
          .
      }
    </code></pre>
  </div>
</div>

<h2> ¿Cómo puedo usarla desde mi aplicación? </h2>

<p> Envía una solicitud como la anterior desde el lenguaje y plataforma que utilices, y recibirás la respuesta con los datos.
Tenemos un conjunto de herramientas para ayudarte con tu integración, que incluyen SDKs, módulos para carritos, y aplicaciones para realizar pruebas.
Si quieres conocer más sobre la arquitectura de nuestra API, no olvides revisar las Consideraciones de diseño.
</p>
