<h1>Mercado Pago API </h1>

<p>We offer you a robust and flexible API, you can integrate in the way that best suits your business.</p>

<h2> What is it? </h2>

<p>It is an Application Programming Interface that allows you to exchange information with our platform.</p>

<h2>How it works?</h2>

<p>You can request information, for example about a payment or the balance of your account, using HTTPS (similar to a browser).

For example: "I want to know the balance of my account."

You should go to:

</p>

<p><code> https://api.mercadopago.com/users/TU_ID_DE_USUARIO/mercadopago_account/balance?access_token=TU_TOKEN_DE_ACCESO </code></p>

<p>And you will receive a response like this:</p>


<div class='code-container' data-slideout-ignore>
  <div id='editor_child' class="code_editor" language='javascript'>
    <pre class="line-numbers"><code class='language-javascript'>
      {
          "user_id": TU_ID_DE_USUARIO,
          "total_amount": 1000,
          "available_balance": 1000,
          .
          .
          .
      }
    </code></pre>
  </div>
</div>

<h2> How can I use it from my application? </h2>

<p> Sends a request like the previous one from the language and platform that you use, and you will receive the answer with the data.
We have a set of tools to help you with your integration, including SDKs, cart modules, and test applications.
If you want to know more about the architecture of our API, do not forget to review the Design Considerations.
</p>
