<div class="home-container-first" style="width:100%">
  <div class="home-title-container" style="width:50%; float:left;">
    <div class="home-firts-title" style="width: 238px; height: 9px; font-family: ProximaNova; font-size: 12px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 0.7; letter-spacing: 3px; color: rgba(0, 0, 0, 0.8);">
      <h3> SITIO DE DESARROLLADORES</h3>
    </div>
    <div class="home-title-principal" style="width: 345px; height: 138px; font-family: ProximaNova; font-size: 40px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.15; letter-spacing: normal; color: rgba(0, 0, 0, 0.8);">
      <h1> Desarrolla una solución de pagos con Mercado Pago </h1>
    </div>
    <div class="home-title-secondary" style="width: 333px; height: 42px; font-family: ProximaNova; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.25; letter-spacing: normal; color: rgba(0, 0, 0, 0.45);">
      <a> Haz que millones de compradores tengan una experiencia de pago única. </a>
    </div>
  </div>

  <div class="home-image-container" style="width:50%; float:right; text-align:right;">
    <span> 
      <img src="../images/home/home-logo.png">
    </span>
  </div>
</div>


