<div class="home-container-first" style="width:100%">
  <div class="home-title-container" style="width:50%; float:left;">
    <div class="home-firts-title">
      <h3 class="h3-title" style="font-size: 12px; font-weight: 600; line-height: 0.7; letter-spacing: 3px; color: rgba(0, 0, 0, 0.8);"> 
      SITIO DE DESARROLLADORES
      </h3>
    </div>
    <div class="home-title-principal">
      <h1 class="h1-title" style="font-size: 40px;font-weight: bold; line-height: 1.15; color: rgba(0, 0, 0, 0.8);"> 
      Desarrolla una solución de pagos con Mercado Pago 
      </h1>
    </div>
    <div class="home-title-secondary">
      <a class="a-title" style="font-size: 16px; line-height: 1.25; color: rgba(0, 0, 0, 0.45);"> 
      Haz que millones de compradores tengan una experiencia de pago única. 
      </a>
    </div>
  </div>

  <div class="home-image-container" style="width:50%; float:right; text-align:right;">
    <span> 
      <img src="../images/home/home-logo.png">
  </div>
</div>


