<div class="home-container-first" style="width:100%">
  <div class="home-title-container" style="width:50%; float:left;">
    <div class="home-firts-title" >
      <h3> SITIO DE DESARROLLADORES</h3>
    </div>
    <div class="home-title-principal">
      <h1> Desarrolla una solución de pagos con Mercado Pago </h1>
    </div>
    <div class="home-title-secondary">
      <a> Haz que millones de compradores tengan una experiencia de pago única. </a>
    </div>
  </div>

  <div class="home-image-container" style="width:50%; float:right; text-align:right;">
    <span> 
      <img src="/images/home/logo-home.png">
  </div>
</div>


<%= partial "partials/home_card" %>
