<div>
  <div>
    <div>
      <h3> S I T I O  D E  D E S A R R O L L A D O R E S </h3>
    </div>
    <div>
      <h1> Desarrolla una solución de pagos con Mercado Pago </h1>
    </div>
    <div>
      <a> Haz que millones de compradores tengan una experiencia de pago única. </a>
    </div>
  </div>
  <div>
    <span> imagen </span>
  </div>
</div>

<%= partial "partials/home_card" %>