<div class="second-home-container">
  <div class="second-home-back-container grid">
    <div class="second-home-back-image">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="#009EE3" fill-rule="evenodd" d="M11.418 5.684l.847.85-4.883 4.863h11.154v1.2H7.394l4.871 4.852-.847.85-6.332-6.308 6.332-6.307z"/>
      </svg>
    </div>
    <div>
      <a class="second-home-back-title" href="#">
        Volver al inicio
      </a>
    </div>
  </div>
  <div class="second-home-title-container">
       <div>
          <h1 class="second-home-title-h1">
            Recibe pagos online
          </h1>
       </div>
       <div>
          <p class="second-home-title-h3">
            ¿Listo para empezar a integrar? Conoce nuestras soluciones de pagos online:
          </p>
       </div>
  </div>



  <div class="grid grid--33 home-card-partial">

  <a class="payments-card-link grid__item" href="#">
      <div class="card card-highlight home-card">

          <span class="card-highlight-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="40" viewBox="0 0 38 40">
              <g fill="none" fill-rule="evenodd" stroke="#009EE3">
                  <path stroke-width="1.6" d="M.8 34.2h36.4V8A2.2 2.2 0 0 0 35 5.8H3A2.2 2.2 0 0 0 .8 8v26.2z"/>
                  <path stroke-width="1.4" d="M0 11.5h37H0zM5 17.5h14H5zM5 21.5h14H5zM5 25.5h9-9z"/>
                  <path stroke-width="1.6" d="M24 16h8v13h-8z"/>
              </g>
            </svg>          
          </span>

          <h3>Checkout Mercado Pago </h3>
          <p>Construye tu propio checkout desde cero y recibe cobros en tu sitio web o aplicación móvil.</p>

      </div>
  </a>
  <a class="payments-card-link grid__item" href="#">
      <div class="card card-highlight home-card">

          <span class="card-highlight-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="40" viewBox="0 0 46 40">
                <g fill="none" fill-rule="evenodd" stroke="#009EE3">
                    <path stroke-width="1.6" d="M.8 34.2h36.4V8A2.2 2.2 0 0 0 35 5.8H3A2.2 2.2 0 0 0 .8 8v26.2z"/>
                    <path stroke-width="1.4" d="M0 11.5h37H0z"/>
                    <path stroke-width="1.6" d="M5 17.5h19H5zM5 21.5h12H5zM5 25.5h12H5z"/>
                    <circle cx="36" cy="23" r="8" fill="#FFF" stroke-width="1.6"/>
                    <path stroke-width="1.6" d="M35 20l-3 3 3 3M37 20l3 3-3 3"/>
                </g>
            </svg>
          </span>

          <h3>API</h3>
          <p>Controla toda la experiencia de pago en aplicaciones, sitios web y otros canales de cobro online.</p>
              
      </div>
  </a>
  <a class="payments-card-link grid__item" href="#">
      <div class="card card-highlight home-card">

          <span class="card-highlight-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="47" height="40" viewBox="0 0 47 40">
                    <g fill="none" fill-rule="evenodd" stroke="#009EE3" stroke-width="1.6">
                        <rect width="36.4" height="28.4" x=".8" y=".8" rx="3" transform="translate(0 4)"/>
                        <path d="M17.398 20.602c2.976 2.976 5.26.692 8.078-2.126 2.818-2.818 5.102-5.102 2.126-8.078-2.976-2.976-5.26-.692-8.078 2.126-2.818 2.818-5.102 5.102-2.126 8.078z"/>
                        <path d="M11.398 26.602c2.976 2.976 5.26.692 8.078-2.126 2.818-2.818 5.102-5.102 2.126-8.078-2.976-2.976-5.26-.692-8.078 2.126-2.818 2.818-5.102 5.102-2.126 8.078z"/>
                        <path fill="#FFF" d="M27 24l9 12 2.297-5.496L42 27z"/>
                        <path d="M39 31l7 4"/>
                    </g>
                </svg>
          </span>

          <h3>Botón y link de pago</h3>
          <p>Configura una preferencia de pago para recibir cobros sin saber programar.</p>

      </div>
  </a>
  </div>

<!--

  <div>
    <div>
      titulo parte abajo
    </div>
    <div>
      <div>
        card 1
          <div>
          </div>
          <div>
          </div>
      </div>
      <div>
        card2
          <div>
          </div>
          <div>
          </div>
      </div>
    </div>
  </div>
</div>

--> 