<div class="home-container-first grid">
  <div class="home-title-container">
    <div>
      <h3 class="h3-title"> 
      SITIO DE DESARROLLADORES
      </h3>
    </div>
    <div>
      <h1 class="h1-title"> 
      Desarrolla una solución de pagos con Mercado Pago 
      </h1>
    </div>
    <div>
      <p class="a-title"> 
      Haz que millones de compradores tengan una experiencia de pago única. 
      </a>
    </div>
  </div>

  <div class="home-image-container">
      <img src="./home-logo.png">
  </div>
</div>

<%= partial "partials/home_card", locals: locals %>
<%= partial "partials/home_banner", locals: locals %>

