<div class="home-first-container">
  <div class="home-title-container" style="width:50%; float:left;">
    <div class="home-firts-title" >
      <h3> SITIO DE DESARROLLADORES</h3>
    </div>
    <div class="home-title-principal">
      <h1> Desarrolla una solución de pagos con Mercado Pago </h1>
    </div>
    <div class="home-title-secondary">
      <a> Haz que millones de compradores tengan una experiencia de pago única. </a>
    </div>
  </div>

  <div class="home-image-container" style="width:50%; float:right;">
    <span> 
      <img src="https://lh3.googleusercontent.com/proxy/_fUqSbqlt7w8tcCbixDTgTBKV_aYL3cllMMMTwWyCQHrvzg3HngbnpYMS8sNuw4hgmL7aUkk5DMTlJwUPImeXL0yFZeqNAaVZVFWaTiIs-NmvQLt87vPM1AkG1rA5m-webrmbfVS0nE" >
    </span>
  </div>
</div>

<%= partial "partials/home_card" %>
